<div class="padre-contactos-lista">
 <!-- invitacion contactos -->
  <section  class="content-titulos" *ngIf="configuracion?.esMiPerfil">
    <p *ngIf="configuracion?.titulo" [ngClass]="
            estiloTexto.obtenerEstilosTexto({
              color: estiloTexto.colorDelTexto.TEXTOAZULMEDIO,
              estiloTexto: estiloTexto.estilosDelTexto.REGULAR,
              enMayusculas: true,
              tamanoConInterlineado:
                estiloTexto.tamanoDeTextoConInterlineado.L4_IGUAL
            })
          " class="titulo-txt">
      {{ configuracion.titulo | translate }}
    </p>

    <!-- Click para actualizar -->
    <p *ngIf="configuracion?.subtitulo && dataListaContactos?.lista.length > 0" [ngClass]="
          estiloTexto.obtenerEstilosTexto({
            color: estiloTexto.colorDelTexto.TEXTOBLANCO,
            estiloTexto: estiloTexto.estilosDelTexto.REGULAR,
            enMayusculas: true,
            tamanoConInterlineado:
              estiloTexto.tamanoDeTextoConInterlineado.L2_IGUAL
          })
        " class="subtitulo-txt">
      {{ configuracion.subtitulo | translate }}
    </p>

    <p *ngIf="configuracion?.subtitulo && dataListaContactos?.lista.length > 0" [ngClass]="
      estiloTexto.obtenerEstilosTexto({
        color: estiloTexto.colorDelTexto.TEXTOCELESTE,
        estiloTexto: estiloTexto.estilosDelTexto.REGULAR,
        enMayusculas: true,
        tamanoConInterlineado:
          estiloTexto.tamanoDeTextoConInterlineado.L2_IGUAL
      })
    " class="subtitulo-info">
  {{ configuracion.info | translate }}
</p>
  </section>


  <section  class="items">
    <div *ngIf="puedeCargarMas"  [ngClass]="{
      'capa': true,
      'loader': true,
      'mostrar': configuracion.cargando,
      'loaderPadre': true
      }">
      <app-cargando></app-cargando>
      </div>

    <div>

    <!-- no hay contactos -->
    <div *ngIf="configuracion.resumen">
    <app-titulo-rectangulo *ngIf="dataListaContactos?.lista.length <= 0 && configuracion?.esMiPerfil" [configuracion]="tituloNoContactos">
    </app-titulo-rectangulo>
    <div class="resumen" *ngIf="configuracion.resumen">
      <app-item-circulo *ngFor="let configContacto of dataListaContactos.lista" [configuracion]="configContacto">
      </app-item-circulo>
    </div>
  </div>

    <div [ngClass]="{'detalle': true, 'paginacion': paginacion}" *ngIf="!configuracion.resumen" (scroll)="cargarMas()" id="scroll">
        <app-item-circulo [ngClass]="{
          'item-circulo': true,
          'sin-margin-derecha': ((i + 1) % 4 === 0)
        }" *ngFor="let configContacto of dataListaContactos.lista;let i = index" [configuracion]="configContacto">
        </app-item-circulo>


       <!-- loader cargar mas -->
       <div *ngIf="!puedeCargarMas && configuracion.ultimaPagina" class="loader-interno">

        <app-cargando></app-cargando>
      </div>
          <!-- No hay mas items -->
  <div class="no-more-contacts" *ngIf="!configuracion.ultimaPagina">
    <p [ngClass]="
    estiloTexto.obtenerEstilosTexto({
      color: estiloTexto.colorDelTexto.TEXTOBLANCO,
      estiloTexto: estiloTexto.estilosDelTexto.REGULAR,
      enMayusculas: true,
      tamanoConInterlineado:
        estiloTexto.tamanoDeTextoConInterlineado.L2_IGUAL
    })
  " class="titulo-txt">
      {{ "texto479" | translate }}
    </p>
  </div>
    </div>

    </div>

  </section>
</div>

<app-resumen-perfil [configuracion]="configResumenPerfil"></app-resumen-perfil>
