@import "../../../../assets/estilos/dimensiones.scss";
@import "../../../../assets/estilos/colores.scss";

.cuerpo {
    background: #ffffff;
    display: flex;
    flex-flow: column;

    & .notificaciones {
        width: 100%;
        height: auto;
        margin-bottom: $espacio-0316;
    }

    & .titulos {
        width: 100%;
        box-sizing: border-box;
        padding-left: $espacio-0658 - $espacio-267;
        
        & p {
            &:nth-child(1) {
                margin-bottom: $espacio-178 - $defecto-total;
            }

            &:nth-child(2) {
                margin-bottom: $espacio-178 - ($defecto-bottom * 3);
            }
            &:nth-child(3) {
                margin-bottom: $espacio-178 - $defecto-bottom;
            }
        }
    }

    & .capa {
        display: flex;
        flex: 1;
        width: 100%;
        box-sizing: border-box;
        overflow-y: auto;

        &.cargando {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-flow: column;
        }

        &.error {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-flow: column;

            & div {
                width: 100%;
                margin-bottom: $espacio-178;
            }
        }

        &.contactos {
            height: auto !important;
            flex: unset !important;
            flex-flow: column;
            overflow: visible !important;

            & .cargando-pequeno {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                min-height: calcular(15);
                margin: $espacio-178 0;
            }
        }
    }
}

// Notificaciones
.lista-notificaciones {
    display: none;
    position: absolute;
    bottom: 0px;
    left: 0;
    z-index: 10;
    overflow-y: auto;

    // height: calc(100vh - #{$appbar-alto-default + $espesor-071 + calcular(20) + calcular(3.16)});
    background: #ffffff;

    &.mostrar {
        display: flex;
    }
    & .texto-notificaciones{
        padding-left: $espacio-0658 - $espacio-267;
        padding-bottom: $espacio-178 - $defecto-bottom;
        margin-top: calcular(-2);
     
    }
}