<app-appbar [configuracion]="confAppBar"></app-appbar>
<div 
    [ngClass]="{
        'cuerpo': true,
        'con-barra-inferior': false
    }"
>
    <div 
        [ngClass]="{
            'capa': true,
            'loader': true,
            'mostrar': (capaActiva === CapaActivaEnum.LOADER)
        }"
    >
        <app-cargando></app-cargando>
    </div>
    <div 
        [ngClass]="{
            'capa': true,
            'errordiv': true,
            'mostrar': (capaActiva === CapaActivaEnum.ERROR)
        }"
    >
        <div 
            [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({
                color: estiloDelTextoServicio.colorDelTexto.TEXTOLACRE,
                estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD,
                enMayusculas: false,
                tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_I2
            })"
        >
            {{ 'error' | translate }}
        </div>
        <button 
            class="botonReintentar"
            (tap)="reintentar()" 
        >
            {{ 'text32' | translate }}
        </button>
    </div>
    <div 
        id="{{ idCapaFormulario }}" 
        [ngClass]="{
            'capa': true,
            'formulario': true,
            'mostrar': (capaActiva === CapaActivaEnum.CONTENIDO)
        }" 
        (scroll)="scroolEnCapaFormulario()"
    >
        <div 
            [ngClass]="{
                'contenido': true,
                'sinPaddingTop': false
            }"
        >
            <!-- Numero de comentarios -->
            <div 
                [ngClass]="{
                    'total-comentarios': true
                }"
            >
                <p 
                    [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({
                        color: estiloDelTextoServicio.colorDelTexto.TEXTOAZULBASE,
                        estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD,
                        enMayusculas: true,
                        tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L4_IGUAL
                    })"
                >
                    {{ 'm4v6texto31' | translate }}
                </p>
                <p 
                    [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({
                        color: estiloDelTextoServicio.colorDelTexto.TEXTOAZULBASE,
                        estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR,
                        enMayusculas: true,
                        tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L4_IGUAL
                    })"
                >
                    {{ ' ' + comentarios.indicador.total || 0 }}
                </p>
            </div>

            <!-- Lista de comentarios -->
            <div class="lista-comentarios">
                <div 
                    *ngFor="let fecha of comentarios.fechas" 
                    class="grupo-fecha"
                >
                    <div class="contenedor-fecha">
                        <app-item-fecha 
                            [fecha]="fecha" 
                            [formato]="formatoFecha"
                        ></app-item-fecha>
                    </div>
                    <div 
                        *ngFor="let comentario of comentarios.configuraciones; trackBy: trackByFn"
                        class="contenedor-comentarios"
                    >
                        <app-comentario 
                            *ngIf="comenFireService.compararFechas(fecha, comentario.fecha)"
                            [configuracion]="comentario"
                        ></app-comentario>
                    </div>
                </div>
                <div 
                    *ngIf="loaderPag" 
                    class="loader-comentarios"
                >
                    <app-cargando></app-cargando>
                </div>
            </div>
        </div>
    </div>
</div>
<app-dialogo [configuracion]="confDialogoRecuperarComentario"></app-dialogo>
<app-toast #toast [configuracion]='confToast'></app-toast>