@import "../../../../assets/estilos/dimensiones.scss";
@import "../../../../assets/estilos/colores.scss";

$icono-audio-diametro: calcular(13.1);
$descripcion-ancho: calcular(94.66);
$descripcion-alto-min: calcular(95.39);
$descripcion-border-radio: calcular(1.567);
$descripcion-padding-top: calcular(3.16);
$descripcion-padding-bottom: calcular(3.16);
$descripcion-contador-padding-bottom: calcular(1.78);
$descripcion-padding-right-left: calcular(2.67);
$borde-descripcion-espesor: calcular(0.36);

// padding: ($espacio-0316 - $defecto-top) $espacio-267 $espacio-522 $espacio-267;
.cuerpo {
    background: $blanco;
    position: relative;
    padding: 0 !important;
    z-index: 1;

    &.con-barra-inferior {
        height: $cuerpo-con-barra-inferior-alto;
    }

    .capa {
        position: absolute;
        width: 100%;
        height: 100%;

        z-index: -1;
        opacity: 0;
        box-sizing: border-box;

        &.mostrar {
            z-index: 1;
            opacity: 1;
        }

        &.loader {
            display: flex;
            align-items: center;
            justify-content: center;
            background: #ffffff;
        }

        &.errordiv {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-flow: column;
            box-sizing: border-box;
            padding: 0 calcular(4);

            & div {
                width: 100%;
                margin-bottom: calcular(2) !important;
                text-align: center;
            }
        }

        &.formulario {
            width: 100%;
            height: 100%;
            overflow-y: auto;
            overflow-x: hidden;

            &::-webkit-scrollbar {
                display: block !important;
                width: $ancho-barra-scroll;
            }

            &::-webkit-scrollbar-track {
                background: $blanco;
                border-left: calcular(0.12) solid $celeste-base;
            }

            &::-webkit-scrollbar-thumb {
                background: $rojo-base !important;
                border-radius: $ancho-barra-scroll;
            }

            &::-webkit-scrollbar-thumb:hover {
                background: #b30000;
            }

            .contenido {
                width: 100%;
                box-sizing: border-box;
                padding: ($espacio-0316 - $defecto-top) $espacio-267 $espacio-522 $espacio-267;

                &.sinPaddingTop {
                    padding: $espacio-0178 $espacio-267 0 $espacio-267;
                }

                & .total-comentarios {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: calcular(2);

                    & p {
                        width: fit-content !important;
                        margin: 0 calcular(2) !important;
                    }
                }

                & .lista-comentarios {
                    width: 100%;
                    height: fit-content;
                    box-sizing: border-box;
    
                    & .grupo-fecha {
                        width: 100%;
                        height: fit-content;
                        box-sizing: border-box;
    
                        & .contenedor-fecha {
                            width: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin-bottom: $espacio-0249;
                        }
    
                        & .contenedor-comentarios {
                            width: 100%;
                            margin: $espacio-0139 0 $espacio-522 0;
                            box-sizing: border-box;
                        }
                    }
    
                    & .loader-comentarios {
                        width: 100%;
                        box-sizing: border-box;
                        padding: $espacio-0249 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
        }
    }
}
