<div class="publicitario" [style.margin-bottom]=configuracion.espacio>
    <svg viewBox="0 0 1626.1 947.8">
        <linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="11.9148" y1="468" x2="1594.507" y2="468">
			<stop  offset="0.2451"   style="stop-color:#0C1327" />
			<stop  offset="0.7539"   style="stop-color:#D86A6A" />
		</linearGradient>
        <linearGradient id="SVGID_2_" gradientUnits="userSpaceOnUse" x1="11.9148" y1="468" x2="1594.507" y2="468">
			<stop  offset="0.2451"   style="stop-color:#336699" />
			<stop  offset="0.7539"   style="stop-color:#011348" />
		</linearGradient>
        <linearGradient id="SVGID_3_" gradientUnits="userSpaceOnUse" x1="11.9148" y1="468" x2="1594.507" y2="468">
			<stop  offset="0.2451"   style="stop-color:#011348" />
			<stop  offset="0.7539"   style="stop-color:#E89A63" />
		</linearGradient>

        <path [style.fill]=urlsvg [attr.d]=pathSvgAnuncioPublicitario.FONDO />
        <path [style.fill]=configuracion.colorTexto [attr.d]=pathSvgAnuncioPublicitario.BORDE />

    </svg>

    <div class="contenido">
        <div class="descripcion">
            <div class="texto">
                <p [style.color]=configuracion.colorTexto [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO,
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD,
                    enMayusculas: true,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado[configuracion.tamanioLetra]
                })">
                    {{configuracion.descripcion}}
                </p>
            </div>
        </div>

        <div class="input">
            <div class="fecha">
                {{ configuracion.fecha | date:'dd/MM/yyyy' }}
            </div>
        </div>
    </div>
</div>
