@import "../../../../assets/estilos/dimensiones.scss";
@import "../../../../assets/estilos/colores.scss";
@import "../../../../assets/estilos/imagenes.scss";

.fondo {
    fill: #5e317c;
}

.borde {
    fill: white;
}

.publicitario {
    display: flex;
    position: relative;
    align-items: center;
    //margin-bottom: $espacio-522;

    & .contenido {
        width: 100%;
        height: 100%;
        //color: white;
        position: absolute;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;

        & .descripcion {
            //margin: #{$espacio-522 * 2} $espacio-522 0;
            // padding: 0 $espacio-0249;

            & .texto {
                max-height: $portada-gaze-alto-completo;
               
                & p {
                    text-align: center;
                    // padding: $espacio-267;
                    padding-top: $espacio-267;
                    padding-right: calcular(4.2);
                    padding-bottom: $espacio-267;
                    padding-left: calcular(4.2);
                 
                    word-break: break-word;
                   
                }
            }
        }

        & .input {
            width: 100%;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: $espacio-0249;
    
            & .fecha {
                box-shadow: 0px 0px calcular(0.83) 0 white inset;
                opacity: 0.85;
                width: fit-content;
                height: fit-content;
                border-radius: $interlineado-15;
                padding: calcular(1.5) $interlineado-6;
                box-sizing: border-box;
                background-color: $titulo-fecha;
                color: $blanco;
                font-size: $letra-5;
                line-height: 1;
                font-weight: bold;
            }
        }
    }
}
