@use "sass:math";
@import "../../../assets/estilos/dimensiones.scss";
@import "../../../assets/estilos/colores.scss";

p {
    color: $blanco;
    white-space: pre-line;
}

.contenedor-landing {
    width: 100vw;
    height: 100%;
    overflow-y: scroll;
    // min-height: 100%;
    // height: auto;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#265b88', endColorstr='#051025' ,GradientType=0)";
    background: linear-gradient(180deg, #051025 -15.67%, #265b88 81.54%);

    & .contenido-docs-legales {
        height: 100%;
        width: 100%;
    }

    & .docs-legales {
        padding-left: $espacio-522 * 3;
        padding-right: $espacio-522 * 3;
        padding-top: $espacio-522;
        display: flex;
        align-items: center;
        justify-content: space-around;
        overflow-y: scroll;
        overflow-x: hidden;

        & .izquierda {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-flow: column;
            position: relative;
            & p {
                padding-top: 1vw;
                padding-bottom: 1vw;
            }
            & img {
                padding-top: $espacio-0249 - $defecto-top;
                padding-bottom: $espacio-0249 - $defecto-bottom;
                width: 30%;
                height: auto;
                display: flex;
                align-items: center;
            }
        }
    }

    & .texto-documentos {
        padding-top: $espacio-522 * 3;
        padding-left: $espacio-522;
        padding-right: $espacio-522;
        padding-bottom: $espacio-522 * 3;
        // height: auto;

        & p {
            white-space: pre-line;
            text-align: justify;
        }
    }
}
