<app-appbar *ngIf="confAppBar" [configuracion]="confAppBar"></app-appbar>
<div class="cuerpo">
	<div class="lista">
		<div class="lista-acordeon">
			<div class="item" (tap)="seleccionarAccion(1)">
				<p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({
						color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO,
						estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD,
						enMayusculas: false,
						tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L4_I1
					})">
					{{ 'm11v1texto1' | translate }}
				</p>
			</div>
			<div *ngIf="accionCuenta === 1" class="datos-cuenta info">
				<div class="form">

					<div class="input">
						<p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({
								color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO,
								estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR,
								enMayusculas: true,
								tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_I1
							})">
							{{ 'm2v3texto10' | translate }}
						</p>
						<app-input [inputCompartido]="inputsForm[0]"></app-input>
					</div>
					<div class="input">
						<p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({
								color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO,
								estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR,
								enMayusculas: true,
								tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_I1
							})">
							{{ 'm2v3texto11' | translate }}
						</p>
						<app-input [inputCompartido]="inputsForm[1]"></app-input>
					</div>
					<div class="input">
						<p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({
								color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO,
								estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR,
								enMayusculas: true,
								tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_I1
							})">
							{{ 'm2v3texto12' | translate }}
						</p>
						<p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({
								color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO,
								estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR,
								enMayusculas: true,
								tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_I1
							})">
							{{ 'm11v1texto4' | translate }}
						</p>

						<app-input [inputCompartido]="inputsForm[2]"></app-input>
					</div>
					<div class="input">
						<p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({
								color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO,
								estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR,
								enMayusculas: true,
								tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_I1
							})">
							{{ 'm11v1texto2' | translate }}
						</p>
						<app-input [inputCompartido]="inputsForm[4]"></app-input>
					</div>
					<div class="input">
						<p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({
								color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO,
								estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR,
								enMayusculas: true,
								tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_I1
							})">
							{{ 'm11v1texto3' | translate }}
						</p>
						<app-input [inputCompartido]="inputsForm[5]"></app-input>
					</div>
					<div class="input">
						<p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({
								color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO,
								estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR,
								enMayusculas: true,
								tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_I1
							})">
							{{ 'm11v1texto5' | translate }}
						</p>
						<app-input [inputCompartido]="inputsForm[6]"></app-input>
					</div>
					<div class="input">
						<p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({
								color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO,
								estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR,
								enMayusculas: true,
								tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_I1
							})">
							{{ 'm2v3texto19' | translate }}
						</p>
						<app-input [inputCompartido]="inputsForm[3]"></app-input>
					</div>
				</div>
				<div class="button">
					<app-button [botonCompartido]='botonSubmit'></app-button>
				</div>
			</div>
		</div>

		<div class="lista-acordeon">
			<div class="item" (tap)="seleccionarAccion(2)">
				<p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({
						color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO,
						estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD,
						enMayusculas: false,
						tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L4_I1
					})">
					{{ 'm11v1texto6' | translate }}
				</p>
			</div>
			<div *ngIf="accionCuenta === 2" class="info-cuenta info">

				<div class="button">
					<app-button [botonCompartido]="confBotonInfoCuentas"></app-button>
				</div>

				<div>
					<p *ngIf="infoSolicitudInfo" [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({
							color: estiloDelTextoServicio.colorDelTexto.TEXTOCELESTEMAIN,
							estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD,
							enMayusculas: false,
							tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L4_I1
						})">
						{{ infoSolicitudInfo | translate }}
					</p>
					<p *ngIf="!infoSolicitudInfo" [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({
							color: estiloDelTextoServicio.colorDelTexto.TEXTOCELESTEMAIN,
							estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD,
							enMayusculas: false,
							tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L4_I1
						})">
						{{ infoSolicitudInfo | translate }}
					</p>
				</div>
			</div>
		</div>
		<!-- <div class="lista-acordeon">
			<div class="item" (tap)="seleccionarAccion(5)">
				<p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({
						color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO,
						estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD,
						enMayusculas: false,
						tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L4_I1
					})">
					- Reembolsos
				</p>
			</div>
		</div> -->

		<div class="lista-acordeon">
			<div class="item" (tap)="seleccionarAccion(3)">
				<p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({
						color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO,
						estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD,
						enMayusculas: false,
						tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L4_I1
					})">
					{{ 'm11v1texto8' | translate }}
				</p>
			</div>
			<div *ngIf="accionCuenta === 3" class="verificar-cuenta info">
				<div class="button">
					<app-button [botonCompartido]="confBotonCorreoVerifi"></app-button>
				</div>
				<div>
					<p *ngIf="solicitudReenvioCorreo" [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({
							color: estiloDelTextoServicio.colorDelTexto.TEXTOCELESTEMAIN,
							estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD,
							enMayusculas: false,
							tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L4_I1
						})">
						{{ infoSolicitudReenvioCorreo | translate }}
					</p>
					<p *ngIf="!solicitudReenvioCorreo" [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({
							color: estiloDelTextoServicio.colorDelTexto.TEXTOCELESTEMAIN,
							estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD,
							enMayusculas: false,
							tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L4_I1
						})">
						{{ infoSolicitudReenvioCorreo | translate }}
					</p>
				</div>
			</div>
		</div>

		<div class="lista-acordeon">
			<div class="item" (tap)="seleccionarAccion(4)">
				<p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({
						color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO,
						estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD,
						enMayusculas: false,
						tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L4_I1
					})">
					{{ 'm11v1texto10' | translate }}
				</p>
			</div>
			<div *ngIf="accionCuenta === 4" class="eliminar-cuenta info">
				<div class="button">
					<app-button [botonCompartido]="confBotonEliminarCuenta"></app-button>
				</div>

				<div>
					<p *ngIf="solicitudEliminacion" [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({
							color: estiloDelTextoServicio.colorDelTexto.TEXTOCELESTEMAIN,
							estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD,
							enMayusculas: false,
							tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L4_I1
						})">
						{{ infoSolicitudEliminacion | translate }}
					</p>
					<p *ngIf="!solicitudEliminacion" [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({
							color: estiloDelTextoServicio.colorDelTexto.TEXTOCELESTEMAIN,
							estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD,
							enMayusculas: false,
							tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L4_I1
						})">
						{{ infoSolicitudEliminacion | translate }}
					</p>
				</div>
			</div>
		</div>



	</div>

</div>

<app-done [configuracion]='confDone'></app-done>
<app-toast #toast [configuracion]="confToast"></app-toast>