@import "../../../assets/estilos/colores.scss";
@import "../../../assets/estilos/dimensiones.scss";
@import "../../../assets/estilos/estiloColor.scss";

.cuerpo {
    background-color: $tranparencia-base;
    padding: $espacio-522 + $espacio-0316 $espacio-0658 $espacio-522 + $espacio-0316 $espacio-0658;

    overflow-y: auto;
    overflow-x: hidden;

    & .titulo {
        margin-bottom: $espacio-178 - $defecto-bottom;
        width: 100%;
    }

    & .subtitulo {
        margin-top: $espacio-178 - $defecto-top;

        &.margin522 {
            margin-bottom: $espacio-522 - $defecto-bottom;
        }
    }

    & .lista {
        width: 100%;
        box-sizing: border-box;
        & .lista-acordeon {
            // padding-top: $espacio-0316;
            padding-bottom: $espacio-0316;

            & .datos-cuenta {
                & .form {
                    & .input {
                        padding-bottom: $espacio-0249;
                    }
                }
            }
            & .button {
                padding-top: $espacio-0316 - $defecto-top;
                padding-bottom: $espacio-0316 - $defecto-top;

                display: flex;
                align-items: center;
                justify-content: center;
            }

            & .info {
                padding-top: $espacio-0316;
                padding-bottom: $espacio-0316;
            }
            & .item {
                display: flex;
                align-items: flex-start;
                justify-content: center;
                flex-flow: column;
                // margin-bottom: $espacio-522 - $defecto-bottom;

                & p {
                    padding-left: calcular(1.8) + $espacio-0136;
                    position: relative;

                    display: flex;
                    align-items: center;
                }

                &.consubtitulo {
                    margin-bottom: $espacio-178 - $defecto-bottom;

                    &.margen1512 {
                        margin-bottom: calcular(15.12) - $defecto-bottom;
                    }
                }

                &.textoVerde {
                    margin-bottom: $espacio-0316 - $defecto-bottom + calcular(15.12);
                }
            }
        }
    }
}
