<div
    *ngIf="configuracion"
    [ngClass]="{
        'mensaje-archivo': true,
        'propietario': configuracion.esPropietario
    }"
>
    <div class="hora">
        <p
            [ngClass]="estilosDelTextoServicio.obtenerEstilosTexto({ 
                color: estilosDelTextoServicio.colorDelTexto.TEXTOAZULBASE, 
                estiloTexto: estilosDelTextoServicio.estilosDelTexto.BOLD, 
                enMayusculas: false,
                tamanoConInterlineado: estilosDelTextoServicio.tamanoDeTextoConInterlineado.L1_IGUAL
            })"
        >
        ({{ obtenerDateDeTimeStamp(configuracion.mensaje.fechaCreacion) | date:"HH:mm" }} {{'m3v10texto5'| translate}})
        </p>
    </div>
    <div
        [ngClass]="{
            'capa-seleccionado': true,
            'seleccionado': configuracion.seleccionado
        }"
    >
        <div 
            [ngClass]="{
                'libroPropietario': configuracion.esPropietario

            }"
        >
            <div class="svg-libro-cerrado" *ngIf="configuracion.leido === false"></div>
            <div class="svg-libro-abierto" *ngIf="configuracion.leido === true " ></div>
        </div>
        <div
            *ngIf="configuracion.mensaje.adjuntos && configuracion.mensaje.adjuntos.length > 0"
            [ngClass]="{
                'caja-archivo': true,
                'archivo': true,
                'mostrar': (
                    !configuracion.mostrarCargando && 
                    (
                        !configuracion.contenidoError ||
                        configuracion.contenidoError.length === 0
                    )
                )
            }"
        >
            <img src="https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/botones/forma-icono-archivo.svg" alt="">
            <p
                [ngClass]="estilosDelTextoServicio.obtenerEstilosTexto({ 
                    color: estilosDelTextoServicio.colorDelTexto.TEXTONEGRO, 
                    estiloTexto: estilosDelTextoServicio.estilosDelTexto.REGULAR, 
                    enMayusculas: false,
                    tamanoConInterlineado: estilosDelTextoServicio.tamanoDeTextoConInterlineado.L3_I4
                })"
            >
                {{ configuracion.mensaje.adjuntos[0].principal.filename }}
            </p>
        </div>
        <div
            [ngClass]="{
                'caja-archivo': true,
                'loader': true,
                'mostrar': (
                    configuracion.mostrarCargando && 
                    (
                        !configuracion.contenidoError ||
                        configuracion.contenidoError.length === 0
                    )
                )
            }"
        >
            <app-cargando [diametro]="DiametroDelLoaderEnum.LOADER_BOTON_ICONO"></app-cargando>
            <div class="separador"></div>
            <p
                [ngClass]="estilosDelTextoServicio.obtenerEstilosTexto({ 
                    color: estilosDelTextoServicio.colorDelTexto.TEXTONEGRO, 
                    estiloTexto: estilosDelTextoServicio.estilosDelTexto.REGULAR, 
                    enMayusculas: false,
                    tamanoConInterlineado: estilosDelTextoServicio.tamanoDeTextoConInterlineado.L2_I1
                })"
            >
                {{ 'text105' | translate }}
            </p>
        </div>
        <div
            [ngClass]="{
                'caja-archivo': true,
                'error': true,
                'mostrar': (
                    !configuracion.mostrarCargando && 
                    configuracion.contenidoError &&
                    configuracion.contenidoError.length > 0
                )
            }"
        >
            <p
                [ngClass]="estilosDelTextoServicio.obtenerEstilosTexto({ 
                    color: estilosDelTextoServicio.colorDelTexto.TEXTOROJOBASE, 
                    estiloTexto: estilosDelTextoServicio.estilosDelTexto.BOLD, 
                    enMayusculas: false,
                    tamanoConInterlineado: estilosDelTextoServicio.tamanoDeTextoConInterlineado.L2_I1
                })"
            >
                {{ configuracion.contenidoError | translate }}
            </p>
        </div>
        <div class="color-seleccionado"></div>
    </div>
</div>
