@import "../../../../../assets/estilos/dimensiones.scss";
@import "../../../../../assets/estilos/colores.scss";
@import "../../../../../assets/estilos/imagenes.scss";

$tamano-div-libro: calcular(7.42);
$width-libro: calcular(5);
$height-libro: calcular(5.5);


.mensaje-archivo {
    width: 100%;
    height: fit-content;
    min-height: 1vw;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    margin-bottom: $espacio-0249;

    & .hora {
        margin-bottom: $espacio-0139 - $defecto-bottom;
        width: fit-content;
        padding-right: $espacio-267;

        & p {
            width: fit-content;
        }
    }

    & .capa-seleccionado {
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: flex-start;
        position: relative;
        & .libroPropietario {
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: center;
            width: $tamano-div-libro;
            & .svg-libro-cerrado {
                background-image: $libro-cerrado;
                width: $width-libro;
                height: $height-libro;
                background-repeat: no-repeat;
                margin-right: 0.3vw;
            }
            & .svg-libro-abierto {
                background-image: $libro-abierto;
                width: $width-libro;
                height: $height-libro;
                background-repeat: no-repeat;
            }
        }
        & .caja-archivo {
            background-color: $mensaje-recibido;
            border-radius: calcular(1.03);
            box-sizing: border-box;
            padding: $espacio-0249 - $defecto-top $espacio-267 $espacio-0249 - $defecto-bottom $espacio-267 !important;
            display: none;

            width: fit-content;
            height: fit-content;
            max-width: calc(100% - #{ calcular(12) });
            min-width: calcular(10);
            min-height: calcular(8);

            &.mostrar {
                display: flex;
                flex-flow: row;
                align-items: center;
            }
            
            &.archivo {
                & img {
                    width: calcular(4);
                    height: calcular(8);
                    margin-right: $espacio-0139;
                }
        
                & p {
                    width: 100%;
                    box-sizing: border-box;
                    line-break: anywhere;
                }
            }

            &.loader {
                justify-content: flex-start;

                & .separador {
                    width: calcular(4);
                }
            }

            &.error {
                justify-content: flex-start;
            }
        }

        & .color-seleccionado {
            top: 0;
            left: 0;
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 0;
            opacity: 0;
            background-color: rgba(51, 70, 81, 0.30);
        }

        &.seleccionado {
            & .color-seleccionado {
                z-index: 1;
                opacity: 1;
            }
        }
    }

    &.propietario {
        align-items: flex-end;

        & .capa-seleccionado {
            justify-content: flex-end;

            & .caja-archivo {
                background-color: $mensaje-enviado;
            }
        }
        
    }
}