<div [ngClass]="{
        'mensaje-documento': true,
        'enviado': configuracion.enviado
        }" (tap)="eventoTap(configuracion.id, configuracion.adjunto.principal.url)">
    <div class="icono">
        <div class="icono-archivo"></div>
    </div>
    <div class="nombre-archivo">
        <p [ngClass]="
            estiloTexto.obtenerEstilosTexto({
                color: estiloTexto.colorDelTexto.TEXTONEGRO,
                estiloTexto: estiloTexto.estilosDelTexto.REGULAR,
                enMayusculas: false,
                tamanoConInterlineado: estiloTexto.tamanoDeTextoConInterlineado.L3_I4
            })" class="nombre-doc"> {{ configuracion.adjunto.principal.filename }}
        </p>
    </div>
</div>

