<div
    #itemMenu
    id="{{ 'itemMenu' + configuracionItem.idInterno }}"
    [ngClass]="obtenerItemClases()">
    <div [ngClass]="obtenerClasesItemCaja()">
        <div class="contenedor-texto">
            <!-- ITEM PARA PERFIL CREATE, TIPO, PROFILE-->
            <div
                class="main"
                gestorEventos
                (eventoTap)="tap()"
                (dobleTap)="dobletap()"
                (press)="press()"
                [ngSwitch]="configuracionItem.tipoMenu"
            >
                <div class="second" *ngSwitchCase="tipoMenu.GESTION_PROFILE">
                    <p [ngClass]="estiloTexto1()">
                        {{ configuracionItem.texto1  | translate }}
                    </p>
                    <div class="espacioPalabra"></div>
                    <p [ngClass]="estiloTexto.obtenerEstilosTexto({
                            color: estiloTexto.colorDelTexto.TEXTOBLANCO,
                            estiloTexto: estiloTexto.estilosDelTexto.BOLDCONSOMBRA,
                            enMayusculas: true,
                            tamanoConInterlineado: estiloTexto.tamanoDeTextoConInterlineado.L5_IGUAL
                        })">
                        {{ configuracionItem.texto2  | translate }}
                    </p>
                    <div class="espacioPalabra"></div>
                    <p [ngClass]="estiloTexto.obtenerEstilosTexto({
                            color: estiloTexto.colorDelTexto.TEXTOBLANCO,
                            estiloTexto: estiloTexto.estilosDelTexto.BOLDCONSOMBRA,
                            enMayusculas: true,
                            tamanoConInterlineado: estiloTexto.tamanoDeTextoConInterlineado.L5_IGUAL
                        })">
                        {{ configuracionItem.texto3 | translate }}
                    </p>
                </div>
                <div class="second" *ngSwitchCase="tipoMenu.ACCION">
                    <p
                        *ngIf="
                            configuracionItem.texto1 &&
                            configuracionItem.texto1 !== null
                        "
                        [ngClass]="estiloTexto.obtenerEstilosTexto({
                            color: estiloTexto.colorDelTexto.TEXTOBLANCO,
                            estiloTexto: estiloTexto.estilosDelTexto.BOLDCONSOMBRA,
                            enMayusculas: true,
                            tamanoConInterlineado: estiloTexto.tamanoDeTextoConInterlineado.L4_I4
                        })"
                    >
                        {{ configuracionItem.texto1 | translate }}
                    </p>
                    <p
                        *ngIf="
                            configuracionItem.texto2 &&
                            configuracionItem.texto2 !== null
                        "
                        [ngClass]="estiloTexto.obtenerEstilosTexto({
                            color: estiloTexto.colorDelTexto.TEXTOBLANCO,
                            estiloTexto: estiloTexto.estilosDelTexto.BOLDCONSOMBRA,
                            enMayusculas: true,
                            tamanoConInterlineado: estiloTexto.tamanoDeTextoConInterlineado.L4_I4
                        })">
                        {{ configuracionItem.texto2 | translate }}
                    </p>
                    <p
                        *ngIf="
                            configuracionItem.texto3 &&
                            configuracionItem.texto3 !== null
                        "
                        [ngClass]="estiloTexto.obtenerEstilosTexto({
                            color: estiloTexto.colorDelTexto.TEXTOBLANCO,
                            estiloTexto: estiloTexto.estilosDelTexto.BOLDCONSOMBRA,
                            enMayusculas: true,
                            tamanoConInterlineado: estiloTexto.tamanoDeTextoConInterlineado.L4_I4
                        })">
                        {{ configuracionItem.texto3 | translate }}
                    </p>
                </div>
                <div class="second" *ngSwitchCase="tipoMenu.ANUNCIOS">
                    <p [ngClass]="estiloTexto.obtenerEstilosTexto({
                            color: estiloTexto.colorDelTexto.TEXTOAMARILLOMEDIO,
                            estiloTexto: estiloTexto.estilosDelTexto.BOLDCONSOMBRAMENU,
                            enMayusculas: true,
                            tamanoConInterlineado: estiloTexto.tamanoDeTextoConInterlineado.L6_I2
                        })">
                        {{ configuracionItem.texto1 | translate }} <br> {{ configuracionItem.texto2 | translate }}
                    </p>
                </div>
                <div class="second" *ngSwitchCase="tipoMenu.INSTRUCCIONES">
                    <p *ngIf="configuracionItem.texto1" [ngClass]="estiloTexto.obtenerEstilosTexto({
                            color: estiloTexto.colorDelTexto.TEXTOBLANCO,
                            estiloTexto: estiloTexto.estilosDelTexto.BOLD,
                            enMayusculas: true,
                            tamanoConInterlineado: estiloTexto.tamanoDeTextoConInterlineado.L2_I2
                        })">
                        {{ configuracionItem.texto2 | translate }}
                    </p>
                    <div *ngIf="configuracionItem.texto1" class="instruccion-separacion"></div>
                    <p [ngClass]="estiloTexto.obtenerEstilosTexto({
                            color: estiloTexto.colorDelTexto.TEXTOBLANCO,
                            estiloTexto: estiloTexto.estilosDelTexto.REGULAR,
                            enMayusculas: true,
                            tamanoConInterlineado: estiloTexto.tamanoDeTextoConInterlineado.L2_IGUAL
                        })">
                        {{ configuracionItem.texto2 | translate }}
                    </p>
                    <p [ngClass]="estiloTexto.obtenerEstilosTexto({
                            color: estiloTexto.colorDelTexto.TEXTOBLANCO,
                            estiloTexto: estiloTexto.estilosDelTexto.REGULAR,
                            enMayusculas: true,
                            tamanoConInterlineado: estiloTexto.tamanoDeTextoConInterlineado.L2_IGUAL
                        })">
                        {{ configuracionItem.texto3 | translate }}
                    </p>
                    <div [ngClass]="obtenerSeparacionItemInstrucciones()"></div>
                    <p [ngClass]="estiloTexto.obtenerEstilosTexto({
                            color: estiloTexto.colorDelTexto.TEXTOBLANCO,
                            estiloTexto: estiloTexto.estilosDelTexto.REGULAR,
                            enMayusculas: true,
                            tamanoConInterlineado: estiloTexto.tamanoDeTextoConInterlineado.L2_IGUAL
                        })">
                        {{ configuracionItem.texto4 | translate }}
                    </p>
                    <p [ngClass]="estiloTexto.obtenerEstilosTexto({
                            color: estiloTexto.colorDelTexto.TEXTOBLANCO,
                            estiloTexto: estiloTexto.estilosDelTexto.REGULAR,
                            enMayusculas: true,
                            tamanoConInterlineado: estiloTexto.tamanoDeTextoConInterlineado.L2_IGUAL
                        })">
                        {{ configuracionItem.texto5 | translate }}
                    </p>

                </div>
                <div class="second" *ngSwitchCase="tipoMenu.SUBMENU">
                    <div class="boton-puntos">
                        <p [ngClass]="estiloTexto.obtenerEstilosTexto({
                            color: estiloTexto.colorDelTexto.TEXTOBLANCO,
                            estiloTexto: estiloTexto.estilosDelTexto.BOLDCONSOMBRA,
                            enMayusculas: true,
                            tamanoConInterlineado: estiloTexto.tamanoDeTextoConInterlineado.L4_I4
                        })">
                        <!-- {{ 'INFO' | async }} -->
                        INFO
                    </p>
                    </div>

                </div>
                <div class="second info" *ngSwitchCase="tipoMenu.LEGAL">

                    <div class="espacio522Top"></div>
                    <p (click)="clickItemSubMenuAccion(configuracionItem.acciones[0])" [ngClass]="estiloTextoMenus(configuracionItem.acciones[0])" >
                        {{ configuracionItem.acciones[0].nombre | translate }}
                    </p>
                    <div class="espacio522"></div>
                    <p (click)="clickItemSubMenuAccion(configuracionItem.acciones[1])" [ngClass]="estiloTextoMenus(configuracionItem.acciones[1])" >
                        {{ configuracionItem.acciones[1].nombre | translate }}
                    </p>
                    <div class="espacio522Bot"></div>

                </div>
                <div *ngIf="configuracionItem.descripcion || configuracionItem.submenus" class="centrar contener-descripcion">
                    <div class="flecha" id="{{ 'flecha' + configuracionItem.idInterno }}" ></div >
                    <div *ngIf="configuracionItem.mostrarDescripcion" class="grupo-texto-descripcion">
                        <p *ngFor="let item of configuracionItem.descripcion" [ngClass]="obtenerClasesLineasTexto(item)"
                            class="separacion-texto">
                            {{ item.texto | translate }}
                        </p>
                        <div class="texto" (click)="clickItemSubMenu(item)" *ngFor="let item of configuracionItem.submenus" >
                            <p [ngClass]="estiloTexto.obtenerEstilosTexto({
                                    color: estiloTexto.colorDelTexto.TEXTO_COLOR_PLATEADO,
                                    estiloTexto: estiloTexto.estilosDelTexto.BOLDCONSOMBRA,
                                    enMayusculas: false,
                                    tamanoConInterlineado: estiloTexto.tamanoDeTextoConInterlineado.L5_IGUAL
                                })" class="texto-submenu">
                                {{ item.titulo[0] | translate }}
                            </p>
                            <p [ngClass]="estiloTexto.obtenerEstilosTexto({
                                    color: estiloTexto.colorDelTexto.TEXTO_COLOR_PLATEADO,
                                    estiloTexto: estiloTexto.estilosDelTexto.REGULARCONSOMBRA,
                                    enMayusculas: false,
                                    tamanoConInterlineado: estiloTexto.tamanoDeTextoConInterlineado.L3_IGUAL
                                })" class="texto-submenu-subtitulo" *ngIf="item.subTitulo">
                                {{ item.subTitulo[0] | translate }}
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <app-linea *ngIf="configuracionItem.linea.mostrar" [configuracionLinea]="configuracionItem.linea.configuracion">
    </app-linea>
</div>
