<app-appbar [configuracion]="configuracionAppBar"> </app-appbar>

<!-- <div class="bienvenido">
    <div class="nav">
        <div class="contenido">
            <div class="botonAtras" (tap)="clickBotonAtras()">
                <div class="icono"></div>
            </div>
            <div class="centrar escogerLeng txt-celeste regular letra-12-con-interlineado-igual enMayusculas">
                {{ 'm1v1texto1' | translate | uppercase }}
            </div>
            <app-cabecera-idiomas (cambiarIdioma)="cambiarIdioma()"></app-cabecera-idiomas>
        </div>
    </div>
</div> -->

<app-linea *ngIf="mostrarLinea" [configuracionLinea]="confLinea"></app-linea>
<div
  id="contenedorListaMenuPrincipal"
  class="cuerpo"
  (scroll)="scroolEnContenedor()"
>
  <app-dialogo [configuracion]="confDialogoConstruccion"></app-dialogo>
  <app-portada-gaze
    #portadaGazeComponent
    [configuracionPortada]="configuracionPortada"
  ></app-portada-gaze>

  <app-lista-vertical [dataLista]="dataLista" class="centrar">
    <div *ngIf="listaMenu">
      <div *ngFor="let item of listaMenu">
        <app-item-menu
          [configuracionItem]="prepararItemMenu(item)"
        ></app-item-menu>
      </div>
    </div>

    <!-- <app-item-menu *ngIf="itemSubMenu3Puntos" [configuracionItem]="prepararItemSubMenu(itemSubMenu3Puntos)">
        </app-item-menu>

        <app-item-menu *ngIf="itemMenuMultipleAccion"
            [configuracionItem]="prepararItemsParaMenuMultipleAccion(itemMenuMultipleAccion)"></app-item-menu> -->
  </app-lista-vertical>

  <!-- <div *ngIf="confBoton" class="botonPrincipal">
        <app-button [botonCompartido]="confBoton"></app-button>
    </div> -->
  <app-dialogo [configuracion]="configDialogoLateral"></app-dialogo>
</div>
