@import "../../../../assets/estilos/dimensiones.scss";
@import "../../../../assets//estilos//colores.scss";

// Modales
.sombraCaja {
    -webkit-box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.2);
    box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.2);
}
.modal {
    display: none;
    width: $ancho-pagina;
    height: $altura-pagina;

    position: fixed;
    z-index: 900;
    top: 0;
    left: 0;

    background: rgba(0, 0, 0, 0.5);

    &.mostrar {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    & .caja {
        position: relative;
        z-index: 900;
        width: 90%;
        height: 80%;
        padding: $selector-padding-tb $selector-padding-tb;
        border-radius: $selector-border-radius;
        background: white;
        box-sizing: border-box;

        & .cargando {
            background: $blanco;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 50;

            width: 100%;
            height: 100%;

            display: flex;
            align-items: center;
            justify-content: center;

            border-radius: $selector-border-radius;
        }

        & .error {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 50;

            background: $blanco;
            width: 100%;
            height: 100%;

            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: $selector-border-radius;
            padding: 0 1vw;

            & p {
                text-align: center;
            }
        }

        & .elegibles {
            width: 100%;
            height: 100%;
            display: flex;
            flex-flow: column;
            touch-action: none !important;

            & .titulo {
                display: flex;
                align-items: center;
                width: 100%;
                height: $selector-titulo-alto;
                margin-bottom: calcular(0.5);
            }

            & .input-busqueda{
                width: 100%;
                height: calcular(8);

                & input {
                    width: 100%;
                    height: 100%;
                    padding: calcular(1) calcular(2);
                    box-sizing: border-box;
                    background: rgba(154, 191, 226, 0.3);
                    border: none;
                    outline: 0;
                    border-radius: calcular(1.567);
                    font-size: calcular(4.27);

                    &:focus,
                    &:active {
                        outline: 0;
                    }
                }
            }

            & .lista {
                flex: 1;
                width: 100%;
                overflow-y: auto;
                padding-bottom: 0.5vw;
                touch-action: pan-y !important;

                & .elegible {
                    width: 100%;
                    height: fit-content;
                    margin: 0.8vw 0;
                    padding: 1vw 1vw;
                    box-sizing: border-box;
                    cursor: pointer;
                    touch-action: pan-y !important;

                    &:hover {
                       background: #eeeeee;
                    }

                    &.activo {
                        background: #eeeeee;
                    }
                }
            }
        }
    }

    .msj-informativo{
        padding-bottom: $espacio-178;
    }
}
