@import "../../../../../assets/estilos/dimensiones.scss";
@import "../../../../../assets/estilos/colores.scss";
@import "../../../../../assets/estilos/imagenes.scss";

$tamano-div-libro: calcular(7.42);
$width-libro: calcular(5);
$height-libro: calcular(5.5);


.mensaje-imagen {
    width: 100%;
    height: fit-content;
    min-height: 1vw;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    margin-bottom: $espacio-0249;

    & .hora {
        margin-bottom: $espacio-0139 - $defecto-bottom;
        width: fit-content;
        padding-right: $espacio-267;

        & p {
            width: fit-content;
        }
    }

    & .capa-seleccionado {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        position: relative;
        & .libroPropietario {
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: center;
            width: $tamano-div-libro;
            & .svg-libro-cerrado {
                background-image: $libro-cerrado;
                width: $width-libro;
                height: $height-libro;
                background-repeat: no-repeat;
                margin-right: 0.3vw;
            }
            & .svg-libro-abierto {
                background-image: $libro-abierto;
                width: $width-libro;
                height: $height-libro;
                background-repeat: no-repeat;
            }
        }
        & .caja-imagen {
            position: relative;
            width: fit-content;
            width: 40%;
            height: calcular(30);
            background-color: $mensaje-recibido;
            border-radius: calcular(1.03);
            
            & .capa-mensaje-imagen {
                position: absolute;
                opacity: 0;
                z-index: -1;
    
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: calcular(1.03);
                object-fit: cover;
                &.mostrar {
                    opacity: 1;
                    z-index: 1;
                }
    
                &.loader {
                    
                }
    
                &.imagen {
                    overflow: hidden;
                }
                
                &.error {
                    
                }
            }

            & .capa-escudo {
                position: absolute;
                width: 100%;
                height: 100%;
                z-index: 2;
            }
        }

        & .color-seleccionado {
            top: 0;
            left: 0;
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 0;
            opacity: 0;
            background-color: rgba(51, 70, 81, 0.30);
        }

        &.seleccionado {
            & .color-seleccionado {
                z-index: 1;
                opacity: 1;
            }
        }
    }

    &.propietario {
        align-items: flex-end;

        & .capa-seleccionado {
            justify-content: flex-end;

            & .caja-imagen {
                background-color: $mensaje-enviado;
            }
        }
        
    }

}