<div
    [ngClass]="{
        'contenido-general': true,
        'mostrar': (configuracion.mostrar)
    }"
>
    <div class="mis-contactos">
        <div class="titulos"> 
            <p 
                [ngClass]="estiloTexto.obtenerEstilosTexto({ 
                    color: estiloTexto.colorDelTexto.TEXTOVERDEBASE, 
                    estiloTexto: estiloTexto.estilosDelTexto.BOLDCONSOMBRA, 
                    enMayusculas: true,
                tamanoConInterlineado: estiloTexto.tamanoDeTextoConInterlineado.L5_IGUAL 
                })" 
                class="mis-contactos-titulo"
            >
                {{'m3v8texto3' | translate }}
            </p>
            <p 
                [ngClass]="estiloTexto.obtenerEstilosTexto({ 
                    color: estiloTexto.colorDelTexto.TEXTOAZULBASE, 
                    estiloTexto: estiloTexto.estilosDelTexto.REGULAR, 
                    enMayusculas: true,
                    tamanoConInterlineado: estiloTexto.tamanoDeTextoConInterlineado.L1_IGUAL 
                })" 
                class="click-abrir"
            > 
                {{ configuracion.llaveSubtitulo | translate }}
            </p>
        </div>
        <div class="lista-contactos">
            <app-lista-vertical [dataLista]='configuracion.listaContactos'>
                <div *ngIf="configuracion.listaContactos.lista.length>0; else listaVacia">
                    <div *ngFor='let contacto of configuracion.listaContactos.lista; let i=index'>
                        <div class="item-lista-contactos" (tap)="eventoTap(contacto)" >
                            <app-item-lista-contactos [configuracion]='contacto'  >
                            </app-item-lista-contactos>
                        </div>
                    </div>
                </div>
                <ng-template #listaVacia>
                    <div class="centrar txt-color-gris">
                        {{internacionalizacionNegocio.obtenerTextoSincrono('text13')}}
                    </div>
                </ng-template>
            </app-lista-vertical>
        </div>
    </div>
    <div *ngIf="configuracion.botonAccion.mostrarDialogo" class="opciones-evento-press">
        <app-dialogo [configuracion]="configuracion.botonAccion"></app-dialogo>
    </div>
</div>