<div [ngClass]="{ 
        'mensaje-imagen': true,
        'enviado': configuracion.enviado
    }">

    <img [ngClass]="{
        'imagen': true,
        'mostrar':  !configuracion.mostrarLoader
    }" [src]="configuracion.adjunto.miniatura.url" (load)="siImagenEstaCargada($event)" alt="" >
    <div [ngClass]="{
        'loader': true,
        'mostrar': configuracion.mostrarLoader
    }">
    <app-cargando></app-cargando>
</div>
</div> 