@import "../../../../../assets/estilos/dimensiones.scss";
@import "../../../../../assets/estilos/colores.scss";

.mensaje-imagen {
    width: fit-content;
    margin-right: $espacio-1542;
    margin-left: 0;
    padding-top: $espacio-0249 - $defecto-top;
    padding-bottom: $espacio-0249 - $defecto-bottom;
    object-fit: cover;

    &.enviado {
        margin-left: $espacio-1542;
        margin-right: 0;
    }
    & .imagen {
        display: none;
        width: $ancho-archivo;
        height: $alto-archivo;
        border-radius: $radio-borde-barra-buscar;
       &.mostrar{
           display: flex;
       }
    }
    & .loader {
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        display: none;
        &.mostrar{
            display: flex;
        }
    }
}
