@use "sass:math";
@import "../../../assets/estilos/colores.scss";
@import "../../../assets/estilos/dimensiones.scss";
@import "../../../assets/estilos/estiloColor.scss";

@mixin centrado {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fondo-transparente {
    width: 100%;
    height: $cuerpo-default-alto;
    left: calc(50% - #{math.div($ancho-6382, 2)});
    z-index: 2;
    overflow-y: auto;
}

.contenedor-finanzas {
    height: 100%;
    width: 100%;
}

.item-titulo-no-paddin {
    display: flex;
    flex-flow: row wrap;
    padding-top: 0;
}

.lista-contenedor {
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.item-lista {
    padding-top: $espacio-522 - $defecto-bottom;
    &.bank-statemet {
        padding-top: ($espacio-0316 * 3) - $defecto-top;
    }
    & .aviso-en-construccion {
        @include centrado();
    }

    & .info-alliances {
        padding-top: $espacio-0178 -$defecto-bottom;
        padding-left: calcular(7);
    }

    & .info-alliances-sinTop{
        padding-left: calcular(7);
    }

}

.titulo-principal {
    align-self: center;
}
.subTitulo-principal {
    padding-top: $espacio-178 - $defecto-total;
    align-self: center;
}

.separador-1512 {
    height: ($espacio-0316 * 3) - $defecto-top;
}

section.item {
    padding-bottom: calcular(8.16);
    padding-left: $espacio-267;
    padding-right: $espacio-267;
    padding-top: $espacio-267;
}

section.titulos-lista {
    display: flex;
    font-size: $letra-5;
    color: white;
    padding-left: calcular(3);
    font-weight: bold;
}

.simbolo {
    padding-right: 1.36vw;
}
.simbolo1{
    width: 4vw;
}

.componente-desplegable {
    background-color: white;
    margin-left: $espacio-267;
    margin-right: $espacio-267;
    margin-top: $espacio-0249;
}

.titulo-lista {
    @include centrado();
}
