.intelineado-boton-sup-0178 {
    padding-top: $espacio-0178;
}

.intelineado-boton-sup-0249 {
    padding-top: $espacio-0249;
}

.intelineado-boton-izq-0247 {
    padding-left: $espacio-0247;
}

.intelineado-boton-der-0296 {
    padding-right: $espacio-0296;
}

.intelineado-boton-inf-0316 {
    padding-bottom: $espacio-0316;
}

.intelineado-boton-inf-0249 {
    padding-bottom: $espacio-0249;
}

