@import "colores.scss";
@import "dimensiones.scss";
// Color de texto
.txt-blanco {
    color: $blanco;
}
.txt-negro {
    color: $negro;
}
.txt-amarillo-base {
    color: $amarillo-base;
}
.txt-amarillo-titulu-pensa {
    color: $amarillo-titulo-pensa;
}
.txt-rojo-base {
    color: $rojo-base;
}
.txt-verde-base {
    color: $verde-base;
}
.txt-azul-base {
    color: $azul-base;
}
.txt-azul-claro {
    color: $azul-claro;
}
.txt-btn-history {
    color: $txt-btn-history;
}
.txt-btn-blanco {
    color: $txt-btn-blanco;
}
.txt-celeste {
    color: $txt-celeste;
}
.txt-lacre {
    color: $txt-lacre;
}
.titulo-fecha {
    color: $titulo-fecha;
}
.error-formulario {
    color: $error-formulario;
}
.txt-color-plateado {
    color: $plateado;
}
.txt-color-azul-hibernate {
    // color: $hibernate;
    color: #a9aaba;
}
.txt-color-gris {
    color: $gris;
}
.txt-color-gris-demo {
    color: $gris-demo;
}
.txt-color-marron-demo {
    color: $marron;
}
.txt-azul-medio {
    color: #a9ffea;
}
.txt-amarillo-medio {
    color: #ffd155;
}
.txt-perfil-creado {
    // color: #ff4b22;
    // color: #f76c37;
    // color: #63e290;
    color: #ff854b;
}
.texto-rojo-intercambio-por{
    color: #961c00;
}
.txt-celeste-texto-main {
    color: $celeste-textos-main;
}
.txt-amarillo-aviso-guardado-auto {
    color: #e8d8ab;
}

.boton-intercambio-menu{
    color: #ffc379;
}
.comentario-uno {
    color: $comentario-uno;
}
.comentario-dos {
    color: $comentario-dos;
}
.comentario-tres {
    color: $comentario-tres;
}
.comentario-cuatro {
    color: $comentario-cuatro;
}
.comentario-cinco {
    color: $comentario-cinco;
}
.comentario-seis {
    color: $comentario-seis;
}
.comentario-siete {
    color: $comentario-siete;
}

// Colores de fondo
.input-fondo {
    background-color: $input-fondo;
}
.tranparencia-base {
    background-color: $tranparencia-base;
}
.perfil-creado {
    // background-color: rgba(22, 143, 146, 0.38);
    background-color: rgba(13, 107, 109, 0.58);
}
.perfil-hibernado {
    // background-color: $perfil-hibernado;
    // background-color: #012233;
    background-color: rgba(37, 39, 39, 0.64);
}
.opacidad-cuadro-foto {
    background-color: $opacidad-cuadro-foto;
}
.btn-flecha-lacre {
    background-color: $btn-flecha-lacre;
}
.btn-flecha-verde {
    background-color: $btn-flecha-verde;
}
.btn-flecha-amarillo {
    background-color: $btn-flecha-amarillo;
}

// opacidad en fotos
.capa-opacidad-a {
    background: $capa-opacidad-a;
}
.capa-opacidad-b {
    background: $capa-opacidad-b;
}
.capa-opacidad-c {
    background: $capa-opacidad-c;
}

// Para items y demas
// Color de borde
// Color de borde

.espesor-del-borde-018 {
    border-width: calcular(0.18);
}

.borde-transparente {
    border: none !important;
}
.borde-blanco {
    border-color: $blanco !important;
}
.borde-rojo {
    border-color: $rojo-base !important;
}
.borde-azul {
    border-color: $azul-base !important;
}
.borde-amarillo {
    border-color: $amarillo-base !important;
}
.borde-negro {
    border-color: $negro !important;
}
.borde-semi-amarillo {
    border-color: $semi-amarillo !important;
}

// Color de fondo
.fondo-transparente {
    background-color: transparent;
}
.fondo-blanco {
    background-color: $blanco;
}
.fondo-azul-claro {
    background-color: rgba(154, 191, 226, 0.3);
}
.fondo-azul-base {
    background-color: $azul-fuerte;
}
.fondo-transparencia-base {
    background-color: $tranparencia-base;
}
.fondo-amarillo-claro {
    background-color: $amarillo-claro;
}
.fondo-amarillo-base {
    background-color: $amarillo-base;
}
.fondo-azul-base-con-opacidad {
    background-color: $azul-opaco;
}
.fondo-celeste-con-opacidad {
    background-color: $input-fondo-registro;
}
.fondo-mensaje-recibido {
    background-color: $mensaje-recibido;
}
.fondo-mensaje-enviado {
    background-color: $mensaje-enviado;
}

.fondo_aleatorio_1 {
    background-color: $aleatorio_1;
}
.fondo_aleatorio_2 {
    background-color: $aleatorio_2;
}

.fondo_aleatorio_3 {
    background-color: $aleatorio_3;
}

.fondo_aleatorio_4 {
    background-color: $aleatorio_4;
}

.fondo_aleatorio_5 {
    background-color: $aleatorio_5;
}

.fondo_aleatorio_6 {
    background-color: $aleatorio_6;
}

.fondo_aleatorio_7 {
    background-color: $aleatorio_7;
}
