@import "../../../../assets/estilos/dimensiones.scss";
@import "../../../../assets/estilos/colores.scss";

$dialogo-borde: calcular(0.49);
$dialogo-borde-radio: calcular(2.55);
$dialogo-padding-top-bottom: calcular(3.16);
$dialogo-padding-left-right: calcular(1.78);
$dialogo-descripcion-borde-radio: calcular(1.03);
$dialogo-descripcion-margin-bottom: calcular(3.16);
$dialogo-descripcion-padding-top-bottom: calcular(1.78);
$dialogo-descripcion-padding-left-right: calcular(1.39);
$dialogo-caja-boton-margin-bottom: calcular(3.16);

$contador-ancho: calcular(63.88);
$contador-interior-ancho: calcular(59.34);
$contador-radio-borde: calcular(2.55);
$contador-interno-radio-borde: calcular(1.03);
$contador-interno-item-ancho: calcular(14.83);
$contador-borde: calcular(0.49);

.dialogo {
    width: $espacio-6238;
    border: $dialogo-borde solid $negro;
    border-radius: $dialogo-borde-radio;
    background: $blanco;
    box-sizing: border-box;

    padding: $dialogo-padding-top-bottom $dialogo-padding-left-right;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;

    &.anchoParaProyectos {
        width: $contador-ancho;
        border: $contador-borde solid $negro;
        border-radius: $contador-radio-borde;
        padding: $espacio-0316 $espacio-178;

        & .descripcion {
            padding: $espacio-178 $espacio-0139 !important;
            background-color: $input-fondo-registro !important;
            border-radius: $contador-interno-radio-borde !important;
        }
    }

    & .descripcion {
        background: $transparencia-dialogo-descripcion;
        padding: $dialogo-descripcion-padding-top-bottom $dialogo-descripcion-padding-left-right;
        margin-bottom: $dialogo-descripcion-margin-bottom;
    
        border-radius: $dialogo-descripcion-borde-radio;
    
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-flow: column;
    
        &.sinMargin {
            margin-bottom: 0;
        }
    
        & p {
            text-align: center;
        }
    }

    & .cajaBoton {
        width: 100%;
        margin-bottom: $dialogo-caja-boton-margin-bottom;
    
        display: flex;
        align-items: center;
        justify-content: center;
    }

    & .cajaBoton:last-child {
        margin-bottom: 0;
    }
}