<div
    *ngIf="configuracion && !configuracion.noMostrar"
    class="dialogo"
    [ngClass]="{
        'dialogo': true,
        'anchoParaProyectos': (configuracion.anchoParaProyectos)
    }"
>
    <!-- Descripcion del dialogo -->
    <div
        [ngClass]="{
            'descripcion': true,
            'sinMargin': (configuracion.sinMargenEnDescripcion)
        }"
    >
        <p
            *ngFor="let item of configuracion.descripcion"
            [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto(item.estilo)"
        >
            {{ item.texto | translate}}
        </p>
    </div>
    <div
        *ngFor="let boton of configuracion.listaBotones"
        class="cajaBoton"
    >
        <app-button [botonCompartido]="boton"></app-button>
    </div>
</div>
