@import '../../../assets/estilos/dimensiones.scss';
@import '../../../assets/estilos/imagenes.scss';
@import '../../../assets/estilos/colores.scss';

$distancia-flecha-demo: calcular(2.545);
$ancho-azul-medio: calcular(74.16);

$ancho-nav: calcular(74.16);

$tranparencia-base-bienvenido: rgba(5, 40, 58, 0.80);
.bienvenido {
    width: $ancho-pagina;
    height: $altura-pagina;

    display: flex;
    flex-flow: column;
    align-items: center;

    & .nav {
        height: $item-menu-alto-2621;
        width: 100%;
        background-color: $azul-appbar;
        display: flex;
        justify-content: center;

        & .contenido {
            position: relative;
            // width: $ancho-nav;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-flow: column;
            padding-bottom: $espacio-522;
            & .divCabecera{
                position: relative;
                height: $item-menu-alto-2621;
                width: 100%;
            }
            & .escogerLeng{
                height:$item-menu-alto-2621 - calcular(6.4);
                padding-top: $interlineado-8;
                padding-bottom: $espacio-1719;
                padding-left: $espacio-522;
                padding-right: $espacio-522;
                box-sizing: border-box;
                text-align: center;
                // word-break: break-all;
            }
            & .botonAtras {
                position: absolute;
                left: 0vw;
                bottom: $distancia-flecha-demo;
                
                z-index: 1;
                height: fit-content;
                display: flex;
                flex-flow: row;
                align-items: flex-end;
                justify-content: flex-start; 

                & .icono {
                    width: $boton-back-icono-ancho;
                    height: $boton-back-icono-alto;
                    margin: 0 0 0 $espacio-554; 
                    background: $forma-flecha-back;
                    background-size: 100% 100%;    
                }
            }

        }
    }

    & .cuerpo {
        width: 100%;
        height: calc(100vh - #{$appbar-alto-default});
        padding: 0 !important;
        
        display: flex;
        flex-flow: column;
        align-items: center;
        overflow-y: auto;

        & .contenido {
            width: $ancho-azul-medio;
            box-sizing: border-box;
            background-color: $tranparencia-base;
            height: fit-content;
            // height: 100%;
            padding-bottom: $espacio-522;
        }
        
    }

}
// .divContenido{
//     float: left;
//     position: relative;
//     width: $ancho-6920;
//     height: calc(#{$altura-pagina} - #{($item-menu-alto-2621 + $portada-gaze-alto-completo)});
//     left: - $espacio-267;
//     overflow-y: auto;
//     .linea-verde{
//         padding-top: $espacio-1512;
//         position: relative;
//         bottom: 0;
//     }
// }
.divPaddign522{    
    padding: $interlineado-10 0 $interlineado-10 0;
    box-sizing: border-box;
}

.divMargin522{    
    margin: $interlineado-10 0 $interlineado-10 0;
    box-sizing: border-box;
}

.divPaddign522Top{
    padding-top: $interlineado-10;
    box-sizing: border-box;
}

.centrar2{
    // display: table-cell;
    vertical-align: middle;
}
.divAviso{
    min-height: calcular(57.14);
    width: 100%;
    display: table
    /*display: flex;
    justify-content: center;
    align-items: center;*/
}
.divCompromiso{
    // min-height: calcular(55.07);    
    width: 100%;
    display: table;
    padding-top: $espacio-522 - $defecto-top ;
    & .texto1{
        margin-bottom: $espacio-267 - $defecto-bottom;

    }
    & .texto2{
        margin-bottom: $espacio-267 - $defecto-bottom;

    }


}

.linea-verde{
    // display: flex;
    // align-items: center;
    // justify-content: center;
}
.divAventura{
    flex: 1;
    padding-bottom: $espacio-522  + $espacio-071;
    position: relative;
}
.paddinLeft267{
    box-sizing: border-box;
    padding-left: $espacio-0178;
}
.paddinRight267{
    box-sizing: border-box;
    padding-right: $espacio-0178;
}
.btnEnviar{
    margin-top: ($espacio-522)  - $defecto-bottom ;
    box-sizing: border-box;
}

.posicionRelativa{
    position: absolute;
}
/*       */
// Boton atras



/*.botonAtras p {
    margin: 0 0 $espacio-05 0;
}*/


// @import "../../../assets/estilos/dimensiones.scss";
// @import "../../../assets/estilos/colores.scss";
// @import "../../../assets/estilos/imagenes.scss";

// .contenidoGeneral{
//     width: $ancho-pagina;
//     height: $cuerpo-general;
//     //word-break: break-all;
//     overflow: hidden; 
// }
// .contenidoPensamientos{
//     width: $ancho-pagina;    
//     height: calc(#{$cuerpo-general} - #{$bottom-bar-alto});    
//     background-color: white;
//     box-sizing: border-box;    
//     overflow: scroll; 
// }
// .padding267{
//     padding: 0 $espacio-267 0 $espacio-267;
// }
// .div249{    
//     height: $interlineado-4 - $defecto-bottom;
// }
// .div230Caracteres{
//     padding-top: $interlineado-8 - $defecto-top;
//     padding-right: $espacio-267;
//     padding-bottom: $interlineado-8  - $defecto-bottom;
//     padding-left: $espacio-267;
// }
// .div1542{
//     width: $espacio-1542;
//     height: 12px;
//     float: left;
// }




// .letra{
//     font-size: x-small;
// }
// .cuerpoPensamiento{      
//     width: $ancho-pagina;
//     height: calcular(131.8643);    
//     padding: $interlineado-8 0 0 0;
//     box-sizing: border-box;   
// }
// .divIndicacionesPensamientos{
//     //width: $ancho-pagina - (($espacio-0658 - $espacio-267) * 2);    
//     width: 100%;
//     //width: calc(100vh - #{$espacio-267});
//     box-sizing: border-box;
// }
// .centrar2{
//     display: table-cell;
//     vertical-align: middle;
// }
// .div3161{
//     width: 100%;
//     height: $espacio-0316 - $defecto-top - $defecto-bottom;
// }

// .div3162{
//     width: 100%;
//     height: $espacio-0316 - $defecto-top;
// }
// .div178{
//     width: 100%;
//     height: $interlineado-2 - $defecto-top - $defecto-bottom;
// }
