<div class="bienvenido">
    <div class="nav">
        <div class="contenido">
            <!-- <div class="botonAtras" (tap)="clickBotonAtras()">
                <div class="icono"></div>
            </div> -->
            <div class="centrar escogerLeng txt-celeste regular letra-12-con-interlineado-igual enMayusculas">
                {{ 'm1v1texto1' | translate | uppercase }}
            </div>
            <app-cabecera-idiomas (cambiarIdioma)="cambiarIdioma()"></app-cabecera-idiomas>
        </div>
    </div>
    <!-- <app-linea [configuracionLinea]="configuracionLinea0"></app-linea> -->
    <div class="cuerpo">
        <app-portada-gaze [configuracionPortada]="portadaGazeComponent"></app-portada-gaze>
        <div class="contenido">
            <div class="divCompromiso">
                <div class="texto1">
                    <p [ngClass]="estiloTexto.obtenerEstilosTexto({ 
                        color: estiloTexto.colorDelTexto.TEXTOCELESTEMAIN, 
                        estiloTexto: estiloTexto.estilosDelTexto.REGULAR, 
                        enMayusculas: true,
                        tamanoConInterlineado: estiloTexto.tamanoDeTextoConInterlineado.L3_I1 
                    })" class="paddinLeft267 paddinRight267 centrar2 centrarText ">
                        {{'m1v1texto4' | translate | uppercase}}
                    </p>
                </div>
                <div class="texto2">
                    <p [ngClass]="estiloTexto.obtenerEstilosTexto({ 
                        color: estiloTexto.colorDelTexto.TEXTOCELESTEMAIN, 
                        estiloTexto: estiloTexto.estilosDelTexto.REGULAR, 
                        enMayusculas: true,
                        tamanoConInterlineado: estiloTexto.tamanoDeTextoConInterlineado.L3_I1 
                    })" class="paddinLeft267 paddinRight267 centrar2 centrarText ">
                        {{'m1v1texto4.1' | translate | uppercase}}
                    </p>
                </div>
                <div class="texto3">
                    <p [ngClass]="estiloTexto.obtenerEstilosTexto({ 
                        color: estiloTexto.colorDelTexto.TEXTOCELESTEMAIN, 
                        estiloTexto: estiloTexto.estilosDelTexto.REGULAR, 
                        enMayusculas: true,
                        tamanoConInterlineado: estiloTexto.tamanoDeTextoConInterlineado.L3_I1 
                    })" class="paddinLeft267 paddinRight267 centrar2 centrarText ">
                        {{'m1v1texto4.2' | translate | uppercase}}
                    </p>
                </div>
            </div> 
            <div class=" divPaddign522 centrar">
                <app-linea [configuracionLinea]="configuracionLinea1"></app-linea>
            </div>
            <div class="divAventura">
                <p [ngClass]="estiloTexto.obtenerEstilosTexto({ 
                    color: estiloTexto.colorDelTexto.TEXTOBLANCO, 
                    estiloTexto: estiloTexto.estilosDelTexto.REGULAR, 
                    enMayusculas: true,
                    tamanoConInterlineado: estiloTexto.tamanoDeTextoConInterlineado.L3_I1 
                })" class="paddinLeft267 paddinRight267 centrar2 centrarText">
                    {{'m1v1texto5' | translate | uppercase}}
                <app-button *ngIf="botonEnter" class="btnEnviar centrar" [botonCompartido]='botonEnter' type="submit">
                </app-button>
            </div>

            <div class="linea-verde">
                <app-linea [configuracionLinea]="configuracionLinea2"></app-linea>
            </div>
        </div>
    </div>
</div>

<!-- 
<div class="centrar login">
    <div class="fondoTransparente">
        <div class="divCabecera">
            <div class="botonAtras" (tap)="clickBotonAtras()">
                <div class="icono"></div>
            </div>
            <div class="centrar escogerLeng txt-celeste regular letra-2-con-interlineado-2 enMayusculas">
                {{ 'texto1' | translate | uppercase }}
            </div>
            <app-cabecera-idiomas (cambiarIdioma)="cambiarIdioma()"></app-cabecera-idiomas>
        </div>
        <app-portada-gaze [configuracionPortada]="portadaGazeComponent"></app-portada-gaze>
        <div class="divContenido">
            <div class="divCompromiso">
                <div [ngClass]="estiloTexto.obtenerEstilosTexto({ 
                    color: estiloTexto.colorDelTexto.TEXTOVERDEBASE, 
                    estiloTexto: estiloTexto.estilosDelTexto.REGULAR, 
                    enMayusculas: true,
                    tamanoConInterlineado: estiloTexto.tamanoDeTextoConInterlineado.L3_I1 
                })" class="paddinLeft267 paddinRight267 centrar2 centrarText ">
                    {{'texto3' | translate | uppercase}}
                </div>
            </div>
            <div class=" divPaddign522 centrar">
                <app-linea [configuracionLinea]="configuracionLinea1"></app-linea>
            </div>
            <div class="divAventura">
                <div [ngClass]="estiloTexto.obtenerEstilosTexto({ 
                    color: estiloTexto.colorDelTexto.TEXTOBLANCO, 
                    estiloTexto: estiloTexto.estilosDelTexto.REGULAR, 
                    enMayusculas: true,
                    tamanoConInterlineado: estiloTexto.tamanoDeTextoConInterlineado.L3_I1 
                })" class="paddinLeft267 paddinRight267 centrar2 centrarText">
                    {{'texto4' | translate | uppercase}}
                </div>
                <app-button *ngIf="botonEnter" class="btnEnviar centrar" [botonCompartido]='botonEnter' type="submit">
                </app-button>
            </div>
            <div class="linea-verde">
                <app-linea [configuracionLinea]="configuracionLinea2"></app-linea>
            </div>
        </div>
    </div>
</div> -->
