<div
    [ngClass]="{
        'contenedor-landing': true,
        'rojo': paginas === 1,
        'rojo2': paginas === 2,
        'rojo3': paginas === 3
    }"
>
    <div class="fondo-anuncio">
        <div [ngClass]="{
            'capa-gif-anuncio': true,
            'texto-idiomas': true,
            'mostrar': mostrarCapas[0]
            }">
            <p>
                {{ 'landingAnuncioCasiListos' | translate }}
            </p>
        </div>
        <div [ngClass]="{
                'capa-gif-anuncio': true,
                'mundo-anuncio': true,
                'mostrar': mostrarCapas[1]
            }">
            <img src="https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/gif/mundo-movil.png" alt="">
        </div>
        <div [ngClass]="{
                'capa-gif-anuncio': true,
                'letrero': true,
                'mostrar': mostrarCapas[2]
            }">
            <img src="https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/gif/letrero-movil.png" alt="">
        </div>
        <div [ngClass]="{
                'capa-gif-anuncio': true,
                'luz': true,
                'mostrar': mostrarCapas[3]
            }">
            <img src="https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/gif/luz-movil.png" alt="">
        </div>

        <div [ngClass]="{
                'capa-gif-anuncio': true,
                'boton': true,
                'mostrar': mostrarCapas[4]
            }">
            <div (click)="retornar()" class="boton-dos">
                <img src="https://d3ubht94yroq8c.cloudfront.net/landing-flecha-previous.png" />
                <p>
                    {{ 'landingPrevious' | translate }}
                </p>
            </div>
        </div>
    </div>
</div>