@import "../../../assets/estilos/dimensiones.scss";
@import "../../../assets/estilos/colores.scss";

$celeste_landing: #C7E4FF;
$celeste_fuerte: #74B9ED;
$amarillo_landing: #F8B75C;
$turquesa_landing: #AFF9D2;
$azulcontacto_landing: #586478;
$rojo-base: #bd1218;
$verde-base: #05e005;
$azul-base: #03486b;
$semi-amarillo: #928F80;
$amarillo-base: #f0b823;
$gris: #cecece;

$sombraIdiomas: 2.5px 0.5px 0px rgb(255, 255, 255);

// Nav
$nav-height: calcular(19.51);
$nav-width: calcular(69.16);
$portadaancho: calcular(35.24);
$alturaidiomas: calcular(6.4);
$anchop: calcular(11.085);
$ancholinea: calcular(0.53);
$anchomarconegro: calcular(0.69);
$anchofaq: calcular(13.20);
$espesorlineaverde: calcular(0.53);
$espesorlineagris: calcular(0.23);
$espesorlinea-verdechick: calcular(0.35);
$ancholinea-verdechik: calcular(66.73);

$anchoflecha: calcular(4.98);
$altoflecha: calcular(2.94);

$anchoflecha-roja: calcular(11.95);
$altoflecha-roja: calcular(8.89);
$margenflecha-roja-top: calcular(4.18);
$margenflecha-roja-izq: calcular(44.87);

$alturatitulo-a-flecha: calcular(13.07);
$alturatitulo-resaltado: calcular(5.61);
$alturatituloresaltado-completo: calcular(14.40);

$altura-imagen: calcular(59);
$altura-portada-miniatura: calcular(83);

$espacioO: calcular(3.87);
$diametrogranja: calcular(15.49);
$espaciogranja: calcular(4.19);
$margencontact: calcular(1.045);
$diametromundochick: calcular(35.05);
$espacio-y-mundochick: calcular(6.45);
$espacio-x-mundochick: calcular(29.80);
$espacioarriba-mundochick: calcular(9.41);
$anchoflecha-LEER: calcular(3.64);
$altoflecha-LEER: calcular(2.15);
$margenflecha-LEER: calcular(0.97);
$margen2flecha-LEER: calcular(0.38);
$padding-intro: calcular(3.91); // TEXTO INTRO PARA NUESTROS OBJETIVOS
$espaciorestante-linea3: calcular(0.16); // ESPACIO RESTANTE PARA LINEA 3 (FINAL MENU INTERNO)

// Tamaños de letra
$letra1: calcular(4.90); // Source Sans = 81pt
$letra2: calcular(2.37);
$letra3: calcular(4.44); // Source Sans = 75pt
$letra4: calcular(5.63); // Source Sans = 95pt
$letra5: calcular(5.73); // Source Sans = titulos resaltados
$letra6: calcular(9.78); // LETRA ANUNCIO MOVIL

// TAMAÑO DE INPUT - CONTENEDORES EN CONTACT US
$ancho-rectangular: calcular(94.66);
$alto-rectangular: calcular(7.82);

$margen-mensaje: calcular(18.52);

.contenedor-landing {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(0deg, #052846 -15.67%, #000413 41.54%);

    &.rojo {
    	background: linear-gradient(0deg, #5f181f -40.67%, #000413 41.54%);
    	transition: all 1s 1s ease;
  	}

  	&.rojo2 {
	    background: linear-gradient(-90deg, #5f181f -15.67%, #000413 78.54%);
    	transition: all 1s 1s ease;
  	}

  	&.rojo3 {
    	background: linear-gradient(90deg, #5f181f -15.67%, #000413 78.54%);
    	transition: all 1s 1s ease;
  	}
}

.fondo-anuncio {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;

  & .capa-gif-anuncio {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: all 0.5s 0.5s;

    &.mostrar {
      opacity: 1;
    }

    &.texto-idiomas {
      z-index: 0;
      position: absolute;
      display: flex;
      flex-flow: column;
      justify-content: flex-start;
      padding-top: calcular(17.56);
      box-sizing: border-box;
      align-items: center;
      text-align: center;

      & p {
        color: rgb(238, 36, 36);
        font-size: $letra6;
        line-height: 1;
        text-shadow: $sombraIdiomas;
      }
    }

    &.mundo-anuncio {
      z-index: 1;
      padding-top: calcular(51.44);
      box-sizing: border-box;

    //   background-size: 100% 100%;
        & img {
            width: 100%;
        }
    }

    &.letrero {
      z-index: 2;
      padding-top: calcular(51.44);
      box-sizing: border-box;

    //   background-size: 100% 100%;
        & img {
            width: 100%;

        }
    }

    &.luz {
      z-index: 3;
    //   background-size: 100% 100%;
        & img {
            width: 100%;
            height: 100%;
        }
    }

    &.boton {
        z-index: 4;

        & .boton-dos {
          position: absolute;
          display: flex;
          flex-flow: column;
          justify-content: center;
          align-items: center;
          cursor: pointer;

          left: calcular(7.42);
          bottom: $espacio-522 + $espacio-522;

          & img {
            width: calcular(8);
            height: calcular(4);
          }

          & p {
            font-family: "Patrick Hand", cursive;
            font-weight: normal;
            color: $celeste_fuerte;
            font-size: $letra-3;
            line-height: 1;
            text-decoration: underline;
          }
        }
      }
  }
}
