<div class="fondo-modal" [ngClass]="{
    'modal-abierto':data.abierto
}" (tap)="eventoModal($event.target)">
    <div #principal class="contenido-modal">
        <div #descripcion class="contenedorDescripcion">
            <p
                class="letraDescripcion"
            >
                {{ data.titulo | translate }}
            </p>
        </div>
        <ng-content></ng-content>
    </div>
</div> 