@import "../../../../../assets/estilos/dimensiones.scss";
@import "../../../../../assets/estilos/colores.scss";

.cuerpo {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    &.intercambios {
        position: relative;

        & .lista-items {
            position: absolute;
            z-index: 1;
            width: 100%;
            height: 100%;
            padding: $espacio-0316 $espacio-267;
            box-sizing: border-box;

            display: flex;
            flex-flow: column;

            & .titulos {
                width: 100%;
                height: fit-content;
                box-sizing: border-box;
                padding-left: $espacio-0658 - $espacio-267;

                & p:nth-child(1) {
                    margin-bottom: $espacio-178 - $defecto-total;
                }
            }

            & .loader-completo {
                display: flex;
                flex-flow: column;
                flex: 1;

                align-items: center;
                justify-content: center;
            }

            & .no-items {
                display: flex;
                flex-flow: column;
                flex: 1;

                align-items: center;
                justify-content: center;
            }

            & .error-completo {
                display: flex;
                flex-flow: column;
                flex: 1;

                align-items: center;
                justify-content: center;
            }

            & .items {
                display: flex;
                flex-flow: column;
                flex: 1;
                overflow-y: auto;

                & .cargando-pequeno {
                    width: 100%;
                    height: fit-content;
                    padding: $espacio-0249 0;
                    box-sizing: border-box;

                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

        }
    }
}
