<div class="contenido-total">
    <div class="fondo-transp"> </div>
    <div [ngClass]="obtenerItemClases()" class="items">

        <div class="main" gestorEventos (eventoTap)="tap()" (dobleTap)="dobletap()" (press)="press()"
            [ngSwitch]="configuracionItem.tipoMenu">
            <div class="second-perfil" *ngSwitchCase="tipoMenu.PROFILE">
                <p [ngClass]="estiloTexto1()">
                    {{ configuracionItem.texto1 | translate }}
                </p>
                <div class="espacioPalabra"></div>
                <p [ngClass]="estiloTexto.obtenerEstilosTexto({ 
                            color: estiloTexto.colorDelTexto.TEXTOAMARILLOMEDIO, 
                            estiloTexto: estiloTexto.estilosDelTexto.BOLDCONSOMBRA, 
                            enMayusculas: true,
                            tamanoConInterlineado: estiloTexto.tamanoDeTextoConInterlineado.L7_IGUAL 
                        })">
                    {{ configuracionItem.texto2 | translate }}
                </p>
                <div class="espacioPalabra"></div>
                <p [ngClass]="estiloTexto.obtenerEstilosTexto({ 
                            color: estiloTexto.colorDelTexto.TEXTOBLANCO, 
                            estiloTexto: estiloTexto.estilosDelTexto.BOLD, 
                            enMayusculas: true,
                            tamanoConInterlineado: estiloTexto.tamanoDeTextoConInterlineado.L5_IGUAL
                        })">
                    {{ configuracionItem.texto3 | translate }}
                </p>
            </div>
            <div class="second" *ngSwitchCase="tipoMenu.GESTION_PROFILE">
                <p [ngClass]="estiloTexto1()">
                    {{ configuracionItem.texto1 | translate }}
                </p>
                <div class="espacioPalabra"></div>
                <p [ngClass]="estiloTexto.obtenerEstilosTexto({ 
                            color: estiloTexto.colorDelTexto.TEXTOBLANCO, 
                            estiloTexto: estiloTexto.estilosDelTexto.BOLDCONSOMBRA, 
                            enMayusculas: true,
                            tamanoConInterlineado: estiloTexto.tamanoDeTextoConInterlineado.L5_IGUAL 
                        })">
                    {{ configuracionItem.texto2 | translate }}
                </p>
                <div class="espacioPalabra"></div>
                <p [ngClass]="estiloTexto.obtenerEstilosTexto({ 
                            color: estiloTexto.colorDelTexto.TEXTOBLANCO, 
                            estiloTexto: estiloTexto.estilosDelTexto.BOLDCONSOMBRA, 
                            enMayusculas: true,
                            tamanoConInterlineado: estiloTexto.tamanoDeTextoConInterlineado.L5_IGUAL
                        })">
                    {{ configuracionItem.texto3 | translate }}
                </p>

            </div>
            <div class="second" *ngSwitchCase="tipoMenu.GESTION_PROFILE_DEMO">
                <p [ngClass]="estiloTexto.obtenerEstilosTexto({ 
                            color: estiloTexto.colorDelTexto.TEXTOBLANCO, 
                            estiloTexto: estiloTexto.estilosDelTexto.BOLDCONSOMBRA, 
                            enMayusculas: true,
                            tamanoConInterlineado: estiloTexto.tamanoDeTextoConInterlineado.L5_IGUAL 
                        })">
                    {{ configuracionItem.texto2 | translate }}
                </p>
                <div class="espacioPalabra"></div>
                <p [ngClass]="estiloTexto.obtenerEstilosTexto({ 
                            color: estiloTexto.colorDelTexto.TEXTOBLANCO, 
                            estiloTexto: estiloTexto.estilosDelTexto.BOLDCONSOMBRA, 
                            enMayusculas: true,
                            tamanoConInterlineado: estiloTexto.tamanoDeTextoConInterlineado.L5_IGUAL
                        })">
                    {{ configuracionItem.texto3 | translate }}
                </p>

                <div class="espacioPalabraDescri"></div>
                <p [ngClass]="estiloTexto.obtenerEstilosTexto({ 
                            color: estiloTexto.colorDelTexto.TEXTOCELESTE, 
                            estiloTexto: estiloTexto.estilosDelTexto.BOLDCONSOMBRA, 
                            enMayusculas: true,
                            tamanoConInterlineado: estiloTexto.tamanoDeTextoConInterlineado.L3_IGUAL
                        })">
                    -{{ configuracionItem.texto4 | translate }}-
                </p>
            </div>
            <div class="second" *ngSwitchCase="tipoMenu.ACCION">
                <p [ngClass]="estiloTexto.obtenerEstilosTexto({ 
                            color: estiloTexto.colorDelTexto.TEXTOBLANCO, 
                            estiloTexto: estiloTexto.estilosDelTexto.BOLDCONSOMBRA, 
                            enMayusculas: true,
                            tamanoConInterlineado: estiloTexto.tamanoDeTextoConInterlineado.L5_I4
                        })">
                    {{ configuracionItem.texto1 | translate }}

                    <!-- <p [ngClass]="estiloTexto.obtenerEstilosTexto({ 
                            color: estiloTexto.colorDelTexto.TEXTOBLANCO, 
                            estiloTexto: estiloTexto.estilosDelTexto.BOLDCONSOMBRA, 
                            enMayusculas: true,
                            tamanoConInterlineado: estiloTexto.tamanoDeTextoConInterlineado.L4_I4
                        })">
                    {{ texto2 | translate }} -->

            </div>
            <div class="second" *ngSwitchCase="tipoMenu.ANUNCIOS">
                <p [ngClass]="estiloTexto.obtenerEstilosTexto({ 
                            color: estiloTexto.colorDelTexto.GRIS, 
                            estiloTexto: estiloTexto.estilosDelTexto.BOLDCONSOMBRA, 
                            enMayusculas: true,
                            tamanoConInterlineado: estiloTexto.tamanoDeTextoConInterlineado.L5_I8
                        })">
                    {{ configuracionItem.texto1 | translate }}
                </p>
            </div>
            <div class="second" *ngSwitchCase="tipoMenu.INSTRUCCIONES">
                <p *ngIf="configuracionItem.texto1" [ngClass]="estiloTexto.obtenerEstilosTexto({ 
                            color: estiloTexto.colorDelTexto.TEXTOBLANCO, 
                            estiloTexto: estiloTexto.estilosDelTexto.BOLD, 
                            enMayusculas: true,
                            tamanoConInterlineado: estiloTexto.tamanoDeTextoConInterlineado.L2_I2
                        })">
                    {{ configuracionItem.texto1 | translate }}
                </p>
                <div *ngIf="configuracionItem.texto1" class="instruccion-separacion"></div>
                <p class="pb178" [ngClass]="estiloTexto.obtenerEstilosTexto({ 
                            color: estiloTexto.colorDelTexto.TEXTOBLANCO, 
                            estiloTexto: estiloTexto.estilosDelTexto.REGULAR, 
                            enMayusculas: true,
                            tamanoConInterlineado: estiloTexto.tamanoDeTextoConInterlineado.L2_IGUAL
                        })">
                    {{ configuracionItem.texto2 | translate }}
                </p>
                <div [ngClass]="obtenerSeparacionItemInstrucciones()"></div>
                <p [ngClass]="estiloTexto.obtenerEstilosTexto({ 
                            color: estiloTexto.colorDelTexto.TEXTOCELESTEMAIN, 
                            estiloTexto: estiloTexto.estilosDelTexto.REGULAR, 
                            enMayusculas: true,
                            tamanoConInterlineado: estiloTexto.tamanoDeTextoConInterlineado.L2_IGUAL
                        })">
                    {{ configuracionItem.texto3 | translate }}
                </p>
            </div>
            <div class="second" *ngSwitchCase="tipoMenu.SUBMENU">
                <div class="boton-puntos"></div>
            </div>
            <div class="second" *ngSwitchCase="tipoMenu.LEGAL">
                <p (click)="clickItemSubMenu(item)" *ngFor="let item of configuracionItem.acciones;let i = index"
                    [ngClass]="estiloTextoMenus(item)">
                    {{ textos[i]|translate}}
                </p>
            </div>

            <div class="contenedor-flecha" *ngIf="configuracionItem.descripcion || configuracionItem.submenus">
                <div class="flecha" id="{{ 'flecha' + configuracionItem.idInterno }}"></div>
            </div>
        </div>


    </div>
    <div *ngIf="configuracionItem.descripcion || configuracionItem.submenus" class="centrar contener-descripcion">

        <div *ngIf="configuracionItem.mostrarDescripcion" class="grupo-texto-descripcion">
            <p [ngClass]="obtenerClasesLineasTexto(configuracionItem?.descripcion[0])">
                {{ configuracionItem?.descripcion[0]?.texto}}
            </p>
            <p [ngClass]="obtenerClasesLineasTexto(configuracionItem?.descripcion[1])">
                {{ configuracionItem?.descripcion[1]?.texto}}
            </p>
            <p [ngClass]="obtenerClasesLineasTexto(configuracionItem?.descripcion[2])">
                {{ configuracionItem?.descripcion[2]?.texto}}
            </p>
            <p [ngClass]="obtenerClasesLineasTexto(configuracionItem?.descripcion[3])">
                {{ configuracionItem?.descripcion[3]?.texto}}
            </p>

            <p [ngClass]="obtenerClasesLineasTexto(configuracionItem?.descripcion[4])">
                {{ configuracionItem?.descripcion[4]?.texto}}
            </p>
            <p [ngClass]="obtenerClasesLineasTexto(configuracionItem?.descripcion[5])">
                {{ configuracionItem?.descripcion[5]?.texto}}
            </p>
            <p [ngClass]="obtenerClasesLineasTexto(configuracionItem?.descripcion[6])">
                {{ configuracionItem?.descripcion[6]?.texto}}
            </p>
            <p [ngClass]="obtenerClasesLineasTexto(configuracionItem?.descripcion[7])">
                {{ configuracionItem?.descripcion[7]?.texto}}
            </p>
            <p [ngClass]="obtenerClasesLineasTexto(configuracionItem?.descripcion[8])">
                {{ configuracionItem?.descripcion[8]?.texto}}
            </p>
            <p [ngClass]="obtenerClasesLineasTexto(configuracionItem?.descripcion[9])">
                {{ configuracionItem?.descripcion[9]?.texto}}
            </p>
            <p (click)="clickItemSubMenu(item)" *ngFor="let item of configuracionItem.submenus" [ngClass]="estiloTexto.obtenerEstilosTexto({ 
                        color: estiloTexto.colorDelTexto.TEXTO_COLOR_PLATEADO, 
                        estiloTexto: estiloTexto.estilosDelTexto.BOLDCONSOMBRA, 
                        enMayusculas: false,
                        tamanoConInterlineado: estiloTexto.tamanoDeTextoConInterlineado.L5_I5 
                    })" class="texto-submenu test">
                {{ item.titulo }}
            </p>
        </div>
    </div>

    <div class="linea-verde">
        <app-linea *ngIf="configuracionItem.linea.mostrar" [configuracionLinea]="configuracionItem.linea.configuracion">
        </app-linea>
    </div>
</div>