@import "../../../../assets/estilos/dimensiones.scss";
@import "../../../../assets/estilos/colores.scss";
@import "../../../../assets/estilos/imagenes.scss";

$mitad-item-6920: calc((100% - #{$item-menu-ancho-6920}) / 2);
$alto-perfil-click: calcular(15);
.linea-verde {
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    height: 100%;
    width: $item-menu-ancho-6920;
    background-color: $tranparencia-base;
    margin-left: $mitad-item-6920;
}

.contenido-total {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-flow: column;


    & .items {
        margin-left: $mitad-item-6920;
        min-height: $item-menu-alto-3774;
        width: $item-menu-ancho-6920;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        box-sizing: border-box;

        & .main {
            & .second-perfil{
                width: $item-menu-ancho-con-padding-6920;
                height: $alto-perfil-click;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            & .second {
                width: $item-menu-ancho-con-padding-6920;
                user-select: text !important;
                & p{
                    user-select: text !important;
                }
            }
        }
        & .contenedor-texto {
            z-index: 2;
        }
    }
}

.contener-descripcion {
    flex-flow: column;
    width: 100%;
    height: 100%;
    text-align: justify;
    user-select: text !important;
    & .grupo-texto-descripcion {
        z-index: 2;
        background-color: $tranparencia-base;
        padding-left: $espacio-267;
        padding-right: $espacio-267;
        padding-top: $espacio-267 - $defecto-top;
        padding-bottom: $espacio-522 - $espacio-0249;
        // user-select: text !important;
        & p {
            white-space: unset;
            // user-select: text !important;
        }
    }
}

.contenedor-flecha {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: $espacio-0316 - $defecto-top;
    .flecha {
        background-image: $forma-flecha-verde-desplegable;
        height: $espacio-0518;
        width: $espacio-0875;
        position: relative;
    }
    .rotar-flecha {
        transform: rotate(180deg);
    }
}

.instruccion-separacion{
    padding-bottom: $espacio-522 - $defecto-bottom;
}

.pb178, .espacioPalabra{
    padding-bottom: $espacio-0178 - $defecto-total;
}

.espacioPalabraDescri{
    width: 100%;
    height: $espacio-0316  - $defecto-total ;
}

.separacion-texto{
    padding-bottom: $espacio-0249;
    user-select: text !important;
}


