@import "../../../../assets/estilos/dimensiones.scss";
@import "../../../../assets/estilos/colores.scss";

$tamano-base-lista-pensamientos: calcular(87.85);
$tamano-fijo-pensamientos: calcular(66.426);
$tamano-fijo: calcular(73.426);

.listaScroll {
    height: calc(100vh - #{$appbar-alto-default} - #{$espesor-089}) !important;
    overflow-x: hidden;
    overflow-y: auto;
    width: $ancho-6920;
}
.listaScrollPensamientoGestionar {
    height: $tamano-fijo;
    overflow-y: auto;
}

.listaScrollMenuPrincipal {
    height: fit-content;
    width: 100%;
}
.reintentar {
    width: 100%;
}
.fondoLista {
    background-color: $tranparencia-base;
    display: flex;
    align-items: center;
    justify-content: center;
}
.buscador {
    background-color: transparent;
    height: calc(100vh - #{$alto-barra-busqueda + $espacio-267 + $espacio-326 + ($espesor-borde-barra-buscar * 2)});
    width: $ancho-pagina;
}

.centralItems {
    display: flex;
    align-items: center;
    justify-content: center;
}

.lista-pensamiento-perfil {
    height: $tamano-fijo-pensamientos;
    width: 100%;
    overflow-y: auto;
    display: flex;
    text-align: justify;
}

.lista-pensamiento-resumen-modal {
    height: $tamano-fijo-pensamientos;
    width: 100%;
    overflow-y: auto;
    display: flex;
    text-align: justify;
}

.lista-pensamiento-perfil:nth-child(1):nth-last-child(3),
li:nth-child(2):nth-last-child(2),
li:nth-child(3):nth-last-child(1) {
    align-items: center;
}


.listaContactos {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    box-sizing: border-box;
}

.listaMensajesChat {
    background-color: thistle;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    box-sizing: border-box;
}

.centrarEnColumna {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.errorDiv {
    & p {
        text-align: center;
        margin-bottom: $espacio-0178;
    }
}

.listaNoticiasBusquedaSinLista {
    display: none !important;
}

.listaProyectosBusqueda {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
