<div *ngIf="!dataLista.cargando;else mostrarCargando" class="{{dataLista.tamanoLista}}" >
    <div *ngIf="dataLista.error==null;else mostrarError" (scroll)="cargarMas()" id="scroll"
        class="{{dataLista.tamanoLista}}">

        <ng-content>

        </ng-content>
 
    </div>
    <ng-template #mostrarError>
        <div class="{{ dataLista.tamanoLista }} centrarEnColumna errorDiv">
            <p
                [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOROJOBASE,
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                    enMayusculas: false,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_I1
                })"
            >
                {{ dataLista.error | translate }}
            </p>
            <button
                (tap)="reintentar()"
                [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTONEGRO,
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                    enMayusculas: false,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL
                })"
            >
                {{ 'text32' | translate }}
            </button>
        </div>
    </ng-template>
</div>
<ng-template #mostrarCargando>
    <div class="{{dataLista.tamanoLista}}" class="centralItems">
        <app-cargando> </app-cargando>
    </div>
</ng-template> 