@use "sass:math";
@import "../../../../assets/estilos/dimensiones.scss";
@import "../../../../assets/estilos/colores.scss";
@import "../../../../assets/estilos/imagenes.scss";

$width-input-busqueda: calc(100% - #{$espacio-0756});
.barraBuscar {
    position: absolute;
    z-index: 999;
    top: $espacio-267;
    background: $blanco;
    width: $ancho-barra-busqueda;
    display: flex;
    align-items: center;
    left: $espacio-267;
    height: $alto-barra-busqueda;
    border: $espesor-borde-barra-buscar solid $negro;
    border-bottom-left-radius: $radio-borde-barra-buscar;
    border-top-left-radius: $radio-borde-barra-buscar;
    border-bottom-right-radius: $radio-borde-barra-buscar;
    border-top-right-radius: $radio-borde-barra-buscar;
    box-sizing: border-box;
    overflow: hidden;

    .inputBusqueda {
        height: 90%;
        width: $width-input-busqueda;
        box-sizing: border-box;
        border: none;
        border-radius: $radio-borde-barra-buscar;
        font-size: $letra-3;
        outline: none;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: $espacio-0167;
        padding-right: $espacio-0167;
        &.fuente-4 {
            font-size: $letra-4;
        }
        &::placeholder {
            text-align: center;
            color: $txt-celeste;
        }
    }
    .icono {
        width: $espacio-0756;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: $espacio-0167;
        .iconoLupa {
            background-image: $forma-lupa;
            width: $espacio-0756;
            height: $espacio-0756;
            right: $espacio-0167;
        }

        .iconoX {
            background-image: $cruz-negra-borrar;
            width: $espacio-0756;
            height: $espacio-0756;
            right: $espacio-0167;
        }
    }
}
.contenidoBuscador {
    position: fixed;
    background-color: $blanco;
    left: 0;
    bottom: 0;
    width: 100%;
    height: $cuerpo-default-alto;
    overflow: scroll;
    box-sizing: border-box;
    flex-flow: column;
    z-index: 999;

    & .perfiles-lista{
        z-index: 12;
    }
    &.fondo-universo {
        background-image: $fondo-estrellas-completo;
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    & .mundo-buscador {
        position: absolute;
        top: 0;
        width: $ancho-pagina;
        height: 100%;
        z-index: 1;

    }
    & .mundo-buscador.mostrar-mundo-buscador img {
        display: block;
        position: absolute;
        width: $mundo-diametro;
        height: $mundo-diametro;
        right: $mundo-derecha;
        bottom: $mundo-abajo;
    }
    & .fondo-transparente{
        position: absolute;
        width: $ancho-6920;
        height: 100%;
        background-color: $tranparencia-base;
        left: calc(50% - #{math.div($ancho-6920, 2)}) ;
        z-index: 2;
    }
    & .itemContacto {
        margin-bottom: $espacio-041;
    }
    & .contenedor-lista{
        padding-left: $espacio-267;
        padding-right: $espacio-267;
        padding-top: $espacio-0316;
        padding-bottom: $espacio-522;
        box-sizing: border-box;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 3;
        & .mis-contactos-titulo {
            padding-top: $espacio-0316 - $espacio-267;
            padding-left: $espacio-0658 - $espacio-267 - $espacio-041;
        }

        & .click-abrir {
            padding-left: $espacio-0658 - $espacio-267 - $espacio-041;
            margin-bottom: $espacio-0249;
            margin-top: $espacio-0178;

        }
    }
}





.otros-usuarios-titulos {
    padding-top: $espacio-522 - $defecto-top;
    padding-left: $espacio-0658 - $espacio-267 - $espacio-041;
    margin-bottom: $espacio-0316;
}

.no-existen-elementos {
    height: $width-input-busqueda;
    display: flex;
    align-items: center;
    justify-content: center;
}
// .contenedorResultados {

//     background-color: rebeccapurple;
//
//     top: 200px;
//     background: rebeccapurple;
//     width: 100%;
//     display: flex;
//     align-items: center;
//     left: $espacio-267;
//     height: 100%;
//     box-sizing: border-box;
//     box-sizing: border-box;
//     // height: calc(100vh - #{$alto-barra-busqueda + $espacio-267 + $espacio-326 + ($espesor-borde-barra-buscar * 2)});

// }

// .contenedorPrincipal {
//     height: $altura-pagina;
//     width: $ancho-pagina;
//     display: flex;
//     flex-flow: row wrap;
//     align-items: flex-end;
//     justify-content: center;
//
//     z-index: 100;
//     left: 0;
//     top: 0;

// }

// .alturaAbierto {
//     height: $altura-pagina;
//     background: $blanco;
//     background-color: blue;
// }

// .alturaCerrado {
//     height: fit-content;
// }

// .disable {
//     pointer-events: none;
// }

.lista-proyectos {
    width: 100%;
    height: 100%;

    display: flex;
    flex-flow: column;

    & .titulos {
        width: 100%;
        height: fit-content;
        box-sizing: border-box;
        padding-left: $espacio-0658;
    }

    & .items {
        display: flex;
        flex-flow: column;
        flex: 1;

        & .cargando-pequeno {
            width: 100%;
            height: fit-content;
            padding: $espacio-0249 0;
            box-sizing: border-box;

            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}
