<div
    *ngIf="configuracion"
    class="barraBuscar"
    (tap)="eventoTap()"
>
    <input
        id="inputBarraBusqueda"
        type="text" 
        placeholder="{{ configuracion.placeholder | translate }}" 
        [ngClass]="{
            'inputBusqueda': true,
            'fuente-3': configuracion.placeholderActivo,
            'bold': configuracion.placeholderActivo
        }"
        (keyup)="validarSiEstaBuscando()"
        (keyup.enter)='buscar()'
        [(ngModel)]="configuracion.valorBusqueda"
        [readonly]="configuracion.modoBusqueda === ModoBusquedaEnum.BUSQUEDA_COMPONENTE"
        autocomplete="off"
    >
    <div
        class="icono"
        (tap)="buscar()"
    >
        <div class="iconoLupa"></div>
    </div>
</div>