<div [ngClass]="{
    'llamada': true,
    'mostrar': configuracion.mostrar
    }">

    <div class="contenido-resumen-llamada">
        <p [ngClass]="
        estiloTexto.obtenerEstilosTexto({
          color: estiloTexto.colorDelTexto.TEXTOBLANCO,
          estiloTexto: estiloTexto.estilosDelTexto.BOLD,
          enMayusculas: true,
          tamanoConInterlineado:
            estiloTexto.tamanoDeTextoConInterlineado.L4_IGUAL
        })
      " class="info-llamando">
            {{ textoInfoLlamada | translate }}
        </p>
        <app-item-circulo [configuracion]="configuracionItemCircular"></app-item-circulo>
        <p [ngClass]="
        estiloTexto.obtenerEstilosTexto({
          color: estiloTexto.colorDelTexto.TEXTOAMARILLOBASE,
          estiloTexto: estiloTexto.estilosDelTexto.BOLD,
          enMayusculas: true,
          tamanoConInterlineado:
            estiloTexto.tamanoDeTextoConInterlineado.L3_IGUAL
        })
      " class="info-contacto">
            {{ configuracion.infoParticipante.perfil.nombreContacto | translate }}
        </p>
        <div class="items-llamada" *ngIf="configuracion.mostrarBotonesLlamada">

            <div [ngClass]="{'svg-contestar-llamada': true, 'mostrar': !configuracion.enviado}" (tap)="aceptarLlamada()"></div>
            <div class="separacion-item-llamada"  *ngIf=" !configuracion.enviado"></div>
            <div [ngClass]="{ 'svg-ignorar-llamada': true}" (tap)="cancelarLlamada()"></div>
        </div>
    </div>
</div>
