@import "../../../../assets/estilos/dimensiones.scss";
@import "../../../../assets/estilos/colores.scss";
@import "../../../../assets/estilos/imagenes.scss";

$width-telefono: calcular(13.1);
$height-telefono: calcular(13.1);
$tamano-div-telefono: calcular(15.42);
.llamada {
    height: 100%;
    width: 100%;
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    background-color: $tranparencia-llamando;
    z-index: 50;
    &.mostrar {
        display: flex;
    }
    & .contenido-resumen-llamada {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;
    }
    & .info-llamando {
        padding-bottom: $espacio-0816;
    }
    & .info-contacto{
        padding-top: $espacio-0816;
    }

    & .items-llamada {
        box-sizing: border-box;
        display: flex;
        padding-top: $espacio-1542;
        justify-content: space-between;
        
        & .svg-contestar-llamada {
            background-image: $contestar-llamada;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            width: $width-telefono;
            height: $height-telefono;
            display: none;
           &.mostrar{
               display: flex;
           }
        }
        & .separacion-item-llamada{
            width: $espacio-1542 + $espacio-1542;
        }
        & .svg-ignorar-llamada {
            background-image: $ignorar-llamada;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            width: $width-telefono;
            height: $height-telefono;
        }
    }
}
