<div class="login">
    <!-- fondoTransparente -->
    <div class="nav">
        <div class="contenido">
            <!-- <div class="centrar escogerLeng txt-celeste regular letra-3-con-interlineado-2 enMayusculas">
                {{ 'm1v2texto1' | translate | uppercase}}
            </div> -->
            <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO, 
                estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                enMayusculas: true,
                tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_I2
            })" class="centrar escogerLeng">
                {{ 'm1v2texto1' | translate }}
            </p>
            <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO, 
                estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                enMayusculas: true,
                tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_I2
            })" class="centrar texto-vertical">
                {{ 'm1v2texto1.1' | translate }}
            </p>
            <div class="cabecera-idiomas">
                <app-cabecera-idiomas (cambiarIdioma)="cambiarIdioma()"></app-cabecera-idiomas>
            </div>
          
        </div>
    </div>
    <div [ngClass]="{
            'cuerpo': true,
            'sin-scrool': variablesGlobales.mostrarAvisoIdiomas
        }">
        <!-- Aviso idiomas -->
        <div [ngClass]="{
                'aviso-idiomas': true,
                'mostrar': false
            }">
            <div class="titulo">
                <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                        color: estiloDelTextoServicio.colorDelTexto.TEXTOAMARILLOBASE, 
                        estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                        enMayusculas: true,
                        tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L5_IGUAL
                    })">
                    {{ 'm1v2texto5' | translate }}
                </p>
            </div>
            <div class="contexto">
                <p>
                    <span [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                            color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO, 
                            estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                            enMayusculas: true,
                            tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L4_I1
                        })">
                        {{ 'm1v2texto7' | translate }}
                    </span>
                    <span [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                            color: estiloDelTextoServicio.colorDelTexto.TEXTOAZULMEDIO, 
                            estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                            enMayusculas: true,
                            tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L4_I1
                        })">
                        {{ 'm1v2texto7.1' | translate }}
                    </span>
                </p>


                <!-- <p
                    [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                        color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO, 
                        estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                        enMayusculas: true,
                        tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L4_I1
                    })"
                >
                    {{ 'm1v2texto7' | translate }}
                </p>
                <p
                [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOAZULMEDIO, 
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                    enMayusculas: true,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L4_I1
                })"
            >
                {{ 'm1v2texto7.1' | translate }}
            </p> -->
            </div>
            <div class="boton-idiomas">
                <app-button [botonCompartido]="confBotonAvisoIdiomas"></app-button>
            </div>
        </div>
        <!-- Contenido -->
        <app-portada-gaze #portadaGazeComponent [configuracionPortada]="configuracionPortada"></app-portada-gaze>
        
        <div class="gazeTexto">

            <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                color: estiloDelTextoServicio.colorDelTexto.TEXTOCELESTE, 
                estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                enMayusculas: false,
                tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L16_IGUAL
            })">
                {{ "landingGazesignifica2" | translate }}
            </p>
        </div>
        <app-linea [configuracionLinea]="configuracionLineaVerdeCompleta"></app-linea>
        <div [ngClass]="{'contenido': !mostrarBanda, 'contenido-color': mostrarBanda}">
            
            <div [ngClass]="{
                    'divTres': true,
                    'ocultar': variablesGlobales.mostrarAvisoIdiomas
                }">
                <p class="txt-blanco bold letra-6-con-interlineado-2 enMayusculas">
                    {{ 'm1v2texto8' | translate }}
                </p>
                <p class="enMayusculas letra-3-con-interlineado-2 regular txt-blanco">
                    {{ 'm1v2texto9' | translate}}
                </p>
            </div>
            <div [ngClass]="{
                    'divBoton': true,
                    'ocultar': variablesGlobales.mostrarAvisoIdiomas
                }">
                <app-button class="centrar" [botonCompartido]="botonCompartido"></app-button>
            </div>
            <div [ngClass]="{
                    'linea-verde': true,
                    'ocultar': variablesGlobales.mostrarAvisoIdiomas
                }">
            <app-linea [configuracionLinea]="configuracionLineaVerde">
                </app-linea>
            </div>
            <p class="centrarText divLetraLogin txt-login"
                [ngClass]="{
                    'ocultar': variablesGlobales.mostrarAvisoIdiomas
                }"
                
                [ngClass]="
                    
                    estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOCELESTEMAIN, 
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLDCONSOMBRA, 
                    enMayusculas: true,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L7_IGUAL
                })"
                >
                {{'m1v2texto11' | translate }}
            </p>
            <p class="centrarText divLetraLogin2"
                [ngClass]="{
                    'ocultar': variablesGlobales.mostrarAvisoIdiomas
                }"
                
                [ngClass]="
                    
                    estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOCELESTEMAIN, 
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                    enMayusculas: true,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_I2
                })"
                >
                {{'m1v2texto12' | translate }}
            </p>
            <form [formGroup]="loginForm" [ngClass]="{
                    'ocultar': variablesGlobales.mostrarAvisoIdiomas
                }">
                <div
                    class="divLetraInput enMayusculas letra-4-con-interlineado-igual regularSombra txt-celeste-texto-main">
                    {{ 'm1v2texto13' | translate }}
                </div>
                <app-input [inputCompartido]='inputEmail'></app-input>
                <div class="div249"></div>
                <div
                    class="divLetraInput enMayusculas letra-4-con-interlineado-igual regularSombra txt-celeste-texto-main">
                    {{ 'm1v2texto14' | translate }}
                </div>
                <app-input [inputCompartido]='inputContrasena'></app-input>
                <div class="olvidaste-contra"></div>
                <div (tap)="inicializarDialogoRecuperarContrasena(true)"
                    class="textOlvideContrasena letra-2-con-interlineado-igual regular txt-blanco">
                    {{ 'm1v2texto15' | translate }}
                </div>
                <div *ngIf="botonSubmit" class="div522">
                    <app-button class="centrar" [botonCompartido]='botonSubmit' type="submit"></app-button>
                </div>
            </form>
            <!-- <div>
                <app-pensamiento-compartido *ngIf="pensamientoCompartido && mostrarBanda"
                    [pensamientoCompartido]='pensamientoCompartido' [dataLista]='dataListaAleatorio'>
                </app-pensamiento-compartido>
            </div> -->

        </div>
    </div>
</div>
<app-toast #toast [configuracion]='configuracionToast'></app-toast>

<!-- Dialogo recuperar contrasena -->
<div (tap)="eventoTapEnModal($event.target)" [ngClass]="{
        'modal-recuperar-contrasena': true,
        'mostrar': confDialogoRecuperarContrasena.mostrar
    }">
    <div class="forma">
        <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                color: estiloDelTextoServicio.colorDelTexto.TEXTOAZULBASE, 
                estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                enMayusculas: true,
                tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_I2
            })">
            {{ 'text55' | translate }}
        </p>
        <input type="email" [(ngModel)]="confDialogoRecuperarContrasena.email" placeholder="example@email.com">
        <button *ngIf="
                !confDialogoRecuperarContrasena.mostrarLoader &&
                !confDialogoRecuperarContrasena.mostrarStatus
            " (tap)="recuperarContrasena()">
            {{ 'text39' | translate }}
        </button>
        <div *ngIf="
                confDialogoRecuperarContrasena.mostrarLoader &&
                !confDialogoRecuperarContrasena.mostrarError
            ">
            <app-cargando></app-cargando>
        </div>
        <div *ngIf="
                confDialogoRecuperarContrasena.mostrarError &&
                !confDialogoRecuperarContrasena.mostrarLoader
            " class="error">
            <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOROJOBASE, 
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                    enMayusculas: false,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_I2
                })">
                {{ confDialogoRecuperarContrasena.error | translate }}
            </p>
        </div>
        <div *ngIf="
                !confDialogoRecuperarContrasena.mostrarError &&
                !confDialogoRecuperarContrasena.mostrarLoader &&
                confDialogoRecuperarContrasena.mostrarStatus
            " class="status">
            <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOAZULBASE, 
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                    enMayusculas: false,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_I2
                })">
                {{ confDialogoRecuperarContrasena.status | translate }}
            </p>
        </div>
    </div>
</div>