@use "sass:math";
@import "../../../assets/estilos/dimensiones.scss";
@import "../../../assets/estilos/colores.scss";

p {
    white-space: pre-line;
}

.login {
    height: $altura-pagina;
    width: $ancho-pagina;
    //overflow-y: auto

    display: flex;
    align-items: center;
    flex-flow: column;
    align-items: center;

    & .nav {
        height: $item-menu-alto-2621;
        width: 100%;
        background-color: $azul-appbar;
        display: flex;
        justify-content: center;

        & .contenido {
            // width: $ancho-6920;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-flow: column;
        }
    }

    & .cuerpo {
        width: 100%;
        height: calc(100vh - #{$appbar-alto-default});
        padding: 0 !important;

        display: flex;
        flex-flow: column;
        align-items: center;
        overflow-y: auto;

        &.sin-scrool {
            overflow: hidden;
        }

        & .aviso-idiomas {
            position: absolute;
            width: 100%;
            height: 100%;
            // background-image: linear-gradient(to bottom,  #3C495280 100%,#3C495280 75%);
            background-color: $tranparencia-base-aviso-idiomas;
            box-sizing: border-box;
            padding-top: $portada-gaze-alto-completo;

            opacity: 0;
            z-index: -1;

            overflow-y: scroll;
            &.mostrar {
                opacity: 1;
                z-index: 2;
            }

            & .titulo {
                width: 100%;
                height: fit-content;
                box-sizing: border-box;
                padding: $espacio-522 * 2 $espacio-267;

                & p {
                    width: 100%;
                    text-align: center;
                    // color: #BBFCEA !important;
                }
            }

            & .contexto {
                width: 100%;
                box-sizing: border-box;
                margin-bottom: $espacio-522 * 2;
                padding: 0 $espacio-267;
                & p {
                    text-align: justify;
                }
                // & span{
                //     display: block;
                //     text-align: justify;
                // }
            }

            & .boton-idiomas {
                width: 100%;
                display: flex;
                justify-content: center;
            }
        }

        & .gazeTexto {
            width: 100vw;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: $espacio-0136 - $defecto-top;
            padding-bottom: $espacio-0249 - $defecto-bottom;

            background-color: rgba(3, 27, 39, 0.8);
            text-align: center;
            & p{
                padding-left: math.div($espacio-0249, 2);
                padding-right: math.div($espacio-0249, 2);
            }
        }

        & .gazeTextoAzul {
            background-color: #ffffff;

            & P{
                color: black !important;
            }
        }
        & .contenido {
            width: $ancho-6920;
            padding: 0 $espacio-267;
            box-sizing: border-box;
            // background-color: $tranparencia-base;
            height: fit-content;

            & .ocultar {
                opacity: 0 !important;
            }
        }
        & .contenido-color {
            width: $ancho-6920;
            padding: 0 $espacio-267;
            box-sizing: border-box;
            background-color: $tranparencia-base;
            height: fit-content;

            & .ocultar {
                opacity: 0 !important;
            }
        }
    }
}

.centrar {
    text-align: center;
}
.texto-vertical {
    padding-bottom: calcular(4.16) - $defecto-bottom;
}
.escogerLeng {
    height: $item-menu-alto-2621;
    padding-top: calcular(4.16) - $defecto-top;
    // padding-bottom: $interlineado-1;
    box-sizing: border-box;
    text-align: center;
}
.divLetraInput {
    padding: 0 0 $interlineado-2 - $defecto-top 0;
}

.divLetraLogin {
    padding-bottom: $espacio-0249 - $defecto-total; //0 0 ($interlineado-4 - ($interlineado-4 /2)) 0;
}
.divLetraLogin2 {
    padding-bottom: $espacio-0316 - $defecto-total; //0 0 ($interlineado-4 - ($interlineado-4 /2)) 0;
}
.div249 {
    width: 100%;
    height: $interlineado-4 - $defecto-top;
}
.olvidaste-contra {
    width: 100%;
    height: $espacio-0178 - $defecto-top;
}
/*.divEspacioReflexion{ 
    padding: 0 0 $interlineado-10 0;
}*/
.divTres {
    box-sizing: border-box;
    color: $blanco;
    text-align: center;
    // padding-top: $interlineado-10; ERRO EN LA REVISIOn
    padding-top: $espacio-522 + $espacio-0316 - $defecto-top; // corregido
    /*padding-left: $espacio-267;
    padding-right: $espacio-267;
    box-sizing: border-box;*/
}

.textTiempo {
    font-size: $letra-5;
}
.textVisita {
    font-size: $letra-3;
}
/*.btnSitioWeb{
    height: calcular(9.2);
}*/
.textLogin {
    font-size: $letra-7;
    color: $amarillo-base;
}
.textEmail {
    font-size: $letra-4;
    color: $amarillo-base;
}
.textOlvideContrasena {
    text-align: right;
    color: $blanco;
    font-size: $letra-2;
}
.tituloPensamiento {
    color: $blanco;
    font-size: $letra-3;
    padding-top: $interlineado-10;
    box-sizing: border-box;
    color: $blanco;
    text-align: center;
}

.divBoton {
    padding-top: $interlineado-8 - $defecto-bottom;
    padding-bottom: $espacio-522 + $espacio-0316;
    box-sizing: border-box;
}
.linea-verde {
    // padding-top: $espacio-0249;
    // padding-bottom: $espacio-0249;
}
.txt-login {
    padding-top: $espacio-522 + $espacio-0316 - $defecto-top;
    // line-height: 1;
}

.boton-suscribirse {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: $espacio-522 + $espacio-0249 - $defecto-top;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;

    & p {
        text-align: center;
        width: 100%;
        margin-bottom: $espacio-0316 - $defecto-bottom;
    }
}

.div522 {
    padding-top: $espacio-0316 + $espacio-0154 - $defecto-bottom;
    padding-bottom: $espacio-522 + $espacio-0316;
    box-sizing: border-box;
}

.divContenido {
    float: left;
    width: 100%;
    height: calc(#{$altura-pagina} - #{($item-menu-alto-2621 + $portada-gaze-alto-completo)});
    overflow-y: auto;
}

.modal-recuperar-contrasena {
    display: none;
    position: fixed;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    width: $ancho-pagina;
    height: $altura-pagina;

    &.mostrar {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    & .forma {
        width: 90%;
        height: fit-content;
        border-radius: calcular(1.026);
        padding: $espacio-267;
        box-sizing: border-box;
        background-color: #ffffff;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;

        & p {
            margin-bottom: calcular(2);
            text-align: center;
        }

        & input {
            border-radius: calcular(1.026);
            border: none;
            padding: $espacio-0178;
            box-sizing: border-box;
            width: 100%;
            margin-bottom: calcular(2);
            font-size: $letra-3;
            background-color: $input-fondo-registro;
        }

        & button {
            font-size: $letra-3;
        }

        & .error {
            width: 100%;
            margin: $espacio-0178 0;

            & p {
                text-align: center;
            }
        }

        & .status {
            width: 100%;
            margin: $espacio-0178 0;

            & p {
                text-align: center;
            }
        }
    }
}
