<app-appbar [configuracion]="confAppBar"></app-appbar>
<div class="menu-principal">
    <div class="capa">
        <div class="contenido">
            <!-- Nuevos proyectos -->
            <div class="espacio-316">
                <div (tap)="navegarSegunMenu(MenuListaProyectosEnum.NUEVOS_PROYECTOS)" class="item-menu ">
                    <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                        color: estiloDelTextoServicio.colorDelTexto.TEXTOGRISDEMO,
                        estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLDCONSOMBRA, 
                        enMayusculas: true,
                        tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L4_I2
                    })">
                        {{ 'm1v15texto4' | translate }} <br /> {{ 'm1v15texto5' | translate }}
                    </p>
                </div>
            </div>

            <!-- Linea -->
            <div class="linea-verde">
                <app-linea [configuracionLinea]="confLineaVerde"></app-linea>
            </div>
            <!-- Proyectos recomendados por el admin -->
            <div class="espacio-316">
                <div (tap)="navegarSegunMenu(MenuListaProyectosEnum.PROYECTOS_RECOMENDADOS_POR_ADMIN)"
                    class="item-menu">
                    <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                        color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO,
                        estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLDCONSOMBRA, 
                        enMayusculas: true,
                        tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L10_I2
                    })">
                        {{ 'm1v15texto6' | translate }}
                    </p>
                </div>
            </div>

            <!-- Linea -->
            <div class="linea-verde">
                <app-linea [configuracionLinea]="confLineaVerde"></app-linea>
            </div>
            <!-- Foro de los proyectos -->
            <div class="espacio-316">
                <div (tap)="navegarSegunMenu(MenuListaProyectosEnum.FORO_DE_LOS_PROYECTOS)" class="item-menu ">
                    <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                        color: estiloDelTextoServicio.colorDelTexto.TEXTOGRISDEMO,
                        estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLDCONSOMBRA, 
                        enMayusculas: true,
                        tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L4_I2
                    })">
                        {{ 'm1v15texto7' | translate }} <br /> {{ 'm1v15texto8' | translate }} <br /> {{ 'm1v15texto9' |
                        translate }}
                    </p>
                </div> 
            </div>

            <!-- Linea -->
            <div class="linea-verde">
                <app-linea [configuracionLinea]="confLineaVerde"></app-linea>
            </div>
            <!-- Proyectos seleccionados -->
            <div class="espacio-316">
                <div (tap)="navegarSegunMenu(MenuListaProyectosEnum.PROYECTOS_SELECCIONADOS)" class="item-menu ">
                    <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                        color: estiloDelTextoServicio.colorDelTexto.TEXTOGRISDEMO,
                        estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLDCONSOMBRA, 
                        enMayusculas: true,
                        tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L4_I2
                    })">
                        {{ 'm1v15texto10' | translate }} <br /> {{ 'm1v15texto11' | translate }}
                    </p>
                </div>
            </div>

            <!-- Linea -->
            <div class="linea-verde">
                <app-linea [configuracionLinea]="confLineaVerde"></app-linea>
            </div>
            <!-- Proyectos en espera de fondos -->
            <div class="espacio-316">
                <div (tap)="navegarSegunMenu(MenuListaProyectosEnum.PROYECTOS_EN_ESPERA_DE_FONDOS)" class="item-menu ">
                    <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                        color: estiloDelTextoServicio.colorDelTexto.TEXTOGRISDEMO,
                        estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLDCONSOMBRA, 
                        enMayusculas: true,
                        tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_I2
                    })">
                        {{ 'm1v15texto12' | translate }}
                    </p>
                </div>
            </div>

            <!-- Linea -->
            <div class="linea-verde">
                <app-linea [configuracionLinea]="confLineaVerde"></app-linea>
            </div>
            <!-- Proyectos en estrategia -->
            <div class="espacio-316">
                <div (tap)="navegarSegunMenu(MenuListaProyectosEnum.PROYECTOS_EN_ESTRATEGIA)" class="item-menu ">
                    <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                        color: estiloDelTextoServicio.colorDelTexto.TEXTOGRISDEMO,
                        estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLDCONSOMBRA, 
                        enMayusculas: true,
                        tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L10_I2
                    })">
                        {{ 'm1v15texto13' | translate }}
                    </p>
                </div>
            </div>
            <!-- Linea -->
            <div class="linea-verde">
                <app-linea [configuracionLinea]="confLineaVerde"></app-linea>
            </div>
            <!-- Proyectos en ejecucion -->
            <div class="espacio-316">
                <div (tap)="navegarSegunMenu(MenuListaProyectosEnum.PROYECTOS_EN_EJECUCION)" class="item-menu ">
                    <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                        color: estiloDelTextoServicio.colorDelTexto.TEXTOGRISDEMO,
                        estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLDCONSOMBRA, 
                        enMayusculas: true,
                        tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L10_I2
                    })">
                        {{ 'm1v15texto14' | translate }} <br /> {{ 'm1v15texto15' | translate }}
                    </p>
                </div>
            </div>

            <!-- Linea -->
            <div class="linea-verde">
                <app-linea [configuracionLinea]="confLineaVerde"></app-linea>
            </div>
            <!-- Proyectos ejecutados -->
            <div class="espacio-316">
                <div (tap)="navegarSegunMenu(MenuListaProyectosEnum.PROYECTOS_EJECUTADOS)" class="item-menu ">
                    <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                        color: estiloDelTextoServicio.colorDelTexto.TEXTOGRISDEMO,
                        estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLDCONSOMBRA, 
                        enMayusculas: true,
                        tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L4_I2
                    })">
                        {{ 'm1v15texto16' | translate }} <br /> {{ 'm1v15texto17' | translate }}
                    </p>
                </div>
            </div>

            <!-- Linea -->
            <div class="linea-verde">
                <app-linea [configuracionLinea]="confLineaVerde"></app-linea>
            </div>
            <!-- Proyectos menos votados -->
            <div class="espacio-316">
                <div (tap)="navegarSegunMenu(MenuListaProyectosEnum.PROYECTOS_MENOS_VOTADOS)" class="item-menu ">
                    <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                        color: estiloDelTextoServicio.colorDelTexto.TEXTOGRISDEMO,
                        estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLDCONSOMBRA, 
                        enMayusculas: true,
                        tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L4_I2
                    })">
                        {{ 'm1v15texto18' | translate }} <br /> {{ 'm1v15texto19' | translate }}
                    </p>
                </div>
            </div>
            <!-- Linea -->
            <div class="linea-verde">
                <app-linea [configuracionLinea]="confLineaVerdeAll"></app-linea>
            </div>
        </div>
    </div>
</div>
<app-dialogo [configuracion]="confDialogoInicial"></app-dialogo>