<app-appbar [configuracion]="confAppbar"></app-appbar>
<div
    [id]="idCapaCuerpo"
    [ngClass]="{
        'cuerpo': true,
        'conLoader': mostrarCapaLoader && !mostrarCapaError,
        'conError': !mostrarCapaLoader && mostrarCapaError
    }"
    (scroll)="scroolEnCapaCuerpo()"
>
    <div
        *ngIf="!puedeCargarMas || mostrarCapaLoader"
        class="encarga"
    >
        <p
            [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO, 
                estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                enMayusculas: false,
                tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL
            })"
        >
            {{ 'text11' | translate }}
        </p>
    </div>
    <div
        *ngIf="
            puedeCargarMas && 
            !mostrarCapaLoader && 
            filtroActivoDeBusqueda === FiltroBusquedaEnum.RANGO_FECHAS
        "
        class="parametros"
    >
        <app-button [botonCompartido]="confBotonRecientes"></app-button>
        <div class="separador"></div>
        <app-button [botonCompartido]="confBotonMasVotados"></app-button>
    </div>
    <div
        *ngIf="
            puedeCargarMas && 
            !mostrarCapaLoader && 
            filtroActivoDeBusqueda === FiltroBusquedaEnum.RECIENTES
        "
        class="parametros"
    >
        <app-button [botonCompartido]="confBotonMasVotados"></app-button>
    </div>
    <div
        *ngIf="
            puedeCargarMas && 
            !mostrarCapaLoader && 
            filtroActivoDeBusqueda === FiltroBusquedaEnum.MAS_VOTADAS
        "
        class="parametros"
    >
        <app-button [botonCompartido]="confBotonRecientes"></app-button>
    </div>
    <div
        *ngIf="puedeCargarMas && !mostrarCapaLoader"
        class="fechas"
    >
        <div class="titulo">
            <p
                [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO, 
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                    enMayusculas: true,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_IGUAL
                })"
            >
                {{ 'm4v12texto6' | translate }}
            </p>
        </div>
        <div class="herramientas">
            <div
                class="input"
            >
                <input
                    type="date"
                    [(ngModel)]="fechaInicial"
                    id="inputFechaInicial"
                    (change)="cambioDeFecha(0)"
                    [ngClass]="{
                        'sinEventos': (!puedeCargarMas || mostrarCapaLoader)
                    }"
                    min="2021-01-01"
                >
                <div class="fecha">
                    {{ fechaInicial | date:'dd/MM/yyyy' }}
                </div>
            </div>
            <div class="to">
                <p
                    [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                        color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO, 
                        estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                        enMayusculas: true,
                        tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_IGUAL
                    })"
                >
                    {{ 'm4v12texto7' | translate }}
                </p>
            </div>
            <div
                class="input"
            >
                <input
                    type="date"
                    [(ngModel)]="fechaFinal"
                    id="inputFechaFinal"
                    (change)="cambioDeFecha(1)"
                    [ngClass]="{
                        'sinEventos': (!puedeCargarMas || mostrarCapaLoader)
                    }"
                    [max] = "currentDay"
                >
                <div class="fecha">
                    {{ fechaFinal | date:'dd/MM/yyyy' }}
                </div>
            </div>
        </div>
        <app-linea [configuracionLinea]="confLineaNoticias"></app-linea>
    </div>
    <div class="titulo-lista">
        <p
            *ngIf="filtroActivoDeBusqueda === FiltroBusquedaEnum.RECIENTES"
            [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                color: estiloDelTextoServicio.colorDelTexto.TEXTOAMARILLOBASE, 
                estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLDCONSOMBRA, 
                enMayusculas: true,
                tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L4_IGUAL
            })"
        >
            {{ 'm4v12texto4' | translate }}
        </p>
        <p
        *ngIf="filtroActivoDeBusqueda === FiltroBusquedaEnum.MAS_VOTADAS"
            [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                color: estiloDelTextoServicio.colorDelTexto.TEXTOAMARILLOBASE, 
                estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLDCONSOMBRA, 
                enMayusculas: true,
                tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L4_IGUAL
            })"
        >
            {{ 'm4v12texto5' | translate }}
        </p>
    </div>
    <div
        *ngIf="mostrarCapaLoader && !mostrarCapaError"
        class="loader"
    >
        <app-cargando></app-cargando>
    </div>
    <div
        *ngIf="!mostrarCapaLoader && mostrarCapaError"
        class="error"
    >
        <p
            [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO, 
                estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                enMayusculas: false,
                tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_I1
            })"
        >
            {{ 'text37' | translate }}
        </p>
    </div>
    <div
        *ngIf="!mostrarCapaLoader && !mostrarCapaError && listaNoticias.lista.length === 0"
        class="noitems"
    >
        <p
            [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO, 
                estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                enMayusculas: false,
                tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_I1
            })"
        >
            {{ 'text13' | translate }}
        </p>
    </div>
    <div
        *ngIf="!mostrarCapaLoader && !mostrarCapaError && listaNoticias.lista.length > 0"
        class="contenedor-lista"
    >
        <div
            *ngIf="!mostrarCapaLoader && !mostrarCapaError"
            class="lista-noticias"
        >
            <div
                *ngFor="let item of this.listaNoticias.lista;let i = index"
                class="caja-item"
            >
                <app-item-proyectos-noticias [configuracion]="item"></app-item-proyectos-noticias>
                <div
                    *ngIf="i === 0 || i % 2 === 0"
                    class="separador-vertircal"
                ></div>
            </div>
        </div>
        <div
            *ngIf="!puedeCargarMas && !mostrarCapaLoader && !mostrarCapaError"
            class="loader-interno"
        >
            <app-cargando></app-cargando>
        </div>
    </div>
</div>
<app-toast #toast [configuracion]="confToast"></app-toast>
