<app-appbar [configuracion]="confAppBar"></app-appbar>
<div class="menu-principal">
    <div class="capa">
        <div class="contenido">
            <!-- worlwide projects -->
            <div class="espacio-316">
                <div (tap)="navegarSegunMenu(0)" class="item-menu">
                    <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                        color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO,
                        estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLDCONSOMBRA, 
                        enMayusculas: true,
                        tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L7_I2
                    })">
                        {{ 'm4v4texto2' | translate }} <br /> {{ 'm4v4texto3' | translate }}
                    </p>
                </div>
            </div>
            <!-- Linea -->
            <div class="linea-verde">
                <app-linea [configuracionLinea]="confLineaVerde"></app-linea>
            </div>
            <!-- country projects -->
            <div class="espacio-316">
                <div (tap)="navegarSegunMenu(1)" class="item-menu">
                    <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                        color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO,
                        estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLDCONSOMBRA, 
                        enMayusculas: true,
                        tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L7_I2
                    })">
                        {{ 'm4v4texto4' | translate }} <br /> {{ 'm4v4texto5' | translate }}
                    </p>
                </div>
            </div>

            <!-- Linea -->
            <div class="linea-verde">
                <app-linea [configuracionLinea]="confLineaVerde"></app-linea>
            </div>
            <!-- local projects -->
            <div class="espacio-316">
                <div (tap)="navegarSegunMenu(2)" class="item-menu">
                    <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                        color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO,
                        estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLDCONSOMBRA, 
                        enMayusculas: true,
                        tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L7_I2
                    })">
                        {{ 'm4v4texto6' | translate }} <br /> {{ 'm4v4texto7' | translate }}
                    </p>
                </div>
            </div>

            <!-- Linea -->
            <div class="linea-verde">
                <app-linea [configuracionLinea]="confLineaVerde"></app-linea>
            </div>
            <!-- NETWORK projects -->
            <div class="espacio-316">
                <div (tap)="navegarSegunMenu(3)" class="item-menu">
                    <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                        color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO,
                        estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLDCONSOMBRA, 
                        enMayusculas: true,
                        tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L7_I2
                    })">
                        {{ 'm4v4texto8' | translate }} <br /> {{ 'm4v4texto9' | translate }} <br /> {{ 'm4v4texto10' |
                        translate }}
                    </p>
                </div>
            </div>
            <!-- Linea -->
            <div class="linea-verde">
                <app-linea [configuracionLinea]="confLineaVerde"></app-linea>
            </div>
            <!-- useful information for projects -->
            <div class="espacio-316">
                <div (tap)="navegarSegunMenu(4)" class="item-menu">
                    <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                        color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO,
                        estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLDCONSOMBRA, 
                        enMayusculas: true,
                        tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L5_I4
                    })">
                        {{ 'm4v4texto12' | translate }}
                    </p>
                </div>
            </div>
            <!-- Linea -->
            <div class="linea-verde">
                <app-linea [configuracionLinea]="confLineaVerdeAll"></app-linea>
            </div>
        </div>
    </div>
</div>