<div
    [ngClass]="{
        'modal': true
    }"
    
>
<video class="videoControllers" controls autoplay>
    <source [src] = "urlVideo" type="video/mp4">
    Tu navegador no soporta los vídeos de HTML5
</video>
</div>




