@import "../../../../assets/estilos/dimensiones.scss";
@import "../../../../assets/estilos/imagenes.scss";
@import "../../../../assets/estilos/colores.scss";


.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 12;

    width: 100%;
    height: calc(100vh - #{$appbar-alto-mini + $espesor-071});
    margin-top: $appbar-alto-mini + $espesor-071;

    background: rgba(0, 0, 0);
}

.videoControllers {
    width: 100%;
    height: auto;
}

	