<div
  [ngClass]="{
    'contenedor-landing': paginas !== 0,
    'color-contenedor-landing': paginas === 0
  }"
  id="contenedor-landing"
>
  <div
    [ngClass]="{
      header: mostrarIdiomas === true,
      'header-sin-idiomas': mostrarIdiomas === false,
      'header-color-ourgoals': mostrarIdiomas === false && paginas === 2,
      'header-color-inclusive': mostrarIdiomas === false && paginas === 1,
      'header-color-faq': mostrarIdiomas === false && paginas === 3,
      alturados: paginas !== 0 || mostrarIdiomas === false
    }"
  >
    <div class="franja"></div>
    <div class="menu">
      <div class="menu1">
        <p
          (tap)="eventoclick(0)"
          [ngClass]="{
            activo: paginas === 0
          }"
        >
          {{ "landingPagina" | translate }} <br />
          {{ "landingInicio" | translate }}
        </p>

        <div class="linea"></div>

        <p
          (tap)="eventoclick(1)"
          [ngClass]="{
            activo: paginas === 1
          }"
        >
          {{ "landingRedSocial" | translate }} <br />
          {{ "landingHumanitaria" | translate }}
        </p>

        <div class="linea"></div>

        <p
          (tap)="eventoclick(2)"
          [ngClass]="{
            activo: paginas === 2
          }"
        >
          {{ "landingNuestros" | translate }} <br />
          {{ "landingObjetivos" | translate }}
        </p>

        <div class="linea"></div>

        <p
          (tap)="eventoclick(3)"
          [ngClass]="{
            activo: paginas === 3
          }"
        >
          {{ "landingFAQ" | translate }} <br />
          {{ "landingFAQ1" | translate }}
        </p>
      </div>
      <!-- <div class="menu2">
                <div class="linea"></div>
                <p
                    (tap)="eventoclick(3)"
                    [ngClass]="{
                        'activo': paginas === 3,
                        'notranslate': true
                    }"
                >
                    {{ 'landingFAQ' | translate }} <br> {{ 'landingFAQ1' | translate }}
                </p>
            </div> -->
    </div>
    <div class="lineaverde"></div>
    <!-- <div *ngIf="paginas === 0 && mostrarIdiomas === true" class="idiomas">
      <p
        (tap)="cambiarIdioma('en')"
        [ngClass]="{
          activo: idiomas === 'en',
          notranslate: true
        }"
      >
        en
      </p>
      <div class="linea"></div>
      <p
        (tap)="cambiarIdioma('fr')"
        [ngClass]="{
          activo: idiomas === 'fr',
          notranslate: true
        }"
      >
        fr
      </p>
      <div class="linea"></div>
      <p
        (tap)="cambiarIdioma('es')"
        [ngClass]="{
          activo: idiomas === 'es',
          notranslate: true
        }"
      >
        es
      </p>

      <div class="linea"></div>
      <p
        (tap)="cambiarIdioma('de')"
        [ngClass]="{
          activo: idiomas === 'de',
          notranslate: true
        }"
      >
        de
      </p>
      <div class="linea"></div>
      <p
        (tap)="cambiarIdioma('it')"
        [ngClass]="{
          activo: idiomas === 'it',
          notranslate: true
        }"
      >
        it
      </p>
      <div class="linea"></div>
      <p
        (tap)="cambiarIdioma('pt')"
        [ngClass]="{
          activo: idiomas === 'pt',
          notranslate: true
        }"
      >
        po
      </p>
    </div> -->
  </div>

  <div
    *ngIf="paginas === 0"
    [ngClass]="{
      body: true,
      alturacompleta: true
    }"
    (scroll)="mostrarLineaVerde($event)"
    id="bodylinea"
  >
    <div class="bodyhijo">
     
      <!-- <div class="enGazelook">
        <p>{{ "landingEnGazelook" | translate }}</p>
      </div>
      <div class="contenedorlinea-basta-espacio" id="scrolltitulo">
        <div class="linea1"></div>
      </div> -->

      <div
        [ngClass]="{
          'css-typing': cssTyping,
          'css-typing-false': !cssTyping
        }"
        *ngIf="contador3 === 1"
      >
        <p>
          {{ landingCambiosUrgentes | translate }}
        </p>
        <p>
          {{ landingCambiosUrgentes2 | translate }}
        </p>
        <p>
          {{ landingCambiosUrgentes3 | translate }}
        </p>
        <p>
          {{ landingCambiosUrgentes4 | translate }}
        </p>
        <p>
          {{ landingCambiosUrgentes5 | translate }}
        </p>
      </div>

      <div
      [ngClass]="{
        'css-typing-false': true,
        preline: true
      }"
      *ngIf="contador3 === 2"
    >
      <p class="preline">
        {{ "landingBastaLamentarse" | translate }}
      </p>
    </div>


      <div class="contenedorlinea-basta-espacio" id="scrolltitulo">
        <div class="linea1"></div>
      </div>

      <p class="tituloBlanco" *ngIf="aparecer2">
        {{ "landingAhoranuestroTurno" | translate }}
      </p>

      <div class="marco-general">
        <div
          [ngClass]="{
            circulo: true,
            mostrar: aparecer3
          }"
          id="clavo-pared"
        >
          <!-- <img src="../.././../assets/recursos/clavo_pared_1.svg" alt="" /> -->
        </div>
        <div
          [ngClass]="{
            lineaIzq: true,
            mostrar: aparecer3
          }"
          id="cordon-izquierdo"
        >
          <!-- <img
            src="../.././../assets/recursos/cordon_cuadro_1.svg"
            alt=""
            (load)="imgenCargada2($event)"
          /> -->
        </div>
        <div
          [ngClass]="{
            lineaDer: true,
            mostrar: aparecer3
          }"
          id="cordon-derecho"
        >
          <!-- <img
            src="../.././../assets/recursos/cordon_cuadro_1.svg"
            alt=""
            (load)="imgenCargada3($event)"
          /> -->
        </div>

        <!-- <div
          [ngClass]="{
            martillo: true,
            mostrar: !imagenCargada && !imagenCargada2 && !imagenCargada3
          }"
          *ngIf="aparecer4"
        >
          <img src="../.././../assets/recursos/martillo.png" alt="" />
        </div> -->
        <div
          [ngClass]="{
            marco: true,
            mostrar: aparecer3
          }"
          id="marco-madera"
        >
          <!-- <img
            
            src="../.././../assets/recursos/marco_verde_1.png"
            alt=""
            (load)="imgenCargada($event)"
          /> -->
        </div>

        <div
          [ngClass]="{
            'css-typing-2': cssTyping2,
            'css-typing-2-false': !cssTyping2
          }"
          *ngIf="aparecer5"
        >
          <p>
            {{ "landingEnaltecerlaCondicion2" | translate }}
          </p>
          <p>
            {{ "landingEnaltecerlaCondicion3" | translate }}
          </p>
          <p>
            {{ "landingEnaltecerlaCondicion4" | translate }}
          </p>
          <p>
            {{ "landingEnaltecerlaCondicion5" | translate }}
          </p>
          <p>
            {{ "landingEnaltecerlaCondicion6" | translate }}
          </p>
          <p>
            {{ "landingEnaltecerlaCondicion7" | translate }}
          </p>
          <p>
            {{ "landingEnaltecerlaCondicion8" | translate }}
          </p>
          <p>
            {{ "landingEnaltecerlaCondicion9" | translate }}
          </p>
          <p>
            {{ "landingEnaltecerlaCondicion10" | translate }}
          </p>
          <p>
            {{ "landingEnaltecerlaCondicion11" | translate }}
          </p>
          <p>
            {{ "landingEnaltecerlaCondicion12" | translate }}
          </p>
        </div>
      </div>

      <div class="autonomos" *ngIf="aparecer6">
        <p>{{ "landingIndependientes" | translate }}</p>
      </div>

      <div class="texto-blanco-justificado-bajo-marco" *ngIf="aparecer6">
        <p>
          {{ "landingContribuyaInvitacion2" | translate }}
          <span>
            {{ "landingContribuyaInvitacion3" | translate }}
          </span>

          {{ "landingContribuyaInvitacion4" | translate }}
        </p>
      </div>
      <div
        class="contenedor-sinboton0 boton"
        (tap)="eventoclick(1)"
        *ngIf="aparecer6"
      >
        <p class="sin1 margen-522-top">
          {{ "landingComoOperaGazeMinuscula" | translate }}
        </p>
      </div>

      <div
        (tap)="irAlDemo()"
        class="contenedor-sinboton boton flotante"
        *ngIf="aparecer6"
      >
        <p class="sin2">
          {{ "landingVisiteLaPlataforma" | translate }} <br />
          {{ "landingSinCompromiso" | translate }}
        </p>
      </div>

      <div
        class="contenedorlinea margen-top"
        id="scrolltitulo"
        *ngIf="aparecer7"
      >
        <div class="linea2-delgada"></div>
      </div>

      <div class="visite-oficinas" *ngIf="aparecer7">
        <div class="texto-granja">
          <p>
            {{ "landingVisiteOficinas2" | translate }}
          </p>
        </div>

        <div class="granjacentrado">
          <div
            class="botongranja boton"
            gestorEventos
            (eventoTap)="iralagranja(true)"
          >
            <img
              src="https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/botones/granja-icono-landing.png"
              alt=""
            />
          </div>
        </div>
      </div>

      <div class="espacio-entre-lineas" *ngIf="aparecer7" ></div>
      <div class="contenedorlinea-footer" *ngIf="aparecer7">
        <div class="linea2"></div>
      </div>
      <div class="espacio-entre-lineas" *ngIf="aparecer7" ></div>
      <div class="contenedorlinea-footer" *ngIf="aparecer7">
        <div class="linea2-espacio"></div>
      </div>

      <div class="pwa" *ngIf="aparecer7">
        <div class="texto-pwa">
          <p>
            {{ "m6v12texto14" | translate }}
          </p>
        </div>

        <div class="pwacentrado" (click)="instalarPWA()">
          <div class="botonpwa boton">
            <img
              src="https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/botones/mundogazelook-landing.png"
              alt=""
            />
          </div>
        </div>
      </div>

      <div
        class="contenedorlinea margen-top"
        id="scrolltitulo"
        *ngIf="aparecer7"
      >
        <div class="linea2-delgada"></div>
      </div>
      <div class="footer" *ngIf="aparecer7">
        <div class="contactenos">
          <p
            (tap)="eventoclick(4)"
            [ngClass]="{
              activo: paginas === 4
            }"
          >
            {{ "landingContactenos" | translate }}
          </p>
        </div>

        <div class="docs-legales">
          <p (tap)="irDocumentosLegales()">
            <a>{{ "landingTerminosCondiciones" | translate }}</a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- UNA RED SOCIAL HUMANISTA -->
  <div
    *ngIf="paginas === 1"
    [ngClass]="{
      body: true,
      alturacompleta: true,
      'body-trans-inclusive': paginas === 1
    }"
    id="bodylinea"
  >
    <div class="bodyhijo1">
      <p class="y" *ngIf="contador2 === 2">
        {{ "landingelMundo2" | translate }}
      </p>
      <p class="y1" *ngIf="contador2 === 2">
        {{ "landingLegado" | translate }}
      </p>

      <p class="y" *ngIf="contador2 === 1">
        {{ "landingelMundo3" | translate }}
      </p>

      <!-- <p class="y" *ngIf="contador2 === 3">
        {{ "landingBastaLamentarse" | translate }}
      </p> -->

      <div class="contenedorlinea margen-top" id="scrolltitulo">
        <div class="linea2"></div>
      </div>
      <p class="w-w">
        {{ "landingEntendiendoLaProp" | translate }}
      </p>
      <!-- CUAL ES EL PROPOSITO DE GAZELOOK -->
      <div class="menuinterno" id="menuinterno_0">
        <div class="titulos-conflecha alturados">
          <p
            [ngClass]="{
              titulo: true,
              resaltados: true,
              'activo-main': menu === 0
            }"
            (tap)="eventomenu(0)"
          >
            {{ "landingQuestion" | translate }} <br />
            {{ "landingDemoracia" | translate }}
          </p>
          <img
            [ngClass]="{
              activo: menu === 0 && menusyaabiertos.indexOf(0) < 0,
              yafueabierto: menusyaabiertos.indexOf(0) >= 0,
              margendos: true
            }"
            (tap)="eventomenu(0)"
            id="flecha-menuinterno_0"
            [src]="
              menusyaabiertos.indexOf(0) >= 0
                ? 'https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/botones/forma-texto-leido-landing.png'
                : 'https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/botones/forma-flecha-verde-landing.png'
            "
          />
        </div>

        <div
          id="menuinterno_des_0"
          [ngClass]="{
            desplegable: true,
            mostrar: menu === 0
          }"
        >
          <p class="tituloturquesa semibold">
            {{ "landingPropneAlternativa" | translate }}
          </p>
          <p class="espacio-parrafos">
            {{ "landingVerdaderaDemo" | translate }}
          </p>
          <p class="espacio-parrafos">
            {{ "landingImposibilidad" | translate }}
          </p>
          <p class="espacio-parrafos">
            {{ "landingBiodiversidad" | translate }}
          </p>
          <p class="espacio-parrafos">
            {{ "landingNaturaleza" | translate }}
          </p>
          <div class="contenedorlinea2">
            <div class="linea2"></div>
          </div>
        </div>
      </div>
      <!-- FINALIDAD GAZELOOK -->
      <div class="menuinterno" id="menuinterno_1">
        <div class="titulos-conflecha alturados">
          <p
            [ngClass]="{
              titulo: true,
              resaltados: true,
              'activo-main': menu === 1
            }"
            (tap)="eventomenu(1)"
          >
            {{ "landingProposito" | translate }} <br />
            {{ "landingDeGazelook" | translate }}
          </p>
          <img
            [ngClass]="{
              activo: menu === 1 && menusyaabiertos.indexOf(1) < 0,
              yafueabierto: menusyaabiertos.indexOf(1) >= 0,
              margendos: true
            }"
            (tap)="eventomenu(1)"
            id="flecha-menuinterno_1"
            [src]="
              menusyaabiertos.indexOf(1) >= 0
                ? 'https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/botones/forma-texto-leido-landing.png'
                : 'https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/botones/forma-flecha-verde-landing.png'
            "
          />
        </div>
        <!-- <div *ngIf="menu === 2" class="desplegable"> -->
        <div
          id="menuinterno_des_1"
          [ngClass]="{
            desplegable: true,
            mostrar: menu === 1
          }"
        >
          <!-- <p class="centrado-blanco espacio-especial">
                        {{ 'landingUsamosAlgoritmos' | translate }} <br>  {{ 'landingAcercarseSabiduria' | translate }} <br> {{ 'landingAlrededorFuego' | translate }}
                    </p> -->
          <p class="tituloturquesa semibold">
            {{ "landingIntercomunicayUne" | translate }}
          </p>

          <p class="espacio-parrafos">
            {{ "landingUsuariosProponerMas" | translate }}
          </p>
          <p class="espacio-parrafos">
            {{ "landingProyectosPropuestosUsuarios" | translate }}
          </p>
          <p class="espacio-parrafos">
            {{ "landingDecidirProyectos" | translate }}
          </p>
          <p class="semibold">
            {{ "landingGazelookNoDemocratica" | translate }}
          </p>
          <div
            [ngClass]="{
              padreleermas: true,
              espacioabierto: leermas === 0
            }"
          >
            <p (tap)="eventoleermas(0)" class="leermas">
              {{ "landingLeerMas" | translate }}
            </p>
          </div>
          <p class="espacio-parrafos" *ngIf="leermas === 0">
            {{ "landingUsuarioColabora" | translate }}
          </p>
          <p class="semibold" *ngIf="leermas === 0">
            {{ "landingHechoConAlgoritmos" | translate }}
          </p>

          <p class="espacio-parrafos" *ngIf="leermas === 0">
            {{ "landingForosVariedadTemas" | translate }}
          </p>
          <p class="espacio-parrafos" *ngIf="leermas === 0">
            {{ "landingPorqueNadiePerdedor" | translate }}
          </p>
          <p class="tituloturquesa semibold">
            {{ "landingInvitaUsuariosParticipar" | translate }}
          </p>
          <!-- <p class="centrado-amarillo">
                        {{ 'landingNosConocemosPorMovil' | translate }} <br> {{ 'landingNuestrasReflexionesMovil' | translate }}
                    </p>
                    <p class="espacio-parrafos">
                        {{ 'landingSeccionProyectosPropuestas' | translate }}
                    </p>
                    <p>
                        {{ 'landingComprasLinea' | translate }}
                    </p>
                    <div
                        [ngClass]="{
                            'padreleermas': true,
                            'espacioabierto': leermas === 2
                        }"
                    >
                        <p
                            (tap)="eventoleermas(2)"
                            class="leermas"
                        >
                            {{ 'landingLeerMas' | translate }}
                        </p>
                    </div> -->
          <p class="espacio-parrafos">
            {{ "landingOriginalidad" | translate }}
          </p>
          <p class="espacio-parrafos">
            {{ "landingAdicionalmenteTelefonia" | translate }}
          </p>
          <p class="espacio-parrafos">
            {{ "landingLaPlataformaQueda" | translate }}
          </p>
          <p class="tituloturquesa">
            {{ "landingFuentedeEmpleo" | translate }}
          </p>
          <p class="centradoblanco">
            {{ "landingNota" | translate }}
          </p>
          <div class="contenedorlinea2">
            <div class="linea2"></div>
          </div>
        </div>
      </div>
      <!-- COMO OPERA GAZELOOK -->
      <div class="menuinterno" id="menuinterno_2">
        <div class="titulos-conflecha alturados">
          <p
            [ngClass]="{
              titulo: true,
              resaltados: true,
              'activo-main': menu === 2
            }"
            (tap)="eventomenu(2)"
          >
            {{ "landingComoOpera" | translate }} <br />
            {{ "landingComoOperaGaze2" | translate }}
          </p>
          <img
            [ngClass]="{
              activo: menu === 2 && menusyaabiertos.indexOf(2) < 0,
              yafueabierto: menusyaabiertos.indexOf(2) >= 0,
              margendos: true
            }"
            (tap)="eventomenu(2)"
            id="flecha-menuinterno_2"
            [src]="
              menusyaabiertos.indexOf(2) >= 0
                ? 'https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/botones/forma-texto-leido-landing.png'
                : 'https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/botones/forma-flecha-verde-landing.png'
            "
          />
        </div>
        <!-- <div *ngIf="menu === 3" class="desplegable"> -->
        <div
          id="menuinterno_des_2"
          [ngClass]="{
            desplegable: true,
            mostrar: menu === 2
          }"
        >
          <p class="tituloturquesa semibold">
            {{ "landingGazeDesacuerdo" | translate }}
          </p>
          <!-- <p class="centrado-justificado-blanco">
            {{ "landingIngresosProv" | translate }}
          </p> -->

          <p class="centrado-justificado2-espacio">
            <span style="font-weight: bold; font-size: 20px"> 1. </span>
            {{ "landingUnavezMas" | translate }}
          </p>
          <p class="centrado-justificado2-espacio">
            <span style="font-weight: bold; font-size: 20px"> 2. </span>
            {{ "landingDeducirCostos" | translate }}
          </p>
          <!-- <p class="centrado-justificado2-espacio-grande">
            {{ "landingIngresoAnunciantes" | translate }}
          </p> -->
          <p class="centrado-justificado2-espacio">
            <span style="font-weight: bold; font-size: 20px"> 3. </span>
            {{ "landingPorcentajeGanancia" | translate }}
          </p>

          <p class="centrado-justificado2">
            <span style="font-weight: bold; font-size: 20px"> 4. </span>
            {{ "landing80Proyectos" | translate }}
          </p>

          <!-- <p class="tituloturquesa">
                        {{ 'landingSubscripcionAnual' | translate }}
                    </p> -->
          <!-- <p class="tituloturquesa">
                        {{ 'landingCostosOperacionales' | translate }}
                    </p> -->
          <!-- TITULO TURQUESA-->
          <!-- <p class="entrepuntos">
                        {{ 'landingUnoEjecucionProyectos' | translate }}
                    </p>
                    <p class="entrepuntos">
                        {{ 'landingOchoCuatroSuscripciones' | translate }}
                    </p>
                    <p class="entrepuntos">
                        {{ 'landingOchoCuatroIngresosAnunciantes' | translate }}
                    </p>
                    <p class="entrepuntos">
                        {{ 'landingOchoCuatroAportesVoluntarios' | translate }}
                    </p>
                    <p class="blanco">
                        {{ 'landingGranPorcentaje' | translate }}
                    </p> -->
          <!-- <div
                        [ngClass]="{
                            'padreleermas': true,
                            'espacioabierto': leermas === 1
                        }"
                    >
                        <p
                            (tap)="eventoleermas(1)"
                            class="leermas"
                        >
                            {{ 'landingLeerMas' | translate }}
                        </p>
                    </div>
                    <p
                        class="espacio-parrafos"
                        *ngIf="leermas === 1"
                    >
                        {{ 'landingCuentaFiduiciaria' | translate }}
                    </p> -->
          <!-- <p
                        class="espacio-parrafos"
                        *ngIf="leermas === 3"
                    >
                        {{ 'landingPublicidadFuenteIngreso' | translate }}
                    </p> -->
          <!-- TITULO BOLD -->

          <p class="tituloturquesa semibold">
            {{ "landingLaAdministracion" | translate }}
          </p>
          <p class="espacio-parrafos">
            •{{ "landingResponsabilidadLegal" | translate }}
          </p>
          <p class="espacio-parrafos">
            •{{ "landingControlaLogistica" | translate }}
          </p>
          <p class="espacio-parrafos">
            •{{ "landingEquipoProgramadores" | translate }}
          </p>
          <p class="espacio-parrafos">
            •{{ "landingContratosyContribuciones" | translate }}
          </p>
          <!-- <p class="blanco">
                        {{ 'landingVotosporProyecto' | translate }}
                    </p> -->
          <p class="tituloturquesa semibold">
            {{ "landingTodosFondos" | translate }}
          </p>
          <p class="tituloturquesaPequeno">
            {{ "landingAtraerDonaciones" | translate }}
          </p>
        </div>
      </div>

      <div class="contenedorlinea ancho-dos">
        <div class="linea2"></div>
      </div>
      <div (tap)="irAlDemo()" class="contenedor-sinboton boton">
        <!-- <p class="sin1">
          {{ "landingVisiteLaPlataforma" | translate }}
        </p> -->
        <p class="sin2">
          {{ "landingVisiteLaPlataforma" | translate }} <br />
          {{ "landingSinCompromiso" | translate }}
        </p>
      </div>
      <div class="contenedorlinea margen-top ancho-dos">
        <div class="linea2"></div>
      </div>
      <p class="w-w">
        {{ "landingTemasComplementarios" | translate }}
      </p>
      <!--NECESITAMOS COMUNICARNOS DIGNAMENTE -->
      <div class="menuinterno" id="menuinterno_3">
        <div class="titulos-conflecha">
          <p
            [ngClass]="{
              titulo: true,
              'activo-main': menu === 2
            }"
            (tap)="eventomenu(3)"
          >
            {{ "landingNecesitamosComunicar" | translate }} <br />
            {{ "landingConDignidad" | translate }}
          </p>
          <img
            [ngClass]="{
              activo: menu === 3 && this.menusyaabiertos.indexOf(3) < 0,
              yafueabierto: menusyaabiertos.indexOf(3) >= 0
            }"
            (tap)="eventomenu(3)"
            id="flecha-menuinterno_3"
            [src]="
              menusyaabiertos.indexOf(3) >= 0
                ? 'https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/botones/forma-texto-leido-landing.png'
                : 'https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/botones/forma-flecha-verde-landing.png'
            "
          />
        </div>
        <div
          id="menuinterno_des_3"
          [ngClass]="{
            desplegable: true,
            mostrar: menu === 3
          }"
        >
          <p class="espacio-especial">
            {{ "landingComunicarseInformacion" | translate }}
          </p>
          <p class="espacio-parrafos">
            {{ "landingHoyEnDia" | translate }}
          </p>
          <p class="semibold">
            {{ "landingProntoPosibilidades" | translate }}
          </p>
          <p class="celeste semibold">
            {{ "landingCuidado" | translate }}
          </p>
          <p class="espacio-parrafos">
            {{ "landingEnEstaBatalla" | translate }}
          </p>
          <p class="espacio-parrafos">
            {{ "landingGazelookNace" | translate }}
          </p>
          <div class="contenedorlinea2">
            <div class="linea2"></div>
          </div>
        </div>
      </div>
      <!-- PROPUESTA INSPIRADA EN UNA NOVELA -->
      <div class="menuinterno" id="menuinterno_4">
        <div class="titulos-conflecha">
          <p
            [ngClass]="{
              titulo: true,
              'activo-main': menu === 4
            }"
            (tap)="eventomenu(4)"
          >
            {{ "landingPropuestaInspirada" | translate }} <br />
            {{ "landingDeUnaNovela" | translate }}
          </p>
          <img
            [ngClass]="{
              activo: menu === 4 && menusyaabiertos.indexOf(4) < 0,
              yafueabierto: menusyaabiertos.indexOf(4) >= 0
            }"
            (tap)="eventomenu(4)"
            id="flecha-menuinterno_4"
            [src]="
              menusyaabiertos.indexOf(4) >= 0
                ? 'https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/botones/forma-texto-leido-landing.png'
                : 'https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/botones/forma-flecha-verde-landing.png'
            "
          />
        </div>
        <!-- <div
                        *ngIf="menu === 1"
                        class="desplegable"
                    > -->
        <div
          id="menuinterno_des_4"
          [ngClass]="{
            desplegable: true,
            mostrar: menu === 4
          }"
        >
          <p class="espacio-primerparrafo">
            {{ "landingBasadoenFiccion" | translate }}
          </p>
          <div
            [ngClass]="{
              padreleermas: true,
              espacioabierto: leermas === 2
            }"
          >
            <p (tap)="eventoleermas(2)" class="leermas">
              {{ "landingLeerMas" | translate }}
            </p>
          </div>
          <p class="espacio-parrafos" *ngIf="leermas === 2">
            {{ "landingEstaHerramienta" | translate }}
          </p>
          <p class="parrafos-con-leermas">
            {{ "landingEnlaNovela" | translate }}
          </p>
          <div class="contenedorlinea2">
            <div class="linea2"></div>
          </div>
        </div>
      </div>
      <!-- GAZELOOK INVERSIONES -->
      <div class="menuinterno" id="menuinterno_5">
        <div class="titulos-conflecha">
          <p
            [ngClass]="{
              titulo: true,
              'activo-main': menu === 5
            }"
            (tap)="eventomenu(5)"
          >
            {{ "landingGazelook" | translate }} <br />
            {{ "landingInversiones2" | translate }}
          </p>
          <img
            [ngClass]="{
              activo: menu === 5 && menusyaabiertos.indexOf(5) < 0,
              yafueabierto: menusyaabiertos.indexOf(5) >= 0
            }"
            (tap)="eventomenu(5)"
            id="flecha-menuinterno_5"
            [src]="
              menusyaabiertos.indexOf(5) >= 0
                ? 'https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/botones/forma-texto-leido-landing.png'
                : 'https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/botones/forma-flecha-verde-landing.png'
            "
          />
        </div>
        <!-- <div *ngIf="menu === 4" class="desplegable"> -->
        <div
          id="menuinterno_des_5"
          [ngClass]="{
            desplegable: true,
            mostrar: menu === 5
          }"
        >
          <!-- TITULO TURQUESA -->
          <p class="proyectosGCL-1">
            <span style="font-weight: bold; font-size: 20px"> 1. </span>
            {{ "landingPorcentajeReservadoProyectos" | translate }}
          </p>
          <p class="semibold">
            {{ "landingProyectosLocales" | translate }}
          </p>
          <p class="o semibold">
            {{ "landingO" | translate }}
          </p>
          <p class="semibold">
            {{ "landingProyectosPaises" | translate }}
          </p>
          <p class="o semibold">
            {{ "landingO" | translate }}
          </p>
          <p class="proyectosGCL semibold">
            {{ "landingProyectosNuestraRed" | translate }}
          </p>
          <p class="o semibold">
            {{ "landingO" | translate }}
          </p>
          <p class="proyectosGCL semibold">
            {{ "landingProyectosMundiales" | translate }}
          </p>
          <!-- <p class="espacio-parrafos">
            {{ "landingLosTiposProyectos" | translate }}
          </p> -->
          <!-- TITULO TURQUESA -->
          <p class="tituloturquesa semibold">
            <span style="font-weight: bold; font-size: 20px"> 2. </span>
            {{ "landingDelegadoInversiones" | translate }}
          </p>
          <p class="espacio-parrafos">
            {{ "landingRedSocialContrata" | translate }}
          </p>
          <p class="espacio-parrafos">
            {{ "landingTiposdeAlianzas" | translate }}
          </p>
          <p class="espacio-parrafos">
            {{ "landingTiposdeAlianzas2" | translate }}
          </p>
          <div class="contenedorlinea2">
            <div class="linea2"></div>
          </div>
        </div>
      </div>
      <!-- POR QUE CONFIAR EN GAZELOOK -->
      <div class="menuinterno" id="menuinterno_6">
        <div class="titulos-conflecha">
          <p
            [ngClass]="{
              titulo: true,
              'activo-main': menu === 6
            }"
            (tap)="eventomenu(6)"
          >
            {{ "landingConfiar" | translate }} <br />
            {{ "landingConfiarGazelook2" | translate }}
          </p>
          <img
            [ngClass]="{
              activo: menu === 6 && menusyaabiertos.indexOf(6) < 0,
              yafueabierto: menusyaabiertos.indexOf(6) >= 0
            }"
            (tap)="eventomenu(6)"
            id="flecha-menuinterno_6"
            [src]="
              menusyaabiertos.indexOf(6) >= 0
                ? 'https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/botones/forma-texto-leido-landing.png'
                : 'https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/botones/forma-flecha-verde-landing.png'
            "
          />
        </div>
        <!-- <div *ngIf="menu === 5" class="desplegable"> -->
        <div
          id="menuinterno_des_6"
          [ngClass]="{
            desplegable: true,
            mostrar: menu === 6
          }"
        >
          <p class="tituloturquesa semibold">
            {{ "landingAccesoaFinanzas" | translate }}
          </p>
          <p class="espacio-parrafos">
            {{ "landingNecesitaMuchoTrabajo" | translate }}
          </p>

          <div class="contenedorlinea2">
            <div class="linea2"></div>
          </div>
        </div>
      </div>
      <!-- EQUIPO CREADOR DE GAZELOOK -->
      <div class="menuinterno" id="menuinterno_7">
        <div class="titulos-conflecha">
          <p
            [ngClass]="{
              titulo: true,
              'activo-main': menu === 7
            }"
            (tap)="eventomenu(7)"
          >
            {{ "landingEquipo" | translate }} <br />
            {{ "landingCreador" | translate }}
          </p>
          <img
            [ngClass]="{
              activo: menu === 7 && menusyaabiertos.indexOf(7) < 0,
              yafueabierto: menusyaabiertos.indexOf(7) >= 0
            }"
            (tap)="eventomenu(7)"
            id="flecha-menuinterno_7"
            [src]="
              menusyaabiertos.indexOf(7) >= 0
                ? 'https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/botones/forma-texto-leido-landing.png'
                : 'https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/botones/forma-flecha-verde-landing.png'
            "
          />
        </div>
        <!-- <div *ngIf="menu === 6" class="desplegable"> -->
        <div
          id="menuinterno_des_7"
          [ngClass]="{
            desplegable: true,
            mostrar: menu === 7
          }"
        >
          <p class="espacio-especial">
            {{ "landingFilosofosCientificos" | translate }}
          </p>
          <p class="espacio-parrafos">
            {{ "landingDesafortunadamenteMundo" | translate }}
          </p>
          <p class="semibold">
            {{ "landingFinalmentePolitica" | translate }}
          </p>
          <ul class="marcoLista">
            <li>
              <p>
                {{ "landingRecuperarHumano" | translate }}
              </p>
            </li>
            <!-- <li>
                            <p>
                                {{ 'landingColaborarPlaneta' | translate }}
                            </p>
                        </li> -->
            <li>
              <p>
                {{ "landingProyectoSignificativo" | translate }}
              </p>
            </li>
            <li>
              <p>
                {{ "landingIntegrarProcesoCambio" | translate }}
              </p>
            </li>
            <li>
              <p>
                {{ "landingGazelookEjemploInspiracion" | translate }}
              </p>
            </li>
          </ul>
          <div class="contenedorlinea2">
            <div class="linea2"></div>
          </div>
        </div>
      </div>
      <!-- OFICINAS DE GAZELOOK -->
      <div class="menuinterno" id="menuinterno_8">
        <div class="titulos-conflecha">
          <p
            [ngClass]="{
              titulo: true,
              'activo-main': menu === 8
            }"
            (tap)="eventomenu(8)"
          >
            {{ "landingOficinas" | translate }} <br />
            {{ "landingOficinasGazelook2" | translate }}
          </p>
          <img
            [ngClass]="{
              activo: menu === 8 && menusyaabiertos.indexOf(8) < 0,
              yafueabierto: menusyaabiertos.indexOf(8) >= 0
            }"
            (tap)="eventomenu(8)"
            id="flecha-menuinterno_8"
            [src]="
              menusyaabiertos.indexOf(8) >= 0
                ? 'https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/botones/forma-texto-leido-landing.png'
                : 'https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/botones/forma-flecha-verde-landing.png'
            "
          />
        </div>

        <div
          id="menuinterno_des_8"
          [ngClass]="{
            desplegable: true,
            mostrar: menu === 8
          }"
        >
          <p class="espacio-especial">
            {{ "landingEmpezamosEnEuropa" | translate }}
          </p>
          <p class="espacio-parrafos">
            {{ "landingLejosMundoSaturado" | translate }}
          </p>
          <p class="espacio-parrafos">
            {{ "landingVoluntariosUsuarios" | translate }}
          </p>
          <p class="espacio-entrecontacto">
            {{ "landingTodosBienvenidos" | translate }}
          </p>
          <p class="contactenos boton" (tap)="eventoclick(4)">
            {{ "landingContactoAzul" | translate }}
          </p>
          <div>
            <p class="visitegranja">
              {{ "landingVisiteLaGranja" | translate }}
            </p>
          </div>
          <div class="granjacentrado botongranja" (tap)="iralagranja()">
            <img
              src="https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/botones/granja-icono-landing.png"
            />
          </div>
          <div class="contenedorlinea2">
            <div class="linea2"></div>
          </div>
        </div>
      </div>

      <div class="menuinterno">
        <p class="no-olvides-leer">
          {{ "landingNoOlvidesLeer" | translate }}
        </p>
        <div class="titulos-conflecha">
          <p
            [ngClass]="{
              titulo: true,
              'activo-main': false
            }"
            (tap)="eventoclick(2)"
          >
            {{ "landingNuestros" | translate }} <br />
            {{ "landingObjetivos" | translate }}
          </p>
          <img
            [ngClass]="{
              activo: false,
              yafueabierto: false
            }"
            (eventoTap)="eventoclick(2)"
            [src]="
              'https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/botones/forma-flecha-verde-landing.png'
            "
          />
        </div>
      </div>

      <!-- IR A OUR GOALS -->
      <!-- <div
            class="menuinterno"
            id="menuinterno_7"
        >
            <div class="titulos-conflecha">
                <p
                    [ngClass]="{
                        'titulo': true
                    }"
                    (tap)="eventoclick(2)"
                >
                    {{ 'landingNuestros' | translate }}  {{ 'landingObjetivos' | translate }}
                </p>
                <img
                    [ngClass]="{
                        'activo': (menu === 7 && menusyaabiertos.indexOf(7) < 0),
                        'yafueabierto': (menusyaabiertos.indexOf(7) >= 0)
                    }"
                    (eventoTap)="eventoclick(2)"
                    id="flecha-menuinterno_7"
                    [src]="(menusyaabiertos.indexOf(7) >= 0) ?
                        'https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/botones/forma-texto-leido-landing.png'
                        :
                        'https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/botones/forma-flecha-verde-landing.png'"
                />
            </div> -->
      <!-- <div *ngIf="menu === 7" class="desplegable"> -->

      <!--LINEA Y FOOTER X PAG 2 -->
      <div class="contenedorlinea3">
        <div class="linea2"></div>
      </div>
      <p class="w">
        {{ "landingParaExtender2" | translate }}
      </p>

      <div class="contenedorlinea-footer">
        <div class="linea2-1"></div>
      </div>
      <div class="espacio-entre-lineas"></div>
      <div class="contenedorlinea-footer">
        <div class="linea2-1"></div>
      </div>

      <div class="pwa">
        <div class="texto-pwa">
          <p>
            {{ "m6v12texto14" | translate }}
          </p>
        </div>

        <div class="pwacentrado" (click)="instalarPWA()">
          <div class="botonpwa boton" gestorEventos (eventoTap)="convertPwa()">
            <img
              src="https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/botones/mundogazelook-landing.png"
              alt=""
            />
          </div>
        </div>
      </div>

      <div class="contenedorlinea-gris">
        <div class="linea-gris-pwa"></div>
      </div>

      <div class="footer">
        <div class="contactenos">
          <p
            (tap)="eventoclick(4)"
            [ngClass]="{
              activo: paginas === 4
            }"
          >
            {{ "landingContactenos" | translate }}
          </p>
        </div>

        <div class="docs-legales">
          <p (tap)="irDocumentosLegales()">
            <a>{{ "landingTerminosCondiciones" | translate }}</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxx NUESTROS OBJETIVOS xxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
  <div
    *ngIf="paginas === 2"
    [ngClass]="{
      body: true,
      alturacompleta: true,
      'body-trans-goals': paginas === 2
    }"
    id="bodylinea"
  >
    <div class="bodyhijo2">
      <p class="titulo1 margendif">
        {{ "landingFinalmentePareceImportante2" | translate }}
      </p>
      <p class="titulo1 cambiocolor margendif">
        {{ "landingHayAlgoQueHacer2" | translate }}
      </p>
      <!-- <p class="titulo1 margendif">
                {{ 'landingParaGazeEsaEsLaCuestion' | translate }}
            </p> -->
      <div class="contenedorlinea-objetivos">
        <div class="linea3"></div>
      </div>
      <!-- MENU 2 CON OBJETIVOS -->
      <!-- PROYECCION FILOSOFICA -->
      <div class="menuinterno" id="menuinterno_9">
        <div class="titulos-conflecha">
          <p
            [ngClass]="{
              titulo: true,
              'activo-main': menu === 8
            }"
            (tap)="eventomenu(9)"
          >
            {{ "landingProyeccionFI" | translate }}
          </p>
          <p
            [ngClass]="{
              titulo: true,
              'activo-main': menu === 9
            }"
            (tap)="eventomenu(9)"
          >
            {{ "landingFilosofica" | translate }}
          </p>
          <img
            [ngClass]="{
              activo: menu === 9 && menusyaabiertos.indexOf(9) < 0,
              yafueabierto: menusyaabiertos.indexOf(9) >= 0
            }"
            (tap)="eventomenu(9)"
            [src]="
              menusyaabiertos.indexOf(9) >= 0
                ? 'https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/botones/forma-texto-leido-landing.png'
                : 'https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/botones/forma-flecha-verde-landing.png'
            "
          />
        </div>

        <div *ngIf="menu !== 9" class="contenedorlinea2">
          <div class="linea2"></div>
        </div>

        <div
          id="menuinterno_des_9"
          [ngClass]="{
            desplegable: true,
            mostrar: menu === 9
          }"
        >
          <p class="espacio-especial2">
            {{ "landingGazeNombreLogo" | translate }}
          </p>
          <p class="espacio-parrafos">
            {{ "landingAsegurarUnaRealidad" | translate }}
          </p>
          <p class="espacio-parrafos">
            {{ "landingGazeNinosenPrimeraFila" | translate }}
          </p>
          <div class="contenedorlinea2">
            <div class="linea2"></div>
          </div>
        </div>
      </div>
      <!-- PROYECCION ECONOMICA -->
      <div class="menuinterno" id="menuinterno_10">
        <div class="titulos-conflecha">
          <p
            [ngClass]="{
              titulo: true,
              'activo-main': menu === 10
            }"
            (tap)="eventomenu(10)"
          >
            {{ "landingProyeccionEC" | translate }}
          </p>
          <p
            [ngClass]="{
              titulo: true,
              'activo-main': menu === 10
            }"
            (tap)="eventomenu(10)"
          >
            {{ "landingEconomica" | translate }}
          </p>
          <img
            [ngClass]="{
              activo: menu === 9 && menusyaabiertos.indexOf(10) < 0,
              yafueabierto: menusyaabiertos.indexOf(10) >= 0
            }"
            (tap)="eventomenu(10)"
            [src]="
              menusyaabiertos.indexOf(10) >= 0
                ? 'https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/botones/forma-texto-leido-landing.png'
                : 'https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/botones/forma-flecha-verde-landing.png'
            "
          />
        </div>

        <div *ngIf="menu !== 10" class="contenedorlinea2">
          <div class="linea2"></div>
        </div>
        <div
          id="menuinterno_des_10"
          [ngClass]="{
            desplegable: true,
            mostrar: menu === 10
          }"
        >
          <p class="texto-turquesa-proj-ec">
            {{ "landingCapitalyMoneda" | translate }}
          </p>
          <p class="espacio-parrafos">
            {{ "landingVerdaderoCapitalNoDinero" | translate }}
          </p>
          <p class="espacio-parrafos">
            {{ "landingEnnoblecimientoSerHumano" | translate }}
          </p>
          <p class="espacio-parrafos">
            {{ "landingIntencionAlargoPlazo" | translate }}
          </p>
          <p class="espacio-parrafos">
            {{ "landingEsComienzodeNegocio" | translate }}
          </p>
          <p class="espacio-parrafos">
            {{ "landingMundoSobreEndeudado" | translate }}
          </p>
          <div class="contenedorlinea2">
            <div class="linea2"></div>
          </div>
        </div>
      </div>
      <!-- PROYECCION PSICOLOGICA -->
      <div class="menuinterno" id="menuinterno_11">
        <div class="titulos-conflecha">
          <p
            [ngClass]="{
              titulo: true,
              'activo-main': menu === 11
            }"
            (tap)="eventomenu(11)"
          >
            {{ "landingProyeccionPS" | translate }}
          </p>
          <p
            [ngClass]="{
              titulo: true,
              'activo-main': menu === 11
            }"
            (tap)="eventomenu(11)"
          >
            {{ "landingPsicologica" | translate }}
          </p>
          <img
            [ngClass]="{
              activo: menu === 11 && menusyaabiertos.indexOf(11) < 0,
              yafueabierto: menusyaabiertos.indexOf(11) >= 0
            }"
            (tap)="eventomenu(11)"
            [src]="
              menusyaabiertos.indexOf(11) >= 0
                ? 'https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/botones/forma-texto-leido-landing.png'
                : 'https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/botones/forma-flecha-verde-landing.png'
            "
          />
        </div>
        <div *ngIf="menu !== 11" class="contenedorlinea2">
          <div class="linea2"></div>
        </div>
        <div
          id="menuinterno_des_10"
          [ngClass]="{
            desplegable: true,
            mostrar: menu === 11
          }"
        >
          <p class="espacio-especial2">
            {{ "landingMiedosyConflictos" | translate }}
          </p>
          <p class="espacio-parrafos">
            {{ "landingProyectoEstudiado" | translate }}
          </p>
          <p class="espacio-parrafos">
            {{ "landingTiposdePerfiles" | translate }}
          </p>
          <p class="espacio-parrafos">
            {{ "landingEsperamosquelaFuerza" | translate }}
          </p>
          <div class="contenedorlinea2">
            <div class="linea2"></div>
          </div>
        </div>
      </div>
      <!-- PROYECCION EDUCATIVA -->
      <div class="menuinterno" id="menuinterno_12">
        <div class="titulos-conflecha">
          <p
            [ngClass]="{
              titulo: true,
              'activo-main': menu === 12
            }"
            (tap)="eventomenu(12)"
          >
            {{ "landingProyeccionED" | translate }}
          </p>
          <p
            [ngClass]="{
              titulo: true,
              'activo-main': menu === 12
            }"
            (tap)="eventomenu(12)"
          >
            {{ "landingEducativa" | translate }}
          </p>
          <img
            [ngClass]="{
              activo: menu === 12 && menusyaabiertos.indexOf(12) < 0,
              yafueabierto: menusyaabiertos.indexOf(12) >= 0
            }"
            (tap)="eventomenu(12)"
            [src]="
              menusyaabiertos.indexOf(12) >= 0
                ? 'https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/botones/forma-texto-leido-landing.png'
                : 'https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/botones/forma-flecha-verde-landing.png'
            "
          />
        </div>
        <div *ngIf="menu !== 12" class="contenedorlinea2">
          <div class="linea2"></div>
        </div>
        <div
          id="menuinterno_des_12"
          [ngClass]="{
            desplegable: true,
            mostrar: menu === 12
          }"
        >
          <p class="espacio-especial2">
            {{ "landingGazeparaEstudiantes" | translate }}
          </p>
          <p class="espacio-parrafos">
            {{ "landingConducimosEncuesta" | translate }}
          </p>
          <p class="espacio-parrafos">
            {{ "landingGazeOportunidadparaEstudiantes" | translate }}
          </p>
          <p class="" style="white-space: pre-line">
            {{ "landingMenoresEdad" | translate }}
          </p>
          <p class="espacio-parrafos">
            {{ "landingMenoresEdad1" | translate }}
          </p>
          <div class="contenedorlinea2">
            <div class="linea2"></div>
          </div>
        </div>
      </div>

      <!-- PROYECCION ECOLOgica -->
      <div class="menuinterno" id="menuinterno_13">
        <div class="titulos-conflecha">
          <p
            [ngClass]="{
              titulo: true,
              'activo-main': menu === 13
            }"
            (tap)="eventomenu(13)"
          >
            {{ "landingProyectoECO" | translate }}
          </p>
          <p
            [ngClass]="{
              titulo: true,
              'activo-main': menu === 13
            }"
            (tap)="eventomenu(13)"
          >
            {{ "landingProyectoECOLOGIA" | translate }}
          </p>
          <img
            [ngClass]="{
              activo: menu === 13 && menusyaabiertos.indexOf(13) < 0,
              yafueabierto: menusyaabiertos.indexOf(13) >= 0
            }"
            (tap)="eventomenu(13)"
            [src]="
              menusyaabiertos.indexOf(13) >= 0
                ? 'https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/botones/forma-texto-leido-landing.png'
                : 'https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/botones/forma-flecha-verde-landing.png'
            "
          />
        </div>
        <div *ngIf="menu !== 13" class="contenedorlinea2">
          <div class="linea2"></div>
        </div>
        <div
          id="menuinterno_des_13"
          [ngClass]="{
            desplegable: true,
            mostrar: menu === 13
          }"
        >
          <p class="espacio-especial2">
            {{ "landingMedidad" | translate }}
          </p>
          <p class="espacio-especial2">
            {{ "landingRestablecerEco" | translate }}
          </p>
          <p class="espacio-especial2">
            {{ "landingPasarAccion" | translate }}
          </p>

          <div class="contenedorlinea2">
            <div class="linea2"></div>
          </div>
        </div>
      </div>
      <!-- PROYECCION ADMINISTRATIVA -->
      <div class="menuinterno margenfinal" id="menuinterno_14">
        <div class="titulos-conflecha">
          <p
            [ngClass]="{
              titulo: true,
              'activo-main': menu === 14
            }"
            (tap)="eventomenu(14)"
          >
            {{ "landingProyeccionAD" | translate }}
          </p>
          <p
            [ngClass]="{
              titulo: true,
              'activo-main': menu === 14
            }"
            (tap)="eventomenu(14)"
          >
            {{ "landingAdministrativa" | translate }}
          </p>
          <img
            [ngClass]="{
              activo: menu === 14 && menusyaabiertos.indexOf(14) < 0,
              yafueabierto: menusyaabiertos.indexOf(14) >= 0
            }"
            (tap)="eventomenu(14)"
            [src]="
              menusyaabiertos.indexOf(14) >= 0
                ? 'https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/botones/forma-texto-leido-landing.png'
                : 'https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/botones/forma-flecha-verde-landing.png'
            "
          />
        </div>
        <div *ngIf="menu !== 14" class="contenedorlinea-final">
          <div class="linea2"></div>
        </div>
        <div
          id="menuinterno_des_14"
          [ngClass]="{
            desplegable: true,
            mostrar: menu === 14
          }"
        >
          <p class="espacio-especial2">
            {{ "landingActualEstructuraAdministrativa" | translate }}
          </p>
          <p>
            {{ "landingRenovarEquipoAdministrativo" | translate }}
          </p>
          <div class="contenedorlinea2 sinmargen-linea">
            <div class="linea2"></div>
          </div>
        </div>
      </div>
      <div (tap)="irAlDemo()" class="contenedor-sinboton boton">
        <!-- <p class="sin1 margen-522-top">
          {{ "landingVisiteLaPlataforma" | translate }}
        </p> -->
        <p class="sin2 margen-522">
          {{ "landingVisiteLaPlataforma" | translate }} <br />
          {{ "landingSinCompromiso" | translate }}
        </p>
      </div>
      <div class="contenedorlinea-footer">
        <div class="linea4"></div>
      </div>
      <div class="espacio-entre-lineas"></div>
      <div class="contenedorlinea-footer">
        <div class="linea4"></div>
      </div>

      <div class="pwa">
        <div class="texto-pwa">
          <p>
            {{ "m6v12texto14" | translate }}
          </p>
        </div>

        <div class="pwacentrado" (click)="instalarPWA()">
          <div class="botonpwa boton" gestorEventos (eventoTap)="convertPwa()">
            <img
              src="https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/botones/mundogazelook-landing.png"
              alt=""
            />
          </div>
        </div>
      </div>
      <div class="contenedorlinea-gris">
        <div class="linea-gris-pwa"></div>
      </div>
      <div class="footer">
        <div class="contactenos">
          <p
            (tap)="eventoclick(4)"
            [ngClass]="{
              activo: paginas === 4
            }"
          >
            {{ "landingContactenos" | translate }}
          </p>
        </div>
        <div class="docs-legales">
          <p (tap)="irDocumentosLegales()">
            <a>{{ "landingTerminosCondiciones" | translate }}</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- PAG FAQS -->
  <div
    *ngIf="paginas === 3"
    [ngClass]="{
      body: true,
      alturacompleta: true,
      'body-trans-faq': paginas === 3
    }"
  >
    <div class="bodyhijo3">
      <!-- <div class="padre-buscador">
                <div class="buscador">
                    <input type="text" placeholder=" {{ 'landingBUSCAR' | translate }}">
                    <img src="https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/botones/landing-buscador.png" alt="">
                </div>
            </div> -->
      <div>
        <p class="titulo1">
          {{ "landingFAQMuchasPreguntas2" | translate }}
        </p>
        <!-- <p class="titulo1 turquesa-link">
                    {{ 'landingLinkApp' | translate }}
                </p> -->
        <p class="titulo2">
          {{ "landingFAQBienvenidasOtras2" | translate }}
        </p>
        <div class="contenedorlinea-objetivos">
          <div class="linea3"></div>
        </div>
      </div>
      <!-- MENU INTERNO PREGUNTAS GENERALES -->
      <div class="menuinterno sinmargen" id="menuinterno_15">
        <div
          [ngClass]="{
            'titulos-conflecha': true,
            'sin-espacio': menu === 15
          }"
          (tap)="eventomenu(15)"
        >
          <p
            [ngClass]="{
              titulo: true,
              'activo-main': menu === 15
            }"
          >
            {{ "landingPreguntasGenerales" | translate }}
          </p>
          <img
            [ngClass]="{
              activo: menu === 15
            }"
            src="https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/botones/forma-flecha-verde-landing.png"
          />
        </div>
      </div>
      <div *ngIf="menu === 15" class="contenedor-pregunta">
        <div class="click-centrado boton" (tap)="cambiarpreguntaAbierta(0)">
          <p class="pregunta-sinmargen">
            {{ "landingPreGen1" | translate }}
          </p>
        </div>
        <p *ngIf="preguntaAbierta === 0" class="respuestas">
          {{ "landingRes1Gen1" | translate }} <br />
          {{ "landingRes2Gen1" | translate }} <br />
          {{ "landingRes3Gen1" | translate }} <br />
          {{ "landingRes4Gen1" | translate }} <br />
          {{ "landingRes5Gen1" | translate }}
        </p>
        <div class="contenedorlinea-pregunta">
          <div class="linea-pregunta"></div>
        </div>
      </div>
      <div *ngIf="menu === 15" class="contenedor-pregunta">
        <div class="click-centrado boton" (tap)="cambiarpreguntaAbierta(1)">
          <p class="pregunta-sinmargen">
            {{ "landingPreGen2" | translate }}
          </p>
        </div>
        <p *ngIf="preguntaAbierta === 1" class="respuestas">
          {{ "landingRes1Gen2" | translate }} <br />
          {{ "landingRes2Gen2" | translate }} <br />
          {{ "landingRes3Gen2" | translate }}
        </p>
        <div class="contenedorlinea-pregunta">
          <div class="linea-pregunta"></div>
        </div>
      </div>
      <div *ngIf="menu === 15" class="contenedor-pregunta">
        <div class="click-centrado boton" (tap)="cambiarpreguntaAbierta(2)">
          <p class="pregunta-sinmargen">
            {{ "landingPreGen3" | translate }}
          </p>
        </div>
        <p *ngIf="preguntaAbierta === 2" class="respuestas">
          {{ "landingRes1Gen3" | translate }} <br />
          {{ "landingRes2Gen3" | translate }}
        </p>
        <div class="contenedorlinea-pregunta">
          <div class="linea-pregunta"></div>
        </div>
      </div>
      <div *ngIf="menu === 15" class="contenedor-pregunta">
        <div class="click-centrado boton" (tap)="cambiarpreguntaAbierta(3)">
          <p class="pregunta-sinmargen">
            {{ "landingPreGen4" | translate }}
          </p>
        </div>
        <p *ngIf="preguntaAbierta === 3" class="respuestas">
          {{ "landingRes1Gen4" | translate }} <br />
          {{ "landingRes2Gen4" | translate }} <br />
          {{ "landingRes3Gen4" | translate }}
        </p>
        <div class="contenedorlinea-pregunta">
          <div class="linea-pregunta"></div>
        </div>
      </div>
      <div *ngIf="menu === 15" class="contenedor-pregunta">
        <div class="click-centrado boton" (tap)="cambiarpreguntaAbierta(4)">
          <p class="pregunta-sinmargen">
            {{ "landingPreGen5" | translate }}
          </p>
        </div>
        <p *ngIf="preguntaAbierta === 4" class="respuestas">
          {{ "landingRes1Gen5" | translate }} <br />
          {{ "landingRes2Gen5" | translate }} <br />
          {{ "landingRes3Gen5" | translate }}
        </p>
        <div class="contenedorlinea-pregunta">
          <div class="linea-pregunta"></div>
        </div>
      </div>

      <div *ngIf="menu === 15" class="contenedor-pregunta">
        <div class="click-centrado boton" (tap)="cambiarpreguntaAbierta(6)">
          <p class="pregunta-sinmargen">
            {{ "landingPreGen7" | translate }}
          </p>
        </div>
        <p *ngIf="preguntaAbierta === 6" class="respuestas">
          {{ "landingRes1Gen7" | translate }} <br />
          {{ "landingRes2Gen7" | translate }} <br />
          {{ "landingRes3Gen7" | translate }} <br />
          {{ "landingRes4Gen7" | translate }} <br />
          {{ "landingRes5Gen7" | translate }}
        </p>
        <div class="contenedorlinea-pregunta">
          <div class="linea-pregunta"></div>
        </div>
      </div>
      <div *ngIf="menu === 15" class="contenedor-pregunta">
        <div class="click-centrado boton" (tap)="cambiarpreguntaAbierta(7)">
          <p class="pregunta-sinmargen">
            {{ "landingPreGen8" | translate }}
          </p>
        </div>
        <p *ngIf="preguntaAbierta === 7" class="respuestas">
          {{ "landingRes1Gen8" | translate }} <br />
          {{ "landingRes2Gen8" | translate }}
        </p>
        <div class="contenedorlinea-pregunta">
          <div class="linea-pregunta"></div>
        </div>
      </div>
      <div *ngIf="menu === 15" class="contenedor-pregunta">
        <div class="click-centrado boton" (tap)="cambiarpreguntaAbierta(8)">
          <p class="pregunta-sinmargen">
            {{ "landingPreGen9" | translate }}
          </p>
        </div>
        <p *ngIf="preguntaAbierta === 8" class="respuestas">
          {{ "landingRes1Gen9" | translate }} <br />
          {{ "landingRes2Gen9" | translate }} <br />
          {{ "landingRes3Gen9" | translate }}
        </p>
        <div class="contenedorlinea-pregunta">
          <div class="linea-pregunta"></div>
        </div>
      </div>
      <div *ngIf="menu === 15" class="contenedor-pregunta">
        <div class="click-centrado boton" (tap)="cambiarpreguntaAbierta(9)">
          <p class="pregunta-sinmargen">
            {{ "landingPreGen10" | translate }}
          </p>
        </div>
        <p *ngIf="preguntaAbierta === 9" class="respuestas">
          {{ "landingRes1Gen10" | translate }} <br />
          {{ "landingRes2Gen10" | translate }} <br />
          {{ "landingRes3Gen10" | translate }} <br />
          {{ "landingRes4Gen10" | translate }}
        </p>
        <div class="contenedorlinea-pregunta">
          <div class="linea-pregunta"></div>
        </div>
      </div>

      <div *ngIf="menu === 15" class="contenedor-pregunta">
        <div class="click-centrado boton" (tap)="cambiarpreguntaAbierta(10)">
          <p class="pregunta-sinmargen">
            {{ "landingPreGen11" | translate }}
          </p>
        </div>
        <p *ngIf="preguntaAbierta === 10" class="respuestas">
          {{ "landingRes1Gen11" | translate }} <br />
          {{ "landingRes2Gen11" | translate }} <br />
          {{ "landingRes3Gen11" | translate }}
        </p>
        <div class="contenedorlinea-pregunta">
          <div class="linea-pregunta"></div>
        </div>
      </div>
      <div *ngIf="menu === 15" class="contenedor-pregunta">
        <div class="click-centrado boton" (tap)="cambiarpreguntaAbierta(11)">
          <p class="pregunta-sinmargen">
            {{ "landingPreGen12" | translate }}
          </p>
        </div>
        <p *ngIf="preguntaAbierta === 11" class="respuestas">
          {{ "landingRes1Gen12" | translate }}
        </p>
        <div class="contenedorlinea-pregunta">
          <div class="linea-pregunta"></div>
        </div>
      </div>
      <div *ngIf="menu === 15" class="contenedor-pregunta">
        <div class="click-centrado boton" (tap)="cambiarpreguntaAbierta(12)">
          <p class="pregunta-sinmargen">
            {{ "landingPreGen13" | translate }}
          </p>
        </div>
        <p *ngIf="preguntaAbierta === 12" class="respuestas">
          {{ "landingRes1Gen13" | translate }}
        </p>
        <div class="contenedorlinea-pregunta">
          <div class="linea-pregunta"></div>
        </div>
      </div>
      <div *ngIf="menu === 15" class="contenedor-pregunta">
        <div class="click-centrado boton" (tap)="cambiarpreguntaAbierta(13)">
          <p class="pregunta-sinmargen">
            {{ "landingPreGen14" | translate }}
          </p>
        </div>
        <p *ngIf="preguntaAbierta === 13" class="respuestas">
          {{ "landingRes1Gen14" | translate }} <br />
          {{ "landingRes2Gen14" | translate }} <br />
          {{ "landingRes3Gen14" | translate }}
        </p>
        <div class="contenedorlinea-pregunta">
          <div class="linea-pregunta"></div>
        </div>
      </div>
      <div *ngIf="menu === 15" class="contenedor-pregunta">
        <div class="click-centrado boton" (tap)="cambiarpreguntaAbierta(15)">
          <p class="pregunta-sinmargen">
            {{ "landingPreGen16" | translate }}
          </p>
        </div>
        <p *ngIf="preguntaAbierta === 15" class="respuestas">
          {{ "landingRes1Gen16" | translate }}
        </p>
        <div class="contenedorlinea-pregunta">
          <div class="linea-pregunta"></div>
        </div>
      </div>
      <!-- MENU INTERNO PREGUNTAS UTILITARIAS -->
      <div class="menuinterno sinmargen" id="menuinterno_16">
        <div
          [ngClass]="{
            'titulos-conflecha': true,
            'sin-espacio': menu === 16
          }"
          (tap)="eventomenu(16)"
        >
          <p
            [ngClass]="{
              titulo: true,
              'activo-main': menu === 16
            }"
          >
            {{ "landingPreguntasUtilitarias" | translate }}
          </p>
          <img
            [ngClass]="{
              activo: menu === 16
            }"
            src="https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/botones/forma-flecha-verde-landing.png"
          />
        </div>
      </div>
      <div *ngIf="menu === 16" class="contenedor-pregunta">
        <div class="click-centrado boton" (tap)="cambiarpreguntaAbierta(16)">
          <p class="pregunta-sinmargen">
            {{ "landingPreUti1" | translate }}
          </p>
        </div>
        <p *ngIf="preguntaAbierta === 16" class="respuestas centrado">
          {{ "landingRes1Uti1" | translate }}
        </p>
        <div class="contenedorlinea-pregunta">
          <div class="linea-pregunta"></div>
        </div>
      </div>
      <div *ngIf="menu === 16" class="contenedor-pregunta">
        <div class="click-centrado boton" (tap)="cambiarpreguntaAbierta(17)">
          <p class="pregunta-sinmargen">
            {{ "landingPreUti2" | translate }} <br />
            {{ "landingPreUti2.1" | translate }}
          </p>
        </div>
        <p *ngIf="preguntaAbierta === 17" class="respuestas">
          {{ "landingRes1Uti2" | translate }} <br />
          {{ "landingRes2Uti2" | translate }} <br />
          {{ "landingRes3Uti2" | translate }} <br />
          {{ "landingRes4Uti2" | translate }}
        </p>
        <div class="contenedorlinea-pregunta">
          <div class="linea-pregunta"></div>
        </div>
      </div>
      <div *ngIf="menu === 16" class="contenedor-pregunta">
        <div class="click-centrado boton" (tap)="cambiarpreguntaAbierta(18)">
          <p class="pregunta-sinmargen">
            {{ "landingPreUti3" | translate }}
          </p>
        </div>
        <p *ngIf="preguntaAbierta === 18" class="respuestas">
          {{ "landingRes1Uti3" | translate }} <br />
          {{ "landingRes2Uti3" | translate }} <br />
          {{ "landingRes3Uti3" | translate }} <br />
          {{ "landingRes4Uti3" | translate }}
        </p>
        <div class="contenedorlinea-pregunta">
          <div class="linea-pregunta"></div>
        </div>
      </div>
      <div *ngIf="menu === 16" class="contenedor-pregunta">
        <div class="click-centrado boton" (tap)="cambiarpreguntaAbierta(19)">
          <p class="pregunta-sinmargen">
            {{ "landingPreUti4" | translate }}
          </p>
        </div>
        <p *ngIf="preguntaAbierta === 19" class="respuestas">
          {{ "landingRes1Uti4" | translate }} <br />
          {{ "landingRes2Uti4" | translate }} <br />
          {{ "landingRes3Uti4" | translate }} <br />
          {{ "landingRes4Uti4" | translate }} <br />
          {{ "landingRes5Uti4" | translate }} <br />
          {{ "landingRes6Uti4" | translate }}
        </p>
        <div class="contenedorlinea-pregunta">
          <div class="linea-pregunta"></div>
        </div>
      </div>
      <div *ngIf="menu === 16" class="contenedor-pregunta">
        <div class="click-centrado boton" (tap)="cambiarpreguntaAbierta(20)">
          <p class="pregunta-sinmargen">
            {{ "landingPreUti5" | translate }}
          </p>
        </div>
        <p *ngIf="preguntaAbierta === 20" class="respuestas">
          {{ "landingRes1Uti5" | translate }} <br />
          {{ "landingRes2Uti5" | translate }} <br />
          {{ "landingRes3Uti5" | translate }} <br />
          {{ "landingRes4Uti5" | translate }} <br />
          {{ "landingRes5Uti5" | translate }}
        </p>
        <div class="contenedorlinea-pregunta">
          <div class="linea-pregunta"></div>
        </div>
      </div>
      <div *ngIf="menu === 16" class="contenedor-pregunta">
        <div class="click-centrado boton" (tap)="cambiarpreguntaAbierta(21)">
          <p class="pregunta-sinmargen">
            {{ "landingPreUti6" | translate }}
          </p>
        </div>
        <p *ngIf="preguntaAbierta === 21" class="respuestas">
          {{ "landingRes1Uti6" | translate }}
        </p>
        <div class="contenedorlinea-pregunta">
          <div class="linea-pregunta"></div>
        </div>
      </div>
      <!-- MENU INTERNO PREGUNTAS HABITUALES SOBRE PROYECTOS -->
      <div class="menuinterno sinmargen" id="menuinterno_17">
        <div
          [ngClass]="{
            'titulos-conflecha': true,
            'sin-espacio': menu === 17
          }"
          (tap)="eventomenu(17)"
        >
          <p
            [ngClass]="{
              titulo: true,
              'activo-main': menu === 17
            }"
          >
            {{ "landingPreguntasHabitualesProyectos" | translate }} <br />
            {{ "landingPreguntasHabituales2" | translate }}
          </p>
          <img
            [ngClass]="{
              activo: menu === 17
            }"
            src="https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/botones/forma-flecha-verde-landing.png"
          />
        </div>
      </div>
      <div *ngIf="menu === 17" class="contenedor-pregunta">
        <div class="click-centrado boton" (tap)="cambiarpreguntaAbierta(22)">
          <p class="pregunta-sinmargen">
            {{ "landingPreHabit1" | translate }}
          </p>
        </div>
        <p *ngIf="preguntaAbierta === 22" class="respuestas">
          {{ "landingRes1Habit1" | translate }} <br />
          {{ "landingRes2Habit1" | translate }} <br />
          {{ "landingRes3Habit1" | translate }}
        </p>
        <div class="contenedorlinea-pregunta">
          <div class="linea-pregunta"></div>
        </div>
      </div>
      <div *ngIf="menu === 17" class="contenedor-pregunta">
        <div class="click-centrado boton" (tap)="cambiarpreguntaAbierta(23)">
          <p class="pregunta-sinmargen">
            {{ "landingPreHabit2" | translate }} <br />
            {{ "landingPreHabit2.1" | translate }} <br />
            {{ "landingPreHabit2.2" | translate }}
          </p>
        </div>
        <p *ngIf="preguntaAbierta === 23" class="respuestas">
          {{ "landingRes1Habit2" | translate }} <br />
          {{ "landingRes2Habit2" | translate }} <br />
          {{ "landingRes3Habit2" | translate }}
        </p>
        <div class="contenedorlinea-pregunta">
          <div class="linea-pregunta"></div>
        </div>
      </div>
      <div *ngIf="menu === 17" class="contenedor-pregunta">
        <div class="click-centrado boton" (tap)="cambiarpreguntaAbierta(24)">
          <p class="pregunta-sinmargen">
            {{ "landingPreHabit3" | translate }}
          </p>
        </div>
        <p *ngIf="preguntaAbierta === 24" class="respuestas">
          {{ "landingRes1Habit3" | translate }} <br />
          {{ "landingRes2Habit3" | translate }}
        </p>
        <div class="contenedorlinea-pregunta">
          <div class="linea-pregunta"></div>
        </div>
      </div>
      <div *ngIf="menu === 17" class="contenedor-pregunta">
        <div class="click-centrado boton" (tap)="cambiarpreguntaAbierta(25)">
          <p class="pregunta-sinmargen">
            {{ "landingPreHabit4" | translate }}
          </p>
        </div>
        <p *ngIf="preguntaAbierta === 25" class="respuestas">
          {{ "landingRes1Habit4" | translate }}
        </p>
        <div class="contenedorlinea-pregunta">
          <div class="linea-pregunta"></div>
        </div>
      </div>
      <div *ngIf="menu === 17" class="contenedor-pregunta">
        <div class="click-centrado boton" (tap)="cambiarpreguntaAbierta(26)">
          <p class="pregunta-sinmargen">
            {{ "landingPreHabit5" | translate }}
          </p>
        </div>
        <p *ngIf="preguntaAbierta === 26" class="respuestas">
          {{ "landingRes1Habit5" | translate }}
        </p>
        <div class="contenedorlinea-pregunta">
          <div class="linea-pregunta"></div>
        </div>
      </div>
      <div *ngIf="menu === 17" class="contenedor-pregunta">
        <div class="click-centrado boton" (tap)="cambiarpreguntaAbierta(27)">
          <p class="pregunta-sinmargen">
            {{ "landingPreHabit6" | translate }}
          </p>
        </div>
        <p *ngIf="preguntaAbierta === 27" class="respuestas">
          {{ "landingRes1Habit6" | translate }} <br />
          {{ "landingRes2Habit6" | translate }} <br />
          {{ "landingRes3Habit6" | translate }} <br />
          {{ "landingRes4Habit6" | translate }}
        </p>
        <div class="contenedorlinea-pregunta">
          <div class="linea-pregunta"></div>
        </div>
      </div>

      <div *ngIf="menu === 17" class="contenedor-pregunta">
        <div class="click-centrado boton" (tap)="cambiarpreguntaAbierta(28)">
          <p class="pregunta-sinmargen">
            {{ "landingPreHabit7" | translate }}
          </p>
        </div>
        <p *ngIf="preguntaAbierta === 28" class="respuestas">
          {{ "landingRes1Habit7" | translate }}
        </p>
        <div class="contenedorlinea-pregunta">
          <div class="linea-pregunta"></div>
        </div>
      </div>
      <div *ngIf="menu === 17" class="contenedor-pregunta">
        <div class="click-centrado boton" (tap)="cambiarpreguntaAbierta(29)">
          <p class="pregunta-sinmargen">
            {{ "landingPreHabit8" | translate }}
          </p>
        </div>
        <p *ngIf="preguntaAbierta === 29" class="respuestas">
          {{ "landingRes1Habit8" | translate }} <br />
          {{ "landingRes2Habit8" | translate }} <br />
          {{ "landingRes3Habit8" | translate }}
        </p>
        <div class="contenedorlinea-pregunta">
          <div class="linea-pregunta"></div>
        </div>
      </div>
      <div *ngIf="menu === 17" class="contenedor-pregunta">
        <div class="click-centrado boton" (tap)="cambiarpreguntaAbierta(30)">
          <p class="pregunta-sinmargen">
            {{ "landingPreHabit9" | translate }}
          </p>
        </div>
        <p *ngIf="preguntaAbierta === 30" class="respuestas">
          {{ "landingRes1Habit9" | translate }}
        </p>
        <div class="contenedorlinea-pregunta">
          <div class="linea-pregunta"></div>
        </div>
      </div>
      <div class="menuinterno sinmargen" id="menuinterno_18">
        <div
          [ngClass]="{
            'titulos-conflecha': true,
            'sin-espacio': menu === 18
          }"
          (tap)="eventomenu(18)"
        >
          <p
            [ngClass]="{
              titulo: true,
              'activo-main': menu === 18
            }"
          >
            {{ "landingPreguntasEstrategia" | translate }} <br />
            {{ "landingPreguntasEstrategia2" | translate }}
          </p>

          <img
            [ngClass]="{
              activo: menu === 18
            }"
            src="https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/botones/forma-flecha-verde-landing.png"
          />
        </div>
      </div>
      <div *ngIf="menu === 18" class="contenedor-pregunta">
        <div class="click-centrado boton" (tap)="cambiarpreguntaAbierta(31)">
          <p class="pregunta-sinmargen">
            {{ "landingPreEstrateg1" | translate }}
          </p>
        </div>
        <p *ngIf="preguntaAbierta === 31" class="respuestas">
          {{ "landingRes1Estrateg1" | translate }} <br />
          {{ "landingRes2Estrateg1" | translate }} <br />
          {{ "landingRes3Estrateg1" | translate }} <br />
          {{ "landingRes4Estrateg1" | translate }} <br />
          {{ "landingRes5Estrateg1" | translate }} <br />
          {{ "landingRes6Estrateg1" | translate }} <br />
          {{ "landingRes7Estrateg1" | translate }} <br />
          {{ "landingRes8Estrateg1" | translate }} <br />
          {{ "landingRes9Estrateg1" | translate }}
        </p>
        <div class="contenedorlinea-pregunta">
          <div class="linea-pregunta"></div>
        </div>
      </div>
      <div *ngIf="menu === 18" class="contenedor-pregunta">
        <div class="click-centrado boton" (tap)="cambiarpreguntaAbierta(32)">
          <p class="pregunta-sinmargen">
            {{ "landingPreEstrateg2" | translate }}
          </p>
        </div>
        <p *ngIf="preguntaAbierta === 32" class="respuestas">
          {{ "landingRes1Estrateg2" | translate }} <br />
          {{ "landingRes2Estrateg2" | translate }}
        </p>
        <div class="contenedorlinea-pregunta">
          <div class="linea-pregunta"></div>
        </div>
      </div>
      <!-- MENU INTERNO PREGUNTAS SEGURIDAD -->
      <div class="menuinterno sinmargen" id="menuinterno_19">
        <div
          [ngClass]="{
            'titulos-conflecha': true,
            'sin-espacio': menu === 19
          }"
          (tap)="eventomenu(19)"
        >
          <p
            [ngClass]="{
              titulo: true,
              'activo-main': menu === 19
            }"
          >
            {{ "landingPreguntasSeguridad" | translate }}
          </p>
          <img
            [ngClass]="{
              activo: menu === 19
            }"
            src="https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/botones/forma-flecha-verde-landing.png"
          />
        </div>
      </div>
      <div *ngIf="menu === 19" class="contenedor-pregunta">
        <div class="click-centrado boton" (tap)="cambiarpreguntaAbierta(33)">
          <p class="pregunta-sinmargen">
            {{ "landingPreSeg1" | translate }}
          </p>
        </div>
        <p *ngIf="preguntaAbierta === 33" class="respuestas">
          {{ "landingRes1Seg1" | translate }} <br />
          {{ "landingRes2Seg1" | translate }} <br />
          {{ "landingRes3Seg1" | translate }}
        </p>
        <div class="contenedorlinea-pregunta">
          <div class="linea-pregunta"></div>
        </div>
      </div>
      <div *ngIf="menu === 19" class="contenedor-pregunta">
        <div class="click-centrado boton" (tap)="cambiarpreguntaAbierta(34)">
          <p class="pregunta-sinmargen">
            {{ "landingPreSeg2" | translate }}
          </p>
        </div>
        <p *ngIf="preguntaAbierta === 34" class="respuestas">
          {{ "landingRes1Seg2" | translate }}
        </p>
        <div class="contenedorlinea-pregunta">
          <div class="linea-pregunta"></div>
        </div>
      </div>
      <div *ngIf="menu === 19" class="contenedor-pregunta espacio-ultimo">
        <div class="click-centrado boton" (tap)="cambiarpreguntaAbierta(35)">
          <p class="pregunta-sinmargen">
            {{ "landingPreSeg3" | translate }}
          </p>
        </div>
        <p *ngIf="preguntaAbierta === 35" class="respuestas">
          {{ "landingRes1Seg3" | translate }} <br />
          {{ "landingRes2Seg3" | translate }}
        </p>
        <div class="contenedorlinea-pregunta">
          <div class="linea-pregunta"></div>
        </div>
      </div>
      <!-- BOTON -->
      <div (tap)="irAlDemo()" class="contenedor-sinboton boton">
        <!-- <p class="sin1">
          {{ "landingVisiteLaPlataforma" | translate }}
        </p> -->
        <p class="sin2 margen-522">
          {{ "landingVisiteLaPlataforma" | translate }} <br />
          {{ "landingSinCompromiso" | translate }}
        </p>
      </div>
      <div class="espacio-entre-lineas"></div>
      <div class="contenedorlinea-footer">
        <div class="linea2"></div>
      </div>
      <div class="espacio-entre-lineas"></div>
      <div class="contenedorlinea-footer">
        <div class="linea2"></div>
      </div>

      <div class="pwa">
        <div class="texto-pwa">
          <p>
            {{ "m6v12texto14" | translate }}
          </p>
        </div>

        <div class="pwacentrado" (click)="instalarPWA()">
          <div class="botonpwa boton" gestorEventos (eventoTap)="convertPwa()">
            <img
              src="https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/botones/mundogazelook-landing.png"
              alt=""
            />
          </div>
        </div>
      </div>
      <div class="contenedorlinea-gris">
        <div class="linea-gris-pwa"></div>
      </div>
      <div class="footer">
        <div class="contactenos">
          <p
            (tap)="eventoclick(4)"
            [ngClass]="{
              activo: paginas === 4
            }"
          >
            {{ "landingContactenos" | translate }}
          </p>
        </div>
        <div class="docs-legales">
          <p (tap)="irDocumentosLegales()">
            <a>{{ "landingTerminosCondiciones" | translate }}</a>
          </p>
        </div>

        <!-- <div class="docs-legales">
          <p>
            <a>{{ "landingTerminosCondiciones" | translate }}</a>
            &nbsp; / &nbsp;
            <a>{{ "landingPoliticasPrivacidad" | translate }} </a>
          </p>
        </div>

        <div class="docs-legales">
          <p>
            <a>{{ "landingPoliticaCookies" | translate }}</a>
            &nbsp; / &nbsp;
            <a>{{ "landingAvisoLegal" | translate }} </a>
          </p>
        </div> -->
      </div>
    </div>
  </div>
  <!-- CONTACT US -->
  <div *ngIf="paginas === 4" class="body alturacompleta">
    <div class="bodyhijo4">
      <p class="titulo2">
        {{ "landingBienvenidos" | translate }}
      </p>
      <p class="titulo1 espacio-menor">
        {{ "m6v12texto2" | translate }}
      </p>

      <p class="titulo1 espacio-adicional">
        {{ "m6v12texto5" | translate }}
      </p>

      <input
        type="text"
        placeholder=" {{ 'landingNombre' | translate }}"
        class="input-form"
        [(ngModel)]="nombre"
        autocomplete="nope"
      />
      <input
        type="email"
        placeholder=" {{ 'landingEmail' | translate }}"
        class="input-form"
        [(ngModel)]="email"
        autocomplete="nope"
      />
      <input
        type="text"
        placeholder=" {{ 'landingPais' | translate }}"
        class="input-form"
        [(ngModel)]="pais"
        autocomplete="nope"
      />
      <input
        type="text"
        placeholder=" {{ 'landingDireccion' | translate }}"
        class="input-form"
        [(ngModel)]="direccion"
        autocomplete="nope"
      />
      <!-- <input
        type="text"
        placeholder=" {{ 'landingTema' | translate }}"
        class="input-form margen-diferente"
        [(ngModel)]="tema"
        autocomplete="nope"
      /> -->

      <select name="miselect2" [(ngModel)]="tema">
        <option [value]="''" disabled selected hidden>
          {{ "m6v11texto8" | translate }}
        </option>
        <option value="{{ 'm6v11texto11' | translate }}">
          {{ "m6v11texto11" | translate }}
        </option>
        <option value="{{ 'm6v11texto12' | translate }}">
          {{ "m6v11texto12" | translate }}
        </option>
        <option value="{{ 'm6v11texto13' | translate }}">
          {{ "m6v11texto13" | translate }}
        </option>
        <option value="{{ 'm6v11texto15' | translate }}">
          {{ "m6v11texto15" | translate }}
        </option>
        <option value="{{ 'm6v11texto16' | translate }}">
          {{ "m6v11texto16" | translate }}
        </option>
        <option value="{{ 'm6v11texto17' | translate }}">
          {{ "m6v11texto17" | translate }}
        </option>
      </select>

      <p class="texto-mensaje">
        {{ "landingMensaje" | translate }}
      </p>
      <!-- <img src="https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/fondos/forma-amarilla-contactenos.jpg" alt=""/> -->
      <div class="cuadro-texto">
        <div class="cuadro">
          <textarea autocomplete="nope" [(ngModel)]="mensaje"></textarea>
        </div>
      </div>
      <div class="padreboton">
        <div *ngIf="contactUs === true">
          <a
            class="adGoogle"
            id="adGoogle"
            onclick="return gtag_report_conversion('http://m.gazelook.com/web');"
            >ADS GOOGLE</a
          >
          <app-button [botonCompartido]="configBotonPagoExtra"></app-button>
        </div>

        <div class="texto" *ngIf="mensajeCorreo">
          <p>
            {{ textoMensaje }}
          </p>
        </div>
      </div>
      <div class="texto-error" *ngIf="errorMsj">
        <p>
          {{ textoMensajeError }}
        </p>
      </div>
      <!-- <div class="padreboton">
                <div class="boton"  (tap)='enviarFormularioContactanos()'*ngIf="contactUs === true" >
                    <p class="boton-celeste">
                        {{ 'landingEnviar' | translate }}
                    </p>
                </div>
                <div class="texto" *ngIf="mensajeCorreo">
                    <p>
                        {{ textoMensaje}}
                    </p>
                </div>
            </div> -->
    </div>
  </div>
</div>
