@import "../../../../../assets/estilos/dimensiones.scss";
@import "../../../../../assets/estilos/colores.scss";
.letra{
    font-size: x-small;
}
.cuerpoPensamiento{      
    width: $ancho-pagina;
    height: calcular(131.8643);    
    padding: $interlineado-8 0 0 0;
    box-sizing: border-box;   
}
.divIndicacionesPensamientos{
    //width: $ancho-pagina - (($espacio-0658 - $espacio-267) * 2);    
    width: 100%;
    //width: calc(100vh - #{$espacio-267});
    box-sizing: border-box;
    padding-left: $espacio-0178;
    padding-right: $espacio-0178;
    
}
.centrar2{
    display: table-cell;
    vertical-align: middle;
}
.div316{
    width: 100%;
    height: $espacio-0316;
}
.div178{
    width: 100%;
    height: $interlineado-2;
}