@import "../../../../assets/estilos/dimensiones.scss";
@import "../../../../assets/estilos/colores.scss";

$icono-audio-diametro: calcular(13.1);
$descripcion-ancho: calcular(94.66);
$descripcion-alto-min: calcular(95.39);
$descripcion-border-radio: calcular(1.567);
$descripcion-padding-top: calcular(1.78);
$descripcion-padding-bottom: calcular(3.16);
$descripcion-contador-padding-bottom: calcular(1.78);
$descripcion-padding-right-left: calcular(2.67);

.cuerpo {
    background: $blanco;
    position: relative;
    padding: 0 !important;

    &.con-barra-inferior {
        height: $cuerpo-con-barra-inferior-alto-e-instrucciones;
    }

    .capa {
        position: absolute;
        width: 100%;
        height: 100%;

        z-index: -1;
        opacity: 0;
        box-sizing: border-box;

        &.mostrar {
            z-index: 1;
            opacity: 1;
        }

        &.loader {
            display: flex;
            align-items: center;
            justify-content: center;
            background: #ffffff;
        }

        &.errordiv {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-flow: column;
            box-sizing: border-box;
            padding: 0 calcular(4);

            & div {
                width: 100%;
                margin-bottom: calcular(2) !important;
                text-align: center;
            }
        }

        &.formulario {
            width: 100%;
            height: 100%;
            overflow-y: auto;

            .contenido {
                width: 100%;
                box-sizing: border-box;
                padding: $espacio-0316 $espacio-267 $espacio-522 $espacio-267;

                &.sinPaddingTop {
                    padding: $espacio-0178 $espacio-267 0 $espacio-267;
                }

                & .aviso {
                    width: 100%;
                    margin-bottom: $espacio-0316 - $defecto-total;

                    & p {
                        text-align: center;
                    }
                }

                & .titulo {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: $espacio-0316 !important;

                    & p {
                        text-align: center;
                    }
                }

                & .inputs {
                    width: 100%;
                    margin-bottom: $espacio-0316;

                    &.caja {
                        width: 100%;
                        height: fit-content;

                        display: flex;
                        flex-flow: row;
                        align-items: center;
                        justify-content: space-between;

                        & .fila {
                            width: calc((100% - #{$espacio-0139}) / 2);

                            &.uno {
                                margin-right: $espacio-0139;
                            }
                        }

                        &.a {
                            & .fila.uno {
                                width: max-content;
                                margin-right: $espacio-522;
                                & input {
                                    text-align: center;
                                }
                            }

                            & .fila.dos {
                                width: fit-content;
                            }
                        }

                        &.b {
                            & .fila.uno {
                                width: 100%;
                                margin: 0 !important;
                            }

                            & .fila.dos {
                                display: none;
                            }
                        }

                        &.c {
                            & .fila input {
                                margin-bottom: 0 !important;
                            }
                        }
                    }

                    &.a {
                        & .fila {
                        }
                    }

                    &.b {
                    }
                }

                & .subtitulo {
                    width: 100%;
                    margin-bottom: $espacio-0178;

                    &.b {
                        & p {
                            text-align: center;
                        }
                    }

                    & p {
                        text-align: left;
                    }
                }

                & .moneda {
                    width: 100%;
                    margin-bottom: $espacio-0178;
                }

                & .botones {
                    width: 100%;
                    margin: $espacio-522 0;
                    padding: 0 $espacio-0658 - $espacio-267;
                    box-sizing: border-box;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    &.soloCompartir {
                        justify-content: center;
                    }
                }

                & .audios {
                    width: 100%;
                    box-sizing: border-box;
                    margin-bottom: $espacio-522;
                    padding-left: $espacio-0658 - $espacio-267;
                    display: flex;
                    flex-flow: row;
                    align-items: center;
                    justify-content: flex-start;

                    & .texto {
                        margin-right: $espacio-0249;

                        & p {
                        }
                    }

                    & .icono {
                        width: $icono-audio-diametro;
                        height: $icono-audio-diametro;
                        border-radius: 50%;

                        & img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }

                & .votar-proyecto {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: $espacio-178;
                }

                & .descripcion-intro {
                    width: 100%;
                    box-sizing: border-box;
                    padding: 0 0 0 $espacio-0658 - $espacio-267;

                    display: flex;
                    flex-flow: column;

                    & p {
                        margin-bottom: $espacio-0178;
                    }
                }

                & .descripcion-contexto {
                    width: 100%;
                    box-sizing: border-box;
                    margin-bottom: $espacio-0316;
                    position: relative;

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    & textarea {
                        position: relative;
                        resize: none;
                        width: $descripcion-ancho;
                        height: fit-content;
                        min-height: $descripcion-alto-min;
                        border-radius: $descripcion-border-radio;
                        padding: $descripcion-padding-top $descripcion-padding-right-left $descripcion-padding-bottom
                            $descripcion-padding-right-left;
                        font-weight: normal;
                        text-align: justify;
                        outline: 0;
                        font-family: "Source Sans Pro", sans-serif;

                        &:focus,
                        &:active {
                            outline: 0;
                        }

                        &::-webkit-input-placeholder {
                            font-family: "Source Sans Pro", sans-serif;
                            color: $negro;
                        }

                        &:-moz-placeholder {
                            color: $negro;
                            font-family: "Source Sans Pro", sans-serif;
                        }

                        &::-moz-placeholder {
                            color: $negro;
                            font-family: "Source Sans Pro", sans-serif;
                        }

                        &:-ms-input-placeholder {
                            color: $negro;
                            font-family: "Source Sans Pro", sans-serif;
                        }
                    }

                    & .descripcion-contador {
                        position: absolute;
                        bottom: $espacio-0178;
                        right: $espacio-267;
                    }
                }

                & .proyecto-completo {
                    width: 100%;
                    margin-bottom: $espacio-0178;
                    box-sizing: border-box;

                    display: flex;
                    flex-flow: column;
                    align-items: center;
                    justify-content: center;

                    & p {
                        width: 100%;
                        text-align: center;
                    }

                    & .espacio {
                        width: 100%;
                        height: $espacio-0178;
                    }
                }

                & .proyecto-completo-boton {
                    width: 100%;
                    margin-bottom: $espacio-522;

                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                & .link-descripcion {
                    width: 100%;
                    margin-bottom: $espacio-0178;
                    box-sizing: border-box;

                    display: flex;
                    flex-flow: column;
                    align-items: center;
                    justify-content: center;

                    & p {
                        width: 100%;
                        text-align: center;
                    }

                    & .espacio {
                        width: 100%;
                        height: $espacio-0178;
                    }
                }

                & .link-boton {
                    width: 100%;
                    margin-bottom: $espacio-0249;

                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                & .publicar-boton {
                    width: 100%;

                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                & .botones-adicionales {
                    width: 100%;
                    box-sizing: border-box;
                    margin: $espacio-0316 0 $espacio-0249 0;

                    & p {
                        text-align: center;
                        width: 100%;
                        padding: 0 $espacio-0658 - $espacio-267;
                        box-sizing: border-box;
                        margin-bottom: $espacio-178 - $defecto-bottom;
                    }

                    & .opciones {
                        width: 100%;
                        box-sizing: border-box;
                        display: flex;
                        flex-flow: row;
                        align-items: center;
                        justify-content: center;

                        & .espaciador {
                            width: $espacio-0316 + $espacio-522;
                        }
                    }
                }

                & .linea-comentarios {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: $espacio-0249;
                }

                & .borrado-informacion {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: $espacio-0316 - $defecto-bottom;

                    & p {
                        text-align: center;
                    }
                }
            }

            & .total-comentarios {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                padding-top: $espacio-0249;

                &.conPadding {
                    padding-bottom: $espacio-0178;
                }

                & p {
                    text-align: center;
                }
            }

            & .lista-comentarios {
                width: 100%;
                height: fit-content;
                box-sizing: border-box;

                & .grupo-fecha {
                    width: 100%;
                    height: fit-content;
                    box-sizing: border-box;

                    & .contenedor-fecha {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-bottom: $espacio-0249;
                    }

                    & .contenedor-comentarios {
                        width: 100%;
                        margin: $espacio-0139 0 $espacio-522 0;
                        box-sizing: border-box;
                    }
                }

                & .loader-comentarios {
                    width: 100%;
                    box-sizing: border-box;
                    padding: $espacio-0249 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                & .no-mas-items {
                    width: 100%;
                    box-sizing: border-box;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    & p {
                        text-align: center;
                        width: 100%;
                    }
                }
            }
        }
    }
}

.instrucciones-audio {
    width: 100%;
    height: $alto-instrucciones-barra-inferior;
    box-sizing: border-box;
    background-color: $blanco;
    display: flex;
    align-items: center;
    justify-content: center;

    & p {
        text-align: center;
    }
}
