@import "../../../../assets/estilos/dimensiones.scss";
@import "../../../../assets/estilos/colores.scss";

.mensaje {
    width: 100%;
    display: flex;
    flex-flow: column;
    margin-bottom: $espacio-0249;

    & .hora-mensaje {
        padding-right: $espacio-267 * 2;
        padding-left: $espacio-267 * 2;
        padding-bottom: $espacio-0139;
        display: flex;
        &.enviado {
            justify-content: flex-end;
        }
    }
    & .contenido-mensaje {
        position: relative;
        width: 100%;
        z-index: 0;
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        padding-right: $espacio-267;
        padding-left: $espacio-267;

        &.enviado {
            justify-content: flex-end;
        }

        & .reenvio {
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            position: absolute;
            background-color: $tranparencia-reenvio-mensaje;
            z-index: 2;
        }
        & .mostrar {
            display: flex;
        }
        & .loader {
            display: none;
            &.enviado {
                justify-content: flex-end;
            }
            &.mostrar {
                display: flex;
            }
        }
        & .error {
            align-items: center;
            justify-content: center;
            flex-flow: column;
            display: none;
            &.mostrar{
                display: flex;
            }
        }
        & .item-mensaje {
            & .item-proyecto{
                display: flex;
                justify-content: flex-start;
                &.enviado{
                    justify-content: flex-end;
                }
            }
            & .separacion-249 {
                height: $espacio-0249;
            }
            & .separacion-522 {
                height: $espacio-522;
            }
            & .texto-info-status {
                background-color: antiquewhite !important;
            }
            
        }
    }
}
