<div class="mensaje">
    <div [ngClass]="{ 
        'hora-mensaje': true,
        'enviado': configuracion.enviado
        }">
        <p [ngClass]="
        estiloTexto.obtenerEstilosTexto({
          color: estiloTexto.colorDelTexto.TEXTOAZULBASE,
          estiloTexto: estiloTexto.estilosDelTexto.BOLD,
          enMayusculas: false,
          tamanoConInterlineado: estiloTexto.tamanoDeTextoConInterlineado.L1_IGUAL
        })"> ({{ configuracion.fechaCreacion | date: 'HH:mm' }} hrs.)
        </p>
    </div>

    <div [ngClass]="{ 
        'contenido-mensaje': true,
        'enviado': configuracion.enviado
        }" (press)="eventoPress(configuracion.id)" (tap)="eventoTap(configuracion.id)">

        <div [ngClass]="{
        
            'loader': true,
            'enviado': configuracion.enviado,
            'mostrar': configuracion.loader
        }">
            <app-cargando></app-cargando>
        </div>

        <div [ngClass]="{
          
            'error': true, 
            'enviado': configuracion.enviado,
            'mostrar': configuracion.error  &&  !configuracion.loader
        }">
        </div>

        <div [ngClass]="{
        'enviado': configuracion.enviado,
        'mostrar': !configuracion.error  &&  !configuracion.loader
        }">
            <div class="reenvio" *ngIf="configuracion.reenvio"></div>

            <div *ngIf="configuracion.contenido && !configuracion.loader" class="item-mensaje">
                <app-texto-mensaje [configuracion]="configuracionMensajeTexto"></app-texto-mensaje>
            </div>

            <div *ngIf=" configuracion.listaConfiguracionImagenes.length > 0" class="item-mensaje">
                <app-imagen-mensaje *ngFor="let itemImagen of configuracion.listaConfiguracionImagenes"
                    [configuracion]="itemImagen"></app-imagen-mensaje>
            </div>

            <div *ngIf=" configuracion.listaConfiguracionDocumentos.length > 0" class="item-mensaje">

                <app-documento-mensaje *ngFor="let itemDoc of configuracion.listaConfiguracionDocumentos"
                    [configuracion]="itemDoc"></app-documento-mensaje>
            </div>

            <div *ngIf=" configuracion.listaConfiguracionAudios.length > 0" class="item-mensaje">
                <app-audio-mensaje *ngFor="let itemAudio of configuracion.listaConfiguracionAudios"
                    [configuracion]="itemAudio"></app-audio-mensaje>
            </div>

            <div *ngIf="configuracion.listaConfiguracionMensajeCompartidoProyecto.length > 0" [ngClass]="{
                'item-mensaje': true
            }">
                <!--  PROYECTOS -->
                <div *ngFor="let itemProyecto of configuracion.listaConfiguracionMensajeCompartidoProyecto">
                    <div [ngClass]="{
                        'item-proyecto': true,
                        'enviado': configuracion.enviado
                    }">
                        <app-item-proyectos-noticias [configuracion]="itemProyecto.configuracionEntidad">
                        </app-item-proyectos-noticias>
                    </div>
                    <div class="separacion-249"> </div>
                    <div *ngIf="
                        itemProyecto.tipoMensaje === CatalogoTipoMensajeEnum.TRANSFERIR_PROYECTO &&
                        itemProyecto.estatusMensaje === CatalogoEstatusMensajeEnum.ENVIADO &&
                        itemProyecto.propietario.perfil._id !== perfilSeleccionado._id">

                        <app-button [botonCompartido]="itemProyecto.listaAcciones[0]">
                        </app-button>
                        <div class="separacion-522"> </div>
                        <app-button [botonCompartido]="itemProyecto.listaAcciones[1]">
                        </app-button>

                    </div>
                    <div class="texto-info-status">
                        <p *ngIf="itemProyecto.estatusMensaje === CatalogoEstatusMensajeEnum.ACEPTADO" [ngClass]="
                        estiloTexto.obtenerEstilosTexto({
                          color: estiloTexto.colorDelTexto.TEXTOAMARILLOBASE,
                          estiloTexto: estiloTexto.estilosDelTexto.BOLDCONSOMBRA,
                          enMayusculas: true,
                          tamanoConInterlineado: estiloTexto.tamanoDeTextoConInterlineado.L4_IGUAL
                        })"> {{ itemProyecto.infoAccion }}
                        </p>

                        <p *ngIf="itemProyecto.estatusMensaje === CatalogoEstatusMensajeEnum.RECHAZADO" [ngClass]="
                        estiloTexto.obtenerEstilosTexto({
                          color: estiloTexto.colorDelTexto.TEXTOROJOBASE,
                          estiloTexto: estiloTexto.estilosDelTexto.BOLDCONSOMBRA,
                          enMayusculas: true,
                          tamanoConInterlineado: estiloTexto.tamanoDeTextoConInterlineado.L4_IGUAL
                        })"> {{ itemProyecto.infoAccion }}
                        </p>
                    </div>

                </div>

          
            </div>
            <div *ngIf="configuracion.listaConfiguracionMensajeCompartidoNoticia.length > 0" [ngClass]="{
                'item-mensaje': true
            }">
             <!-- NOTICIAS -->
             <div *ngFor="let itemNoticia of configuracion.listaConfiguracionMensajeCompartidoNoticia">
                <div [ngClass]="{
                    'item-proyecto': true,
                    'enviado': configuracion.enviado
                }">
                    <app-item-proyectos-noticias [configuracion]="itemNoticia.configuracionEntidad">
                    </app-item-proyectos-noticias>
                </div>
                <div class="separacion-249"> </div>
            </div>
            </div>
                 

        </div>

    </div>
</div>