@import "../../../../assets/estilos/dimensiones.scss";
@import "../../../../assets/estilos/colores.scss";

.cuerpo {
    position: relative;
    margin: 0 auto;
    padding: 0 !important;

    & .capas {
        position: relative;
        width: 100%;
        height: 100%;

        display: flex;
        align-items: center;
        justify-content: center;

        & .capa {
            position: absolute;
            width: 100%;
            height: 100%;
            box-sizing: border-box;

            display: none;

            &.mostrar {
                display: flex;
            }

            &.principal {
                display: flex;
                flex-flow: column;

                & .titulo {
                    width: 100%;
                    height: 10vw;
                    height: auto;
                    white-space: pre-line;
                    // height: calcular(27.58);
                    // min-height: calcular(15);
                    // height: fit-content;
                    box-sizing: border-box;
                    // // padding: 0 calcular(6.58);
                    padding-top: $espacio-0316 - $defecto-top;
                    padding-bottom: $espacio-0316 - $defecto-bottom;
                    padding-left: calcular(6.58);
                    padding-right: calcular(6.58);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    // background-color: chartreuse;
                    & p {
                        // text-align: center;
                        text-align: justify;
                        // max-width: calcular(63.82);
                        &:nth-child(1) {
                            margin-bottom: $espacio-0178 - $defecto-total;
                            
                        }
                    }
                    & .justificado{
                        text-align: center;
                    }
                    

                }

                & .linea {
                    width: 100%;
                    display: flex;
                    align-content: center;
                    justify-content: center;
                    // margin-bottom: $espacio-0316 - $defecto-bottom;
                }

                & .acciones {
                    width: 100%;
                    padding-top: $espacio-0316 - $defecto-top;
                    padding-bottom: $espacio-522 - $defecto-total;

                    & p {
                        width: 100%;
                        text-align: center;
                        &:nth-child(1) {
                            margin-bottom: $espacio-0178 - $defecto-total;
                        }

                        &:nth-child(2) {
                            margin-bottom: $espacio-0178 - $defecto-total;
                        }
                        &:nth-child(3) {
                            // margin-bottom: $espacio-522 - $defecto-bottom;
                        }
                    }
                }

                & .links {
                    display: flex;
                    flex: 1;
                    flex-flow: column;

                    width: 100%;
                    box-sizing: border-box;
                    margin-bottom: $espacio-522;
                    overflow-y: auto;

                    &.conPaddingTop {
                        padding-top: $espacio-0316;
                    }

                    & .cuadro-submit{
                        // height: 10vw;
                        // width: 10vw;
                        // background-color: red;
                        height: fit-content;
                        width: 100%;
                        padding-top: $espacio-522 - $espacio-0316;
                        // padding-bottom: $espacio-522;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-flow: column;
                        & .espacio-entre-texto-guardado{
                            height: $espacio-0178 - $defecto-total;
                        }
                        & p{
                            text-align: center;
                        }
                    }
                }

                & .modal-data-link {
                    display: none;
                    width: 100%;
                    padding-bottom: $espacio-0316;
                    box-sizing: border-box;

                    &.activo {
                        display: flex;
                        align-content: center;
                        justify-content: center;
                    }

                    & .modal {
                        background-color: $blanco;
                        width: calcular(94.66);
                        border-radius: calcular(2.55);
                        border: calcular(0.49) solid $negro;
                        box-sizing: border-box;
                        height: fit-content;
                        padding: $espacio-0316 $espacio-267 $espacio-0316 $espacio-267;

                        display: flex;
                        flex-flow: row;
                        align-items: center;
                        justify-content: center;

                        & .inputs {
                            height: auto;
                            width: calc(100% - #{ calcular(16) });
                            & input {
                                width: 100%;
                                height: calcular(7.82);
                                background-color: $input-fondo-registro;
                                padding-right: $espacio-0178;
                                // padding-top: $espacio-0178;
                                // padding-bottom: $espacio-0178;
                                box-sizing: border-box;
                                border: none;
                                border-radius: calcular(1.03);
                                
                                &:nth-child(1) {
                                    margin-bottom: $espacio-0316;
                                }
    
                                &::placeholder {
                                    font-weight: bold;
                                    color: $negro;
                                }
                            }
                        }

                        & .boton {
                            padding-left: $espacio-267;
                            width: calcular(16);
                            height: auto;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }
                }

            }
        }
    }
}
