<div 
    *ngIf="configuracion"
    [ngClass]="{
        'done': true,
        'mostrar': configuracion.mostrarDone 
    }"
>
    <div class="caja">
        <div class="titulo">
            <p
                [ngClass]="estiloTexto.obtenerEstilosTexto({ 
                    color: estiloTexto.colorDelTexto.TEXTOAMARILLOBASE, 
                    estiloTexto: estiloTexto.estilosDelTexto.BOLDCONSOMBRA, 
                    enMayusculas: true,
                    tamanoConInterlineado: estiloTexto.tamanoDeTextoConInterlineado.L9_IGUAL 
                })"
            >
                {{'m8v0texto1' | translate }}
            </p>
        </div>
        <div class="titulo"></div>
        <div class="imagen">
            <img
                class="done-mundo"
                src="https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/fondos/forma-mundo.png"
                alt=""
            />
            <img
                class="done-img"
                [src]="urlDone"
                (load)="siImagenEstaCargada($event)"
                alt=""
            />
        </div>
    </div>
</div>