<!-- noticias -->
<section class="noticias" *ngIf="configuracion">
  <!--  titulos seccion -->
  <div [ngClass]="{'paddin-actualizado': paddinNoticiaActualizado && configuracion.esMiPerfil,
  'content-titulos': true }">
    <div [ngClass]="
    estiloTexto.obtenerEstilosTexto({
      color: estiloTexto.colorDelTexto.TEXTOAMARILLOBASE,
      estiloTexto: estiloTexto.estilosDelTexto.REGULAR,
      enMayusculas: true,
      tamanoConInterlineado:
        estiloTexto.tamanoDeTextoConInterlineado.L4_IGUAL
    }) " class="titulo-txt">
      <p>{{ configuracion.titulo | translate }}</p>
    </div>

    <div [ngClass]="
  estiloTexto.obtenerEstilosTexto({
    color: estiloTexto.colorDelTexto.TEXTOBLANCO,
    estiloTexto: estiloTexto.estilosDelTexto.REGULAR,
    enMayusculas: true,
    tamanoConInterlineado:
      estiloTexto.tamanoDeTextoConInterlineado.L2_IGUAL
  }) " class="subtitulo-txt"> {{ configuracion.subtitulo | translate }}
    </div>
  </div>

  <div class="no-noticia" *ngIf="configuracion.noticias.length == 0">
    <!-- sin noticias -->
    <app-item-proyectos-noticias [configuracion]="placeholderNoticia">
    </app-item-proyectos-noticias>
  </div>
  <div [ngClass]="{'contenedor-principal-noticias': !configuracion.resumen}">

    <div *ngIf="configuracion.noticias.length > 0" (scroll)="cargarMas()" id="scroll"
      [ngClass]="{'noticias-contenedor': true,
                  'resumen-noticias': !configuracion.resumen,
                  'no-scroll': configuracion.cargando
                  }">

      <div *ngFor="let configuracionNoticia of configuracion.noticias; let i= index" [ngClass]="{
      'contenedor-item-noticia': true,
      'item-noticia': !configuracion.resumen,
      'sin-margin-derecha': ((i + 1) % 2 === 0)}">

        <!-- resumen -->
        <app-item-proyectos-noticias *ngIf="i < 2 && configuracion.resumen && !configuracion.cargando"
          [configuracion]="configuracionNoticia">
        </app-item-proyectos-noticias>

        <!-- detalle -->
        <app-item-proyectos-noticias *ngIf="!configuracion.resumen" [configuracion]="configuracionNoticia">
        </app-item-proyectos-noticias>
      </div>

      <!-- loader cada petición -->

      <div *ngIf="puedeCargarMas" [ngClass]="{
        'capa': true,
        'loader': true,
        'mostrar': configuracion.cargando
        }">
        <app-cargando></app-cargando>
      </div>

     <!-- loader cargar mas -->
     <div *ngIf="!puedeCargarMas && configuracion.ultimaPagina && !configuracion.resumen" class="loader-interno">

      <app-cargando></app-cargando>
    </div>

      <!-- No hay mas items -->
      <div class="no-more-news" *ngIf="!configuracion.ultimaPagina">
        <p [ngClass]="
        estiloTexto.obtenerEstilosTexto({
          color: estiloTexto.colorDelTexto.TEXTOBLANCO,
          estiloTexto: estiloTexto.estilosDelTexto.REGULAR,
          enMayusculas: true,
          tamanoConInterlineado:
            estiloTexto.tamanoDeTextoConInterlineado.L2_IGUAL
        })
      " class="titulo-txt">
          {{ "texto539" | translate }}
        </p>
      </div>
    </div>

  </div>
</section>
