@import "../../../assets/estilos/dimensiones.scss";
@import "../../../assets/estilos/colores.scss";
@import "../../../assets/estilos/imagenes.scss";

.contenidoGeneral{
    width: $ancho-pagina;
    height: $cuerpo-general;
    //word-break: break-all;
    overflow: hidden; 
}
.contenidoPensamientos{
    width: $ancho-pagina;    
    height: calc(#{$cuerpo-general} - #{$bottom-bar-alto});    
    background-color: white;
    box-sizing: border-box;    
    overflow: scroll; 
}
.padding267{
    padding: 0 $espacio-267 0 $espacio-267;
}
.div249{    
    height: $espacio-0178 - ($defecto-bottom * 2);
}
.div230Caracteres{
    padding-top: $interlineado-8 - $defecto-top;
    padding-right: $espacio-267;
    // padding-bottom: $interlineado-8  - $defecto-bottom;
    padding-bottom: $espacio-522 - $defecto-bottom;
    padding-left: $espacio-267;
}
.div1542{
    width: $espacio-1542;
    height: 12px;
    float: left;
}




.letra{
    font-size: x-small;
}
.cuerpoPensamiento{      
    width: $ancho-pagina;
    height: calcular(131.8643);    
    padding:  ($espacio-522 - $defecto-top) 0 0 0;
    box-sizing: border-box;   
}
.divIndicacionesPensamientos{
    //width: $ancho-pagina - (($espacio-0658 - $espacio-267) * 2);    
    width: 100%;
    //width: calc(100vh - #{$espacio-267});
    box-sizing: border-box;
    padding-left: $espacio-0178;
    padding-right: $espacio-0178;
}
.centrar2{
    display: table-cell;
    vertical-align: middle;
}
.div3161{
    width: 100%;
    height: $espacio-0249 - $defecto-total;
}

.div3162{
    width: 100%;
    height: $espacio-0178 - ($defecto-bottom * 2) - $defecto-top ;
}
.div178{
    width: 100%;
    height: $espacio-0178 - ($defecto-bottom * 2) - $defecto-top ;
}
.div-no-titulos{
    width: 100%;
    height: $letra-3 + $espacio-0249 - $defecto-total;
    // background-color: khaki;
}