<app-appbar 
    *ngIf="configuracionAppBar"
    [configuracion]="configuracionAppBar"
></app-appbar>
<!-- <div *ngIf="cargando;else presentar" class="tranparencia-base cuerpo centrar">
    <app-cargando></app-cargando>
</div> -->
<div class="contenidoGeneral">
    <div class="contenidoPensamientos">
        <div 
            class="centrarText div230Caracteres"
        >
            <p
                *ngIf="mostrarTituloGeneral"
                [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOAZULBASE,
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD,
                    enMayusculas: true,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_I2
                })"
            >
                {{ 'm6v1texto2' | translate }}
            </p>
            <p 
                *ngIf="mostrarInfoPublico"
                [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOAZULBASE,
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD,
                    enMayusculas: true,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L13_IGUAL
                })"
            >
                {{ 'm6v2texto2' | translate }}
            </p>
            <p
                *ngIf="mostrarInfoPrivado"
                [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOAZULBASE,
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD,
                    enMayusculas: true,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L13_IGUAL
                })"
            >
                {{ 'm6v3texto2' | translate }}
            </p>
            <div class="div249"></div>
            <p 
                [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOROJOBASE,
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR,
                    enMayusculas: true,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_I2
                })"
            >
                {{ 'm6v1texto3' | translate }}
            </p>
        </div>
        <div class="padding267 centrar">
            <div
                *ngIf="confBotonPensamientosPublicos"
                class="divBoton"
            >
                <app-button
                    [botonCompartido]='confBotonPensamientosPublicos'
                    class="centrar" 
                ></app-button>
            </div>
            <div class="div1542"></div>
            <div
                *ngIf="confBotonPensamientosPrivados"
                class="divBoton"
            >
                <app-button
                    [botonCompartido]='confBotonPensamientosPrivados'
                    class="centrar" 
                ></app-button>
            </div>
        </div>
        <div 
            class="cuerpoPensamiento centrar2"
        >
            <!-- Pensamientos sin elegir -->
            <div
                *ngIf="tipoDataPensamientoActivo === TipoDataPensamientosEnum.DEFAULT"
            >
                <app-pensamiento-compartido 
                    (unClick)='unClick($event)'
                    (dobleClick)='dobleClick($event)'
                    (clickLargo)='clickLargo($event)'
                    [pensamientoCompartido]='confPensamientoCompartido'
                ></app-pensamiento-compartido>
            </div>
            <!-- Pensamiento publicos -->
            <div 
                *ngIf="tipoDataPensamientoActivo === TipoDataPensamientosEnum.PUBLICOS"
            >
                <div 
                    class="divIndicacionesPensamientos"
                >
                    <p
                        [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({
                            color: estiloDelTextoServicio.colorDelTexto.TEXTOAMARILLOTITULOPENSA,
                            estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD,
                            enMayusculas: true,
                            tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_IGUAL
                        })"
                        class="centrarText"
                    >
                        {{ 'm6v2texto6' | translate }}
                    </p>
                    <div class="div3161"></div>
                    <p 
                        [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({
                            color: estiloDelTextoServicio.colorDelTexto.TEXTONEGRO,
                            estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD,
                            enMayusculas: true,
                            tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L1_I1
                        })"
                        class="centrarText"
                    >
                        {{ 'm6v2texto7' | translate }}
                        <span class="letra-2-con-interlineado-1">2</span>
                        {{ 'm6v2texto8' | translate }}
                    </p>
                    <div class="div178"></div>
                    <p 
                        [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({
                            color: estiloDelTextoServicio.colorDelTexto.TEXTOROJOBASE,
                            estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD,
                            enMayusculas: true,
                            tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L1_I1
                        })"
                        class="centrarText"
                    >
                        {{ 'm6v2texto9' | translate }}
                    </p>
                    <div class="div3162"></div>
                </div>
                <app-pensamiento-compartido
                    (unClick)='unClick($event)'
                    (dobleClick)='dobleClick($event)' 
                    (clickLargo)='clickLargo($event)'
                    [pensamientoCompartido]='confPensamientoCompartido'
                    [dataLista]='confDataListaPensamientosPublicos'
                ></app-pensamiento-compartido>
            </div>
            <!-- Pensamientos privados -->
            <div 
                *ngIf="tipoDataPensamientoActivo === TipoDataPensamientosEnum.PRIVADOS"
            >
                <div
                    class="divIndicacionesPensamientos"
                >
                    <p 
                        [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({
                            color: estiloDelTextoServicio.colorDelTexto.TEXTOROJOBASE,
                            estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD,
                            enMayusculas: true,
                            tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_IGUAL
                        })"
                        class="centrarText"
                    >
                        {{ 'm6v3texto6' | translate }}
                    </p>
                    <div class="div3161"></div>
                    <p 
                        class="bold letra-1-con-interlineado-1 centrarText"
                        [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({
                            color: estiloDelTextoServicio.colorDelTexto.TEXTONEGRO,
                            estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD,
                            enMayusculas: true,
                            tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L1_I1
                        })"
                    >
                        {{ 'm6v3texto7' | translate }} 
                        <span class="letra-2-con-interlineado-1">2</span>
                        {{ 'm6v3texto8' | translate }}
                    </p>
                    <div class="div178"></div>
                    <p 
                        [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({
                            color: estiloDelTextoServicio.colorDelTexto.TEXTOROJOBASE,
                            estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD,
                            enMayusculas: true,
                            tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L1_I1
                        })"
                        class="centrarText"
                    >
                        {{ 'm6v3texto9' | translate }}
                    </p>
                    <div class="div3162"></div>
                </div>
                <app-pensamiento-compartido
                    (unClick)='unClick($event)'
                    (dobleClick)='dobleClick($event)'
                    (clickLargo)='clickLargo($event)'
                    [pensamientoCompartido]='confPensamientoCompartido'
                    [dataLista]='confDataListaPensamientosPrivados'
                ></app-pensamiento-compartido>
            </div>
        </div>
        <app-toast #toast [configuracion]='configuracionToast'></app-toast>
    </div>
    <app-barra-inferior-inline [configuracion]="confBarraInferior"></app-barra-inferior-inline>
</div>
<!-- <ng-template #presentar></ng-template> -->
<app-dialogo [configuracion]="confDialogoEliminarPensamientos"></app-dialogo> 