@import "../../../../assets/estilos/dimensiones.scss";
@import "../../../../assets//estilos/colores.scss";

$borde-radio: calcular(1.03);

$portada-ancho: 100%;
$portada-alto: calcular(71.36);

$portada-boton-ancho: calcular(71.10);
$portada-boton-bigger-ancho: calcular(77.59);
$portada-boton-alto: calcular(27.03);
$portada-boton-padding-top-bottom: calcular(4.55);
$portada-boton-padding-left-right: calcular(4.55);

$portada-info-ancho: calcular(66.96);
$portada-info-alto: calcular(24.13);
$portada-info-padding-top-bottom: calcular(3.16);
$portada-info-padding-left-right: calcular(3.16);

$portada-no-added-ancho: calcular(79.34);

// Sombra del bloque
.sombra-negra {
    box-shadow: calcular(1.30) calcular(1.30) calcular(0.59) calcular(0.59) rgba(0,0,0,0.75);
}

// Colores de los bloques de la portada 
.azul-fuerte {
    background-color: $azul-base;
}
.azul-debil {
    background-color: $azul-opaco;
}
.azul-fuerte-con-opacidad {
    background-color: $azul-base-030;
}
.azul-debil-con-opacidad {
    background-color: $azul-opaco-038;
}
.negro {
    background-color: $negro;
}
.amarillo-base {
    background-color: $amarillo-base;
}

// Portada
.portada {
    position: relative;
    width: $portada-ancho;
    height: $portada-alto;

    & .capa {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: none;

        &.mostrar {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &.loader {
            z-index: 20;
            background-color: #ffffff;
            border-bottom: calcular(0.1226) solid #eee;
        }

        &.imagenportada {    
            z-index: 0;
            mix-blend-mode: multiply;
            object-fit: cover;
        }

        &.menu {
            z-index: 1;
            flex-flow: column;

            & .item {
                position: relative;
                z-index: 1;
        
                border-radius: $borde-radio;
                display: flex;
                align-items: center;
                justify-content: center;
                box-sizing: border-box;
            }

            & .item p {
                text-align: center;
            }
            & .item.bloque-boton {
                position: relative;
                width: $portada-boton-ancho;
                height: fit-content;
                box-sizing: border-box;
        
                margin-bottom: calcular(4.03);
                padding: ($portada-boton-padding-top-bottom  - $defecto-top) $portada-boton-padding-left-right ($portada-boton-padding-top-bottom  - $defecto-bottom) ;
            }

            & .item.bloque-boton-noticia {
                position: relative;
                width: $portada-boton-bigger-ancho;
                height: $portada-boton-alto;
                padding: ($portada-boton-padding-top-bottom  - $defecto-top) $portada-boton-padding-left-right $portada-boton-padding-top-bottom $portada-boton-padding-left-right;

                &.con-botones {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-flow: column;
                    height: auto;

                    & .botones {
                        display: flex;
                        justify-content: space-evenly;
                        margin-top: $espacio-522 - calcular(1.32);
                    }
                }
            }

            & .item.bloque-info {
                max-width: $portada-boton-ancho;
                box-sizing: border-box;
                height: fit-content;
                padding-top: $espacio-0316 - $defecto-top;
                padding-right: $espacio-0316;
                padding-bottom: $espacio-0316 - $defecto-bottom;
                padding-left: $espacio-0316;
                
                & p{
                  
                }
                
            }

            & .item.bloque-noadded {
                width: $portada-no-added-ancho;
                box-sizing: border-box;
                padding: $espacio-0136 $espacio-267;
                margin-bottom: calcular(4.03);

                &.sinMarginBottom {
                    margin-bottom: 0;
                }
            }
            & .padding139{
                padding: $espacio-0139;
            }

            & .actualizado-info {
                position: absolute;
                z-index: 1;
                border-radius: 0;
                padding: $espacio-0316 - $defecto-top $espacio-0316 $espacio-0316 - $defecto-bottom $espacio-0316;
                box-sizing: border-box;
                top: $espacio-0316;
                left: $espacio-0316;
                background-color: $amarillo-base;
            }

            & .botones {
                width: $portada-boton-bigger-ancho;
                display: flex;
                align-items: center;
                justify-content: center;
                box-sizing: border-box;
                margin-top: ($espacio-522 * 2) - calcular(1.32);

                & .boton-caja {
                    cursor: pointer;
                    width: fit-content;
                    height: fit-content;
                    box-sizing: border-box;

                    &.con-margen {
                        margin-right: $espacio-0136 + $espacio-522;
                    }   
                }
            }
        }
    }
}