<div
    *ngIf="configuracion"
    class="portada"
    gestorEventos
    (eventoTap)="eventoTapPortada()"
    (dobleTap)="eventoDobleTapPortada()"
> 
    <!-- Imagen de fondo -->
    <img 
        [src]="configuracion.urlMedia"
        [ngClass]="{
            'capa': true,
            'imagenportada': true,
            'mostrar': configuracion.urlMedia.length > 0 && !configuracion.mostrarLoader
        }"
        (load)="siImagenEstaCargada($event)"
    >
    <!-- Loader -->
    <div
        *ngIf="configuracion.mostrarLoader"
        [ngClass]="{
            'capa': true,
            'loader': true,
            'mostrar': configuracion.mostrarLoader
        }"
    >
        <app-cargando></app-cargando>
    </div>
    <!-- Menus de la portada -->
    <div
        [ngClass]="{
            'capa': true,
            'menu': true,
            'mostrar': configuracion.urlMedia.length > 0 && !configuracion.mostrarLoader
        }"
    >
        <div
            *ngFor="let item of configuracion.bloques;let i = index"
            [ngClass]="obtenerClasesBloque(item, i)"
            (tap)="tapEnBloque(item)"
        >
            <p
                [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: obtenerColorDelTextoSegunBloque(item), 
                    estiloTexto: obtenerEstiloDelTextoSegunBloque(item), 
                    enMayusculas: obtenerMayusculaDelTextoSegunBloque(item),
                    tamanoConInterlineado: obtenerTamanoLetraConInterlineadoDelTextoSegunBloque(item)
                })"
            >
                {{ item.llaveTexto | translate }}
            </p>
            <div
                *ngIf="item.botones && item.botones.length > 0"
                class="botones"
            >
                <div
                    *ngFor="let boton of item.botones;let i = index"
                    [ngClass]="{
                        'boton-caja': true
                    }"
                >
                    <app-button [botonCompartido]="boton"></app-button>
                </div>
            </div>    
        </div>
        <div
            *ngIf="configuracion.botones && configuracion.botones.length > 0"
            class="botones"
        >
            <div
                *ngFor="let boton of configuracion.botones;let i = index"
                [ngClass]="{
                    'boton-caja': true,
                    'con-margen': (configuracion.botones.length > 1 &&  (i === 0 || i % 2 !== 0))
                }"
            >
                <app-button [botonCompartido]="boton"></app-button>
            </div>
        </div>
    </div>
</div>
