@import "../../../../assets/estilos/colores.scss";
@import "../../../../assets/estilos/dimensiones.scss";
@import "../../../../assets/estilos/estiloColor.scss";


@mixin centrado {
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenedor-principal {
    padding: $espacio-267  $espacio-267   $defecto-bottom  $espacio-267 ;
}

.titulo {
    @include centrado();
}
.subTitulo {
    @include centrado();
    padding-top: $espacio-0316 - $defecto-total;
}
.fechas {
    text-align: center;
    padding-top: calcular(0.89);
    padding-bottom: $espacio-178 - $defecto-bottom;
    & .herramientas {
        width: 100%;
        box-sizing: border-box;
        // padding: 0 $espacio-0316;
        // margin-bottom: $espacio-522;

        display: flex;
        align-items: center;
        justify-content: center;

        & .input {
            width: fit-content;
            position: relative;
            display: flex;

            & input {
                position: absolute;
                z-index: 1;
                opacity: 0;
                width: 100%;
                height: 100%;

                &::-webkit-calendar-picker-indicator {
                    position: absolute;
                    top: -150%;
                    left: -150%;
                    width: 300%;
                    height: 300%;
                    cursor: pointer;
                }
            }

            & .fecha {
                // box-shadow: 0px 0px 0.83vw 0 white inset;
                // opacity: 0.85;
                width: fit-content;
                height: fit-content;
                border-radius: $interlineado-15;
                padding-top: $interlineado-6 - calcularPaddingAfectadoPorInterlineadoTemp(1.39, true);
                padding-right: $interlineado-6;
                padding-bottom: $interlineado-6 - calcularPaddingAfectadoPorInterlineadoTemp(1.39, true);
                padding-left: $interlineado-6;
                box-sizing: border-box;
                background-color: $titulo-fecha;
                color: $blanco;
                font-size: $letra-3;
                line-height: 1;
                font-weight: bold;
            }
        }
    }
}
.info-de-moneda {
    @include centrado();
    flex-flow: column;
    text-align: center;
    padding-bottom: $espacio-0316 - $defecto-bottom;
    & .subrayado{
        text-decoration: underline;
    }
}

.item {
    padding-bottom: $espacio-522 - $defecto-bottom;
    & .titulo-azul {
        text-align: left;
    }
    & .cantidades {
        
        &.cant-mundial{
            padding-top: $espacio-178 - $defecto-top;
        }
        &.cant-paises{
            padding-top: $espacio-178;
            
        }
        @include centrado();
        & .euros {
            @include centrado();
            border: 0;
            // padding: 0 $espacio-0249;
            border-radius: calcular(1.03);
            width: calc(15ch + #{$espacio-178 * 2});
            height: calcular(6);
            background-color: rgba(154, 191, 226, 0.3);
        }
        & .equivalencia {
            @include centrado();
            width: 10%;
            margin-left: calcular(0.2);
            margin-right: calcular(0.2);
        }
        & .dolares {
            @include centrado();
            border: 0;
            // padding: 0 $espacio-0249;
            border-radius: calcular(1.03);
            width: calc(15ch + #{$espacio-178 * 2});
            height: calcular(6);
            background-color: rgba(154, 191, 226, 0.3);
        }
    }
}


.selector-paises {
    @include centrado();
    // width: 50%;
    padding-top: $espacio-178 - $defecto-top;
}

.selectores {
    display: flex;
}