<div class="contenedor-principal">
    <div class="titulo">
        <p [ngClass]="estilosDelTextoServicio.obtenerEstilosTexto({ 
            color: estilosDelTextoServicio.colorDelTexto.TEXTOAZULBASE, 
            estiloTexto: estilosDelTextoServicio.estilosDelTexto.BOLD, 
            enMayusculas: true,
            tamanoConInterlineado: estilosDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL 
        })">
            {{ 'm7v3texto3' | translate }}
        </p>
    </div>
    <div class="subTitulo">              
        <p [ngClass]="estilosDelTextoServicio.obtenerEstilosTexto({ 
            color: estilosDelTextoServicio.colorDelTexto.TEXTOAZULBASE, 
            estiloTexto: estilosDelTextoServicio.estilosDelTexto.REGULAR, 
            enMayusculas: true,
            tamanoConInterlineado: estilosDelTextoServicio.tamanoDeTextoConInterlineado.L1_IGUAL 
        })">
            {{ 'm7v3texto4' | translate }}
        </p>
    </div>
    <div class="fechas">
        <div class="herramientas">
            <div class="input">
                <input id="inputFechaInicial" (change)="cambioDeFecha()" type="date" [(ngModel)]="fechaInicial" [ngClass]="{
              sinEventos: !puedeCargarMas || mostrarCapaLoader
            }">
                <div class="fecha">
                    {{ fechaInicial | date: "dd/MM/yyyy" }}
                </div>
            </div>
        </div>
    </div>
    <div class="info-de-moneda">
        <p [ngClass]="estilosDelTextoServicio.obtenerEstilosTexto({ 
            color: estilosDelTextoServicio.colorDelTexto.TEXTOAZULBASE, 
            estiloTexto: estilosDelTextoServicio.estilosDelTexto.REGULAR, 
            enMayusculas: true,
            tamanoConInterlineado: estilosDelTextoServicio.tamanoDeTextoConInterlineado.L1_I1
        })">
            {{ 'm7v3texto5' | translate }}
        </p>
        <p class="" [ngClass]="estilosDelTextoServicio.obtenerEstilosTexto({ 
            color: estilosDelTextoServicio.colorDelTexto.TEXTOLACRE, 
            estiloTexto: estilosDelTextoServicio.estilosDelTexto.REGULAR, 
            enMayusculas: true,
            tamanoConInterlineado: estilosDelTextoServicio.tamanoDeTextoConInterlineado.L1_IGUAL 
        })">
            {{ 'm7v3texto6' | translate }}
            <!-- resultados en euros y dólares deducidos los gastos operativos  -->
        </p>
        <p class="" [ngClass]="estilosDelTextoServicio.obtenerEstilosTexto({ 
            color: estilosDelTextoServicio.colorDelTexto.TEXTOLACRE, 
            estiloTexto: estilosDelTextoServicio.estilosDelTexto.REGULAR, 
            enMayusculas: true,
            tamanoConInterlineado: estilosDelTextoServicio.tamanoDeTextoConInterlineado.L1_IGUAL 
        })">
            {{ 'm7v3texto7' | translate }}
            <!-- resultados en euros y dólares deducidos los gastos operativos  -->
        </p>
    </div>

    <section class="item">
        <div class="titulo-azul">
            <p [ngClass]="estilosDelTextoServicio.obtenerEstilosTexto({ 
                color: estilosDelTextoServicio.colorDelTexto.TEXTOAZULBASE, 
                estiloTexto: estilosDelTextoServicio.estilosDelTexto.BOLD, 
                enMayusculas: true,
                tamanoConInterlineado: estilosDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL 
            })">
                <!-- {{ 'm7v3texto9' | translate }} -->
                {{ 'm7v3texto8' | translate}}
            </p>
        </div>
    
        <div class="selector-paises">
            <app-selector *ngIf="confSelectorPais" #selectorPaises [configuracion]="confSelectorPais"></app-selector>
        </div>
        <div class="cantidades cant-paises">
            <div class="euros">
                <p [ngClass]="estilosDelTextoServicio.obtenerEstilosTexto({ 
                    color: estilosDelTextoServicio.colorDelTexto.TEXTOAZULBASE, 
                    estiloTexto: estilosDelTextoServicio.estilosDelTexto.BOLD, 
                    enMayusculas: true,
                    tamanoConInterlineado: estilosDelTextoServicio.tamanoDeTextoConInterlineado.L3_IGUAL 
                })">
                    {{aportacionSuscripcionEuro}}
                   <span> &#8364; </span>
                </p>
            </div>
            <div class="equivalencia">
                <p [ngClass]="estilosDelTextoServicio.obtenerEstilosTexto({ 
                    color: estilosDelTextoServicio.colorDelTexto.TEXTOAZULBASE, 
                    estiloTexto: estilosDelTextoServicio.estilosDelTexto.BOLD, 
                    enMayusculas: true,
                    tamanoConInterlineado: estilosDelTextoServicio.tamanoDeTextoConInterlineado.L3_IGUAL 
                })">
                    =
                </p>
            </div>
            <div class="dolares">
                <p [ngClass]="estilosDelTextoServicio.obtenerEstilosTexto({ 
                    color: estilosDelTextoServicio.colorDelTexto.TEXTOAZULBASE, 
                    estiloTexto: estilosDelTextoServicio.estilosDelTexto.BOLD, 
                    enMayusculas: true,
                    tamanoConInterlineado: estilosDelTextoServicio.tamanoDeTextoConInterlineado.L3_IGUAL 
                })">
                    {{aportacionSuscripcionDolar}}
                    <span>&#36;</span>
                </p>
            </div>
        </div>

    </section>

    <section class="item">
        <div class="titulo-azul">
            <p [ngClass]="estilosDelTextoServicio.obtenerEstilosTexto({ 
                color: estilosDelTextoServicio.colorDelTexto.TEXTOAZULBASE, 
                estiloTexto: estilosDelTextoServicio.estilosDelTexto.BOLD, 
                enMayusculas: true,
                tamanoConInterlineado: estilosDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL 
            })">
                <!-- {{ 'm7v3texto5' | translate }} -->
                {{ 'm7v3texto10' | translate}}
            </p>
        </div>

        <div class="cantidades cant-mundial">
            <div class="euros">
                <p [ngClass]="estilosDelTextoServicio.obtenerEstilosTexto({ 
                    color: estilosDelTextoServicio.colorDelTexto.TEXTOAZULBASE, 
                    estiloTexto: estilosDelTextoServicio.estilosDelTexto.BOLD, 
                    enMayusculas: true,
                    tamanoConInterlineado: estilosDelTextoServicio.tamanoDeTextoConInterlineado.L3_IGUAL 
                })">
                    {{aportacionValorExtraEuro}}
                   <span> &#8364; </span>
                </p>
            </div>
            <div class="equivalencia">
                <p [ngClass]="estilosDelTextoServicio.obtenerEstilosTexto({ 
                    color: estilosDelTextoServicio.colorDelTexto.TEXTOAZULBASE, 
                    estiloTexto: estilosDelTextoServicio.estilosDelTexto.BOLD, 
                    enMayusculas: true,
                    tamanoConInterlineado: estilosDelTextoServicio.tamanoDeTextoConInterlineado.L3_IGUAL 
                })">
                    =
                </p>
            </div>
            <div class="dolares">
                <p [ngClass]="estilosDelTextoServicio.obtenerEstilosTexto({ 
                    color: estilosDelTextoServicio.colorDelTexto.TEXTOAZULBASE, 
                    estiloTexto: estilosDelTextoServicio.estilosDelTexto.BOLD, 
                    enMayusculas: true,
                    tamanoConInterlineado: estilosDelTextoServicio.tamanoDeTextoConInterlineado.L3_IGUAL 
                })">
                    {{aportacionValorExtraDolar}}
                    <span>&#36;</span>
                </p>
            </div>
        </div>

    </section>
  
</div>
<app-toast #toast [configuracion]="confToast"></app-toast>
<app-lista-selector *ngIf="confSelectorPais" #selectorPaisesLista [configuracion]="confSelectorPais"></app-lista-selector>
