@import "../../../assets/estilos/dimensiones.scss";
@import "../../../assets/estilos/colores.scss";

$ancho-album-perfil: calcular(28.39);
$ancho-portada: $portada-gaze-ancho-cortada;
$ancho-album-general: calcular(43.06);
$descripcion-perfil-alto-minimo: calcular(61.65) - ($espacio-0316 * 2);

$perfil-creado-ancho: $ancho-pagina;
$perfil-creado-padding: calcular(6.58) - calcular(2.67);
$perfil-creado-margin-top: calcular(2.06);
$perfil-creado-margin-bottom: calcular(5.22);

$perfil-normal-explicacion-alto: calcular(58.86);
$perfil-grupo-explicacion-alto: calcular(115.65);

$botones-estado-padding: calcular(3.91);
.adGoogle {
	display: none;
}

.info-traducir-nc{
	padding-left: calcular(1.39);
}
// espacios
.espacio-0249 {
    width: 100%;
    height: $espacio-0249;
}

.espacio-0522 {
    width: 100%;
    height: $espacio-522 - $defecto-total;
}

.cuerpo {
    background: $blanco;
    position: relative;
    padding: 0 !important;
}

.cuerpo .capa {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: $espacio-0316 $espacio-267 $espacio-522 $espacio-267;
    box-sizing: border-box;
    z-index: -1;
    opacity: 0;
    overflow: hidden;
}

.cuerpo .capa.mostrar {
    z-index: 10;
    opacity: 1;
}

.cuerpo .capa.principal {
    // overflow: hidden;
}

.cuerpo .capa.principal.mostrar {
    overflow-y: auto !important;
}

.cuerpo .capa.loader {
}

.cuerpo .capa.loader.mostrar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cuerpo .capa.errordiv.mostrar {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.cuerpo .capa.errordiv div {
    width: 100%;
    text-align: center;
}

.cuerpo .capa.errordiv .botonReintentar {
    margin-top: calcular(3);
    font-size: $letra-2;
    line-height: 1;
    padding: calcular(1) calcular(2);
}

.fotos {
    width: 100%;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;

    margin-bottom: $espacio-178 - $defecto-top;
}

.nombreAlbums {
    width: 100%;
    margin-bottom: $espacio-0316 - $defecto-top - $defecto-bottom;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
}

.nombreAlbums.perfilCreado {
    margin-bottom: 0;
}

.nombreAlbums .a {
    width: $ancho-album-perfil;
}

.nombreAlbums .b {
    width: $ancho-portada;
}

.nombreAlbums .c {
    height: 100%;
    width: $ancho-album-general;
}

.nombreAlbums .caja p {
    position: relative;
    width: 100%;
    margin: 0;
    text-align: center;
    height: fit-content;
    display: block;
}

// Descripcion perfil
.descripcion_perfil {
    text-align: center;
    width: 100%;
    min-height: $descripcion-perfil-alto-minimo;
    margin-bottom: $espacio-0316;

    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;

    & .minuscula {
        // text-transform: lowercase;
    }
}

.minuscula {
    // text-transform: lowercase !important;
}

// p.txt-lacre.regular.letra-2-con-interlineado-4.padding-izq-der-0658 {
//   text-transform: lowercase;
// }

.info {
    width: 100%;
    height: fit-content;
    margin-bottom: $espacio-178 - ($defecto-bottom * 2);
    & p {
        // line-height: 0.8 !important;
        text-align: center;
        height: 100%;
    }
}

// Inputs
.inputs_formularios {
    display: none;
    width: 100%;
    display: none;
}

.inputs_formularios.mostrar {
    display: block;
}

.inputs_formularios .form {
    width: 100%;
   
}
.inputs_formularios .info-traducir-nc{
    margin-top: calcular(-2);
}

.inputs_formularios .input {
    width: 100%;
    margin-bottom: $espacio-0249;
}

.inputs_formularios .button {
    padding-top: $espacio-522 - $espacio-0249;
    // padding-bottom: $espacio-522;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputs_formularios {
    & .indicativo {
        width: 100%;
        margin-bottom: $espacio-178 - ($defecto-bottom);

        &.label {
            padding-left: calcular(1.39);
            margin-bottom: calcular(0.5);
        }
    }
    & .indicativo2 {
        width: 100%;
        margin-bottom: $espacio-178 - ($defecto-bottom);
        margin-top: $espacio-0249;
        &.label {
            padding-left: calcular(1.39);
            margin-bottom: calcular(0.5);
        }
    }
}
.indicativo-mi-cuenta {
    width: 100%;
    box-sizing: border-box;
    height: fit-content;
    padding-bottom: $espacio-0249;
    & p {
        text-align: justify;
        & span {
            color: #1f4fd8;
            text-decoration: underline;
        }
    }
}
// .indicativo-mi-cuenta{
//   width: 100%;
//   box-sizing: border-box;
//   // & p {
//   //     text-align: justify;

//   // }
// }

// Info de pago
.perfilCreado {
    display: none;
    width: 100%;
    height: auto;

    padding: 0 $perfil-creado-padding;
    margin: 0 0 ($perfil-creado-margin-bottom - $defecto-total) 0;

    box-sizing: border-box;
}

.perfilCreado.mostrar {
    display: block;
}

.perfilCreado .contenido {
    width: 100%;
    height: auto;

    box-sizing: border-box;
}

.perfilCreado .contenido.grupoProfile {
    margin-top: $perfil-creado-margin-bottom;
}

.perfilCreado .contenido .explicacion {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

.perfilCreado .contenido.normalProfile .explicacion {
    min-height: $perfil-normal-explicacion-alto;
}

.perfilCreado .contenido.grupoProfile .explicacion {
    min-height: $perfil-grupo-explicacion-alto;
}

.perfilCreado .contenido .explicacion p {
    width: 100%;
    text-align: center;
    // padding-top: calcularPaddingAfectadoPorInterlineadoTemp(5.22, $arriba: true);
    // padding-bottom: calcularPaddingAfectadoPorInterlineadoTemp(5.22, $arriba: false);
    // padding-top: $espacio-522 - $defecto-top - $espacio-0316 - $defecto-top - $defecto-bottom;
    padding-top: ($espacio-522 - $defecto-top) - ($espacio-0316 - $defecto-top - $defecto-bottom);
    padding-bottom: $espacio-522 - $defecto-total;
}

.perfilCreado .contenido .explicacion div {
    width: 100%;
    text-align: center;
}

.perfilCreado .contenido.normalProfile .explicacion div {
    padding-bottom: $espacio-522 - $defecto-bottom;
}

.perfilCreado .contenido.normalProfile p:last-child {
    width: 100%;
    text-align: center;
}

.perfilCreado .contenido.grupoProfile .explicacion p {
    padding-top: 0;
}

.perfilCreado .contenido.grupoProfile .explicacion div {
    padding-bottom: calcularPaddingAfectadoPorInterlineadoTemp(15.22, $arriba: false);
}

.perfilCreado .contenido.grupoProfile .explicacion p:last-child {
    padding-top: 0;
    padding-bottom: 0;
    height: fit-content;
}
.perfilCreado .contenido .otro-perfil {
	white-space: pre-line;
	text-align: center;
	// padding-bottom: $espacio-0249 - $defecto-top;
	& p {
		&:nth-child(1) {
			margin-bottom: $espacio-0316 - $defecto-total;
		}
		&:nth-child(2) {
			margin-bottom: $espacio-0178 - $defecto-top;
		}
	}
}
.perfilCreado .contenido .modale {
    width: 100%;
    min-height: 2vw;
    margin-bottom: $espacio-522;

    display: flex;
    align-items: center;
    justify-content: center;
}

//FOTOS DNI
.fotos-dni {
    height: 100%;
    display: none;

    &.mostrar {
        display: flex;
        align-items: center;
        flex-flow: column;
    }
    & .texto-dni {
        padding-bottom: $espacio-0316 - $defecto-top;
        white-space: pre-line;
        justify-content: center;
        & p {
            text-align: justify;
        }
    }
    & .subiFoto {
        display: flex;
        align-items: center;
        padding-bottom: $espacio-0316;
    }
    & .foto-subida {
        // height: 100%;
        flex: 1;
        width: 100%;
        // background-image: url("../../../assets/persona-pasaporte.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        & img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    & .texto-imagen {
        & p {
            text-align: center;
        }
        padding-top: $espacio-0316;
        padding-bottom: $espacio-0316;
    }
}

// Boton de pago
.botonPagoGrupo {
    display: none;
    width: 100%;
    margin-bottom: $espacio-1512;
    & .adGoogle {
		display: none;
	}
}

.botonPagoGrupo.mostrar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.texto-estado {
    width: 100%;
    // margin: $espacio-522 - $defecto-top 0 $espacio-0316 - $defecto-bottom 0;
    padding-top: $espacio-522 - $defecto-top;
    padding-bottom: $espacio-0249 - $defecto-bottom;

    & p {
        text-align: center;
    }
}

// Botones de estado
.botonesEstado {
    width: 100%;
    // margin-top: $espacio-522;
    padding: 0 $botones-estado-padding;
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

$modal-origen-foto-ancho: $ancho-pagina;
$modal-origen-foto-alto: calcular(24);
$modal-origen-foto-opcion-padding: calcular(2);
$modal-origen-foto-opcion-alto: calcular(8);
$modal-origen-foto-opcion-caja-padding: calcular(4);
$modal-origen-foto-opcion-imagen-margin-der: calcular(3);

// Modal origen foto
.modalOrigenFoto {
    background: rgba(0, 0, 0, 0.5);
    display: none;
    position: fixed;
    width: $modal-origen-foto-ancho;
    height: $altura-pagina;
    top: 0;
    left: 0;
    z-index: 999;
}
.modalOrigenFoto.mostrar {
    display: flex;
    align-items: center;
    justify-content: center;
}
.modalOrigenFoto .caja {
    background: #ffffff;
    border-radius: calcular(1.16);
    width: calcular(70);
    height: fit-content;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}
.modalOrigenFoto .caja .opcion {
    display: flex;
    flex-flow: row;
    box-sizing: border-box;

    padding: $modal-origen-foto-opcion-padding $espacio-267;

    width: 100%;
    height: fit-content;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: row;
    cursor: pointer;
}
.modalOrigenFoto .caja .opcion img {
    height: $modal-origen-foto-opcion-alto;
    margin: 0 $modal-origen-foto-opcion-imagen-margin-der 0 0;
}
.modalOrigenFoto .caja .opcion p {
    font-weight: 500;
}
