@import "../../../../assets/estilos/dimensiones.scss";
@import "../../../../assets/estilos/colores.scss";
@import "../../../../assets/estilos/imagenes.scss";

//  tamaño item
$item-ancho: calcular(43.3);
$item-alto: calcular(30.9);
$portada-alto: calcular(71.36);

// Perfil - Esquinas
$perfil-espesor: calcular(0.24);
$esquina-diametro: calcular(4.71);
$esquina-margen: $perfil-espesor * -1;

$heightCorazon: calcular(7);
$widthCorazon: calcular(7);

.item-proyecto-noticia {
    position: relative;
    width: $item-ancho;
    height: $item-alto;
    border: $perfil-espesor solid $color-borde-rectangulos;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    &.mini-rectangulo {
        width: calcular(30);
        height: calcular(22);
    }
}

.item-proyecto-noticia .esquina {
    display: none;
    position: absolute;

    width: $esquina-diametro;
    height: $esquina-diametro;

    background-image: $forma-equina-album-naranja;
    background-size: 100% 100%;
    background-repeat: no-repeat;

    &.blanca {
    }
}

.item-proyecto-noticia .esquina.mostrar {
    display: block;
    z-index: 1;
}

.item-proyecto-noticia .esquina.a {
    top: $esquina-margen;
    left: $esquina-margen;
    transform: rotate(270deg);
}

.item-proyecto-noticia .esquina.b {
    top: $esquina-margen;
    right: $esquina-margen;
}

.item-proyecto-noticia .esquina.c {
    bottom: $esquina-margen;
    left: $esquina-margen;
    transform: rotate(180deg);
}

.item-proyecto-noticia .esquina.d {
    bottom: $esquina-margen;
    right: $esquina-margen;
    transform: rotate(450deg);
}

// Capas - albumMini
.capa {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow: visible;
}

.capa.mostrar {
    display: flex;
}

.imagenFondo{
    object-fit: cover;
}

.titulos-capa-centrado {
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.titulos-capa-bottom {
    justify-content: flex-end;
    align-items: center;
    flex-flow: column;
    padding-bottom: 3.16vw;
    z-index: 1;
}

.titulos-detalle {
    justify-content: flex-end;
    padding-bottom: $espacio-522;
    z-index: 1;
}

.fecha {
    padding-top: $interlineado-1;
    z-index: 1;
}

// Capa loader
.capa.loader {
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: white;
}

.etiqueta-actualizado {
    height: fit-content;
    padding: 0.1vw 1.39vw 0.1vw 1.39vw;
    box-sizing: border-box;
    background-color: $amarillo-base;
    color: $rojo-base;
    font-size: $letra-3;
    font-weight: bold;
    transform: rotate(-4.5deg);
    z-index: 300;
    transform-origin: bottom left;
}

.content-etiqueta-actualizado {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    margin-bottom: $espacio-178 - $defecto-bottom;
    box-sizing: border-box;
    padding-left: 3.26vw;
}
.content-etiqueta-actualizado-lista {
    position: absolute;
    z-index: 1;
    border-radius: 0;
    box-sizing: border-box;
    top: 3.16vw;
    left: 3.16vw;
}

.etiqueta-actualizado-lista {
    height: fit-content;
    padding: 0.1vw 1.39vw 0.1vw 1.39vw;
    box-sizing: border-box;
    background-color: $amarillo-base;
    color: $rojo-base;
    font-size: $letra-7;
    font-weight: bold;
    z-index: 300;
}

// proyecto

.proyecto-detalle {
    width: $ancho-pagina;
    height: $portada-alto;
    &.item-proyecto-noticia .esquina.mostrar {
        display: none;
    }
}

.svgCorazon {
    width: $heightCorazon;
    height: $widthCorazon;
    background-image: $forma-corazon-rojo;
    background-repeat: no-repeat;
}

.contenedor-corazon {
    display: flex;
    z-index: 3;
    position: absolute;
    width: 100%;
    justify-content: flex-end;
    bottom: 0;
}

.capa-fondo-azul{
    height: 100%;
    width: 100%;
    background-color:  $transparencia-filtro-azul-demo;
    z-index: 999 !important;
    cursor: default;
    pointer-events: none;
    text-decoration: none;
}


.capa-fondo-amarillo{
    height: 100%;
    width: 100%;
    background-color: #FFF4C3;

}

/// SOLO TEXTO ///

.item-solo-texto {
    position: relative;
    width: $ancho-6382;
    height: $alto-archivo;
    border: $perfil-espesor solid $blanco;
    box-sizing: border-box;
    margin-left: $espacio-267;
    margin-bottom: $espacio-178;
    background-color: $azul-base;
    padding-left: $espacio-178;
    padding-right: $espacio-178;

    & .texto-general {
        height: 100%;
        width: 100%;
        text-align: justify;
        display: flex;
        align-items: center;
        justify-content: center;

        & p {
            padding-left: $espacio-178;
            padding-right: $espacio-178;
            white-space: unset;
            text-align: center;
        }
    }
}

.item-solo-texto .esquina {
    display: none;
    position: absolute;

    width: $esquina-diametro;
    height: $esquina-diametro;

    background-image: $forma-equina-album-blanca;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.item-solo-texto .esquina.mostrar {
    display: block;
    z-index: 1;

}

.item-solo-texto .esquina.a {
    top: $esquina-margen;
    left: $esquina-margen;
    transform: rotate(270deg);
}

.item-solo-texto .esquina.b {
    top: $esquina-margen;
    right: $esquina-margen;
}

.item-solo-texto .esquina.c {
    bottom: $esquina-margen;
    left: $esquina-margen;
    transform: rotate(180deg);
}

.item-solo-texto .esquina.d {
    bottom: $esquina-margen;
    right: $esquina-margen;
    transform: rotate(450deg);
}

.no-disponible p {
    color: $rojo-base;
    font-weight: bold;
    font-size: $letra-3;
    text-align: center;
}
