@import "../../../../assets/estilos/dimensiones.scss";
@import "../../../../assets/estilos/colores.scss";
@import "../../../../assets/estilos/imagenes.scss";

$caja-ancho: calcular(76.85);
$caja-borde: calcular(0.49);
$caja-borde-radio: calcular(2.55);

$caja-titulo-ancho: calcular(57.43);

$caja-boton-diametro: calcular(13.10);

.titulo-audio {
    display: none;
    position: fixed;
    top: 0;

    width: $ancho-pagina;
    height: $altura-pagina;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.5);

    &.mostrar {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    & .caja {
        position: relative;
        background-color: $blanco;
        width: $caja-ancho;
        height: fit-content;
        
        border: $caja-borde solid $negro;
        border-radius: $caja-borde-radio;
        box-sizing: border-box;

        padding: $espacio-0316 $espacio-178;

        display: flex;
        align-items: center;

        & textarea {
            width: $caja-titulo-ancho;
            min-height: calcular(3);
            margin-right: $espacio-178;
            box-sizing: border-box;
            resize: none;
            padding: $espacio-0249 ($espacio-0139 * 3);
            background-color: rgba(185, 214, 241, 0.3);
            box-sizing: border-box;
            border: none;

            font-family: "Source Sans Pro", sans-serif;
            text-align: center;

            display: flex;
            align-items: center;
            justify-content: center;

            &:focus,
            &:active {
                outline: 0;
            }

            &::placeholder {
                color: $negro;
                text-align: center;

                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
            }
        }

        & .boton-guardar {
            width: $caja-boton-diametro;
            height: $caja-boton-diametro;
            border-radius: 50%;
            background-image: $forma-flecha-circular-azul;
            background-size: 100% 100%;
        }

        & .contador {
            position: absolute;
            bottom: 0;    
            right: ($espacio-178 * 2) +  $caja-boton-diametro;
        }
    }
}