<div
    [ngClass]="{
        'titulo-audio': true,
        'mostrar': configuracion.mostrar
    }"
    (tap)="eventoTapModal($event)"
>
    <div class="caja">
        <textarea
            [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                color: estiloDelTextoServicio.colorDelTexto.TEXTONEGRO,
                estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                enMayusculas: true,
                tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_I2
            })"
            [(ngModel)]="configuracion.textoTitulo.valor"
            [maxLength]="configuracion.textoTitulo.contadorCaracteres.maximo" 
            [placeholder]="configuracion.textoTitulo.placeholder"
            (keyup)="escribiendoEnInput()"
            (keydown.enter)="eventoEnter($event)"
        ></textarea>
        <div
            class="boton-guardar"
            (tap)="eventoTap()"
        ></div>
        <div
            [ngClass]="{
                'contador': true,
                'mostrar': configuracion.textoTitulo && configuracion.textoTitulo.contadorCaracteres.mostrar
            }"
        >
            <p
                [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOROJOBASE,
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                    enMayusculas: true,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L1_IGUAL
                })"
            >
                {{ obtenerTextoContadorCaracteres() }}
            </p>
        </div>
    </div>
</div>
