@use "sass:math";
@import "../../../../assets/estilos/dimensiones.scss";
@import "../../../../assets/estilos/imagenes.scss";
@import "../../../../assets/estilos/colores.scss";

.portada {
    display: flex;
    align-items: center;

    &.portada-gaze-completa {
        width: $portada-gaze-ancho-completo;
        height: $portada-gaze-alto-completo;
        position: relative;
    
    }

    
    &.portada-gaze-cortada {
        width: $portada-gaze-ancho-cortada;
        height: $portada-gaze-alto-cortada;
    }

    &.espacio-derecha {
        position: relative;
        left: -((math.div($ancho-pagina - $ancho-6920, 2)) + $espacio-267);
    }
    & .imagen {
        height: 100%;
        width: 100%;
        position: relative;
    }
    & .portada{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        & p{
            text-align: end;
            width: 100%;
            color: $blanco;
            font-size: calcular(2.7);
            text-transform: uppercase;
            text-shadow: $sombraTexto;
            display: flex;
            justify-content: flex-end;
            // margin-bottom: -0.3vw;
            position: absolute;
            bottom: 0;
            padding-bottom: calcular(0.2);
        }
    }
    & .capa {
        display: none;
        width: 100%;
        height: 100%;

        &.mostrar {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &.imagen {
            width: 100%;
            height: 100%;
        }

        &.loader {
            width: 100%;
            height: 100%;
        }
    }
}

.contenido {
    width: $portada-gaze-ancho-completo - 1;
    height: $portada-gaze-alto-completo - 2;
    display: flex;
    align-items: center;
    justify-content: center;
    border: calcular(0.71) solid $verde-base;

    & .descripcion {
        padding: 0 $espacio-522;

        & .texto {
            max-height: $portada-gaze-alto-completo - 2;

            & p {
                text-align: center;
                word-break: break-word;
            }
        }
    }
}
