<div [ngClass]="obtenerClasesPortada()">
    <!-- Loader -->
    <div [ngClass]="{
            'capa': true,
            'loader': true,
            'mostrar': configuracionPortada.mostrarLoader
        }">
        <app-cargando></app-cargando>
    </div>
    <!-- Portada gaze completa -->
    <div *ngIf="!esAnuncio && (mostrarImagenes || mostrarAnuncio  )" class="imagen">
        <img [ngClass]="{
            'capa': true,
            'imagen': true,
            'mostrar': (
                configuracionPortada &&
                configuracionPortada.tamano === TamanoPortadaGazeEnum.PORTADACOMPLETA &&
                !configuracionPortada.mostrarLoader
            ) 
        }" [src]="urlDefinida" (load)="siImagenEstaCargada($event)" alt="">
       
    </div>
    <!-- <div class="portada" *ngIf="!esAnuncio && (mostrarImagenes || mostrarAnuncio  )">
        <p>
            {{ 'landingUnionEuropea' | translate }}
        </p>
    </div> -->

    <div *ngIf="esAnuncio &&  configuracionPortada.tamano !== TamanoPortadaGazeEnum.PORTADACORTADA" class="contenido" [style.background]=itemAnuncio.formatoColor>
        <div class="descripcion">
            <div class="texto">
                <p [style.color]=itemAnuncio.colorTexto [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO, 
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD,
                    enMayusculas: true,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado[itemAnuncio.tamanioLetra]
                })">
                {{itemAnuncio != null ? itemAnuncio.descripcion : ''}}
                </p>
            </div>
        </div>
    </div>
    <!-- Portada gaze cortada -->
    <img [ngClass]="{
            'capa': true,
            'imagen': true,
            'mostrar': (
                configuracionPortada &&
                configuracionPortada.tamano === TamanoPortadaGazeEnum.PORTADACORTADA &&
                !configuracionPortada.mostrarLoader
            )
        }" src="https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/fondos/portada-gaze-mitad.png"
        (load)="siImagenEstaCargada($event)" alt="">
</div>