<div class="publicitario" [style.margin-bottom]=configuracion.espacio>
    <svg viewBox="0 0 1598.3 1348.5">
        <path class="nube" [style.fill]=configuracion.colorFondo [attr.d]=pathSvgAnuncioReflexivo.BURBUJA />

        <ellipse [style.fill]=configuracion.colorFondo cx="476.5" cy="1127.6" rx="98.5" ry="88" />
        <path class="borde" [attr.d]=pathSvgAnuncioReflexivo.CIRCULO_GRANDE />

        <ellipse [style.fill]=configuracion.colorFondo cx="601.3" cy="1248.2" rx="54.9" ry="57.2" />
        <path class="borde" [attr.d]=pathSvgAnuncioReflexivo.CIRCULO_MEDIANO />

        <ellipse [style.fill]=configuracion.colorFondo cx="686.4" cy="1310.9" rx="32.3" ry="34.3" />
        <path class="borde" [attr.d]=pathSvgAnuncioReflexivo.CIRCULO_PEQUENIO />
    </svg>

    <div class="contenido">
        <div class="descripcion">
            <span>  <p [style.color]=configuracion.colorTexto [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO, 
                estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR,
                tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_I1
            })">
            {{configuracion.descripcion}}
            </p></span>
        </div>

        <div class="input">
            <div class="fecha">
                {{ configuracion.fecha | date:'dd/MM/yyyy' }}
            </div>
        </div>
    </div>
</div>