@import "../../../../assets/estilos/dimensiones.scss";
@import "../../../../assets/estilos/colores.scss";
@import "../../../../assets/estilos/imagenes.scss";

@mixin centrado {
    display: flex;
    align-items: center;
    justify-content: center;
}

.borde {
    fill: white;
}

.fondo {
    fill: #777677;
}

.nube {
    stroke: #ffffff;
    stroke-width: 10;
    stroke-miterlimit: 10;
}

.publicitario {
    display: flex;
    position: relative;
    align-items: center;
    height: calc(100% - #{calcular(30.84)});
    & .contenido {
        width: 100%;
        height: 85%;
        position: absolute;
        padding-top: calcular(5);

        & .descripcion {
            height: calc(100% - #{calcular(25.84)});
            width: 60%;
            margin-left: 20%;
            display: flex;
            overflow-y: auto;
            overflow-x: hidden;
            & p{
                white-space: pre-line;
            }
            &::-webkit-scrollbar {
                display: block !important;
                width: $ancho-barra-scroll;
            }

            &::-webkit-scrollbar-track {
                background: $blanco;
                border-left: calcular(0.8) solid $celeste-base;
                border-radius: $ancho-barra-scroll;
            }

            &::-webkit-scrollbar-thumb {
                background: #545454 !important;
                border-radius: $ancho-barra-scroll;
            }

            &::-webkit-scrollbar-thumb:hover {
                background: #545454;
            }
            padding-right: calcular(2);
            text-align: center;
            & span {
                margin: auto;
                width: 100%;
            }
        }

        & .input {
            width: 100%;
            position: relative;
            @include centrado();
            position: absolute;
            bottom: 0;
            height: calcular(23.85);
            margin-left: calcular(9);

            & .fecha {
                box-shadow: 0px 0px calcular(0.83) 0 white inset;
                opacity: 0.85;
                width: fit-content;
                height: fit-content;
                border-radius: $interlineado-15;
                padding: 1.5vw $interlineado-6;
                box-sizing: border-box;
                background-color: $titulo-fecha;
                color: $blanco;
                font-size: $letra-5;
                line-height: 1;
                font-weight: bold;
            }
        }
    }
}
