<app-appbar #barra [configuracion]="configuracionAppBar"> </app-appbar>
<div *ngIf="cargando;else presentar" class="tranparencia-base cuerpo centrar">
    <app-cargando></app-cargando>
</div>

<ng-template #presentar>
    <div class="contenido-general">
        <div class="desean-contactarme" >

            <div class="contactos-desean-contactarme-contador" (tap)="clickMostrarMensajesNoLeidos()">
                <div class="item-lista-contactos">
                    <app-item-lista-contactos [configuracion]='configItemDeseanContactarmeContador'>
                    </app-item-lista-contactos>
                </div>
            </div>
        </div> 
        <div class="titulos">
            <p [ngClass]="estiloTexto.obtenerEstilosTexto({ 
                color: estiloTexto.colorDelTexto.TEXTOVERDEBASE, 
                estiloTexto: estiloTexto.estilosDelTexto.BOLDCONSOMBRA, 
                enMayusculas: true,
                tamanoConInterlineado: estiloTexto.tamanoDeTextoConInterlineado.L5_IGUAL 
            })" class="mis-contactos-titulo"> {{'m3v7texto5' | translate }}
            </p>
            <p [ngClass]="estiloTexto.obtenerEstilosTexto({ 
                color: estiloTexto.colorDelTexto.TEXTOAZULBASE, 
                estiloTexto: estiloTexto.estilosDelTexto.REGULAR, 
                enMayusculas: true,
                tamanoConInterlineado: estiloTexto.tamanoDeTextoConInterlineado.L1_IGUAL 
            })" class="click-abrir"> {{'m3v7texto6' | translate }}
        </div>
        <div class="lista-contactos">

            <app-lista-vertical [dataLista]='dataListaContactos'>
                <div *ngIf="dataListaContactos.lista.length>0; else listaVacia">
                    <div *ngFor='let contacto of dataListaContactos.lista; let i=index'>
                        <div class="item-lista-contactos">
                            <app-item-lista-contactos [configuracion]='contacto'>
                            </app-item-lista-contactos>
                        </div>
                    </div>
                </div>
                <ng-template #listaVacia>
                    <div class="centrar txt-color-gris">
                        {{internacionalizacionNegocio.obtenerTextoSincrono('text13')}}
                    </div>
                </ng-template>
            </app-lista-vertical>

        </div>
        <!-- <div class="mis-contactos">


        </div> -->
    </div>
</ng-template>
<app-dialogo [configuracion]="configDialoEliminarContacto"></app-dialogo>