@import "../../../../assets/estilos/colores.scss";
@import "../../../../assets/estilos/dimensiones.scss";
@import "../../../../assets/estilos/estiloColor.scss";
@import "../../../../assets/estilos/estiloForma.scss";
@import "../../../../assets/estilos/imagenes.scss";

$tamano-item-lista-contacto: calcular(20);
$defecto-bottom-nuevo: 0.57;


.contenido-general {
    height: $cuerpo-general;
    overflow: hidden;
    background-color: white;
    box-sizing: border-box;
    padding-left: $espacio-267;
    padding-right: $espacio-267;
    overflow: scroll;
}

.click-abrir{
    padding-top: $espacio-0178 - ($defecto-bottom * 2);
}

.desean-contactarme {
    padding-top: $espacio-0316;
    box-sizing: border-box;
    padding-bottom: $espacio-0316 - $defecto-bottom;
}
.contactos-desean-contactarme-contador {
    height: $tamano-item-lista-contacto;
    box-sizing: border-box;
}

.contactos-desean-contactarme {
    padding-top: $espacio-041;
    box-sizing: border-box;
}

.mis-contactos {
    // height: calc(100% - #{$tamano-item-lista-contacto});
    box-sizing: border-box;
}

.titulos {
    padding-left: $espacio-0658;
    width: 100%;
    height: $espacio-622 + $espacio-0356 + $defecto-bottom-nuevo;
    box-sizing: border-box;
    text-align: left;
    & p {
        white-space: unset;
    }
    padding-bottom: $espacio-0178;
}
.espacio17 {
    height: $espacio-0178 - $defecto-top;
}

.lista-contactos {
    padding-top: $espacio-178 - $defecto-bottom;
    // height: calc(100% - (#{$espacio-622 + $espacio-0356 + $espacio-178}));
    height: fit-content;
    box-sizing: border-box;
}
.item-lista-contactos {
    margin-bottom: $espacio-041;
}
