<app-appbar [configuracion]="configuracionAppBar"> </app-appbar>

<div class="listaMenu">
    <div class="fondo-transparente"> </div>
    <app-item-menu-perfiles [configuracionItem]="prepararItemMiPerfil()">
    </app-item-menu-perfiles>
    <div *ngFor="let item of listaTipoPerfil">
        <app-item-menu-perfiles [configuracionItem]="prepararItemTipoPerfil(item)"></app-item-menu-perfiles>
    </div>
    <app-item-menu-perfiles *ngIf="itemInformacion" [configuracionItem]="prepareItemInformacion(itemInformacion)">
    </app-item-menu-perfiles>

</div>   