@import "../../../../assets/estilos/dimensiones.scss";
@import "../../../../assets/estilos/colores.scss";

$mitad-item-6920: calc((100% - #{$item-menu-ancho-6920}) / 2);
.listaMenu {
    height: calc(100vh - #{$appbar-alto-default} - #{$espesor-089}) !important;
    // height: 100%;
    overflow-y: auto;
    width: 100%;
    box-sizing: border-box;
    // & .fondo-transparente {
    //     width: $item-menu-ancho-6920;
    //     min-height: 100%;
    //     background-color: $tranparencia-base;
    //     position: absolute;
    //     z-index: -1;
    //     margin-left: $mitad-item-6920;
    // }
}
 
// .espacioInput {
//     height: $espacio-0316;
// }

