
<div class="no-disponible">  <p> {{ 'landingSoloVertical' | translate }} </p> </div>
<div class="contenedor-landing">
    <div class="header">
        <div class="menu">
            <div class="menu1">
                <div gestorEventos (tap)="eventoHomePage()" class="item-header">
                    <p [ngClass]="{
                            'activo': paginas ===0,
                            'boton': true,
                            'con-margen': true
                        }">
                        {{ 'landingRegresarPagPrincipal' | translate }}
                    </p>
                </div>
                <div class="linea"></div>
                <div gestorEventos (tap)="eventoclick(1)" class="item-header">
                    <p [ngClass]="{
                            'activo': paginas === 1,
                            'boton': true,
                            'con-margen': true
                        }">
                        {{ 'landingNuestraFinca' | translate }}
                    </p>
                </div>
                <div class="linea"></div>
                <div gestorEventos (tap)="eventoclick(2)" class="item-header">
                    <p [ngClass]="{
                            'activo': paginas === 2,
                            'boton': true,
                            'con-margen': true
                        }">
                        {{ 'landingHospedaje' | translate }}
                    </p>
                </div>
                <div class="linea"></div>
                <div gestorEventos (tap)="eventoclick(3)" class="item-header">
                    <p [ngClass]="{
                            'activo': paginas === 3,
                            'boton': true,
                            'con-margen': true
                        }">
                        {{ 'landingVideoVilcabamba' | translate }}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="lineaverde">
    </div>

    <div class="padre-bodys">
        <div [ngClass]="{
                'body': true,
                'mostrar': paginas === 1
            }" id="bodylinea">
            <div class="bodyhijo">
                <p class="a">
                    {{ 'landingGazelookEstaUbicada' | translate }} {{ 'landingHistoriaLarga' | translate }}
                </p>
                <div class="bloque-fotos">
                    <div class="item">
                        <img src="https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/finca/1.jpg">
                    </div>
                    <div class="item">
                        <img src="https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/finca/2.jpg">
                    </div>
                    <div class="item">
                        <img src="https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/finca/3.jpg">
                    </div>
                </div>
                <p class="b">
                    {{ 'landingEnElValle' | translate }}
                </p>
                <div class="bloque-fotos">
                    <div class="item">
                        <img src="https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/finca/4.jpg">
                    </div>
                    <div class="item">
                        <img src="https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/finca/5.jpg">
                    </div>
                    <div class="item">
                        <img src="https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/finca/6.jpg">
                    </div>
                </div>
                <p class="c">
                    {{ 'landingCreadoUnJardin' | translate }}
                </p>
                <div class="bloque-slider">
                    <div class="slider" [id]="sliderUno.idSlider">
                        <div class="portada">
                            <img *ngFor="let item of imgSliderUno" [ngClass]="{
                                        'imagen': true,
                                        'activa': sliderUno.elementoActivo === item.url
                                    }" [src]="'https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/finca/Slider1/' + item.url + '.jpg'">
                        </div>
                        <div class="miniaturas">
                            <div *ngFor="let item of imgSliderUno" class="mini">
                                <img [src]="'https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/finca/Slider1/' + item.url + '.jpg'">
                                <div [ngClass]="{
                                            'indicador': true,
                                            'mostrar': item.url === sliderUno.elementoActivo
                                        }">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="d">
                    {{ 'landingNuestrasInstalaciones' | translate }}
                </p>
                <!-- <p class="e boton" (tap)="eventoclick(2)">
                    {{ 'landingVerHospedaje' | translate }}
                </p> -->
                <div class="bloque-slider">
                    <div class="slider" [id]="sliderDos.idSlider">
                        <div class="portada">
                            <img *ngFor="let item of imgSliderDos" [ngClass]="{
                                        'imagen': true,
                                        'activa': sliderDos.elementoActivo === item.url
                                    }" [src]="'https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/finca/Slider2/' + item.url + '.jpg'">
                        </div>
                        <div class="miniaturas">
                            <div *ngFor="let item of imgSliderDos" class="mini">
                                <img [src]="'https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/finca/Slider2/' + item.url + '.jpg'">
                                <div [ngClass]="{
                                            'indicador': true,
                                            'mostrar': item.url === sliderDos.elementoActivo
                                        }">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- ACCOMODATION -->
        <div [ngClass]="{
                'body': true,
                'mostrar': paginas === 2
            }" id="bodylinea">
            <div class="bodyhijo2">
                <p class="f">
                    {{ 'landingPensamosEnSuComodidad' | translate }}
                </p>
                <div class="bloque-slider">
                    <div class="slider" [id]="sliderTres.idSlider">
                        <div class="portada">
                            <img *ngFor="let item of imgSliderTres" [ngClass]="{
                                    'imagen': true,
                                    'activa': sliderTres.elementoActivo === item.url
                                }" [src]="'https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/finca/Slider3/' + item.url + '.jpg'">
                        </div>
                        <div class="miniaturas">
                            <div *ngFor="let item of imgSliderTres" class="mini">
                                <img [src]="'https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/finca/Slider3/' + item.url + '.jpg'">
                                <div [ngClass]="{
                                        'indicador': true,
                                        'mostrar': item.url === sliderTres.elementoActivo
                                    }">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="g">
                    {{ 'landingAmbasCasasCapacidad' | translate }}
                </p>
                <p class="h">
                    {{ 'landingNuestroIgloo' | translate }}
                </p>
                <div class="bloque-slider">
                    <div class="slider" [id]="sliderCuatro.idSlider">
                        <div class="portada">
                            <img *ngFor="let item of imgSliderCuatro" [ngClass]="{
                                    'imagen': true,
                                    'activa': sliderCuatro.elementoActivo === item.url
                                }" [src]="'https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/finca/Slider4/' + item.url + '.jpg'">
                        </div>
                        <div class="miniaturas">
                            <div *ngFor="let item of imgSliderCuatro" class="mini">
                                <img [src]="'https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/finca/Slider4/' + item.url + '.jpg'">
                                <div [ngClass]="{
                                        'indicador': true,
                                        'mostrar': item.url === sliderCuatro.elementoActivo
                                    }">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- VIDEO VILCABAMBA -->
<!-- 
        <div [ngClass]="{
                'body': true,
                'mostrar': paginas === 3
            }" id="bodylinea">
            <div class="bodyhijo3">
                <iframe src="https://www.youtube-nocookie.com/embed/EfeJB--2KrA" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div> -->
    </div>

    <div class="boton regreso-a-casa" (tap)="eventoclick(1)">
        <p
            *ngIf="botonBack === 0"
            class="sin2 margen-522"
            gestorEventos
            (eventoTap)="irALaPaginaPrincipal()"
        >
            {{ 'landingRegresarPagPrincipalMovil' | translate }}
        </p>
        <p
            *ngIf="botonBack === 1"
            class="sin2 margen-522"
            gestorEventos
            (eventoTap)="irALaPaginaPrincipal()"
        >
            {{ 'landingPreviousMovil' | translate }}
        </p>
    </div>
</div>
