@import "../../../assets/estilos/dimensiones.scss";
@import "../../../assets/estilos/colores.scss";
// @import "../../../assets/estilos/imagenes.scss";

$nav-height-landscape: calcular(8.9);
$nav-height2-landscape: calcular(15.9);

$celeste_landing: #c7e4ff;
$celeste_fuerte: #74b9ed;
$amarillo_landing: #f8b75c;
$turquesa_landing: #aff9d2;
$azulcontacto_landing: #586478;
$rojo-base: #bd1218;
$verde-base: #05e005;
$azul-base: #03486b;
$semi-amarillo: #928f80;
$amarillo-base: #f0b823;
$gris: #cecece;

// Nav
$nav-height: calcular(19.51);
$nav-width: calcular(69.16);
$portadaancho: calcular(35.24);
$alturaidiomas: calcular(6.4);
$anchop: calcular(11.085);
$ancholinea: calcular(0.53);
$anchomarconegro: calcular(0.69);
$anchofaq: calcular(13.2);
$espesorlineaverde: calcular(0.53);
$espesorlineagris: calcular(0.23);
$espesorlinea-verdechick: calcular(0.35);
$ancholinea-verdechik: calcular(66.73);

$anchoflecha: calcular(4.98);
$altoflecha: calcular(2.94);

$anchoflecha-roja: calcular(11.95);
$altoflecha-roja: calcular(8.89);
$margenflecha-roja-top: calcular(4.18);
$margenflecha-roja-izq: calcular(44.87);

$alturatitulo-a-flecha: calcular(13.07);
$alturatitulo-resaltado: calcular(5.61);
$alturatituloresaltado-completo: calcular(14.4);

$altura-imagen: calcular(59);
$altura-portada-miniatura: calcular(83);

$espacioO: calcular(3.87);
$diametrogranja: calcular(15.49);
$espaciogranja: calcular(4.19);
$margencontact: calcular(1.045);
$diametromundochick: calcular(35.05);
$espacio-y-mundochick: calcular(6.45);
$espacio-x-mundochick: calcular(29.8);
$espacioarriba-mundochick: calcular(9.41);
$anchoflecha-LEER: calcular(3.64);
$altoflecha-LEER: calcular(2.15);
$margenflecha-LEER: calcular(0.97);
$margen2flecha-LEER: calcular(0.38);
$padding-intro: calcular(3.91); // TEXTO INTRO PARA NUESTROS OBJETIVOS
$espaciorestante-linea3: calcular(0.16); // ESPACIO RESTANTE PARA LINEA 3 (FINAL MENU INTERNO)

// // Tamaños de letra
// $letra1: calcular(4.9); // Source Sans = 81pt
// $letra2: calcular(2.37);
// $letra3: calcular(4.44); // Source Sans = 75pt
// $letra4: calcular(5.63); // Source Sans = 95pt
// $letra5: calcular(5.73); // Source Sans = titulos resaltados

$letra1: calcular(5.2); // Source Sans = 81pt
$letra1-landscape: calcular(3.2);
$letra2: calcular(2.37);
$letra320: calcular(4);
$letra320-landscape: calcular(2.9);
$letra470: calcular(5);
$letra470-landscape: calcular(3.2);
$letra2-landscape: calcular(2.67);
$letra3: calcular(4.44); // Source Sans = 75pt
$letra3-landscape: calcular(3.2);
$letraVisitaDemo: calcular(4.5);
$letra48: calcular(4.8);
$letraMainTopics: calcular(3.5);
$letra95: calcular(5.4);
$letra95-landscape: calcular(5.4);
$letra4: calcular(5.63); // Source Sans = 95pt
$letra4-landscape: calcular(5);
$letra5: calcular(5.73); // Source Sans = titulos resaltados
$letra5-landscape: calcular(3.5);

// TAMAÑO DE INPUT - CONTENEDORES EN CONTACT US
$ancho-rectangular: calcular(94.66);
$alto-rectangular: calcular(7.82);

$margen-mensaje: calcular(18.52);

.no-disponible {
    display: none;
}
.contenedor-landing {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(0deg, #408ede -76.67%, #051025 29.54%);
}

.header {
    width: 100%;
    height: $nav-height;

    & .linea {
        width: $ancholinea;
        height: $alturaidiomas;
        background-color: $blanco;
    }

    & .menu {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;

        & p {
            font-family: "Patrick Hand", cursive;
            font-size: $letra1;
            color: $celeste_fuerte;
            margin: 0 $espacio-089 0 0;
            text-align: center;
            width: fit-content;
            box-sizing: border-box;
            @include fuenteConInterlineado($letra1, $interlineado-2);

            &.activo {
                color: $amarillo_landing;
            }
        }

        & .menu1 {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            box-sizing: border-box;
            padding-left: $espacio-0178;
            padding-right: $espacio-0178;

            & .item-header {
                padding-left: 2vw;
                padding-right: 2vw;
            }
        }
    }
}

.lineaverde {
    width: 100%;
    background-color: $verde-base;
    height: $espesorlineaverde;
}

.padre-bodys {
    width: 100%;
    height: calc(100vh - (#{$nav-height + $espesorlineaverde + calcular(14)}));
    box-sizing: border-box;
    padding-bottom: $espacio-0249;
    position: relative;

    .body {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        z-index: -1;
        opacity: 0;

        &.mostrar {
            z-index: 1;
            opacity: 1;
        }

        &.alturacompleta {
            height: calc(100vh - #{$nav-height + $espesorlineaverde});

            & p {
                width: 100%;
                text-align: center;
                box-sizing: border-box;
            }
        }

        & .contenedor-sinboton {
            width: 100%;
            display: flex;
            flex-flow: column;
            box-sizing: border-box;
            align-items: center;
            justify-content: center;

            & p.sin2 {
                color: $celeste_fuerte;
                line-height: 0.8;
                font-size: $letra-3;
                margin-top: $espacio-522;
                margin-bottom: $interlineado-2;
                font-weight: 500;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: "Patrick Hand", cursive;
                text-decoration: underline;

                &.margen-522 {
                    margin-bottom: $espacio-522;
                }
            }
        }

        // PAGINA DE INICIO
        & .bodyhijo {
            width: 100%;
            box-sizing: border-box;
            padding-left: $espacio-267;
            padding-right: $espacio-267;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-flow: column;

            & p {
                width: 100%;
                text-align: justify;
                box-sizing: border-box;
            }

            & p.a {
                color: $blanco;
                @include fuenteConInterlineado($letra-3, $interlineado-2);
                margin: $espacio-522 - $defecto-top 0 $espacio-522 - $defecto-total 0;
                font-weight: 200;
            }

            & p.b {
                color: $blanco;
                @include fuenteConInterlineado($letra-3, $interlineado-2);
                margin: 0 0 $espacio-522 - $defecto-total 0;
                font-weight: 200;
            }

            & p.c {
                color: $blanco;
                @include fuenteConInterlineado($letra-3, $interlineado-2);
                margin: 0 0 $espacio-522 - $defecto-total 0;
                font-weight: 200;
            }

            & p.d {
                color: $blanco;
                @include fuenteConInterlineado($letra-3, $interlineado-2);
                margin: $espacio-0249 - $defecto-top 0 $espacio-522 - $defecto-total 0;
                font-weight: 200;
            }

            & p.e {
                color: $celeste_fuerte;
                @include fuenteConInterlineado($letra-3, $interlineado-2);
                margin-bottom: $espacio-522 - $defecto-total;
                font-weight: 200;
                text-decoration: underline;
            }
        }

        // BLOQUE FOTOS 1 OUR FARM
        & .bloque-fotos {
            width: 100%;
            height: fit-content;
            box-sizing: border-box;

            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-flow: column;
            margin-bottom: $espacio-0249;

            & .item {
                width: 94%;
                height: $altura-imagen;
                margin-bottom: $espacio-0249;
                background: rgba(0, 0, 0, 0.5);

                & img {
                    width: 100%;
                    height: 100%;
                }
            }

            // &.solo-dos-fotos {
            //   width: 100%;

            //   & .item {
            //     &.uno {
            //       width: calc(100% - (#{ calcular(57.37) + calcular(1.57)}));
            //     }

            //     &.dos {
            //       width: calcular(57.37);

            //       &.fotolarga {
            //         overflow: hidden;
            //         display: flex;
            //         align-items: center;
            //         justify-content: center;

            //         & img {
            //           width: 100%;
            //           height: auto;
            //         }
            //       }
            //     }
            //   }

            // }
        }

        // SLIDER 1 OUR FARM
        & .bloque-slider {
            width: 100%;
            display: flex;
            flex-flow: row;
            align-items: center;
            justify-content: space-between;
            margin-bottom: $espacio-0249;
            justify-content: center;

            & .separador {
                height: 100%;
                width: calcular(2);
            }

            & .slider {
                width: 94%;
                height: $altura-portada-miniatura;
                display: flex;
                flex-flow: column;

                & .portada {
                    position: relative;
                    width: 100%;
                    height: 75%;
                    margin-bottom: $espacio-0249;

                    & .imagen {
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        z-index: -1;
                        opacity: 0;
                        transition: all 1s 1s cubic-bezier(0.075, 0.82, 0.165, 1);

                        &.activa {
                            z-index: 1;
                            opacity: 1;
                            transition: all 1s 1s cubic-bezier(0.075, 0.82, 0.165, 1);
                        }
                    }
                }

                & .miniaturas {
                    width: 100%;
                    height: 25%;
                    white-space: nowrap;
                    overflow: hidden;
                    position: relative;

                    & .mini {
                        width: calc(100% / 3);
                        height: 100%;
                        display: inline-flex;
                        position: absolute;
                        left: 0;
                        transition: transform 1s 1s ease;

                        // &:nth-child(1n+2) {
                        //   left: calcularDos(0.69);
                        // }

                        & img {
                            width: 100%;
                            height: 100%;
                        }

                        & .indicador {
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            border: calcular(0.3) solid $amarillo_landing;
                            opacity: 0;
                            z-index: -1;
                            transition: all 1s 1s ease;
                            box-sizing: border-box;

                            &.mostrar {
                                opacity: 1;
                                z-index: 1;
                                transition: all 1s 1s ease;
                            }
                        }
                    }
                }
            }
        }

        & .bodyhijo2 {
            width: 100%;
            box-sizing: border-box;
            padding-left: $espacio-267;
            padding-right: $espacio-267;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-flow: column;

            & p {
                width: 100%;
                text-align: justify;
                box-sizing: border-box;
            }

            & p.f {
                color: $blanco;
                @include fuenteConInterlineado($letra-3, $interlineado-2);
                margin: $espacio-522 - $defecto-top 0 $espacio-522 - $defecto-total 0;
                font-weight: 200;
            }

            & p.g {
                color: $blanco;
                @include fuenteConInterlineado($letra-3, $interlineado-2);
                margin: $espacio-522 - $defecto-top 0 0 0;
                font-weight: 200;
            }

            & p.h {
                color: $blanco;
                @include fuenteConInterlineado($letra-3, $interlineado-2);
                margin: $espacio-0178 - $defecto-top 0 $espacio-522 - $defecto-total 0;
                font-weight: 200;
            }

            & .bloque-slider {
                width: 100%;
                display: flex;
                flex-flow: row;
                align-items: center;
                justify-content: space-between;
                margin-bottom: $espacio-0249;
                justify-content: center;

                & .separador {
                    height: 100%;
                    width: calcular(2);
                }

                & .slider {
                    width: 94%;
                    height: $altura-portada-miniatura;
                    display: flex;
                    flex-flow: column;

                    & .portada {
                        position: relative;
                        width: 100%;
                        height: 75%;
                        margin-bottom: $espacio-0249;

                        & .imagen {
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            z-index: -1;
                            opacity: 0;
                            transition: all 1s 1s cubic-bezier(0.075, 0.82, 0.165, 1);

                            &.activa {
                                z-index: 1;
                                opacity: 1;
                                transition: all 1s 1s cubic-bezier(0.075, 0.82, 0.165, 1);
                            }
                        }
                    }

                    & .miniaturas {
                        width: 100%;
                        height: 25%;
                        white-space: nowrap;
                        overflow: hidden;
                        position: relative;

                        & .mini {
                            width: calc(100% / 3);
                            height: 100%;
                            display: inline-flex;
                            position: absolute;
                            left: 0;
                            transition: transform 1s 1s ease;

                            // &:nth-child(1n+2) {
                            //   left: calcularDos(0.69);
                            // }

                            & img {
                                width: 100%;
                                height: 100%;
                            }

                            & .indicador {
                                position: absolute;
                                width: 100%;
                                height: 100%;
                                border: calcularDos(0.2) solid #eee;
                                opacity: 0;
                                z-index: -1;
                                transition: all 1s 1s ease;
                                box-sizing: border-box;

                                &.mostrar {
                                    opacity: 1;
                                    z-index: 1;
                                    transition: all 1s 1s ease;
                                }
                            }
                        }
                    }
                }
            }
        }

        & .bodyhijo3 {
            width: 100%;
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;

            & iframe {
                margin-top: $espacio-0316 + $espacio-0178;
                width: calcular(53.68) + calcular(16.56) + calcular(10);
                height: calcular(50);
            }
        }
    }
}

.regreso-a-casa {
    width: 100%;
    height: calcular(14);
    display: flex;
    align-items: center;
    justify-content: center;

    & p {
        color: $celeste_fuerte;
        line-height: 0.8;
        font-size: $letra-3;
        font-weight: 500;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "Patrick Hand", cursive;
        text-decoration: underline;
    }
}

@media screen and (orientation: landscape) {
    .contenedor-landing {
        display: none;
    }
    .no-disponible {
        width: 100vw;
        height: 100vh;
        background: linear-gradient(0deg, #408ede -76.67%, #051025 29.54%);
        display: block;
        display: flex;
        align-items: center;
        justify-content: center;
        & p{
            font-family: "Patrick Hand", cursive;
            // font-size: $letra1;
            color: $blanco;
            margin: 0 $espacio-089 0 0;
            text-align: center;
            width: fit-content;
            box-sizing: border-box;
            text-transform: uppercase;
            @include fuenteConInterlineado($letra1, $interlineado-2);
        }
    }
    // html {
    //     transform: rotateZ(90deg);
    //   }
}
