@import "../../../../assets/estilos/dimensiones.scss";
@import "../../../../assets/estilos/colores.scss";

.cuerpo {
    background: $blanco;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: $espacio-0316 - $defecto-top;
    & div {
        width: 100%;
        
        &.numero {
            // padding-top: $espacio-0316 - $defecto-top;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            
        }
        &.numero-pad{
            padding-top: $espacio-0316 - $defecto-top;
        }
        &.centrado {
            & p{
                text-align: center !important;
            }
           
        }
    }

    & p {
        width: 100%;
        text-align: justify;
        white-space: pre-line;
    }

}

// .cuerpo-info-util {
//     padding: 0 $espacio-267 0 $espacio-267;
//     background: $blanco;
//     overflow-y: auto;
//     overflow-x: hidden;
//     & .numero {
//         padding-top: $espacio-0316 - $defecto-top;
//         // margin-right: $espacio-0316;
//         // display: flex;
//         // align-items: center;
//         // justify-content: flex-start;
//     }
//     & div {
//         width: 100%;

        
//     }

//     & p {
//         width: 100%;
//         text-align: justify;
//     }

// }