<app-appbar [configuracion]="confAppBar"></app-appbar>
<div class="cuerpo">
    <div class="numero ">
        <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                color: estiloDelTextoServicio.colorDelTexto.TEXTOLACRE,
                estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                enMayusculas: true,
                tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L4_IGUAL
            })">
            {{ 'm4v14texto2' | translate}}
        </p>
    </div>
    <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
            color: estiloDelTextoServicio.colorDelTexto.TEXTOLACRE,
            estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
            enMayusculas: false,
            tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_I2
        })">
        {{ 'm4v14texto3' | translate}}
    </p>
    <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
        color: estiloDelTextoServicio.colorDelTexto.TEXTOLACRE,
        estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
        enMayusculas: false,
        tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_I2
    })">
        {{ 'm4v14texto3.1' | translate}}
    </p>
        <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
        color: estiloDelTextoServicio.colorDelTexto.TEXTOLACRE,
        estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
        enMayusculas: false,
        tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_I2
    })">
        {{ 'm4v14texto3.2' | translate}}
    </p>
    <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
            color: estiloDelTextoServicio.colorDelTexto.TEXTOLACRE,
            estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
            enMayusculas: false,
            tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_I2
        })">
        {{ 'm4v14texto4' | translate}}
    </p>
    <div class="numero numero-pad">
        <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                color: estiloDelTextoServicio.colorDelTexto.TEXTOLACRE,
                estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                enMayusculas: true,
                tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L4_IGUAL
            })">
            {{ 'm4v14texto5' | translate}}
        </p>
    </div>
    <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
            color: estiloDelTextoServicio.colorDelTexto.TEXTOLACRE,
            estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
            enMayusculas: false,
            tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_IGUAL
        })">
        {{ 'm4v14texto6' | translate}}
    </p>
    <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
            color: estiloDelTextoServicio.colorDelTexto.TEXTOLACRE,
            estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
            enMayusculas: false,
            tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_I2
        })">
        {{ 'm4v14texto7' | translate}}
    </p>
    <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
            color: estiloDelTextoServicio.colorDelTexto.TEXTOLACRE,
            estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
            enMayusculas: false,
            tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_I2
        })">
        {{ 'm4v14texto8' | translate}} </p>
    <!-- <p
        [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
            color: estiloDelTextoServicio.colorDelTexto.TEXTOLACRE,
            estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
            enMayusculas: false,
            tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_I2
        })"
    >
        - After deducting operating costs, 84% of the annual fees and revenue from advertisers will be distributed equally to the different projects proposed by users, by country and by location.
    </p>
    <p
        [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
            color: estiloDelTextoServicio.colorDelTexto.TEXTOLACRE,
            estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
            enMayusculas: false,
            tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_I2
        })"
    >
        - As the network grows, it is important to emphasize that the real financing of the projects will not come from the annual fees, but from 84% of the advertisers.
    </p> -->
    <div class="numero ">
        <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                color: estiloDelTextoServicio.colorDelTexto.TEXTOLACRE,
                estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                enMayusculas: true,
                tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L4_IGUAL
            })">
            {{ 'm4v14texto9' | translate}}
        </p>
    </div>
    <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
            color: estiloDelTextoServicio.colorDelTexto.TEXTOLACRE,
            estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
            enMayusculas: false,
            tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_I2
        })">
        {{ 'm4v14texto10' | translate}} </p>
    <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
            color: estiloDelTextoServicio.colorDelTexto.TEXTOLACRE,
            estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
            enMayusculas: false,
            tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_I2
        })">
        {{ 'm4v14texto11' | translate}}
    </p>
    <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
            color: estiloDelTextoServicio.colorDelTexto.TEXTOLACRE,
            estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
            enMayusculas: false,
            tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_I2
        })">
        {{ 'm4v14texto12' | translate}}
    </p>
    <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
            color: estiloDelTextoServicio.colorDelTexto.TEXTOLACRE,
            estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
            enMayusculas: false,
            tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_I2
        })">
        {{ 'm4v14texto13' | translate}}
    </p>
    <div class="numero numero-pad">
        <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                color: estiloDelTextoServicio.colorDelTexto.TEXTOLACRE,
                estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                enMayusculas: true,
                tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L4_IGUAL
            })">
            {{ 'm4v14texto14' | translate}}
        </p>
    </div>
    <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
            color: estiloDelTextoServicio.colorDelTexto.TEXTOLACRE,
            estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
            enMayusculas: false,
            tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_I2
        })">
        {{ 'm4v14texto15' | translate}}
    </p>
    <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
            color: estiloDelTextoServicio.colorDelTexto.TEXTOLACRE,
            estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
            enMayusculas: false,
            tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_I2
        })">
        {{ 'm4v14texto16' | translate}}
    </p>

    <!--  -->
    <div class="numero numero-pad">
        <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                color: estiloDelTextoServicio.colorDelTexto.TEXTOLACRE,
                estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                enMayusculas: true,
                tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L4_IGUAL
            })">
            {{ 'm4v14texto17' | translate}}
        </p>
    </div>
    <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
            color: estiloDelTextoServicio.colorDelTexto.TEXTOLACRE,
            estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
            enMayusculas: false,
            tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_IGUAL
        })">
        {{ 'm4v14texto18' | translate}}
    </p>
    <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
            color: estiloDelTextoServicio.colorDelTexto.TEXTOLACRE,
            estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
            enMayusculas: false,
            tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_I2
        })">
        {{ 'm4v14texto19' | translate}}
    </p>
    <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
        color: estiloDelTextoServicio.colorDelTexto.TEXTOLACRE,
        estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
        enMayusculas: false,
        tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_I2
        })">
        {{ 'm4v14texto20' | translate}}
    </p>
    <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
        color: estiloDelTextoServicio.colorDelTexto.TEXTOLACRE,
        estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
        enMayusculas: false,
        tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_I2
    })">
    {{ 'm4v14texto21' | translate}}
    </p>

    <div class="numero numero-pad centrado">
        <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                color: estiloDelTextoServicio.colorDelTexto.TEXTOLACRE,
                estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                enMayusculas: false,
                tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_IGUAL
            })">
            {{ 'm4v14texto22' | translate}}
        </p>
    </div>
</div>