<app-appbar [configuracion]="confAppbar"></app-appbar>
<div
	[ngClass]="{
		'cuerpo': true,
		'sin-scroll': (historialPerfilActual.modoDelPerfil !== ModoDelPerfilEnum.DEFAULT)
	}"
>
	<div
		[ngClass]="{
			'capa': true,
			'loader': true,
			'mostrar': mostrarLoaoder
		}"
	>
		<app-cargando></app-cargando>
	</div>
	<div
		[ngClass]="{
			'capa': true,
			'error': true,
			'mostrar': !mostrarLoaoder && mostrarError
		}"
	>
		<p
			[ngClass]="estilosDelTextoServicio.obtenerEstilosTexto({ 
				color: estilosDelTextoServicio.colorDelTexto.TEXTOROJOBASE, 
				estiloTexto: estilosDelTextoServicio.estilosDelTexto.BOLD, 
				enMayusculas: false,
				tamanoConInterlineado: estilosDelTextoServicio.tamanoDeTextoConInterlineado.L3_I2
			})"
		>
			{{ contenidoError | translate }}
		</p> 
	</div>
	<div
		*ngIf="perfil"
		[ngClass]="{
			'capa': true,
			'perfil': true,
			'mostrar': !mostrarLoaoder && !mostrarError
		}"
	>
		<div
			*ngIf="!params.esPropietario"
			[ngClass]="{
				'tipo-contacto-usuario': true,
				'con-margen-otro-usuario': !params.esPropietario
			}"
		>
			<p
				[ngClass]="estilosDelTextoServicio.obtenerEstilosTexto({
					color: estilosDelTextoServicio.colorDelTexto.TEXTOAMARILLOMEDIO,
					estiloTexto: estilosDelTextoServicio.estilosDelTexto.REGULAR,
					enMayusculas: true,
					tamanoConInterlineado: estilosDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL
				})"
			>
				{{ tipoPerfilVisitar }}
			</p>
			
		</div>
		<!-- Indicaciones -->
		<div
			[ngClass]="{
				'indicaciones': true,
				'con-margen-propietario': params.esPropietario,
				'con-margen-otro-usuario': !params.esPropietario
			}"
		>
			<!-- Indicaciones perfil propietario -->
			<p
				*ngIf="params.esPropietario"
				[ngClass]="estilosDelTextoServicio.obtenerEstilosTexto({ 
					color: estilosDelTextoServicio.colorDelTexto.TEXTOBLANCO, 
					estiloTexto: estilosDelTextoServicio.estilosDelTexto.REGULAR, 
					enMayusculas: true,
					tamanoConInterlineado: estilosDelTextoServicio.tamanoDeTextoConInterlineado.L1_IGUAL
				})"
			>
				{{ 'm3v2texto3' | translate }}
			</p>
			<!-- Indicaciones perfil de otro usuario -->
			<p
				*ngIf="!params.esPropietario"
				[ngClass]="estilosDelTextoServicio.obtenerEstilosTexto({ 
					color: estilosDelTextoServicio.colorDelTexto.TEXTOBLANCO, 
					estiloTexto: estilosDelTextoServicio.estilosDelTexto.REGULAR, 
					enMayusculas: true,
					tamanoConInterlineado: estilosDelTextoServicio.tamanoDeTextoConInterlineado.L1_IGUAL
				})"
			>
				{{ 'm3v1texto5' | translate }}
			</p>
			<p
				*ngIf="!params.esPropietario"
				[ngClass]="estilosDelTextoServicio.obtenerEstilosTexto({ 
					color: estilosDelTextoServicio.colorDelTexto.TEXTOAZULCLARO, 
					estiloTexto: estilosDelTextoServicio.estilosDelTexto.REGULAR, 
					enMayusculas: true,
					tamanoConInterlineado: estilosDelTextoServicio.tamanoDeTextoConInterlineado.L1_IGUAL
				})"
			>
				{{ 'm3v1texto6' | translate }}
			</p>
		</div>
		<!-- Albums del perfil -->
		<div class="albums">
			<div
				class="item-album"
				(tap)="eventoTapAlbums(CodigosCatalogoTipoAlbumEnum.PERFIL)"
			>
				<app-item-circulo [configuracion]="confAlbumPerfil"></app-item-circulo>
			</div>
			<app-portada-gaze [configuracionPortada]="confPortada"></app-portada-gaze>
			<div
				class="item-album"
				gestorEventos
				(eventoTap)="eventoTapAlbums(CodigosCatalogoTipoAlbumEnum.GENERAL)"
				(dobleTap)="eventoDobleTapAlbums()"
			>
				<app-item-rectangulo [configuracion]="confAlbumGeneral"></app-item-rectangulo>
			</div>
		</div>
		<!-- Nombre de contacto del usuario -->
		<div
			*ngIf="!perfil.nombreContactoTraducido"
			[ngClass]="{
				'nombre-contacto-usuario': true,
				'con-margen-otro-usuario': !params.esPropietario
			}"
		>
			<p
				[ngClass]="estilosDelTextoServicio.obtenerEstilosTexto({
					color: estilosDelTextoServicio.colorDelTexto.TEXTOAMARILLOMEDIO,
					estiloTexto: estilosDelTextoServicio.estilosDelTexto.BOLD,
					enMayusculas: true,
					tamanoConInterlineado: estilosDelTextoServicio.tamanoDeTextoConInterlineado.L3_IGUAL
				})"
			>
				{{ perfil.nombreContacto }}
			</p>
			
		</div>

		<div
			*ngIf="perfil.nombreContactoTraducido"
			[ngClass]="{
					'nombre-contacto-usuario': true,
					'con-margen-otro-usuario': !params.esPropietario
			}"
		>
			<p
			[ngClass]="estilosDelTextoServicio.obtenerEstilosTexto({
					color: estilosDelTextoServicio.colorDelTexto.TEXTOAMARILLOMEDIO,
					estiloTexto: estilosDelTextoServicio.estilosDelTexto.BOLD,
					enMayusculas: true,
					tamanoConInterlineado: estilosDelTextoServicio.tamanoDeTextoConInterlineado.L3_IGUAL
				})"
			>
				{{ perfil.nombreContacto }} | {{ perfil.nombreContactoTraducido}}
			</p>
			
		</div>
		
		

		<!-- Boton mis contactos, perfil propietario -->
		<div
			*ngIf="params.esPropietario && historialPerfilActual.modoDelPerfil === ModoDelPerfilEnum.DEFAULT"
			class="boton-mis-contactos"
		>
			<app-button [botonCompartido]="confBotonMisContactos"></app-button>
		</div>
		<!-- Invitaciones de contacto o contactos de otro perfil -->
		<div
			[ngClass]="{
				'bloque-perfil': true,
				'contactos-usuario': true,
				'mostrar-bloque': historialPerfilActual.modoDelPerfil === ModoDelPerfilEnum.AMPLIAR_CONTACTOS || historialPerfilActual.modoDelPerfil === ModoDelPerfilEnum.DEFAULT,
				'ampliar-contactos': historialPerfilActual.modoDelPerfil === ModoDelPerfilEnum.AMPLIAR_CONTACTOS
			}"
		>
			<!-- Contactos invitando -->
			<div class="content-titulos">
				<p
					*ngIf="params.esPropietario"
					[ngClass]="estilosDelTextoServicio.obtenerEstilosTexto({
						color: estilosDelTextoServicio.colorDelTexto.TEXTOAZULMEDIO,
						estiloTexto: estilosDelTextoServicio.estilosDelTexto.REGULAR,
						enMayusculas: true,
						tamanoConInterlineado: estilosDelTextoServicio.tamanoDeTextoConInterlineado.L4_IGUAL
					})"
				>
					{{ 'm3v2texto6' | translate }}
				</p>
				<!-- Contactos nombre del usuario -->
				<p
					*ngIf="!params.esPropietario"
					[ngClass]="estilosDelTextoServicio.obtenerEstilosTexto({
						color: estilosDelTextoServicio.colorDelTexto.TEXTOAZULMEDIO,
						estiloTexto: estilosDelTextoServicio.estilosDelTexto.REGULAR,
						enMayusculas: true,
						tamanoConInterlineado: estilosDelTextoServicio.tamanoDeTextoConInterlineado.L4_IGUAL
					})"
				>
					{{ 'm3v3texto6' | translate: {nombre: nombreDeUsuario} }}
				</p>
				<p
					*ngIf="confListaContactos.lista.length > 0"
					[ngClass]="estilosDelTextoServicio.obtenerEstilosTexto({
						color: estilosDelTextoServicio.colorDelTexto.TEXTOBLANCO,
						estiloTexto: estilosDelTextoServicio.estilosDelTexto.REGULAR,
						enMayusculas: true,
						tamanoConInterlineado: estilosDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL
					})"
				>
					{{ 'm3v2texto7' | translate }}
				</p>
				<p
					*ngIf="confListaContactos.lista.length > 0 && params.esPropietario"
					[ngClass]="estilosDelTextoServicio.obtenerEstilosTexto({
						color: estilosDelTextoServicio.colorDelTexto.TEXTOCELESTE,
						estiloTexto: estilosDelTextoServicio.estilosDelTexto.REGULAR,
						enMayusculas: true,
						tamanoConInterlineado: estilosDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL
					})"
				>
					{{ 'm3v2texto8' | translate }}
				</p>
			</div>

			<div
				class="lista-contactos"
				[id]="idCapaListaContactos"
				(scroll)="detectarScroolEnListaContactos()"
			>
				<div class="caja-interna">
					<!-- Si no hay contactos o invintaciones -->
					<app-titulo-rectangulo 
						*ngIf="confListaContactos.lista.length === 0 && historialPerfilActual.modoDelPerfil === ModoDelPerfilEnum.DEFAULT"
						[configuracion]="confAvisoSinContactos"
					></app-titulo-rectangulo>
					<!-- Si hay contactos o invitaciones -->
					<div
						*ngFor="let item of confListaContactos.lista;let i = index"
						[ngClass]="{
							'item-contacto': true,
							'sin-margen-derecha': ((i + 1) % 4 === 0)
						}"
						gestorEventos
						(eventoTap)="eventoTapContacto(item.id)"
						(dobleTap)="eventoDobleTapContacto(item.id)"
					>
						<app-item-circulo
							[configuracion]="item"
						></app-item-circulo>
					</div>
				</div>
				<!-- cargando interno -->
				<div
					*ngIf="confListaContactos.cargando && historialPerfilActual.modoDelPerfil === ModoDelPerfilEnum.AMPLIAR_CONTACTOS"
					[ngClass]="{
						'cargando-interno': true,
						'completo': confListaContactos.lista.length === 0
					}"
				>
					<app-cargando [diametro]="DiametroDelLoaderEnum.LOADER_BOTON_ICONO"></app-cargando>
				</div>
			</div>
		</div>
		<!-- Noticias del usuario o de otro pergil -->
		<div
			[ngClass]="{
				'bloque-perfil': true,
				'noticias-usuario': true,
				'mostrar-bloque': historialPerfilActual.modoDelPerfil === ModoDelPerfilEnum.AMPLIAR_NOTICIAS || historialPerfilActual.modoDelPerfil === ModoDelPerfilEnum.DEFAULT,
				'ampliar-noticias': historialPerfilActual.modoDelPerfil === ModoDelPerfilEnum.AMPLIAR_NOTICIAS
			}"
		>
			<!-- Noticias propietario -->
			<div class="content-titulos">
				<p
					*ngIf="params.esPropietario"
					[ngClass]="estilosDelTextoServicio.obtenerEstilosTexto({
						color: estilosDelTextoServicio.colorDelTexto.TEXTOAZULMEDIO,
						estiloTexto: estilosDelTextoServicio.estilosDelTexto.REGULAR,
						enMayusculas: true,
						tamanoConInterlineado: estilosDelTextoServicio.tamanoDeTextoConInterlineado.L4_IGUAL
					})"
				>
					{{ 'm3v2texto9' | translate }}
				</p>
				<!-- Noticias de otro usuario -->
				<p
					*ngIf="!params.esPropietario"
					[ngClass]="estilosDelTextoServicio.obtenerEstilosTexto({
						color: estilosDelTextoServicio.colorDelTexto.TEXTOAZULMEDIO,
						estiloTexto: estilosDelTextoServicio.estilosDelTexto.REGULAR,
						enMayusculas: true,
						tamanoConInterlineado: estilosDelTextoServicio.tamanoDeTextoConInterlineado.L4_IGUAL
					})"
				>
					{{ 'm3v3texto8' | translate: {nombre: nombreDeUsuario} }}
				</p>
				<p
					*ngIf="params.esPropietario && confListaNoticias.lista.length > 0"
					[ngClass]="estilosDelTextoServicio.obtenerEstilosTexto({
						color: estilosDelTextoServicio.colorDelTexto.TEXTOBLANCO,
						estiloTexto: estilosDelTextoServicio.estilosDelTexto.REGULAR,
						enMayusculas: true,
						tamanoConInterlineado: estilosDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL
					})"
				
				>
					{{ 'm3v2texto10' | translate }}
				</p>
				<p
					*ngIf="!params.esPropietario && confListaNoticias.lista.length > 0"
					[ngClass]="estilosDelTextoServicio.obtenerEstilosTexto({
						color: estilosDelTextoServicio.colorDelTexto.TEXTOBLANCO,
						estiloTexto: estilosDelTextoServicio.estilosDelTexto.REGULAR,
						enMayusculas: true,
						tamanoConInterlineado: estilosDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL
					})"
				
				>
					{{ 'm3v2texto7' | translate }}
				</p>
			</div>
			<div
				class="lista-noticias"
				[id]="idCapaListaNoticias"
				(scroll)="detectarScroolEnListaNoticias()"
			>
				<div class="caja-interna">
					<!-- Si no hay noticias -->
					<app-item-proyectos-noticias
						*ngIf="confListaNoticias.lista.length === 0 && historialPerfilActual.modoDelPerfil === ModoDelPerfilEnum.DEFAULT"
						[configuracion]="confAvisoSinNoticias"
					></app-item-proyectos-noticias>
					<!-- Lista de noticias -->
					<div
						*ngFor="let noticia of confListaNoticias.lista;let i = index"
						[ngClass]="{
							'item-noticia': true,
							'sin-margen-derecha': ((i + 1) % 2 === 0)
						}"
						(tap)="eventoTapNoticia(noticia.id)"
					>
						<app-item-proyectos-noticias [configuracion]="noticia"></app-item-proyectos-noticias>
					</div>
				</div>
				<!-- cargando interno -->
				<div
					*ngIf="confListaNoticias.cargando && historialPerfilActual.modoDelPerfil === ModoDelPerfilEnum.AMPLIAR_NOTICIAS"
					[ngClass]="{
						'cargando-interno': true,
						'completo': confListaNoticias.lista.length === 0
					}"
				>
					<app-cargando [diametro]="DiametroDelLoaderEnum.LOADER_BOTON_ICONO"></app-cargando>
				</div>
			</div>
		</div>
		<!-- Proyectos del usuario o de otro perfil -->
		<div
			[ngClass]="{
				'bloque-perfil': true,
				'proyectos-usuario': true,
				'mostrar-bloque': historialPerfilActual.modoDelPerfil === ModoDelPerfilEnum.AMPLIAR_PROYECTOS || historialPerfilActual.modoDelPerfil === ModoDelPerfilEnum.DEFAULT,
				'ampliar-proyectos': historialPerfilActual.modoDelPerfil === ModoDelPerfilEnum.AMPLIAR_PROYECTOS
			}"
		>
			<!-- Proyectos propietario -->
			<div class="content-titulos">
				<p
					*ngIf="params.esPropietario"
					[ngClass]="estilosDelTextoServicio.obtenerEstilosTexto({
						color: estilosDelTextoServicio.colorDelTexto.TEXTOAZULMEDIO,
						estiloTexto: estilosDelTextoServicio.estilosDelTexto.REGULAR,
						enMayusculas: true,
						tamanoConInterlineado: estilosDelTextoServicio.tamanoDeTextoConInterlineado.L4_IGUAL
					})"
				>
					{{ 'm3v2texto11' | translate }}
				</p>
				<!-- Proyectos de otro usuario -->
				<p
					*ngIf="!params.esPropietario"
					[ngClass]="estilosDelTextoServicio.obtenerEstilosTexto({
						color: estilosDelTextoServicio.colorDelTexto.TEXTOAZULMEDIO,
						estiloTexto: estilosDelTextoServicio.estilosDelTexto.REGULAR,
						enMayusculas: true,
						tamanoConInterlineado: estilosDelTextoServicio.tamanoDeTextoConInterlineado.L4_IGUAL
					})"
				>
					{{ 'm3v3texto9' | translate: {nombre: nombreDeUsuario} }}
				</p>
				<p
					*ngIf="params.esPropietario && confListaProyectos.lista.length > 0"
					[ngClass]="estilosDelTextoServicio.obtenerEstilosTexto({
						color: estilosDelTextoServicio.colorDelTexto.TEXTOBLANCO,
						estiloTexto: estilosDelTextoServicio.estilosDelTexto.REGULAR,
						enMayusculas: true,
						tamanoConInterlineado: estilosDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL
					})"
				>
					{{ 'm3v2texto10' | translate }}
				</p>
				
				<p
					*ngIf="!params.esPropietario && confListaProyectos.lista.length > 0"
					[ngClass]="estilosDelTextoServicio.obtenerEstilosTexto({
						color: estilosDelTextoServicio.colorDelTexto.TEXTOBLANCO,
						estiloTexto: estilosDelTextoServicio.estilosDelTexto.REGULAR,
						enMayusculas: true,
						tamanoConInterlineado: estilosDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL
					})"
				>
					{{ 'm3v2texto7' | translate }}
				</p>
			</div>

			<div 
				class="lista-proyectos"
				[id]="idCapaListaProyectos"
				(scroll)="detectarScroolEnListaProyectos()"
			>
				<div class="caja-interna">
					<!-- Si no hay proyectos -->
					<app-item-proyectos-noticias
						*ngIf="confListaProyectos.lista.length === 0 && historialPerfilActual.modoDelPerfil === ModoDelPerfilEnum.DEFAULT"
						[configuracion]="confAvisoSinProyectos"
					></app-item-proyectos-noticias>
					<!-- Si hay proyectos -->
					<div
						*ngFor="let proyecto of confListaProyectos.lista;let i = index"
						[ngClass]="{
							'item-proyecto': true,
							'sin-margen-derecha': ((i + 1) % 2 === 0)
						}"
						(tap)="eventoTapProyecto(proyecto.id)"
					>
						<app-item-proyectos-noticias [configuracion]="proyecto"></app-item-proyectos-noticias>
					</div>
				</div>
				<!-- cargando interno -->
				<div
					*ngIf="confListaProyectos.cargando && historialPerfilActual.modoDelPerfil === ModoDelPerfilEnum.AMPLIAR_PROYECTOS"
					[ngClass]="{
						'cargando-interno': true,
						'completo': confListaProyectos.lista.length === 0
					}"
				>
					<app-cargando [diametro]="DiametroDelLoaderEnum.LOADER_BOTON_ICONO"></app-cargando>
				</div>
			</div>
		</div>
		<!-- Pensamientos del usuario o de otro perfil -->
		<div
			
			[ngClass]="{
				'bloque-perfil': true,
				'pensamientos-usuario': true,
				'mostrar-bloque': historialPerfilActual.modoDelPerfil === ModoDelPerfilEnum.DEFAULT
			}"
		>
			<!-- Pensamientos propietario -->
			<div class="content-titulos"> 
				<p
					*ngIf="params.esPropietario"
					[ngClass]="estilosDelTextoServicio.obtenerEstilosTexto({
						color: estilosDelTextoServicio.colorDelTexto.TEXTOAZULMEDIO,
						estiloTexto: estilosDelTextoServicio.estilosDelTexto.REGULAR,
						enMayusculas: true,
						tamanoConInterlineado: estilosDelTextoServicio.tamanoDeTextoConInterlineado.L4_IGUAL
					})"
				>
					{{ 'm3v2texto15' | translate }}
				</p>
				<!-- Pensamientos de otro usuario -->
				<p
					*ngIf="!params.esPropietario"
					[ngClass]="estilosDelTextoServicio.obtenerEstilosTexto({
						color: estilosDelTextoServicio.colorDelTexto.TEXTOAZULMEDIO,
						estiloTexto: estilosDelTextoServicio.estilosDelTexto.REGULAR,
						enMayusculas: true,
						tamanoConInterlineado: estilosDelTextoServicio.tamanoDeTextoConInterlineado.L4_IGUAL
					})"
				>
					{{ 'm3v3texto11' | translate: {nombre: nombreDeUsuario} }}
				</p>
				<p
					*ngIf="params.esPropietario && confDataLista.lista.length > 0"
					[ngClass]="estilosDelTextoServicio.obtenerEstilosTexto({
						color: estilosDelTextoServicio.colorDelTexto.TEXTOBLANCO,
						estiloTexto: estilosDelTextoServicio.estilosDelTexto.REGULAR,
						enMayusculas: true,
						tamanoConInterlineado: estilosDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL
					})"
				>
					{{ 'm3v2texto10' | translate }}
				</p>

			</div>
			
			<div class="lista-pensamientos" (tap)="irAMisPensamientos()">
				<app-pensamiento-compartido
					*ngIf="confPensamientoCompartido"
					[pensamientoCompartido]="confPensamientoCompartido"
					[dataLista]="confDataLista"
				>
        		</app-pensamiento-compartido>
			</div>
		</div>
		<!-- <div 
			[ngClass]="{
				'bloque-perfil': true,
				'estado-invitacion': true,
				'mostrar-bloque': true
			}"
		>
			<p
				[ngClass]="estilosDelTextoServicio.obtenerEstilosTexto({
					color: estilosDelTextoServicio.colorDelTexto.TEXTOBLANCO,
					estiloTexto: estilosDelTextoServicio.estilosDelTexto.REGULAR,
					enMayusculas: true,
					tamanoConInterlineado: estilosDelTextoServicio.tamanoDeTextoConInterlineado.L2_I1
				})"
			>
				{{ 'VORHERIGE EINLADUNG NICHT ANGENOMMEN' | translate }}
			</p>
		</div> -->
		<!-- Botones estado contacto -->
		<div
			*ngIf="
				historialPerfilActual.modoDelPerfil === ModoDelPerfilEnum.DEFAULT &&
				!loaderBotonesEstadoAsociacion
			"
			[ngClass]="{
				'bloque-perfil': true,
				'mostrar-bloque': !params.esPropietario,
				'botones-estado': true,
				'sin-margen-abajo': confBotonesEstadoAsociacion.length === 0
			}"
		>
			<div
				*ngFor="let boton of confBotonesEstadoAsociacion;let i = index"
				[ngClass]="{
					'caja-boton': true,
					'con-margen-abajo': (
						confBotonesEstadoAsociacion.length > 1 &&
						i !== confBotonesEstadoAsociacion.length - 1
					)
				}"
			>
				<app-button	
					[botonCompartido]="boton"
				></app-button>
			</div>
		</div>
		<div
			*ngIf="loaderBotonesEstadoAsociacion"
			[ngClass]="{
				'bloque-perfil': true,
				'mostrar-bloque': !params.esPropietario,
				'loader-botones-estado': true,
				'sin-margen-abajo': true
			}"
		>
			<app-cargando></app-cargando>
		</div>
	</div>
</div>
<!-- Componentex extras -->
<app-imagen-patanlla-completa [configuracion]="confImagenPantallaCompleta"></app-imagen-patanlla-completa>
<app-resumen-perfil [configuracion]="confResumenPerfil"></app-resumen-perfil>
<app-toast #toast [configuracion]="confToast"></app-toast>
<app-done [configuracion]="confDone"></app-done>
