@import "../../../../assets/estilos/colores.scss";
@import "../../../../assets/estilos/dimensiones.scss";
@import "../../../../assets/estilos/estiloColor.scss";

.cuerpo {
    width: 100%;
    display: flex;
    flex-flow: column;
    & .item-titulo {
        padding-top: $espacio-0316 - $defecto-top;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        padding-bottom: $espacio-522;
        & .titulo-principal {
            text-align: center;
        }
    }
    & .lista-permutaciones {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-flow: column;
        justify-content: center;
        & .texto-elija {
            padding-bottom: $espacio-0178;
        }
        & .item {
            display: flex;
            align-items: center;
            height: auto;
            margin-bottom: $espacio-0316;
            & .cuadrado {
                width: 5.16vw;
                height: 5.16vw;
                background: $blanco;
                border: 1px solid black;
                margin-right: 2.16vw;

                & span {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
            & p.seleccionado {
                color: red;
            }
        }
    }

    & .botones-centrado {
        padding-top: $espacio-522 - $espacio-0316 - $defecto-bottom;
        width: 100%;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        flex-flow: column wrap;
        align-items: center;
        & .linea-verde {
            padding-top: $espacio-522;
            padding-bottom: $espacio-522;
        }
    }
    & .mundo-inter {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        text-shadow: 2px 2px 2px #ffc379;
        & img {
            margin-right: calcular(15);
        }
        & .textos {
            margin-right: calcular(10);
            position: absolute;
            white-space: pre-wrap;
            text-align: center;
        }
    }
}
