<app-appbar #barra *ngIf="configuracionAppBar" [configuracion]="configuracionAppBar">
</app-appbar>
<div [ngClass]="{ 'cuerpo': true,
'mostrar': mostrarCuerpoLoader,
'cuerpo-error': mostrarError
}">
  <div [ngClass]="{ 'capa': true,
      'loader': true,
      'mostrar': mostrarCuerpoLoader
    }">
    <app-cargando></app-cargando>
  </div>
  <div [ngClass]="{
      'capa': true,
      'errordiv': true,
      'mostrar': !mostrarCuerpoLoader && mostrarError
    }">
    <div [ngClass]="
        estiloTexto.obtenerEstilosTexto({
          color: estiloTexto.colorDelTexto.TEXTOLACRE,
          estiloTexto: estiloTexto.estilosDelTexto.BOLD,
          enMayusculas: false,
          tamanoConInterlineado: estiloTexto.tamanoDeTextoConInterlineado.L3_I2
        })
      ">
      {{ mensajeError | translate }}
    </div>
    <button (tap)="obtenerPerfilSeleccionado()" class="botonReintentar">
      {{ "text32" | translate }}
    </button>
  </div>

  <!-- capa principal -->
  <div *ngIf="perfilSeleccionado" [ngClass]="{
      'capa': true,
      'principal': true,
	  'mostrar': !mostrarCuerpoLoader && !mostrarError,
	  'lista-detalle': false
  }">

  
    <section class="actulaizar-perfil-txt">
      <!-- Click para actualizar -->
      <p *ngIf="esMiPerfil" [ngClass]="
           estiloTexto.obtenerEstilosTexto({
             color: estiloTexto.colorDelTexto.TEXTOBLANCO,
             estiloTexto: estiloTexto.estilosDelTexto.REGULAR,
             enMayusculas: true,
             tamanoConInterlineado:
               estiloTexto.tamanoDeTextoConInterlineado.L2_IGUAL
           })
         " class="subtitulo-txt-">
        {{ "m3v2texto3" | translate }}
      </p>

      <p *ngIf="!esMiPerfil " [ngClass]="
      estiloTexto.obtenerEstilosTexto({
        color: estiloTexto.colorDelTexto.TEXTOBLANCO,
        estiloTexto: estiloTexto.estilosDelTexto.REGULAR,
        enMayusculas: true,
        tamanoConInterlineado:
          estiloTexto.tamanoDeTextoConInterlineado.L2_IGUAL
      })
    " class="subtitulo-pd">
        {{"m2v18texto4" | translate }}
      </p>

      <p *ngIf="!esMiPerfil" [ngClass]="
      estiloTexto.obtenerEstilosTexto({
        color: estiloTexto.colorDelTexto.TEXTOAMARILLOBASE,
        estiloTexto: estiloTexto.estilosDelTexto.REGULAR,
        enMayusculas: true,
        tamanoConInterlineado:
          estiloTexto.tamanoDeTextoConInterlineado.L2_IGUAL
      })
    " class="subtitulo-txt">
        {{ "m3v1texto6" | translate }}
      </p>
    </section>
    <!-- fotos perfil -->
    <div class="fotos" *ngIf="!mostrarError">
      <app-item-circulo *ngIf="confItemCir" #albumPerfil [configuracion]="confItemCir"></app-item-circulo>
      <app-portada-gaze #portadaGaze [configuracionPortada]="configuracionPortada"></app-portada-gaze>
      <app-item-rectangulo #albumGeneral [configuracion]="confItemRec"></app-item-rectangulo>
    </div>

    <!-- Nombres -->
    <div class="titulos">
      <p [ngClass]="
        estiloTexto.obtenerEstilosTexto({
          color: estiloTexto.colorDelTexto.TEXTOAMARILLOBASE,
          estiloTexto: estiloTexto.estilosDelTexto.BOLD,
          enMayusculas: true,
          tamanoConInterlineado:
            estiloTexto.tamanoDeTextoConInterlineado.L3_IGUAL
        })
      " class="titulo-nombre">
        {{perfilSeleccionado.nombre | uppercase}}
      </p>

      <div *ngIf="!esMiPerfil && !mostrarListaNoticias && !mostrarListaProyectos" [ngClass]="
        estiloTexto.obtenerEstilosTexto({
          color: estiloTexto.colorDelTexto.TEXTOAMARILLOBASE,
          estiloTexto: estiloTexto.estilosDelTexto.REGULAR,
          enMayusculas: true,
          tamanoConInterlineado:
            estiloTexto.tamanoDeTextoConInterlineado.L4_IGUAL
        }) " class="titulo-contacts">
        <p *ngIf="esMiPerfil">{{ "texto449" | translate }}</p>
        <p *ngIf="!esMiPerfil">{{nombreUsuario}} {{ "texto437" | translate }}</p>
        <!-- Click para actualizar -->

        <p *ngIf="!esMiPerfil && configContactoCircular.contactos.length > 0" [ngClass]="
      estiloTexto.obtenerEstilosTexto({
        color: estiloTexto.colorDelTexto.TEXTOBLANCO,
        estiloTexto: estiloTexto.estilosDelTexto.REGULAR,
        enMayusculas: true,
        tamanoConInterlineado:
          estiloTexto.tamanoDeTextoConInterlineado.L2_IGUAL
      })
    " class="subtitulo-txt">
          {{ 'texto451' | translate }}
        </p>
      </div>
    </div>

    <!-- contactos -->

 
    <div>
      <div class="titulo-rectangulo">
        <div class="btn-contactos" *ngIf="esMiPerfil">
          <app-button [botonCompartido]="configuracionBotonContatos"></app-button>
        </div> 
        <!-- no hay contactos -->
        <div class="titulo-no-contactos" *ngIf="!esMiPerfil && perfilSeleccionado.asociaciones.length <= 0">
          <app-titulo-rectangulo [configuracion]="tituloNoContactos">
          </app-titulo-rectangulo>
        </div>
      </div>
      <!-- invitacion contactos -->
      <section class="content-titulos">
        <p [ngClass]="
                estiloTexto.obtenerEstilosTexto({
                  color: estiloTexto.colorDelTexto.TEXTOAMARILLOBASE,
                  estiloTexto: estiloTexto.estilosDelTexto.REGULAR,
                  enMayusculas: true,
                  tamanoConInterlineado:
                    estiloTexto.tamanoDeTextoConInterlineado.L4_IGUAL
                })
              " class="titulo-txt">
          {{ 'm3v2texto6' | translate }}
        </p>
   
        <!-- Click para actualizar -->
        <p [ngClass]="
              estiloTexto.obtenerEstilosTexto({
                color: estiloTexto.colorDelTexto.TEXTOBLANCO,
                estiloTexto: estiloTexto.estilosDelTexto.REGULAR,
                enMayusculas: true,
                tamanoConInterlineado:
                  estiloTexto.tamanoDeTextoConInterlineado.L2_IGUAL
              })
            " class="subtitulo-txt-1">
          {{ 'm3v2texto7' | translate }}
        </p>
  
        <p [ngClass]="
          estiloTexto.obtenerEstilosTexto({
            color: estiloTexto.colorDelTexto.TEXTOCELESTE,
            estiloTexto: estiloTexto.estilosDelTexto.REGULAR,
            enMayusculas: true,
            tamanoConInterlineado:
              estiloTexto.tamanoDeTextoConInterlineado.L2_IGUAL
          })
        " class="subtitulo-txt">
          {{ 'm3v2texto8' | translate }}
        </p>
      </section>

      <div class="resumen">
        <app-item-circulo *ngFor="let configContacto of dataListaContactos.lista" [configuracion]="configContacto">
        </app-item-circulo>
      </div>
    </div>

    <!-- Noticias -->
    <app-lista-noticias *ngIf="!mostrarListaProyectos" [configuracion]="configNoticias"></app-lista-noticias>

    <!-- proyectos -->
    <section *ngIf="!mostrarListaNoticias">
      <div class="content-titulos">
        <div [ngClass]="
        estiloTexto.obtenerEstilosTexto({
          color: estiloTexto.colorDelTexto.TEXTOAMARILLOBASE,
          estiloTexto: estiloTexto.estilosDelTexto.REGULAR,
          enMayusculas: true,
          tamanoConInterlineado:
            estiloTexto.tamanoDeTextoConInterlineado.L4_IGUAL
        })
      " class="titulo-txt">

          <p *ngIf="esMiPerfil">{{ "m3v2texto11" | translate }}</p>
          <p *ngIf="!esMiPerfil">{{nombreUsuario}} {{ "m3v1texto14" | translate }}</p>

        </div>


        <div *ngIf="esMiPerfil && configuracionesProyectos.length > 0" [ngClass]="
           estiloTexto.obtenerEstilosTexto({
             color: estiloTexto.colorDelTexto.TEXTOBLANCO,
             estiloTexto: estiloTexto.estilosDelTexto.REGULAR,
             enMayusculas: true,
             tamanoConInterlineado:
               estiloTexto.tamanoDeTextoConInterlineado.L2_IGUAL
           })
         " class="subtitulo-txt">
          {{ "m3v2texto12" | translate }}
        </div>

        <div *ngIf="!esMiPerfil && mostrarListaProyectos" [ngClass]="
          estiloTexto.obtenerEstilosTexto({
            color: estiloTexto.colorDelTexto.TEXTOBLANCO,
            estiloTexto: estiloTexto.estilosDelTexto.REGULAR,
            enMayusculas: true,
            tamanoConInterlineado:
              estiloTexto.tamanoDeTextoConInterlineado.L2_IGUAL
          })
        " class="subtitulo-txt">
          {{ "texto493" | translate }}
        </div>
      </div>
      <div class="no-noticia" *ngIf="configuracionesProyectos.length <= 0 && !mostrarListaProyectos">
        <app-item-proyectos-noticias [configuracion]="placeholderProyecto">
        </app-item-proyectos-noticias>
      </div>

      <div class="proyectos-contenedor" *ngIf="configuracionesProyectos.length > 0 && !mostrarListaProyectos">
        <div *ngFor="let configuracionProyecto of configuracionesProyectos; let i= index" class="item-contedor">
          <app-item-proyectos-noticias *ngIf="i < 2" [configuracion]="configuracionProyecto">
          </app-item-proyectos-noticias>
        </div>
      </div>

      <div class="lista-proyectos-padre">

        <app-lista-proyectos [configuracion]="configProyectos" *ngIf="mostrarListaProyectos"></app-lista-proyectos>
      </div>
    </section>

    <!-- pensamientos -->
    <section>
      <div class="content-titulos">
        <div [ngClass]="
        estiloTexto.obtenerEstilosTexto({
          color: estiloTexto.colorDelTexto.TEXTOAMARILLOBASE,
          estiloTexto: estiloTexto.estilosDelTexto.REGULAR,
          enMayusculas: true,
          tamanoConInterlineado:
            estiloTexto.tamanoDeTextoConInterlineado.L4_IGUAL                      
        })
      " class="titulo-txt">
          <p *ngIf="esMiPerfil">{{ "m3v2texto15" | translate }}</p>
          <p *ngIf="!esMiPerfil">{{nombreUsuario}} {{ "texto341" | translate }}</p>
        </div>

        <!-- Click para actualizar -->
        <p *ngIf="esMiPerfil && dataLista.lista.length > 0" [ngClass]="
           estiloTexto.obtenerEstilosTexto({
             color: estiloTexto.colorDelTexto.TEXTOBLANCO,
             estiloTexto: estiloTexto.estilosDelTexto.REGULAR,
             enMayusculas: true,
             tamanoConInterlineado:
               estiloTexto.tamanoDeTextoConInterlineado.L2_IGUAL
           })
         " class="subtitulo-txt">
          {{ "m3v2texto16" | translate }}
        </p>
      </div>

      <div class="cuadro-pensamiento">
        <app-pensamiento-compartido #pensamientos *ngIf="pensamientoCompartido"
          [pensamientoCompartido]="pensamientoCompartido" [dataLista]="dataLista"></app-pensamiento-compartido>
      </div>

      <!-- <div *ngFor="let item of fotosPrueba">
        <img style="width: 65px; height: 65px;" src="{{item.url}}" alt="">
      </div> -->

  
    </section>

    <!-- botones de aceptacion invitacion -->
    <div *ngIf="!mostrarListaNoticias && !mostrarListaProyectos">
      <div *ngFor="let item of botonesInvitacion" class="item-botones width-item">
        <app-button #botonInvitacion [botonCompartido]=item> </app-button>
      </div>
    </div>

  </div>


  

</div>




