<div
    *ngIf="configuracion"
    #fondo
    [ngClass]="{
        'modal': true,
        'mostrar': configuracion.mostrarDialogo,
        'mostrar-libre': configuracion.mostrarDialogoLibre,
        'mostrar-info-vertical': mostrarInfoVertical,
        'mostrar-info-demo': mostrarInfoDemo
    }"
    (tap)="eventoModal($event.target)"
>
    <div
        #principal
        class="contenedorPrincipal"
    >
        <div [ngSwitch]="configuracion.tipo">
            <div *ngSwitchCase="tipoDialogo.CONFIRMACION">
                <div #descripcion class="contenedorDescripcion">
                    <p class="letraDescripcion">{{ configuracion.descripcion | translate }}</p>
                </div>
                <div class="contenedorBotonesConfirmacion">
                    <div *ngFor="let item of configuracion.listaAcciones">
                        <app-button [botonCompartido]="item"></app-button>
                    </div>
                </div>
            </div>

            <div *ngSwitchCase="tipoDialogo.INFO_VERTICAL">
                <div #descripcion class="contenedorDescripcion">
                    <p class="letraDescripcion" [innerHTML]="configuracion.descripcion | translate"></p>
                </div>
            </div>

            <div *ngSwitchCase="tipoDialogo.INFO_VERTICAL_DEMO">
                <div #descripcion class="contenedorDescripcionDemo">
                    <p class="letraDescripcionDemo" [innerHTML]="configuracion.descripcion | translate"></p>
                </div>
            </div>

            <div *ngSwitchCase="tipoDialogo.MULTIPLE_ACCION">
                <div #descripcion class="contenedorDescripcion">
                    <p class="letraDescripcion">{{ configuracion.descripcion  | translate}}</p>
                </div>
                <div class="contenedorBotonesMultipleAccion" *ngFor="let item of configuracion.listaAcciones">
                    <app-button [botonCompartido]="item"></app-button>
                </div>
            </div>

            <div *ngSwitchCase="tipoDialogo.MULTIPLE_ACCION_DEMO">
                <div #descripcion class="contenedorDescripcionDemo">
                    <p class="letraDescripcionDemo">{{ configuracion.descripcion  | translate }}</p>
                </div>
                <div class="contenedorBotonesMultipleAccion" *ngFor="let item of configuracion.listaAcciones">
                    <app-button [botonCompartido]="item"></app-button>
                </div>
            </div>

            <div *ngSwitchCase="tipoDialogo.MULTIPLE_ACCION_HORIZONTAL">
                <div class="contenedorBotonesMultipleAccionHorizontal" *ngFor="let item of configuracion.listaAcciones">
                    <app-button [botonCompartido]="item"></app-button>
                </div>
            </div>

            <div *ngSwitchCase="tipoDialogo.MULTIPLE_ACCION_HORIZONTAL_INFORMACION">
                <div [ngClass]="{
                'contenedorBotonesMultipleAccionHorizontalInformacion': true,
                'noMargen': i == configuracion.accionesDialogoHorizontal.length-1
                }" *ngFor="let item of configuracion.accionesDialogoHorizontal; let i = index">
                    <div [ngClass]="estiloTexto.obtenerEstilosTexto(item.estilosTexto)" class="descripcion-accion hijo">
                        <p class="texto-descrip">
                            {{ item.descripcion | translate }}
                        </p>

                    </div>
                    <div class="boton-accion hijo">
                        <app-button [botonCompartido]="item.accion"></app-button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
