<div class="contenedor-principal">
  <div class="titulo">
    <p
      [ngClass]="
        estilosDelTextoServicio.obtenerEstilosTexto({
          color: estilosDelTextoServicio.colorDelTexto.TEXTOAZULBASE,
          estiloTexto: estilosDelTextoServicio.estilosDelTexto.BOLD,
          enMayusculas: true,
          tamanoConInterlineado:
            estilosDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL
        })
      "
    >
      {{ "m7v2texto3" | translate }}
    </p>
  </div>
  <div class="subTitulo">
    <p
      [ngClass]="
        estilosDelTextoServicio.obtenerEstilosTexto({
          color: estilosDelTextoServicio.colorDelTexto.TEXTOAZULBASE,
          estiloTexto: estilosDelTextoServicio.estilosDelTexto.REGULAR,
          enMayusculas: true,
          tamanoConInterlineado:
            estilosDelTextoServicio.tamanoDeTextoConInterlineado.L1_IGUAL
        })
      "
    >
      {{ "m7v2texto4" | translate }}
    </p>
  </div>

  <div class="fechas">
    <div class="herramientas">
      <select class="select-fechas" name="select" title="anios" [(ngModel)]="fechaInicial" (change)="cambioDeFecha()">
        <option [value]="item" *ngFor="let item of aniosSelect">{{ item}} </option>
      </select>
    </div>
  </div>

  <div class="info-de-moneda">
    <p
      [ngClass]="
        estilosDelTextoServicio.obtenerEstilosTexto({
          color: estilosDelTextoServicio.colorDelTexto.TEXTOAZULBASE,
          estiloTexto: estilosDelTextoServicio.estilosDelTexto.REGULAR,
          enMayusculas: true,
          tamanoConInterlineado:
            estilosDelTextoServicio.tamanoDeTextoConInterlineado.L2_I1
        })
      "
    >
      {{ "m7v2texto5" | translate }}
    </p>
    <p
      [ngClass]="
        estilosDelTextoServicio.obtenerEstilosTexto({
          color: estilosDelTextoServicio.colorDelTexto.TEXTOLACRE,
          estiloTexto: estilosDelTextoServicio.estilosDelTexto.REGULAR,
          enMayusculas: true,
          tamanoConInterlineado:
            estilosDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL
        })
      "
      class=""
    >
      {{ "m7v2texto6" | translate }}
    </p>
    <p
      [ngClass]="
        estilosDelTextoServicio.obtenerEstilosTexto({
          color: estilosDelTextoServicio.colorDelTexto.TEXTOLACRE,
          estiloTexto: estilosDelTextoServicio.estilosDelTexto.REGULAR,
          enMayusculas: true,
          tamanoConInterlineado:
            estilosDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL
        })
      "
      class=""
    >
      {{ "m7v2texto7" | translate }}
    </p>
  </div>

  <section class="item">
    <div class="titulo-azul">
      <p
        [ngClass]="
          estilosDelTextoServicio.obtenerEstilosTexto({
            color: estilosDelTextoServicio.colorDelTexto.TEXTOAZULBASE,
            estiloTexto: estilosDelTextoServicio.estilosDelTexto.BOLD,
            enMayusculas: true,
            tamanoConInterlineado:
              estilosDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL
          })
        "
      >
        {{ "m7v2texto8" | translate }}
      </p>
    </div>

    <div class="cantidades">
      <div class="valores">
        <div class="euros">
          <p
            [ngClass]="
              estilosDelTextoServicio.obtenerEstilosTexto({
                color: estilosDelTextoServicio.colorDelTexto.TEXTOAZULBASE,
                estiloTexto: estilosDelTextoServicio.estilosDelTexto.BOLD,
                enMayusculas: true,
                tamanoConInterlineado:
                  estilosDelTextoServicio.tamanoDeTextoConInterlineado.L3_IGUAL
              })
            "
          >
            {{ aportacionSuscripcionEuro }}
            <span> &#8364; </span>
          </p>
        </div>
        <div class="equivalencia">
          <p
            [ngClass]="
              estilosDelTextoServicio.obtenerEstilosTexto({
                color: estilosDelTextoServicio.colorDelTexto.TEXTOAZULBASE,
                estiloTexto: estilosDelTextoServicio.estilosDelTexto.BOLD,
                enMayusculas: true,
                tamanoConInterlineado:
                  estilosDelTextoServicio.tamanoDeTextoConInterlineado.L3_IGUAL
              })
            "
          >
            =
          </p>
        </div>
        <div class="dolares">
          <p
            [ngClass]="
              estilosDelTextoServicio.obtenerEstilosTexto({
                color: estilosDelTextoServicio.colorDelTexto.TEXTOAZULBASE,
                estiloTexto: estilosDelTextoServicio.estilosDelTexto.BOLD,
                enMayusculas: true,
                tamanoConInterlineado:
                  estilosDelTextoServicio.tamanoDeTextoConInterlineado.L3_IGUAL
              })
            "
          >
            {{ aportacionSuscripcionDolar }}
            <span>&#36;</span>
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="item">
    <div class="titulo-azul">
      <p
        [ngClass]="
          estilosDelTextoServicio.obtenerEstilosTexto({
            color: estilosDelTextoServicio.colorDelTexto.TEXTOAZULBASE,
            estiloTexto: estilosDelTextoServicio.estilosDelTexto.BOLD,
            enMayusculas: true,
            tamanoConInterlineado:
              estilosDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL
          })
        "
      >
        {{ "m7v2texto9" | translate }}
      </p>
    </div>
    <div class="cantidades-extras" *ngFor="let item of cuotasExtrasFechas">
      <div class="fechas">
        <div class="fecha">
          {{ item.fechaCreacion | date: "yyyy/MM/dd" }}
        </div>
      </div>
      <div class="valores">
        <div class="euros">
          <p
            [ngClass]="
              estilosDelTextoServicio.obtenerEstilosTexto({
                color: estilosDelTextoServicio.colorDelTexto.TEXTOAZULBASE,
                estiloTexto: estilosDelTextoServicio.estilosDelTexto.BOLD,
                enMayusculas: true,
                tamanoConInterlineado:
                  estilosDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL
              })
            "
          >
            {{ item.montoEUR }}
            <span> &#8364; </span>
          </p>
        </div>
        <div class="equivalencia">
          <p
            [ngClass]="
              estilosDelTextoServicio.obtenerEstilosTexto({
                color: estilosDelTextoServicio.colorDelTexto.TEXTOAZULBASE,
                estiloTexto: estilosDelTextoServicio.estilosDelTexto.BOLD,
                enMayusculas: true,
                tamanoConInterlineado:
                  estilosDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL
              })
            "
          >
            =
          </p>
        </div>
        <div class="dolares">
          <p
            [ngClass]="
              estilosDelTextoServicio.obtenerEstilosTexto({
                color: estilosDelTextoServicio.colorDelTexto.TEXTOAZULBASE,
                estiloTexto: estilosDelTextoServicio.estilosDelTexto.BOLD,
                enMayusculas: true,
                tamanoConInterlineado:
                  estilosDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL
              })
            "
          >
            {{ item.montoUSD }}
            <span>&#36;</span>
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="item">
    <div class="titulo-azul">
      <p
        [ngClass]="
          estilosDelTextoServicio.obtenerEstilosTexto({
            color: estilosDelTextoServicio.colorDelTexto.TEXTOAZULBASE,
            estiloTexto: estilosDelTextoServicio.estilosDelTexto.BOLD,
            enMayusculas: true,
            tamanoConInterlineado:
              estilosDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL
          })
        "
      >
        {{ "m7v2texto10" | translate }}
      </p>
    </div>
    <div class="cantidades">
      <div class="valores">
        <div class="euros">
          <p
            [ngClass]="
              estilosDelTextoServicio.obtenerEstilosTexto({
                color: estilosDelTextoServicio.colorDelTexto.TEXTOAZULBASE,
                estiloTexto: estilosDelTextoServicio.estilosDelTexto.BOLD,
                enMayusculas: true,
                tamanoConInterlineado:
                  estilosDelTextoServicio.tamanoDeTextoConInterlineado.L3_IGUAL
              })
            "
          >
            {{ valorFinalEuro }}
            <span> &#8364; </span>
          </p>
        </div>
        <div class="equivalencia">
          <p
            [ngClass]="
              estilosDelTextoServicio.obtenerEstilosTexto({
                color: estilosDelTextoServicio.colorDelTexto.TEXTOAZULBASE,
                estiloTexto: estilosDelTextoServicio.estilosDelTexto.BOLD,
                enMayusculas: true,
                tamanoConInterlineado:
                  estilosDelTextoServicio.tamanoDeTextoConInterlineado.L3_IGUAL
              })
            "
          >
            =
          </p>
        </div>
        <div class="dolares">
          <p
            [ngClass]="
              estilosDelTextoServicio.obtenerEstilosTexto({
                color: estilosDelTextoServicio.colorDelTexto.TEXTOAZULBASE,
                estiloTexto: estilosDelTextoServicio.estilosDelTexto.BOLD,
                enMayusculas: true,
                tamanoConInterlineado:
                  estilosDelTextoServicio.tamanoDeTextoConInterlineado.L3_IGUAL
              })
            "
          >
            {{ valorFinalDolar }}
            <span>&#36;</span>
          </p>
        </div>
      </div>
    </div>
  </section>

  <div class="info-final">
    <p
      [ngClass]="
        estilosDelTextoServicio.obtenerEstilosTexto({
          color: estilosDelTextoServicio.colorDelTexto.TEXTOLACRE,
          estiloTexto: estilosDelTextoServicio.estilosDelTexto.BOLD,
          enMayusculas: true,
          tamanoConInterlineado:
            estilosDelTextoServicio.tamanoDeTextoConInterlineado.L1_IGUAL
        })
      "
    >
      {{ "m7v2texto11" | translate }}
    </p>
  </div>
</div>
<app-toast #toast [configuracion]="confToast"></app-toast>
