@use "sass:math";
@import "../../../../assets/estilos/dimensiones.scss";
@import "../../../../assets/estilos/colores.scss";


$centrado-ver-contra: calc(50% - #{math.div($ancho-6382, 2)}) ;
$ancho-ver-password: calcular(10);

.padre-input {
    position: relative;
    border-radius: $interlineado-15;

    &.caja-lectura-registro {
        background-color: #9399a9 ;

        & input {
            background-color: #9399a9   !important;
        }
    }

    & .lectura-registro {
        border-radius: $interlineado-15;
        background-color: transparent;
        position: absolute;
        content: " ";
        width: 100%;
        height: 100%;

        display: flex;
        align-items: center;
        justify-content: center;

        top: 0;
        left: 0;
        overflow: hidden;

        & p {
            text-align: center;
            letter-spacing: calcular(0.05);
            white-space: nowrap;
        }

        &:hover {
            opacity: 0;
            & p {
                display: none;
            }
        }
    }
}

.ver-contrasena{
    cursor: pointer;
  	position: relative;
	background-image: url("https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/botones/icono-password.png");
	background-size: auto 80%;
	background-repeat: no-repeat;
	background-position: center;
	width: $ancho-ver-password;
	height: $alto-0782;
	display: flex;
	justify-content: center;

	position: absolute;
	right: 0;
	top: 0;
	z-index: 0;
}

.registro {
    border: 0;
    height: $alto-0782;
    padding-left: $interlineado-6;
    padding-right: $espacio-0139;
    box-sizing: border-box;
    width: 100%;
    font-size: $letra-3;
    background-color: $input-fondo-registro;
    border-radius: $interlineado-15;

    &::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #000;
        opacity: 1; /* Firefox */
    }
    
    &:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: #000;
    }
    
    &::-ms-input-placeholder {
        /* Microsoft Edge */
        color: #000;
    }
}
.registro-nombre-contacto {
    border: 0;
    height: $alto-0782;
    padding-left: $interlineado-6;
    padding-right: $espacio-0139;
    box-sizing: border-box;
    width: 100%;
    font-size: $letra-3;
    background-color: rgb(214 178 194 / 40%);;
    border-radius: $interlineado-15;

    &::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #000;
        opacity: 1; /* Firefox */
    }
    
    &:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: #000;
    }
    
    &::-ms-input-placeholder {
        /* Microsoft Edge */
        color: #000;
    }
}

.registro-inhabilitado {
    border: 0;
    height: $alto-0782;
    padding-left: $interlineado-6;
    padding-right: $espacio-0139;
    box-sizing: border-box;
    width: 100%;
    font-size: $letra-3;
    background-color: $input-fondo-registro;
    border-radius: $interlineado-15;

    &::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #000;
        opacity: 1; /* Firefox */
    }
    
    &:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: #000;
    }
    
    &::-ms-input-placeholder {
        /* Microsoft Edge */
        color: #000;
    }
}

.proyecto {
    border: 0;
    height: $alto-0782;
    padding-left: $interlineado-6;
    padding-right: $espacio-0139;
    box-sizing: border-box;
    width: 100%;
    font-size: $letra-3;
    background-color: $input-fondo-registro;
    border-radius: $interlineado-15;
    font-weight: bold;
    text-transform: uppercase;

    &::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: $negro;
        opacity: 1; /* Firefox */
    }
    
    &:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: $negro;
    }
    
    &::-ms-input-placeholder {
        /* Microsoft Edge */
        color: $negro;
    }
}

.proyecto-minuculas {
    border: 0;
    height: $alto-0782;
    padding-left: $interlineado-6;
    padding-right: $espacio-0139;
    box-sizing: border-box;
    width: 100%;
    font-size: $letra-3;
    background-color: $input-fondo-registro;
    border-radius: $interlineado-15;
    font-weight: bold;

    &::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: $negro;
        opacity: 1; /* Firefox */
    }
    
    &:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: $negro;
    }
    
    &::-ms-input-placeholder {
        /* Microsoft Edge */
        color: $negro;
    }
}

.proyecto-centrado {
    border: 0;
    height: $alto-0782;
    padding-left: $interlineado-6;
    padding-right: $espacio-0139;
    box-sizing: border-box;
    width: 100%;
    font-size: $letra-3;
    background-color: $input-fondo-registro;
    border-radius: $interlineado-15;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;

    &::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: $negro;
        opacity: 1; /* Firefox */
    }
    
    &:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: $negro;
    }
    
    &::-ms-input-placeholder {
        /* Microsoft Edge */
        color: $negro;
    }
}

.proyecto-minuculas-autor {
    border: 0;
    height: $alto-0782;
    padding-left: $interlineado-6;
    padding-right: $espacio-0139;
    box-sizing: border-box;
    width: 100%;
    font-size: $letra-3;
    background-color: $input-fondo-registro;
    border-radius: $interlineado-15;
    font-weight: bold;

    &::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: $negro;
        opacity: 1; /* Firefox */
    }
    
    &:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: $negro;
    }
    
    &::-ms-input-placeholder {
        /* Microsoft Edge */
        color: $negro;
    }
}

.titulo-audio {
    border: 0;
    height: 100%;
    padding-left: $interlineado-6;
    padding-right: $espacio-0139;
    box-sizing: border-box;
    width: 100%;
    font-size: $letra-2;
    background-color: $input-fondo-registro;
    border-radius: $interlineado-2;
    font-weight: bold;
    text-align: center;

    &::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: $negro;
        opacity: 1; /* Firefox */
    }
    
    &:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: $negro;
    }
    
    &::-ms-input-placeholder {
        /* Microsoft Edge */
        color: $negro;
    }
}


.defecto {
    box-sizing: border-box;
    width: 100%;
    font-size: $letra-3;
}

.login {
    border: 0;
    height: $alto-0782;
    padding-left: $interlineado-6;
    padding-right: $espacio-0139;
    box-sizing: border-box;
    width: $ancho-pagina * 0.6386;
    font-size: $letra-3;
    background-color: $input-fondo;
    border-radius: $interlineado-15;
    outline: none;
    color: $blanco;

    &::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #c9bfbf;
        opacity: 1; /* Firefox */
    }
    
    &:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: #c9bfbf;
    }
    
    &::-ms-input-placeholder {
        /* Microsoft Edge */
        color: #c9bfbf;
    }
}


.mi-cuenta {
    border: 0;
    height: $alto-0782;
    padding-left: $interlineado-6;
    padding-right: $espacio-0139;
    box-sizing: border-box;
    width: 100%;
    font-size: $letra-3;
    background-color: $input-fondo;
    border-radius: $interlineado-15;
    outline: none;
    color: $blanco;

    &::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: $blanco;
        opacity: 1; /* Firefox */
    }
    
    &:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: $blanco;
    }
    
    &::-ms-input-placeholder {
        /* Microsoft Edge */
        color: $blanco;
    }
}
// input.login {
//     color: $blanco;
// }

.contador {
    width: 100%;
    height: fit-content;
    margin-top: calcular(0.5);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


.contacto {
    border: 0;
    height: $alto-0782;
    padding-left: $interlineado-6;
    padding-right: $espacio-0139;
    box-sizing: border-box;
    width: 100%;
    font-size: $letra-3;
    background-color: $input-fondo-registro;
    border-radius: $interlineado-15;
    // font-weight: bold;
    // text-transform: uppercase;
    color: $blanco;

    &::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: $blanco;
        opacity: 1; /* Firefox */
    }
    
    &:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: $blanco;
    }
    
    &::-ms-input-placeholder {
        /* Microsoft Edge */
        color: $blanco;
    }
}