<app-appbar [configuracion]="confAppbar"></app-appbar>
<div
    *ngIf="params.estado"
    [ngClass]="{
        'cuerpo': true
    }"
>
    <div
        [ngClass]="{
            'capa': true,
            'loader': true,
            'mostrar': mostrarCapaLoader
        }"
    >
        <app-cargando></app-cargando>
    </div>
    <div
        [ngClass]="{
            'capa': true,
            'errordiv': true,
            'mostrar': !mostrarCapaLoader && mostrarCapaError
        }"
    >
        <div
            [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                color: estiloDelTextoServicio.colorDelTexto.TEXTOLACRE, 
                estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                enMayusculas: false,
                tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_I2
            })"
        >
            {{ mensajeCapaError | translate }}
        </div>
        <button
            (tap)="reintentar()"
            class="botonReintentar"
        >
            {{ 'text32' | translate }}
        </button>
    </div>

    <div
        *ngIf="noticia"
        [ngClass]="{
            'capa': true,
            'formulario': true,
            'mostrar': !mostrarCapaLoader && !mostrarCapaError
        }"
    >
        <div class="info-propietario" *ngIf="params.accionEntidad === AccionEntidadEnum.VISITAR">
            <app-item-lista-contactos [configuracion]="infoPropietarioNoticia "></app-item-lista-contactos>
        </div>


        <app-portada-expandida 
            #portadaExpandida
            [configuracion]="confPortadaExpandida"
        ></app-portada-expandida>
        <div
            [ngClass]="{ 
                'contenido': true,
                'sinPaddingTop': (params.accionEntidad === AccionEntidadEnum.VISITAR)
            }"
        >
            <div
                *ngIf="
                    params.accionEntidad === AccionEntidadEnum.VISITAR &&
                    validarSiHayMediasEnElAlbum()
                "
                class="aviso"
            >
                <p
                    [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                        color: estiloDelTextoServicio.colorDelTexto.TEXTOROJOBASE, 
                        estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                        enMayusculas: true,
                        tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL
                    })"
                >
                    {{ 'm4v3texto5' | translate }}
                </p>
            </div>
            <div class="titulo">
                <p
                    [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                        color: estiloDelTextoServicio.colorDelTexto.TEXTONEGRO, 
                        estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                        enMayusculas: false,
                        tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_IGUAL
                    })"
                >
                    {{ 'm4v15texto5' | translate }}
                </p>
            </div>
            <div class="info-un-solo-idioma" *ngIf="params.accionEntidad !== AccionEntidadEnum.VISITAR">
                <p
                    [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({
                        color: estiloDelTextoServicio.colorDelTexto.TEXTOAZULBASE,
                        estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR,
                        enMayusculas: true,
                        tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL
                    })"
                >
                    {{ 'm4v5texto7.1' | translate }}
                </p>
            </div>
            <div class="inputs caja a">
                <div 
                    [ngClass]="{
                        'fila': true,
                        'uno': true,
                        'ancho-fijo': true,
						'en-visita': (params.accionEntidad === AccionEntidadEnum.VISITAR)
                    }"
                >
                    <p
                        *ngIf="params.accionEntidad === AccionEntidadEnum.VISITAR"
                        class="p-input centrado"
                    >
                        {{ noticia.tituloCorto }}
                    </p>
                    <app-input
                        *ngIf="
                            inputsForm && 
                            params.accionEntidad !== AccionEntidadEnum.VISITAR
                        "
                        [inputCompartido]="obtenerInputSegunKey(InputKeyEnum.TITULO_CORTO)"
                    ></app-input>
                </div>
                <div class="fila dos">
                    <app-item-fecha [fecha]="noticia.fechaCreacion" [formato]="'dd/MM/yyyy'"></app-item-fecha>
                </div>
            </div>
            <div class="inputs caja b">
                <div class="fila uno"
                    [ngClass]="{
                        'fila': true,
                        'uno': true,
                        'ancho-completo': (params.accionEntidad === AccionEntidadEnum.VISITAR),
						'en-visita': (params.accionEntidad === AccionEntidadEnum.VISITAR)
                    }"
                >
                    <p
                        *ngIf="params.accionEntidad === AccionEntidadEnum.VISITAR"
                        class="p-input"
                    >
                        {{ noticia.titulo }}
                    </p>
                    <app-input
                        *ngIf="
                            inputsForm && 
                            params.accionEntidad !== AccionEntidadEnum.VISITAR
                        "
                        [inputCompartido]="obtenerInputSegunKey(InputKeyEnum.TITULO)"
                    ></app-input>
                </div>
            </div>
            <div class="inputs caja b">
                <div class="fila uno">
                    <p
                        *ngIf="params.accionEntidad === AccionEntidadEnum.VISITAR"
                        class="p-input"
                    >
                        {{ noticia.direccion.descripcion }}
                    </p>
                    <app-input
                        *ngIf="
                            inputsForm && 
                            params.accionEntidad !== AccionEntidadEnum.VISITAR
                        "
                        [inputCompartido]="obtenerInputSegunKey(InputKeyEnum.UBICACION)"
                    ></app-input>
                </div>
            </div>
            <div class="inputs caja b">
                <div class="fila uno">
                    <p
                        *ngIf="params.accionEntidad === AccionEntidadEnum.VISITAR"
                        class="p-input"
                    >
                        {{ noticia.autor }}
                    </p>
                    <app-input
                        *ngIf="
                            inputsForm && 
                            params.accionEntidad !== AccionEntidadEnum.VISITAR
                        "
                        [inputCompartido]="obtenerInputSegunKey(InputKeyEnum.AUTOR)"
                    ></app-input>
                </div>
            </div>
            <div
                [ngClass]="{
                    'botones': true,
                    'soloCompartir': true
                }"
            >
                <app-button [botonCompartido]="confBotonCompartir"></app-button>
            </div>
            <div
                *ngIf="determinarSiHayAlbumSegunTipo(CodigosCatalogoTipoAlbumEnum.AUDIOS)"
                class="audios"
                (tap)="irAlAlbumAudios()"
            >
                <div
                class="icono"

            >
                <img src="https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/botones/forma-icono-audio-verde.svg">
            </div>
                <div
                    *ngIf="params.accionEntidad !== AccionEntidadEnum.VISITAR"
                    class="texto"
                >
                    <p
                        [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                            color: estiloDelTextoServicio.colorDelTexto.TEXTOAZULBASE,
                            estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                            enMayusculas: true,
                            tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL
                        })"
                    >
                        {{ 'm4v15texto11' | translate }}
                    </p>
                </div>

            </div>
            <div
                *ngIf="params.accionEntidad === AccionEntidadEnum.VISITAR"
                class="votar-proyecto"
            >
                <app-votar-entidad [configuracion]="confVotarEntidad"></app-votar-entidad>
            </div>
            <div
                *ngIf="
                    params.accionEntidad !== AccionEntidadEnum.VISITAR || 
                    (
                        noticia &&
                        noticia.descripcion &&
                        noticia.descripcion.length > 0
                    )
                "
                class="descripcion-intro"
            >
                <p
                    [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                        color: estiloDelTextoServicio.colorDelTexto.TEXTOAZULBASE,
                        estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                        enMayusculas: true,
                        tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_IGUAL
                    })"
                >
                    {{ 'm4v15texto12' | translate }}
                </p>
            </div> 
            <div
                *ngIf="params.accionEntidad !== AccionEntidadEnum.VISITAR"
                class="descripcion-intro-caracteres"
            >
                <p
                    [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                        color: estiloDelTextoServicio.colorDelTexto.TEXTOROJOBASE,
                        estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                        enMayusculas: true,
                        tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL
                    })"
                >
                    {{ 'm4v15texto13' | translate }}
                </p>
            </div> 
            <div
                *ngIf="
                    params.accionEntidad !== AccionEntidadEnum.VISITAR || 
                    (
                        noticia &&
                        noticia.descripcion &&
                        noticia.descripcion.length > 0
                    )
                "
                class="descripcion-contexto"
            >
                <div
                    *ngIf="params.accionEntidad === AccionEntidadEnum.VISITAR"
                    [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({
                        color: estiloDelTextoServicio.colorDelTexto.TEXTONEGRO,
                        estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR,
                        enMayusculas: false,
                        tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_I1
                    })"
                    class="textarea-visita"
                >
                    {{ noticia.descripcion }}
                </div>
                <textarea
                    *ngIf="params.accionEntidad !== AccionEntidadEnum.VISITAR"
                    [readonly]="params.accionEntidad === AccionEntidadEnum.VISITAR"
                    [(ngModel)]="noticia.descripcion"
                    maxlength="1500"
                    [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                        color: estiloDelTextoServicio.colorDelTexto.TEXTONEGRO,
                        estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                        enMayusculas: false,
                        tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_I1
                    })"
                >
                    {{ noticia.descripcion }}
                </textarea>
                <div class="descripcion-contador">
                    <p
                    *ngIf="params.accionEntidad !== AccionEntidadEnum.VISITAR"
                        [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                            color: estiloDelTextoServicio.colorDelTexto.TEXTOROJOBASE,
                            estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                            enMayusculas: false,
                            tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L1_IGUAL
                        })"
                    >
                        {{ noticiaService.obtenerTextoDescripcionContador(noticia) }}
                    </p>
                </div>
            </div>
            <div
                *ngIf="params.accionEntidad !== AccionEntidadEnum.VISITAR"
                class="proyecto-completo"
            >
                <p
                    *ngIf="noticia.medias.length === 0"
                    [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                        color: estiloDelTextoServicio.colorDelTexto.TEXTOAZULBASE,
                        estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                        enMayusculas: true,
                        tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL
                    })"
                >
                    {{ 'm4v15texto14' | translate }}
                </p>
                <div class="espacio"></div>
                <p
                    *ngIf="noticia.medias.length === 0"
                    [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                        color: estiloDelTextoServicio.colorDelTexto.TEXTOROJOBASE,
                        estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                        enMayusculas: true,
                        tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL
                    })"
                >
                    {{ 'm4v15texto15' | translate }}
                </p>
                <p
                    *ngIf="noticia.medias.length > 0"
                    [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                        color: estiloDelTextoServicio.colorDelTexto.TEXTOROJOBASE,
                        estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                        enMayusculas: true,
                        tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL
                    })"
                >
                    {{ 'm4v5texto24.1' | translate }}
                </p>
            </div>
            <div
                *ngIf="
                    params.accionEntidad !== AccionEntidadEnum.VISITAR ||
                    (
                        params.accionEntidad === AccionEntidadEnum.VISITAR && 
                        noticia &&
                        noticia.medias &&
                        noticia.medias.length > 0
                    )
                "
                class="proyecto-completo-boton"
            >
                <input
                    type="file"
                    style="display: none;"
                    id="{{ inputArticuloNoticia }}"
                    (change)="agregarMediaANoticia($event.target.files)"
                    accept="application/pdf"
                >
                <app-button [botonCompartido]="confBotonArticulo"></app-button>
            </div>
            <div class="botones-adicionales">
                <p
                    *ngIf="params.accionEntidad !== AccionEntidadEnum.VISITAR"
                    [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                        color: estiloDelTextoServicio.colorDelTexto.TEXTOAZULBASE,
                        estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                        enMayusculas: true,
                        tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL
                    })"
                >
                    {{ llaveTextoBotonesExtra | translate }}
                </p>
                <div
                    *ngFor="let boton of confBotonesExtras"
                    class="boton-extra"
                >
                    <app-button [botonCompartido]="boton"></app-button>
                </div>
            </div>
            <div
                *ngIf="params.accionEntidad !== AccionEntidadEnum.VISITAR"
                class="publicar-boton"
            >
                <app-button [botonCompartido]="confBotonPublish"></app-button>
            </div>
            <div
                *ngIf="params.accionEntidad === AccionEntidadEnum.ACTUALIZAR"
                class="eliminar-boton"
            > 
                <p
                    [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                        color: estiloDelTextoServicio.colorDelTexto.TEXTOAZULBASE,
                        estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                        enMayusculas: true,
                        tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_I2
                    })"
                >
                    {{ 'm4v16texto8' | translate }}
                </p>
                <div class="boton-eliminar">
                    <app-button [botonCompartido]="confBotonEliminar"></app-button>
                </div>
            </div>
        </div>
    </div>
</div>
<app-toast #toast [configuracion]='confToast'></app-toast>
<app-dialogo [configuracion]="confDialogoEliminarNoticia"></app-dialogo>
<app-dialogo [configuracion]="confDialogoFullNoticia"></app-dialogo>
<app-lista-contacto [configuracion]="confListaContactoCompartido"></app-lista-contacto>
<app-imagen-patanlla-completa [configuracion]="confImagenPantallaCompleta"></app-imagen-patanlla-completa>
<app-dialogo [configuracion]="confDialogoSalida"></app-dialogo>
<app-dialogo [configuracion]="confDialogoEliminarPDF"></app-dialogo>
<app-done [configuracion]="confDone"></app-done>