@import "../../../../../assets/estilos/dimensiones.scss";
@import "../../../../../assets/estilos/colores.scss";
$borde-mensaje: calcular(1.03);
.mensaje-texto {
    width: fit-content;
    margin-right: $espacio-1542;
    margin-left: 0;
    padding-top: $espacio-0249 - $defecto-top;
    padding-bottom: $espacio-0249 - $defecto-bottom;
    padding-left: $espacio-267;
    padding-right: $espacio-267;
    word-break: break-word;
    background-color: $mensaje-recibido;
    border-radius: $borde-mensaje ;
    &.enviado {
        background-color: $mensaje-enviado;
        margin-left: $espacio-1542;
        margin-right: 0;
    }
}
