@use "sass:math";
@import "../../../../assets/estilos/dimensiones.scss";
@import "../../../../assets/estilos/colores.scss";
@import "../../../../assets/estilos/imagenes.scss";

$width-cruz: calcular(3.5);
$height-cruz: calcular(3.5);

$width-corazon: calcular(6.26);
$height-corazon: calcular(6.26);
$tamano-div-cruz: calcular(15.42);
$diametro-foto-contacto: calcular(20);
$height-espaciado-nombre-mensaje: $espacio-0178 - (math.div($espacio-0136, 2));

p{
    white-space: unset;
}

.item-lista-contacto {
    height: $diametro-foto-contacto;
}

.lista-contactos {
    box-sizing: border-box;
    display: flex;

    & .data-contacto {
        width: calc(100% - #{ $tamano-div-cruz });
        height: fit-content;
        display: flex;
        & .espacio-touch{
            background-color: azure;
            height: 100%;
            width: 100%;
            padding-top: $espacio-0178;
            padding-bottom: $espacio-0178;
        }
    }
}

.info-contacto {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    width: calc(100% - #{ $diametro-foto-contacto });
    padding-left: $espacio-0316;
    padding-right: $espacio-0316;

}
.espacio178 {
    width: 100%;
    height: $height-espaciado-nombre-mensaje - $defecto-bottom;
}
.nombre-contacto {
    line-break: auto;
}
.mensaje-contacto {
    white-space: nowrap;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
}

.linea-verde-contacto {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    &.padding-der-1542_267 {
        padding-right: $espacio-1542 + $espacio-267 !important;
    }
    &.padding-izq-der-0{
        padding-right: 0 !important;
    }
    &.padding-der-391{
        padding-right: $espacio-0391 !important;
    }
}

.cruz-negra-borrar {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: $tamano-div-cruz;
    .svg-cruz-negra {
        background-image: $cruz-negra-borrar;
        width: $width-cruz;
        height: $height-cruz;
    }
    .svg-cruz-roja {
        background-image: $cruz-roja-borrar;
        width: $width-cruz;
        height: $height-cruz;
    }
}

.corazon-contacto{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: $tamano-div-cruz;
    padding-left: $espacio-267;
    z-index: 20;
    .svg-corazon {
        background-image: $forma-corazon-rojo;
        width: $width-corazon;
        height: $height-corazon;
    }
}
