<div
    *ngIf="configuracion"
    class="item-lista-contacto"
>
    <div class="lista-contactos">
        <div
            class="data-contacto"
            gestorEventos
            (eventoTap)="tap()"
            (dobleTap)="dobleTap()"
        >
            <div class="circulo-foto-contacto">
                <app-item-circulo [configuracion]="configuracion.configCirculoFoto"></app-item-circulo>
            </div>
            <div
                class="info-contacto"
                *ngIf="configuracion.usoItem === usoItemListaContacto.USO_MENSAJE">
                <p
                    [ngClass]="estiloTexto.obtenerEstilosTexto({
                        color: estiloTexto.colorDelTexto.TEXTOAZULBASE,
                        estiloTexto: estiloTexto.estilosDelTexto.REGULAR,
                        enMayusculas: true,
                        tamanoConInterlineado: estiloTexto.tamanoDeTextoConInterlineado.L1_IGUAL
                    })"
                    class="nombre-contacto"
                    *ngIf="configuracion.mostrarTextoInfo"
                >
                    {{ 'm3v7texto2.1' | translate}}
                </p>
                <p
                    [ngClass]="estiloTexto.obtenerEstilosTexto(configuracion.mensaje.contacto.estilosTextoSuperior)"
                    class="nombre-contacto"
                >
                    {{(configuracion.contacto?.nombreContacto | translate )|| (configuracion.mensaje.contacto?.nombreContacto | translate)}} <span *ngIf="configuracion.contacto?.nombreContactoTraducido"> | </span> {{ configuracion.contacto?.nombreContactoTraducido }}
                </p>
                <p
                    [ngClass]="estiloTexto.obtenerEstilosTexto(configuracion.mensaje.contacto.estilosTextoInferior) "
                    class="mensaje-contacto"
                    *ngIf="!configuracion.mensaje?.mensaje"
                >
                    {{
                        ((configuracion.mensaje?.contadorMensajes | number: '3.0') + ' ' + ('m3v7texto4' | translate))
                    }}
                </p>
            </div>
            <div class="info-contacto" *ngIf="configuracion.usoItem === usoItemListaContacto.USO_CONTACTO">
                <p [ngClass]="estiloTexto.obtenerEstilosTexto(configuracion.contacto.estilosTextoSuperior)"
                    class="nombre-contacto">
                    {{configuracion.contacto?.nombreContacto || configuracion.mensaje.contacto?.nombreContacto}} <span *ngIf="configuracion.contacto?.nombreContactoTraducido"> | </span> {{ configuracion.contacto?.nombreContactoTraducido }}
                </p>
                <p [ngClass]="estiloTexto.obtenerEstilosTexto(configuracion.contacto.estilosTextoInferior) "
                    class="mensaje-contacto" *ngIf="configuracion.mensaje || configuracion.mensaje?.contadorMensajes">
                    {{
                        (configuracion.mensaje?.mensaje | translate) ||
                        ((configuracion.mensaje?.contadorMensajes | number: '3.0')  + ' ' +  ('m3v7texto4' | translate))
                    }}
                </p>
            </div>
        </div>
        <div class="cruz-negra-borrar" *ngIf="configuracion.mostrarX.mostrar === true"
            (tap)="eventoIconoXContacto()">
            <div class="svg-cruz-negra" *ngIf="configuracion.mostrarX.color === true"></div>
            <div class="svg-cruz-roja" *ngIf="configuracion.mostrarX.color === false"></div>
        </div>
        <div class="corazon-contacto" *ngIf="configuracion.mostrarCorazon">
            <div class="svg-corazon"></div>
        </div>

    </div>
    <div [ngClass]="configuracionLineaVerde()" *ngIf="configuracion.configuracionLineaVerde">
        <app-linea [configuracionLinea]="configuracion.configuracionLineaVerde"></app-linea>
    </div>
</div>
