@import "../../../../assets/estilos/dimensiones.scss";
@import "../../../../assets/estilos/colores.scss";

// Inputs
.inputSelector {
  &.desactivado {
    pointer-events: none;
  }

  & input {
    border: 0;
    width: 100%;
    height: $alto-0782;
    padding-left: $interlineado-6;
    padding-right: $espacio-0139;
    box-sizing: border-box;
    font-size: $letra-3;
    background-color: $input-fondo-registro;
    border-radius: $interlineado-15;
    outline: 0;

    &.texto-bold {
      font-weight: bold;
    }

    &.margin-abajo {
      margin-bottom: $espacio-0249;
    }

    &.tipo-intercambio {
      border: 0;
      height: $alto-0782;
      padding-left: $interlineado-6;
      padding-right: $espacio-0139;
      box-sizing: border-box;
      width: $ancho-pagina * 0.6386;
      font-size: $letra-3;
      background-color: $input-fondo;
      border-radius: $interlineado-15;
      outline: none;
      color: $blanco;
      width: 100%;
      margin-bottom: $espacio-0316;
      // font-weight: bold;

      &::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: $blanco;
        opacity: 1; /* Firefox */
      }

      &:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: $blanco;
      }

      &::-ms-input-placeholder {
        /* Microsoft Edge */
        color: $blanco;
      }
    }

    &.tipo-finanzas {
      border: 0;
      width: 100%;
      height: calcular(6);
      padding-left: $interlineado-6;
      padding-right: $espacio-0139;
      box-sizing: border-box;
      font-size: $letra-2;
      background-color: $input-fondo-registro;
      border-radius: $interlineado-15;
      outline: 0;
      color: $azul-base;

      &::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: $azul-base;
        opacity: 1; /* Firefox */
      }

      &:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: $azul-base;
      }

      &::-ms-input-placeholder {
        /* Microsoft Edge */
        color: $azul-base;
      }
    }

    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #000;
      opacity: 1; /* Firefox */
    }

    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: #000;
    }

    &::-ms-input-placeholder { /* Microsoft Edge */
      color: #000;
    }

  }

  & .error-pais-registro {
    padding-bottom: $espacio-0249 - $defecto-bottom;
    color: $rojo-base;
  }
}

