<app-appbar [configuracion]="confAppBar"></app-appbar>
<div class="menu-principal">
    <div class="capa" (tap)="reiniciarDialogos()">
        <div class="contenido">
            <!-- Nuevos proyectos -->
            <div class="espacio-316">
                <div (tap)="navegarSegunMenu(MenuListaProyectosEnum.NUEVOS_PROYECTOS)" class="item-menu">
                    <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                        color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO,
                        estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLDCONSOMBRA, 
                        enMayusculas: true,
                        tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L4_I2
                    })">
                        {{ 'm5v1texto3' | translate }} <br /> {{ 'm5v1texto4' | translate }}
                    </p>
                </div>
                <!-- Linea -->
            </div>
            <div class="linea-verde">
                <app-linea [configuracionLinea]="confLineaVerde"></app-linea>
            </div>
            <!-- Proyectos recomendados por el admin -->
            <div class="espacio-316">
                <div (tap)="navegarSegunMenu(MenuListaProyectosEnum.PROYECTOS_RECOMENDADOS_POR_ADMIN)"
                    class="item-menu">
                    <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                        color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO,
                        estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLDCONSOMBRA, 
                        enMayusculas: true,
                        tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L10_I2
                    })">
                        {{ 'm5v1texto5' | translate }}
                    </p>
                    <div class="contador" >
                        <app-dialogo-inline [configuracion]="confDialogoProyectosRecomendados"></app-dialogo-inline>
                    </div>
                </div>
            </div>
            <!-- Linea -->
            <div class="linea-verde">
                <app-linea [configuracionLinea]="confLineaVerde"></app-linea>
            </div>
            <!-- Foro de los proyectos -->
            <div class="espacio-316">
                <div (tap)="navegarSegunMenu(MenuListaProyectosEnum.FORO_DE_LOS_PROYECTOS)" class="item-menu">
                    <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                        color: estiloDelTextoServicio.colorDelTexto.TEXTOAMARILLOBASE,
                        estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLDCONSOMBRA, 
                        enMayusculas: true,
                        tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L4_I2
                    })">
                        {{ 'm5v1texto6' | translate }} <br /> {{ 'm5v1texto7' | translate }} <br /> {{ 'm5v1texto8' |
                        translate }}
                    </p>
                    <!-- <div class="contador">
                        <app-contador-dias #contadorInicioForo [configuracion]="confContadorDiasForoInicio">
                        </app-contador-dias>
                    </div> -->
                    <div class="contador">
                        <app-dialogo-inline [configuracion]="confDialogoTiempoForoAunNoInicia"></app-dialogo-inline>
                    </div>
                </div>
                <!-- Linea -->
            </div>
            <div class="linea-verde">
                <app-linea [configuracionLinea]="confLineaVerde"></app-linea>
            </div>
            <!-- Proyectos seleccionados -->
            <div class="espacio-316">
                <div (tap)="navegarSegunMenu(MenuListaProyectosEnum.PROYECTOS_SELECCIONADOS)" class="item-menu">
                    <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                        color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO,
                        estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLDCONSOMBRA, 
                        enMayusculas: true,
                        tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L4_I2
                    })">
                        {{ 'm5v1texto9' | translate }} <br /> {{ 'm5v1texto10' | translate }}
                    </p>
                    <!-- <div class="contador">
                        <app-contador-dias #contadorFinalForo [configuracion]="confContadorDiasForoFinal">
                        </app-contador-dias>
                    </div> -->
                    <div class="contador">
                        <app-dialogo-inline [configuracion]="confDialogoTiempoForoAunNoInicia2"></app-dialogo-inline>
                    </div>
                </div>
                <!-- Linea -->
            </div>
            <div class="linea-verde">
                <app-linea [configuracionLinea]="confLineaVerde"></app-linea>
            </div>
            <!-- Proyectos en espera de fondos -->
            <div class="espacio-316">
                <div (tap)="navegarSegunMenu(MenuListaProyectosEnum.PROYECTOS_EN_ESPERA_DE_FONDOS)" class="item-menu">
                    <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                        color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO,
                        estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLDCONSOMBRA, 
                        enMayusculas: true,
                        tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_I2
                    })">
                        {{ 'm5v1texto11' | translate }}
                    </p>
                    <div class="contador">
                        <app-dialogo-inline [configuracion]="confDialogoProyectosEnEsperaDeFondos"></app-dialogo-inline>
                    </div>
                </div>
                <!-- Linea -->
            </div>
            <div class="linea-verde">
                <app-linea [configuracionLinea]="confLineaVerde"></app-linea>
            </div>
            <!-- Proyectos en estrategia -->
            <div class="espacio-316">
                <div (tap)="navegarSegunMenu(MenuListaProyectosEnum.PROYECTOS_EN_ESTRATEGIA)" class="item-menu">
                    <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                        color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO,
                        estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLDCONSOMBRA, 
                        enMayusculas: true,
                        tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L10_I2
                    })">
                        {{ 'm5v1texto12' | translate }}
                    </p>
                    <div class="contador">
                        <app-dialogo-inline [configuracion]="confDialogoProyectosEnEstrategia"></app-dialogo-inline>
                    </div>
                </div>
            </div>
            <!-- Linea -->
            <div class="linea-verde">
                <app-linea [configuracionLinea]="confLineaVerde"></app-linea>
            </div>
            <!-- Proyectos en ejecucion -->
            <div class="espacio-316">
                <div (tap)="navegarSegunMenu(MenuListaProyectosEnum.PROYECTOS_EN_EJECUCION)" class="item-menu">
                    <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                        color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO,
                        estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLDCONSOMBRA, 
                        enMayusculas: true,
                        tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L10_I2
                    })">
                        {{ 'm5v1texto13' | translate }} <br /> {{ 'm5v1texto14' | translate }}
                    </p>
                    <div class="contador">
                        <app-dialogo-inline [configuracion]="confDialogoProyectosEnEjecucion"></app-dialogo-inline>
                    </div>
                </div>
                <!-- Linea -->
            </div>
            <div class="linea-verde">
                <app-linea [configuracionLinea]="confLineaVerde"></app-linea>
            </div>
            <!-- Proyectos ejecutados -->
            <div class="espacio-316">
                <div (tap)="navegarSegunMenu(MenuListaProyectosEnum.PROYECTOS_EJECUTADOS)" class="item-menu">
                    <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                        color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO,
                        estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLDCONSOMBRA, 
                        enMayusculas: true,
                        tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L4_I2
                    })">
                        {{ 'm5v1texto15' | translate }} <br /> {{ 'm5v1texto16' | translate }}
                    </p>
                    <div class="contador">
                        <app-dialogo-inline [configuracion]="confDialogoProyectosEjecutados"></app-dialogo-inline>
                    </div>
                </div>
            </div>
            <!-- Linea -->
            <div class="linea-verde">
                <app-linea [configuracionLinea]="confLineaVerde"></app-linea>
            </div>
            <!-- Proyectos menos votados -->
            <div class="espacio-316">
                <div (tap)="navegarSegunMenu(MenuListaProyectosEnum.PROYECTOS_MENOS_VOTADOS)" class="item-menu">
                    <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                        color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO,
                        estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLDCONSOMBRA, 
                        enMayusculas: true,
                        tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L4_I2
                    })">
                        {{ 'm5v1texto17' | translate }} <br /> {{ 'm5v1texto18' | translate }}
                    </p>
                    <div class="contador">
                        <app-dialogo-inline [configuracion]="confDialogoProyectosMenosVotados"></app-dialogo-inline>
                    </div>
                </div>

            </div>
            <!-- Linea -->
            <div class="linea-verde">
                <app-linea [configuracionLinea]="confLineaVerdeAll"></app-linea>
            </div>
        </div>
    </div>
</div>
<app-toast #toast [configuracion]="confToast"></app-toast>