@import "../../../../../assets/estilos/dimensiones.scss";
@import "../../../../../assets/estilos/colores.scss";
@import "../../../../../assets/estilos/imagenes.scss";

$icono-audio-diametro: calcular(13.1);
$descripcion-ancho: calcular(94.66);
$descripcion-alto-min: calcular(95.39);
$descripcion-border-radio: calcular(1.567);
$descripcion-padding-top: calcular(3.16);
$descripcion-padding-bottom: calcular(3.16);
$descripcion-contador-padding-bottom: calcular(1.78);
$descripcion-padding-right-left: calcular(2.67);
$borde-descripcion-espesor: calcular(0.36);
$botones-estado-padding: calcular(3.91);

.cuerpo {
  background: $blanco;
  position: relative;
  padding: 0 !important;
  z-index: 1;

  &.con-barra-inferior {
    height: $cuerpo-con-barra-inferior-alto;
  }
  .capa {
    position: absolute;
    width: 100%;
    height: 100%;
    padding-top: $espacio-0316 - $defecto-bottom;

    z-index: -1;
    opacity: 0;
    box-sizing: border-box;

    &.mostrar {
      z-index: 1;
      opacity: 1;
    }

    &.loader {
      display: flex;
      align-items: center;
      justify-content: center;
      background: #ffffff;
    }

    &.errordiv {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-flow: column;
      box-sizing: border-box;
      padding: 0 calcular(4);

      & div {
        width: 100%;
        margin-bottom: calcular(2) !important;
        text-align: center;
      }
    }

    &.formulario {
      width: 100%;
      height: 100%;
      overflow-y: auto;
      overflow-x: hidden;

      &::-webkit-scrollbar {
        display: block !important;
        width: $ancho-barra-scroll;
      }

      &::-webkit-scrollbar-track {
        background: $blanco;
        border-left: calcular(0.12) solid $celeste-base;
      }

      &::-webkit-scrollbar-thumb {
        background: $rojo-base !important;
        border-radius: $ancho-barra-scroll;
      }

      &::-webkit-scrollbar-thumb:hover {
        background: #b30000;
      }
      & .bloque-perfil {
        width: 100%;
        padding-bottom: $espacio-0316 - $defecto-bottom;
        display: none;

        &.mostrar-bloque {
          display: flex;
          flex-flow: column;
        }

        &.ampliar-proyectos {
          flex: 1;
          margin-top: $espacio-522;
          padding-bottom: 0 !important;
          overflow: hidden;
        }

        & p {
          width: 100%;
          box-sizing: border-box;
          // line-height: 0.8 !important;
          text-align: left;
          // margin-bottom: $espacio-0178 - $defecto-bottom;
          padding-left: $espacio-0658 - $espacio-267;
        }
        &.intercambios-usuario {
          & .lista-intercambios {
            width: 100%;
            // height: auto;
            max-height: 80vh;
            display: flex;
            overflow-x: hidden;
            overflow-y: auto;

            & .caja-interna {
              width: 100%;
              display: flex;

              & .item-intercambio {
                width: auto;
                height: auto;
                margin-right: calcular(0.71);
              }
            }

            & .cargando-interno {
              width: 100%;
              height: calcular(20);
              display: flex;
              align-items: center;
              justify-content: center;
              margin: calcular(1.5) 0;

              &.completo {
                margin: 0;
                width: 100%;
                height: 100%;
              }
            }
          }

          &.ampliar-intercambios {
            position: relative;
            left: $espacio-267 * -1;
            width: $ancho-pagina;

            & .lista-intercambios {
              flex: 1;
              flex-flow: column;
              box-sizing: border-box;
              align-items: center;

              & .caja-interna {
                flex-flow: row wrap;
                width: (calcular(43.3) * 2) + $espacio-0178;
                & .item-intercambio {
                  width: auto;
                  height: auto;
                  margin-bottom: $espacio-0178;
                  margin-right: $espacio-0178;
                  &.sin-margen-derecha {
                    margin-right: 0;
                  }
                }
              }
            }
          }
        }
      }

      & .contenido-formulario {
        & .fecha-publicacion {
          display: flex;
          align-items: center;
          justify-content: center;
          padding-top: $espacio-0316;
          padding-bottom: $espacio-0316;
          & p {
            padding-right: $espacio-0316;
          }
        }
        & .titulo-intercambio {
          & p {
            width: 100%;
            box-sizing: border-box;
            // line-height: 0.8 !important;
            text-align: left;
            // margin-bottom: $espacio-0178 - $defecto-bottom;
            padding-left: $espacio-0658 - $espacio-267;
          }
        }
        & .info-propietario {
          padding-top: $espacio-0136;
          padding-left: $espacio-267;
          padding-right: $espacio-267;
          padding-bottom: $espacio-0136;
      }
        & .contenido {
          width: 100%;
          box-sizing: border-box;
          padding: ($espacio-0316 - $defecto-top) $espacio-267 $espacio-522 $espacio-267;
          &.sinPaddingTop {
            padding: $espacio-0178 $espacio-267 0 $espacio-267;
          }

          & .aviso {
            width: 100%;
            margin-bottom: $espacio-522 - $defecto-total;

            & p {
              text-align: center;
            }
          }
          & .inputs {
            width: 100%;

            &.caja {
              width: 100%;
              height: fit-content;

              display: flex;
              flex-flow: row;
              align-items: center;
              justify-content: space-between;

              & .fila {
                width: calc((100% - #{$espacio-0139}) / 2);

                &.en-visita {
                  width: 100% !important;

                  &.ancho-fijo {
                    width: 64% !important;
                    height: $alto-0782;
                    box-sizing: border-box;
                    width: 100%;
                    background-color: $input-fondo-registro;
                    overflow-y: hidden;
                    overflow-x: scroll;
                    border-radius: $interlineado-15;

                    & p {
                      width: fit-content !important;
                      overflow: visible;
                      background: none;
                      user-select: text !important;
                    }
                  }

                  &.ancho-completo {
                    width: 100% !important;
                    height: $alto-0782;
                    box-sizing: border-box;
                    width: 100%;
                    background-color: $input-fondo-registro;
                    overflow-y: hidden;
                    overflow-x: scroll;
                    border-radius: $interlineado-15;

                    & p {
                      width: fit-content !important;
                      overflow: visible;
                      background: none;
                      user-select: text !important;
                    }
                  }
                }

                &.uno {
                  margin-right: $espacio-0139;
                }

                & .p-input {
                  border: 0;
                  height: $alto-0782;
                  padding-left: $interlineado-6;
                  padding-right: $espacio-0139;
                  box-sizing: border-box;
                  width: 100%;
                  font-size: $letra-3;
                  background-color: $input-fondo-registro;
                  border-radius: $interlineado-15;
                  font-weight: bold;
                  text-transform: uppercase;
                  white-space: nowrap;
                  overflow-y: hidden;
                  overflow-x: auto;

                  display: flex;
                  align-items: center;
                  justify-content: flex-start;
                  user-select: text !important;
                  &.email {
                    text-transform: lowercase !important;
                  }
                  &.centrado {
                    text-align: center;
                    justify-content: center;
                  }
                }
              }

              &.a {
                margin-bottom: $espacio-0316;
                display: flex;
                align-items: center;
                justify-content: center;
                & .fila.uno {
                  width: max-content;

                  // margin-right: $espacio-522;

                  & input {
                    text-align: center;
                  }
                }

                & .fila.dos {
                  width: fit-content;
                }
              }

              &.b {
                margin-bottom: $espacio-0316;
                & .fila.uno {
                  width: 100%;
                  margin: 0 !important;

                  &.con-fondos {
                    border: 0;
                    height: $alto-0782;
                    padding-left: $interlineado-6;
                    padding-right: $espacio-0139;
                    box-sizing: border-box;
                    width: 100%;
                    background-color: $input-fondo-registro;
                    border-radius: $interlineado-15;
                    overflow-x: auto;
                    overflow-y: hidden;
                    white-space: nowrap;

                    & p {
                      font-size: $letra-3;
                      line-height: 0.8;
                      display: inline-flex;
                      align-items: center;
                      height: 100%;
                      width: auto;

                      &.autor-tag {
                        font-size: $letra-1;
                        font-weight: normal;
                        margin-right: calcular(1);
                        text-transform: uppercase;
                      }

                      &.autor-val {
                        font-weight: bold;
                        user-select: text !important;
                      }
                    }
                  }
                }

                & .fila.dos {
                  display: none;
                }
              }

              &.c {
                margin-bottom: $espacio-522;
                & .fila {
                  &.completa {
                    width: 100%;
                    margin-right: 0 !important;
                  }

                  & input {
                    margin-bottom: 0 !important;
                  }
                }
              }
              &.d {
                margin-bottom: $espacio-178 - $defecto-bottom;
                & .fila {
                  &.completa {
                    width: 100%;
                    margin-right: 0 !important;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-flow: column;
                    text-align: center;
                  }
                }
              }
              &.e {
                margin-bottom: $espacio-0316;
                & .fila {
                  &.completa {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: 0 !important;
                  }

                  & input {
                    margin-bottom: 0 !important;
                  }
                  & select {
                    border: 0;
                    height: $alto-0782;
                    padding-left: $interlineado-6;
                    padding-right: $espacio-0139;
                    box-sizing: border-box;
                    width: 75%;
                    font-size: $letra-3;
                    background-color: $input-fondo-registro;
                    border-radius: $interlineado-15;
                    font-weight: bold;
                    text-transform: uppercase;
                    color: #961c00;

                    &::placeholder {
                      /* Chrome, Firefox, Opera, Safari 10.1+ */
                      color: #961c00;
                      opacity: 1; /* Firefox */
                      font-weight: bold;
                    }

                    &:-ms-input-placeholder {
                      /* Internet Explorer 10-11 */
                      color: #961c00;
                      font-weight: bold;
                    }

                    &::-ms-input-placeholder {
                      /* Microsoft Edge */
                      color: #961c00;
                      font-weight: bold;
                    }
                    // appearance: none;
                    // -webkit-border-radius: 50%;
                    // -moz-border-radius: 50%;
                    // border-radius: $interlineado-15;
                    // border: 0;
                    // border-radius: 50%;
                    // padding-left: $interlineado-6;
                    // padding-right: $espacio-0139;
                    // border: 1px solid blue;
                    // background-color: yellow;
                    // color: $negro;
                    // font-size: $letra-3;
                    // font-weight: bold;
                    // background-image: $mute-inactivo;
                    // background-size: contain;
                    // background-repeat: no-repeat;
                    // width: 6vw;
                  }
                  & select:focus {
                    outline: none;
                  }
                }
              }
            }
          }
          & .audios {
            width: 100%;
            box-sizing: border-box;
            margin-bottom: $espacio-522 - $defecto-top;

            display: flex;
            flex-flow: row;
            align-items: center;
            justify-content: flex-start;

            & .texto {
              margin-left: $espacio-0249;
            }

            & .icono {
              width: $icono-audio-diametro;
              height: $icono-audio-diametro;
              border-radius: 50%;

              & img {
                width: 100%;
                height: 100%;
              }
            }
          }
          & .descripcion-intro {
            width: 100%;
            box-sizing: border-box;
            padding: 0 0 0 $espacio-0658 - $espacio-267;

            display: flex;
            flex-flow: column;

            &.con-margen-abajo {
              margin-bottom: $espacio-0178 - ($defecto-bottom * 2);

              & p {
                margin-bottom: 0 !important;
              }
            }

            & .interlineado1 {
              margin-bottom: $espacio-0178 - ($defecto-bottom * 3);
            }
            & .interlineado2 {
              margin-bottom: $espacio-0178 - ($defecto-bottom * 3);
            }
            & .interlineado3 {
              margin-bottom: $espacio-0178 - ($defecto-bottom * 2);
            }
          }

          & .descripcion-contexto {
            width: 100%;
            box-sizing: border-box;
            margin-bottom: $espacio-0316 - $defecto-top;
            position: relative;

            display: flex;
            align-items: center;
            justify-content: center;

            & .textarea-visita {
              position: relative;
              resize: none;
              width: $descripcion-ancho;
              height: $descripcion-alto-min;
              min-height: $descripcion-alto-min;
              border-radius: $descripcion-border-radio;
              border: $borde-descripcion-espesor solid #000000;
              padding: $descripcion-padding-top $descripcion-padding-right-left $descripcion-padding-bottom
                $descripcion-padding-right-left;
              font-weight: normal;
              text-align: justify;
              outline: 0;
              box-sizing: border-box;
              font-family: "Source Sans Pro", sans-serif;
              text-align: justify;
              overflow-y: auto;
              white-space: pre-wrap;
            }

            & textarea {
              position: relative;
              resize: none;
              width: $descripcion-ancho;
              height: fit-content;
              min-height: $descripcion-alto-min;
              border-radius: $descripcion-border-radio;
              border: $borde-descripcion-espesor solid #000000;
              padding: $descripcion-padding-top $descripcion-padding-right-left $descripcion-padding-bottom
                $descripcion-padding-right-left;
              font-weight: normal;
              text-align: justify;
              outline: 0;
              box-sizing: border-box;
              font-family: "Source Sans Pro", sans-serif;

              &:focus,
              &:active {
                outline: 0;
              }

              &::-webkit-input-placeholder {
                // color: #eeeeee;
                font-family: "Source Sans Pro", sans-serif;
                color: $negro;
              }

              &:-moz-placeholder {
                /* Upto Firefox 18, Deprecated in Firefox 19  */
                // color: $negro;
                color: $negro;
                font-family: "Source Sans Pro", sans-serif;
              }

              &::-moz-placeholder {
                /* Firefox 19+ */
                // color: $negro;
                color: $negro;
                font-family: "Source Sans Pro", sans-serif;
              }

              &:-ms-input-placeholder {
                // color: $negro;
                color: $negro;
                font-family: "Source Sans Pro", sans-serif;
              }
            }

            & .descripcion-contador {
              position: absolute;
              bottom: $espacio-0178;
              right: $espacio-267;
            }
          }
          & .textoMapa {
            padding: 0 0 0 $espacio-0658 - $espacio-267;
            & .interlineadoMapa {
              margin-bottom: $espacio-0178 - ($defecto-bottom * 2);

              & p {
                margin-bottom: 0 !important;
              }
            }
          }
          & .mapa {
            // padding-top: $espacio-0178;
            height: calcular(71.36);
            width: 100%;
            box-sizing: border-box;
            margin-bottom: $espacio-522;
            position: relative;
          }
          & .publicar-boton {
            width: 100%;

            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: $espacio-522;
          }
          & .linea-comentarios {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: $espacio-0316;
          }
          & .texto-estado {
            width: 100%;
            // margin: $espacio-522 - $defecto-top 0 $espacio-0316 - $defecto-bottom 0;
            // padding-top: $espacio-522 - $defecto-top;
            padding-bottom: $espacio-0249 - $defecto-bottom;

            & p {
              text-align: center;
            }
          }

          & .botonesEstado {
            width: 100%;
            margin-bottom: $espacio-522;
            padding: 0 $botones-estado-padding;
            box-sizing: border-box;

            display: flex;
            justify-content: space-between;
            align-items: center;
          }

          & .total-comentarios {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: $espacio-0136;
            overflow: hidden;

            & p {
              width: fit-content;
              text-align: center;
              line-height: 0.8 !important;
              white-space: nowrap;

              &:nth-child(1) {
                margin-right: calcular(1);
              }
            }
          }
        }
        & .borrado-informacion {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: $espacio-0316;

          & p {
            text-align: center;
          }
        }
        & .lista-comentarios {
          width: 100%;
          height: fit-content;
          box-sizing: border-box;

          & .grupo-fecha {
            width: 100%;
            height: fit-content;
            box-sizing: border-box;

            & .contenedor-fecha {
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
              margin-bottom: $espacio-0249;
            }

            & .contenedor-comentarios {
              width: 100%;
              margin: $espacio-0139 0 $espacio-522 0;
              box-sizing: border-box;
            }
          }

          & .loader-comentarios {
            width: 100%;
            box-sizing: border-box;
            padding: $espacio-0249 0;
            display: flex;
            align-items: center;
            justify-content: center;
          }

          & .no-mas-items {
            width: 100%;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            justify-content: center;

            & p {
              text-align: center;
              width: 100%;
            }
          }
        }
      }
    }
  }
}
