<app-appbar
    *ngIf="params.estado"
    #appbar
    [configuracion]="confAppBar"
></app-appbar> 
<div
    *ngIf="params.estado"
    [ngClass]="{
        'cuerpo': true,
        'albumPreview': (albumEnModoPreview && params.accionEntidad !== AccionEntidadEnum.VISITAR)
    }"
>
    <div
        *ngIf="!albumEnModoPreview"
        class="" 
        [ngClass]="{
            'portada': true,
            'modo-visita': params.accionEntidad === AccionEntidadEnum.VISITAR
        }"
    >
        <app-item-rectangulo #portada [configuracion]="confPortada"></app-item-rectangulo>
        <p
            *ngIf="
                params.accionEntidad !== AccionEntidadEnum.VISITAR && 
                params.entidad !== codigosCatalogoEntidad.NOTICIA
            "
            [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO, 
                estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                enMayusculas: true,
                tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL 
            })"
        >
            {{ 'm2v17texto4' | translate }}
            <!-- m4v9texto4 es el mismo texto -->
        </p>
        <p
            *ngIf="
                params.accionEntidad !== AccionEntidadEnum.VISITAR && 
                params.entidad === codigosCatalogoEntidad.NOTICIA &&
                album &&
                album.predeterminado
            "
            [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO, 
                estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                enMayusculas: true,
                tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL 
            })"   
        >
            {{ 'm4v9texto4' | translate }}
        </p>
        <p
            *ngIf="
                params.accionEntidad !== AccionEntidadEnum.VISITAR && 
                params.entidad === codigosCatalogoEntidad.NOTICIA &&
                album &&
                !album.predeterminado
            "
            [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO, 
                estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                enMayusculas: true,
                tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL 
            })"   
        >
            {{ 'm4v9texto5' | translate }}
        </p>
    </div> 
    <div
        *ngIf="!albumEnModoPreview"
        class="nombrePerfil"
    >
        <p
            [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                color: estiloDelTextoServicio.colorDelTexto.TEXTOAMARILLOBASE, 
                estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                enMayusculas: true,
                tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_IGUAL 
            })"
        >
            {{ params.titulo | translate }}
        </p>
    </div>
    <div
        *ngIf="!albumEnModoPreview"
        class="divisorVerde"
    >
        <app-linea #linea [configuracionLinea]="confLinea"></app-linea>
    </div>
    <!-- Indicaciones para accion de entidad: Crear -->
    <div 
        *ngIf="params.accionEntidad === AccionEntidadEnum.CREAR && !albumEnModoPreview"
        class="indicaciones crear"
    >
        <p
            [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO, 
                estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                enMayusculas: true,
                tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL 
            })"
        >
            {{ 'm2v19texto4' | translate }}
        </p>
        <div class='div-316'></div>
        <p
            [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                color: estiloDelTextoServicio.colorDelTexto.TEXTOCELESTEMAIN, 
                estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                enMayusculas: true,
                tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL 
            })"
        >
            {{ 'm2v17texto5' | translate }}
        </p>
    </div>
    <!-- Indicaciones para accion de entidad: Actualizar -->
    <div 
        *ngIf="params.accionEntidad === AccionEntidadEnum.ACTUALIZAR && !albumEnModoPreview"
        class="indicaciones actualizar"
    > 
        <p
            [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO, 
                estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                enMayusculas: true,
                tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL 
            })"
        >
            {{ 'm2v19texto4' | translate }}
        </p>
        <div class="espaciador-178"></div>
        <p
            [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                color: estiloDelTextoServicio.colorDelTexto.TEXTOCELESTEMAIN, 
                estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                enMayusculas: true,
                tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL 
            })"
        >
            {{ 'm2v17texto5' | translate }}
        </p>
    </div>
    <!-- Indicaciones para accion de entidad: Visitar -->
    <div 
        *ngIf="params.accionEntidad === AccionEntidadEnum.VISITAR && !albumEnModoPreview"
        class="indicaciones visitar"
    >
        <p
            [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO, 
                estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                enMayusculas: true,
                tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL 
            })"
        >
            {{ 'm3v7texto2.1' | translate }}
        </p>
    </div>
    <!-- Indicaciones si el album esta en modo preview -->
    <div 
        *ngIf="
            albumEnModoPreview &&
            params.accionEntidad !== AccionEntidadEnum.VISITAR
        "
        class="indicaciones albumpreview"
    >
        <p
            [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO, 
                estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                enMayusculas: true,
                tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL 
            })"
        >
            {{ 'm2v19texto4' | translate }}
            <!-- {{ 'm2v19texto4' | translate}} -->
        </p>
        <div class="espaciador-139"></div>
        <p
            [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO, 
                estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                enMayusculas: true,
                tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL 
            })"
        >
            <!-- {{ 'm3v7texto2.1' | translate }} -->
            {{ 'm2v19texto8' | translate}}
        </p>
        <div class="espaciador-139"></div>


        <p
            [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                color: estiloDelTextoServicio.colorDelTexto.TEXTOCELESTEMAIN, 
                estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                enMayusculas: true,
                tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL 
            })"
        >
            {{ 'm2v19texto5' | translate }}
        </p>
    </div>
    <!-- Grilla de items -->
    <div
        [ngClass]="{
            'grilla': true,
            'modoPreview': albumEnModoPreview
        }"
    >
        <app-item-rectangulo
            *ngIf="
                !albumEnModoPreview &&
                params.accionEntidad !== AccionEntidadEnum.VISITAR
            "
            #botonUpload
            [configuracion]="confBotonUpload"
        ></app-item-rectangulo>
        <div
            *ngIf="params.accionEntidad !== AccionEntidadEnum.VISITAR"
            class="divisorVertical"
        ></div>
        <!-- Item por defecto -->
        <div
            *ngFor="let item of itemsAlbumPorDefecto;let i = index"
            class="cajaItem"
        > 
            <app-item-rectangulo
                *ngIf="itemsAlbum.length <= 0"
                [configuracion]="item"
            ></app-item-rectangulo>
            <div *ngIf="validarDivisorGrilla(i) && itemsAlbum.length <= 0" class="divisorVertical"></div>
        </div>
        <div
            *ngIf="itemsAlbum.length <= 0"
            class="mensajeDeFotos"
        >
            <p
                [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO, 
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLDCONSOMBRA,
                    enMayusculas: true,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L5_IGUAL 
                })"
            >
                {{ 'm2v17texto8' | translate }}
            </p>
        </div>
        <!-- Items del usuario -->
        <div
            *ngFor="let item of itemsAlbum;let i = index"
            [ngClass]="{
                'cajaItem': true,
                'en-columna': albumEnModoPreview
            }"
        >
            <app-item-rectangulo
                [configuracion]="item"
            ></app-item-rectangulo>
            <div *ngIf="validarDivisorGrilla(i)" class="divisorVertical"></div>
        </div>
    </div>


    <div
        *ngIf="itemsAlbum.length > 0 &&  params.accionEntidad !== AccionEntidadEnum.VISITAR"
        class="cuadro-submit"
    >
        <!-- <app-button [botonCompartido]='confBotonSubmit'></app-button> -->
        <p
            [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({
                color: estiloDelTextoServicio.colorDelTexto.TEXTO_AVISO_GUAR_AUTO,
                estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR,
                enMayusculas: true,
                tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL
            })"
        >
            {{ 'm2v17texto9' | translate }}
        </p>
        <div class="espacio-entre-texto-guardado"></div>
        <p
            [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({
                color: estiloDelTextoServicio.colorDelTexto.TEXTO_AVISO_GUAR_AUTO,
                estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR,
                enMayusculas: true,
                tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL
            })"
        >
            {{ 'm2v17texto10' | translate }}
        </p>
    </div>
</div>
<!-- Barra inferior -->
<!-- <div 
    *ngIf="
        params.estado && 
        albumEnModoPreview 
    " 
    [ngClass]="
        obtenerClasesInput()
    "
>
    <div
        class="cajablanca"
        *ngIf="mostrarInput"
    >
        <div class="icono" *ngIf="mostrarCuadro">
            <img class="iconotexto" src="">
        </div>
        <input
            id="input_desc_album_general"
            type="text"
            maxlength="105"
            [placeholder]="placeholderBarraInferior"
            [(ngModel)]="itemDescripcionActivo"
            (keyup.enter)="validarAccionEntidadParaActualizarDescripcion()"
            (focus)="empezarEscribir()"
            (blur)="dejarDeEscribir()"
          
        >
    </div>
    <div
        class="boton"
        (tap)="validarAccionEntidadParaActualizarDescripcion()"
        *ngIf="mostrarInput"
    >
        <img src="">
    </div>

</div> -->
<!-- <app-camara
    *ngIf="params.estado"
    #camara
    [configuracion]="confCamara"
></app-camara> -->
<app-toast
    *ngIf="params.estado"
    #toast
    [configuracion]="confToast"
></app-toast>
<app-imagen-patanlla-completa [configuracion]="confImagenPantallaCompleta"></app-imagen-patanlla-completa>
<app-done [configuracion]="confDone"></app-done>
