@import "../../../../assets/estilos/colores.scss";
@import "../../../../assets/estilos/dimensiones.scss";

// Grilla
// Ancho item cirular + esspacio 178 + ancho item circular
$ancho-row-grilla: calcular(88.38);
$ancho-row-grilla-completo: $ancho-pagina;
$grilla-margin-left: $espacio-267;
$grilla-left-right: $ancho-pagina - $ancho-row-grilla;


.cuerpo.albumPreview {
    width: $cuerpo-con-bottom-bar-ancho;
    padding-top: $espacio-0316 - $defecto-top;
}

// portada
.portada {
    width: 100%;
    display: flex;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row;

    &.modo-visita {
        justify-content: flex-start;
    }
}
.portada p {
    // margin: 0 $espacio-267 0 ;
    margin-left: $espacio-267;
    text-align: center;
    line-height: $interlineado-16 !important;
}

// Nombre perfil
.nombrePerfil {
    width: calc(100% - #{ $espacio-0658 });
    margin: $espacio-0178 - $defecto-bottom 0 0 $espacio-0658;
}
// Divisor verde
.divisorVerde {
    width: 100%;
    margin: ($espacio-522 - $defecto-top) 0  ($espacio-0316 - $defecto-bottom) 0 ;
    display: flex;
    justify-content: center;
}
// Indicaciones
.indicaciones {
    width: 100%;
}
.div-316{
    width: 100%;
    height: $espacio-0178 - ($defecto-bottom * 2 );
}
.indicaciones.crear {
    margin-bottom: $espacio-0316 - $defecto-bottom;
}
.indicaciones.actualizar {
    margin-bottom: $espacio-0316 - $defecto-bottom;
}
.indicaciones.actualizar {
    margin-bottom: $espacio-0316 - $defecto-bottom;
}
.indicaciones.visitar {
    margin-bottom: $espacio-0316 - $defecto-bottom;
}
.indicaciones.albumpreview {
    margin-bottom: $espacio-0316 - $defecto-bottom;
}
.indicaciones p {
    text-align: center;
}
.espaciador-178 {
    width: 100%;
    height: $espacio-0178 -$defecto-total;
}
.espaciador-154 {
    width: 100%;
    height: $espacio-0154;
}
.espaciador-139 {
    width: 100%;
    height: $espacio-0178 - $defecto-total ;
}
// Grilla
.grilla {
    position: relative;
    margin: 0 auto;
    // right: $grilla-left-right / 2;

    width: $ancho-row-grilla;
    min-height: 1vw;

    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.grilla.modoPreview {
    width: $ancho-row-grilla-completo;
    left: -$grilla-margin-left;
}

.grilla .cajaItem {
    width: fit-content;
    height: fit-content;
    margin-bottom: $espacio-0178;

    display: flex;
    flex-flow: row;

    &.en-columna {
        flex-flow: column;
    }
}

// Divisores grilla
.divisorVertical {
    position: relative;
    height: 100%;
    width: $espacio-0178;
    min-height: 2vw;
}
.grilla.modoPreview .divisorVertical {
    display: none;
}
.divisorHorizontal {
    width: 100%;
    height: $espacio-0316;
}

// Mensaje de foto
.mensajeDeFotos {
    position: absolute;
    top: $espacio-4541;
    z-index: 20;
    transform: rotate(-20deg);
}

.mensajeDeFotos p {
    line-height: $interlineado-18;
    text-align: center;
}

// Barra inferior
.barrainferior {
    width: $bottom-bar-ancho;
    height: $bottom-bar-alto;
    background: $tranparencia-base;

    border-top: $bottom-bar-border-top solid $celeste-base;

    display: flex;
    flex-flow: row;
    align-items: center;
    padding: 0 calcular(1.39) 0 calcular(2.67);
    pointer-events: none;
    box-sizing: border-box;
}
.barrainferior.activa > * {
    pointer-events: auto;
}
.barrainferior .cajablanca {
    width: $bottom-bar-caja-ancho;
    height: $bottom-bar-caja-alto;
    border-radius: $bottom-bar-caja-borde-radio;
    background: #ffffff;

    display: flex;
    flex-flow: row;
    align-items: center;

    margin-right: calcular(1.39);
}
.barrainferior .cajablanca .icono {
    width: $bottom-bar-caja-icono-ancho;
    border-top-left-radius: $bottom-bar-caja-borde-radio;
    border-bottom-left-radius: $bottom-bar-caja-borde-radio;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}
.barrainferior .cajablanca .icono .iconotexto {
    width: $bottom-bar-caja-icono-texto-ancho;
    height: $bottom-bar-caja-icono-texto-alto;
}
.barrainferior .cajablanca input {
    width: calc(100% - #{ $bottom-bar-caja-icono-ancho });
    height: 100%;

    border: none;
    box-sizing: border-box;
    border-top-right-radius: $bottom-bar-caja-borde-radio;
    border-bottom-right-radius: $bottom-bar-caja-borde-radio;
    padding: 0 $espacio-0178;
    outline: 0;

    font-size: $letra-2;
    line-height: 80%;
    font-style: italic;

    &::placeholder {
        text-transform: lowercase;
    }

    &:focus {
        outline: 0;
    }
    &:active {
        outline: 0;
    }
}
.barrainferior .boton {
    width: $bottom-bar-boton-diametro;
    height: $bottom-bar-boton-diametro;
    cursor: pointer;
}
.barrainferior .boton img {
    width: 100%;
    height: 100%;
}


.cuadro-submit{
    // height: 10vw;
    // width: 10vw;
    // background-color: red;
    height: fit-content;
    width: 100%;
    padding-top: ($espacio-522 - $espacio-0316) * 2;
    // padding-bottom: $espacio-522;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    & .espacio-entre-texto-guardado{
        height: $espacio-0178 - $defecto-total;
    }
    & p{
        text-align: center;
    }
}
