<app-appbar [configuracion]="confAppbar"></app-appbar>
<div
    [ngClass]="{
        'cuerpo': true,
        'con-barra-inferior': false
    }"
>
    <div
        [ngClass]="{
            'capa': true,
            'loader': true,
            'mostrar': mostrarCapaLoader
        }"
    >
        <app-cargando></app-cargando>
    </div>
    <div
        [ngClass]="{
            'capa': true,
            'errordiv': true,
            'mostrar': !mostrarCapaLoader && mostrarCapaError
        }"
    >
        <div
            [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                color: estiloDelTextoServicio.colorDelTexto.TEXTOLACRE, 
                estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                enMayusculas: false,
                tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_I2
            })"
        >
            {{ mensajeCapaError }}
        </div>
        <button

            (tap)="reintentar()"
            class="botonReintentar"
        >
            {{ 'text32' | translate }}
        </button>
    </div>
    <div
        id="{{ idCapaFormulario }}"
        [ngClass]="{
            'capa': true,
            'formulario': true,
            'mostrar': true
        }"
        (scroll)="scroolEnCapaFormulario()"
    >
        <app-portada-expandida 
            #portadaExpandida
            [configuracion]="confPortadaExpandida"
        ></app-portada-expandida>
        <div
            [ngClass]="{
                'contenido': true,
                'sinPaddingTop': false
            }"
        >
            <div class="titulo">
                <p
                    [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                        color: estiloDelTextoServicio.colorDelTexto.TEXTONEGRO, 
                        estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                        enMayusculas: false,
                        tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_IGUAL
                    })"
                >
                    {{ proyectoService.obtenerLlaveTituloTipoProyecto(codigosCatalogoTipoProyecto.PROYECTO_PAIS) | translate }}
                </p>
            </div>
            <div class="inputs caja a">
                <div class="fila uno">
                    <app-input [inputCompartido]="inputsForm[0]" ></app-input>
                </div>
                <div class="fila dos">
                    <app-item-fecha [fecha]="proyecto.fechaCreacion" [formato]="'dd/MM/yyyy'"></app-item-fecha>
                </div>
            </div>
            <div class="inputs caja b">
                <div class="fila uno">
                    <app-input [inputCompartido]="inputsForm[1]" ></app-input>
                </div>
            </div>
            <div
                *ngIf="
                    proyecto.tipo && 
                    proyecto.tipo.codigo && 
                    proyecto.tipo.codigo !== codigosCatalogoTipoProyecto.PROYECTO_MUNDIAL &&
                    proyecto.tipo.codigo !== codigosCatalogoTipoProyecto.PROYECTO_RED
                "
                class="inputs caja c"
            >
                <div class="fila uno">
                    <app-selector
                        *ngIf="confSelector"
                        #selectorPaises
                        [configuracion]="confSelector"
                    ></app-selector>
                </div>
                <div class="fila dos">
                    <app-buscador-modal
                        *ngIf="confBuscador"
                        #buscadorLocalidades
                        [configuracion]="confBuscador"
                    ></app-buscador-modal>
                </div>
            </div>
            <div
                *ngIf="proyecto.tipo && proyecto.tipo.codigo && proyecto.tipo.codigo === codigosCatalogoTipoProyecto.PROYECTO_MUNDIAL"
                class="inputs caja b"
            >
                <div class="fila uno">
                    <app-input [inputCompartido]="inputsForm[2]" ></app-input>
                </div>
            </div>
            <div class="inputs caja b">
                <div class="fila uno">
                    <app-input [inputCompartido]="inputsForm[3]" ></app-input>
                </div>
            </div>
            <div class="subtitulo">
                <p
                    [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                        color: estiloDelTextoServicio.colorDelTexto.TEXTOAZULBASE, 
                        estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                        enMayusculas: true,
                        tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_IGUAL
                    })"
                >
                    {{ 'm4v5texto13' | translate }}
                </p>
            </div>
            <div class="moneda">
                <app-moneda-picker
                    *ngIf="confMonedaPicker"
                    [configuracion]="confMonedaPicker"
                ></app-moneda-picker>
            </div>
            <div
                *ngIf="params.accionEntidad !== AccionEntidadEnum.VISITAR"
                class="subtitulo b"
            >
                <p
                    [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                        color: estiloDelTextoServicio.colorDelTexto.TEXTOAZULBASE,
                        estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                        enMayusculas: true,
                        tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_I2
                    })"
                >
                    {{ 'm4v5texto17' | translate }} {{ fechaMaximaUpdate | date:'dd/MM/yyyy' }}
                </p>
            </div>
            <div
                [ngClass]="{
                    'botones': true
                }"
            >
                <app-button
                    [botonCompartido]="confBotonHistorico"
                ></app-button>
                <app-button [botonCompartido]="confBotonCompartir"></app-button>
            </div>
            <div
                *ngIf="determinarSiHayAlbumSegunTipo(CodigosCatalogoTipoAlbumEnum.AUDIOS)"
                class="audios"
                (tap)="irAlAlbumAudios()"
            >
                <div
                    *ngIf="params.accionEntidad !== AccionEntidadEnum.VISITAR"
                    class="texto"
                >
                    <p
                        [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                            color: estiloDelTextoServicio.colorDelTexto.TEXTOAZULBASE,
                            estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                            enMayusculas: true,
                            tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL
                        })"
                    >
                        {{ 'm4v5texto20' | translate }}
                    </p>
                </div>
                <div class="icono">
                    <img src="https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/botones/forma-icono-audio-verde.svg">
                </div>
            </div>
            <div
                *ngIf="params.accionEntidad === AccionEntidadEnum.VISITAR"
                class="votar-proyecto"
            >
                <app-votar-entidad [configuracion]="confVotarEntidad"></app-votar-entidad>
            </div>
            <div class="descripcion-intro">
                <p
                    [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                        color: estiloDelTextoServicio.colorDelTexto.TEXTOAZULBASE,
                        estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                        enMayusculas: true,
                        tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_IGUAL
                    })"
                >
                    {{ 'm4v5texto21' | translate }}
                </p>
                <p 
                    [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                        color: estiloDelTextoServicio.colorDelTexto.TEXTOROJOBASE,
                        estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                        enMayusculas: true,
                        tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L1_IGUAL
                    })"
                    class="ultima-descr"
                >
                    {{ 'm4v5texto21' | translate }}
                </p>
            </div> 
            <div class="descripcion-contexto">
                <textarea
                    [readonly]="params.accionEntidad === AccionEntidadEnum.VISITAR"
                    [(ngModel)]="proyecto.descripcion"
                    maxlength="1500"
                    [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                        color: estiloDelTextoServicio.colorDelTexto.TEXTONEGRO,
                        estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                        enMayusculas: false,
                        tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_IGUAL
                    })"
                >
                    {{ proyecto.descripcion }}
                </textarea>
                <div class="descripcion-contador">
                    <p
                        [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                            color: estiloDelTextoServicio.colorDelTexto.TEXTOROJOBASE,
                            estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                            enMayusculas: false,
                            tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L1_IGUAL
                        })"
                    >
                        {{ proyectoService.obtenerTextoDescripcionContador(proyecto) }}
                    </p>
                </div>
            </div>
            <div
                *ngIf="params.accionEntidad !== AccionEntidadEnum.VISITAR"
                class="proyecto-completo"
            >
                <p
                    [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                        color: estiloDelTextoServicio.colorDelTexto.TEXTOAZULBASE,
                        estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                        enMayusculas: true,
                        tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL
                    })"
                >
                    {{ 'm4v5texto23' | translate }}
                </p>
                <div class="espacio"></div>
                <p
                    [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                        color: estiloDelTextoServicio.colorDelTexto.TEXTOROJOBASE,
                        estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                        enMayusculas: true,
                        tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL
                    })"
                >
                    {{ 'm4v5texto24' | translate }}
                </p>
            </div>
            <div
                *ngIf="
                    params.accionEntidad !== AccionEntidadEnum.VISITAR ||
                    (
                        params.accionEntidad === AccionEntidadEnum.VISITAR && 
                        proyecto &&
                        proyecto.medias &&
                        proyecto.medias.length > 0
                    )
                "
                class="proyecto-completo-boton"
            >
                <app-button [botonCompartido]="confBotonFullProject"></app-button>
            </div>
            <div
                *ngIf="params.accionEntidad !== AccionEntidadEnum.VISITAR"
                class="link-descripcion"
            >
                <p
                    [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                        color: estiloDelTextoServicio.colorDelTexto.TEXTOAZULBASE,
                        estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                        enMayusculas: true,
                        tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL
                    })"
                >
                    {{ 'm4v5texto26' | translate }}
                </p>
                <div class="espacio"></div>
                <p
                    [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                        color: estiloDelTextoServicio.colorDelTexto.TEXTOAZULBASE,
                        estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                        enMayusculas: true,
                        tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL
                    })"
                >
                    {{ 'm4v5texto27' | translate }}
                </p>
            </div>
            <div
                *ngIf="determinarSiHayAlbumSegunTipo(CodigosCatalogoTipoAlbumEnum.LINK)"
                class="link-boton"
            >
                <app-button [botonCompartido]="confBotonLinks"></app-button>
            </div>
            <div
                *ngIf="params.accionEntidad !== AccionEntidadEnum.VISITAR"
                class="publicar-boton"
            >
                <app-button [botonCompartido]="confBotonPublish"></app-button>
            </div>
            <div
                *ngIf="params.accionEntidad && params.accionEntidad === AccionEntidadEnum.ACTUALIZAR"
                class="botones-adicionales"
            >
                <p
                    [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                        color: estiloDelTextoServicio.colorDelTexto.TEXTOAZULBASE,
                        estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                        enMayusculas: true,
                        tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_I2
                    })"
                >
                    {{ 'm4v6texto26' | translate }}
                </p>
                <div class="opciones">
                    <app-button [botonCompartido]="confBotonTransferir"></app-button>
                    <div class="espaciador"></div>
                    <app-button [botonCompartido]="confBotonEliminar"></app-button>
                </div>
            </div>
            <div
                *ngIf="params.accionEntidad && params.accionEntidad === AccionEntidadEnum.ACTUALIZAR"
                class="linea-comentarios"
            >
                <app-linea [configuracionLinea]="confLineaComentarios"></app-linea>
            </div>
            <div
                *ngIf="params.accionEntidad && params.accionEntidad === AccionEntidadEnum.ACTUALIZAR"
                class="borrado-informacion"
            >
                <p
                    [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                        color: estiloDelTextoServicio.colorDelTexto.TEXTOROJOBASE,
                        estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                        enMayusculas: true,
                        tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_I2
                    })"
                >
                    {{ 'm4v1texto28' | translate }}
                </p>
            </div>
        </div>
    </div>
</div>