@import "../../../../assets/estilos/dimensiones.scss";
@import "../../../../assets/estilos/colores.scss";
@import "../../../../assets/estilos/imagenes.scss";

.estilos-defecto-resumen { 
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $tranparencia-base-resumen-perfil; 
    z-index: 999;
    padding-top: $espacio-0249;
    padding-left: $espacio-0658;
    padding-right: $espacio-0658;
    padding-bottom: $espacio-522;
    box-sizing: border-box;
    display: none;
    overflow-y: auto;
    overflow-x: hidden;
    &.mostrar {
        display: flex;
    }
}

.capa {
    display: none;
    height: 100%;
    width: 100%;
    &.mostrar {
        display: flex;
    }
    &.loader {
        align-items: center;
        justify-content: center;
    }
    &.error {
        align-items: center;
        justify-content: center;
        flex-flow: column;
    }
    &.contenido-general {
        display: flex;
        flex-flow: column;
        align-items: center;
    }
}

.contenido-default-resumen-perfil {
    height: $altura-pagina;

    & .contenido-general {
        display: none;
        align-items: center;
        justify-content: center;
    }
    & .mostrarContenido {
        display: flex;
    }
}

.contenido-perfil-resumen-perfil {
    height: $cuerpo-default-alto;

    & .contenido-general {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.width-item {
    width: 100%;
    display: flex;
    justify-content: center;
    
    &.con-margen-top {
        margin-top: $espacio-0316;
    }

    &.pensamiento {
        display: block;
    }

    
}
.titulo-mis-reflex {
    padding-top: $espacio-0316 * 2;
    width: 100%;
    padding-bottom: $espacio-178 - $defecto-bottom;
}
.titulo-perfil{
    width: 100%;
    padding-top: $espacio-0249 - $defecto-top;
    display: flex;
    align-items: center;
    justify-content: center;
}
.botonCerrar{
    padding-top: $espacio-522;
}

.item-botones {
    padding-top: $espacio-522;
}
