<div class="no-disponible">  <p> {{ 'landingSoloVertical' | translate }} </p> </div>
<div class="modal-messages-conection" *ngIf="!networkStatus">
  <div class="error-box">
    <!-- <div class="shadow move">Sin Conexión</div> -->
    <div class="message">
      <h1 class="alert"> {{ 'text95' | translate }}</h1>
    </div>
  </div>
</div>
<div class="contenedor flex" *ngIf="networkStatus">
  <div [ngClass]="obtenerMundoClases()">
    <img
      src="https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/fondos/forma-mundo.png"
      alt=""
    />
  </div>
  <div class="canvas" id="landscape">
    <router-outlet></router-outlet>
  </div>
  <div
    [ngClass]="{
      gif: true,
      mostrar: variablesGlobales.mostrarGif
    }"
  >
    <img [src]="urlGif" alt="" />
  </div>
  <div
    [ngClass]="{
      'capa-gif': true,
      mostrar: variablesGlobales.mostrarCapaGif
    }"
  >
    <div class="tercio">
      <div class="portada-expandible">
        <img
          src="https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/fondos/portada-gaze-completa.png"
          alt=""
        />
      </div>
    </div>
  </div>
</div>

<app-camara-dni
  #camara
  *ngIf="camaraService.confCamaraDni"
  [configuracion]="camaraService.confCamaraDni"
>
</app-camara-dni>

<!-- Camara -->
<app-camara
  #camara
  *ngIf="camaraService.confCamara"
  [configuracion]="camaraService.confCamara"
></app-camara>

<!-- Cropper -->
<app-cropper
  #cropper
  *ngIf="camaraService.confCropper"
  [configuracion]="camaraService.confCropper"
></app-cropper>

<app-toast #toast *ngIf="confToast" [configuracion]="confToast"></app-toast>
