@use "sass:math";
@import '../assets/estilos/dimensiones.scss';
@import '../assets/estilos/colores.scss';

// Alert test conection
.modal-messages-conection {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  background: $azul-base;
  color: white;
  width: $ancho-pagina;
  height: $altura-pagina;
}


.no-disponible {
  display: none;
}

.alert {
  font-weight: 700;
  letter-spacing: 5px;
}

.error-box {
  position: absolute;
  width: $ancho-pagina;
  height: $altura-pagina;
  background: linear-gradient(to bottom left, $azul-base 100%, $tranparencia-base 40%);
  box-shadow: 5px 5px 20px rgba($azul-base, 10%);
}

.shadow {
  position: absolute;
  left: 40%;
  top: 45%;
  border-radius: 50%;
  z-index: 1;
}

.scale {
  animation: scale 1s ease-in infinite;
}

.move {
  animation: move 3s ease-in-out infinite;
}

.message {
  position: absolute;
  width: 100%;
  text-align: center;
  height: 40%;
  top: math.div($altura-pagina, 2);
}

@keyframes move {
  0% {
    left: 25%;
  }
  50% {
    left: 60%;
  }
  100% {
    left: 25%;
  }
}
// end Alert test conection

#landscape {
  display: block;
}



// @media screen and (orientation: landscape) {
//   .contenedor {
//       display: none;
//   }
//   .no-disponible {
//       width: 100vw;
//       height: 100vh;
//       background: linear-gradient(0deg, #408ede -76.67%, #051025 29.54%);
//       display: flex;
//       align-items: center;
//       justify-content: center;
//       & p{
//           font-family: "Patrick Hand", cursive;
//           font-size: $letra-1;
//           font-weight: $interlineado-1;
//           color: $blanco;
//           margin: 0 $espacio-089 0 0;
//           text-align: center;
//           width: fit-content;
//           box-sizing: border-box;
//           text-transform: uppercase;

//       }
//   }
// }