<app-appbar #appbar [configuracion]="confAppBar"></app-appbar>
<div class="cuerpo">
    <div class="portada">
        <app-item-circulo #portada [configuracion]="confPortada"></app-item-circulo>
        <p
            *ngIf="perfilSeleccionado && perfilSeleccionado.tipoPerfil.codigo !== codigosTipoPerfil.PLAYFUL"
            [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO, 
                estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                enMayusculas: true,
                tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL 
            })"
        >
            {{ 'm2v14texto4' | translate }}
        </p>
        <p
            *ngIf="perfilSeleccionado && perfilSeleccionado.tipoPerfil.codigo === codigosTipoPerfil.PLAYFUL"
            [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO, 
                estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                enMayusculas: true,
                tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL 
            })" 
        >
            {{ 'm2v15texto4' | translate }}
        </p>
    </div>
    <div class="nombrePerfil">
        <p
            [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                color: estiloDelTextoServicio.colorDelTexto.TEXTOAMARILLOBASE, 
                estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                enMayusculas: true,
                tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_IGUAL 
            })"
        >
            {{ params.titulo | translate }}
        </p>
    </div>
    <div class="divisorVerde">
        <app-linea #linea [configuracionLinea]="confLinea"></app-linea>
    </div>
    <div 
        class="indicaciones crear"
    >
        <p
            [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                color: estiloDelTextoServicio.colorDelTexto.TEXTOCELESTE, 
                estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                enMayusculas: true,
                tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL 
            })"
        >
            {{ 'm2v14texto5' | translate }}
        </p>
    </div>
    <div class="grilla">
        <app-item-circulo #botonUpload [configuracion]="confBotonUpload"></app-item-circulo>
        <div class="divisorVertical"></div>
        <!-- Item por defecto -->
        <div
            *ngFor="let item of itemsAlbumPorDefecto;let i = index"
            class="cajaItem"
        >
            <app-item-circulo
                *ngIf="itemsAlbum.length <= 0"
                [configuracion]="item"
            ></app-item-circulo>
            <div *ngIf="validarDivisorGrilla(i) && itemsAlbum.length <= 0" class="divisorVertical"></div>
        </div>
        <div
            *ngIf="itemsAlbum.length <= 0"
            class="mensajeDeFotos"
        >
            <p
                [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO, 
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLDCONSOMBRA,
                    enMayusculas: true,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L5_IGUAL 
                })"
            >
                {{ 'm2v17texto8' | translate }}
            </p>
        </div>
        <!-- Items del usuario -->
        <div
            *ngFor="let item of itemsAlbum;let i = index"
            class="cajaItem"
        >
            <app-item-circulo
                [configuracion]="item"
            ></app-item-circulo>
            <div  *ngIf="validarDivisorGrilla(i)" class="divisorVertical"></div>
        </div>
    </div>



    <div
        *ngIf="itemsAlbum.length > 0 && params.accionEntidad !== AccionEntidadEnum.VISITAR"
        class="cuadro-submit"
    >
        <!-- <app-button [botonCompartido]='confBotonSubmit'></app-button> -->
        <p
            [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({
                color: estiloDelTextoServicio.colorDelTexto.TEXTO_AVISO_GUAR_AUTO,
                estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR,
                enMayusculas: true,
                tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL
            })"
        >
            {{ 'm2v17texto9' | translate }}
        </p>
        <div class="espacio-entre-texto-guardado"></div>
        <p
            [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({
                color: estiloDelTextoServicio.colorDelTexto.TEXTO_AVISO_GUAR_AUTO,
                estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR,
                enMayusculas: true,
                tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL
            })"
        >
            {{ 'm2v17texto10' | translate }}
        </p>
    </div>
</div>
<!-- <app-camara
    #camara
    *ngIf="confCamara"
    [configuracion]="confCamara"
></app-camara>
<app-cropper
    #cropper
    *ngIf="confCropper"
    [configuracion]="confCropper"
></app-cropper> -->
<app-toast #toast [configuracion]="confToast"></app-toast>
<app-done [configuracion]="confDone"></app-done>
