@import '../../../../assets/estilos/dimensiones.scss';
@import '../../../../assets/estilos/colores.scss';
@import '../../../../assets/estilos/imagenes.scss';


$height-svg-pensamiento: calcular(41.43);
$width-svg-pensamiento: calcular(63.82);
$tamano-fijo: calcular(77.426);

.pensamientoCompar{
}

.forma-contenedor-pensamiento-login{
    height: fit-content;
    width: 100%;
    position: relative;
    & .svg{
        position: absolute;
        z-index: 0;
        height: 100%;
        width: 100%;
    }
    
    & svg {
        width: 100%;
        height: 100%;
    }
   
}


.forma-contenedor-pensamiento-perfil{
    height: $tamano-fijo;
    width: 100%;
    position: relative;
    & .svg{
        position: absolute;
        z-index: 0;
        height: 100%;
        width: 100%;
        // width: $width-svg-pensamiento;
    }
    & svg {
        width: 100%;
        height: 100%;
    }
   
}

.contenido-pensamientos{
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%;
    top: 0;

}

.div249{
    width: 100%;
    height: $interlineado-4;
}

.div178{
    width: 100%;
    height: $espacio-0178 - $defecto-bottom;

}
.divPensamientoAleatorio{
    padding-bottom: $interlineado-10;    
    box-sizing: border-box;
    width: $ancho-pagina*0.6382;
}

.divPensamientoAmarillo{
    // background-image: $forma-amarilla-pensamientos-login;    
    // background-repeat: no-repeat;     
    // background-size: 100% 100%; 
}
.divFormasPensamientoAmarillo{    
    background-image: $forma-amarilla-pensamientos;    
    background-repeat: no-repeat;
    background-size: 100% 98%;
}
.divFormasPensamientoRojo{
    background-image: $forma-roja-pensamientos;
    background-repeat: no-repeat;
    background-size: 100% 98%;
}

.divFormasPensamiento{
    background-image: $forma-ambos-pensamientos;    
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.tamanoPensamientoAleatorio{
    width: 100%;
    min-height: calcular(41.43);
    //$ancho-pagina*0.4143;
    height: fit-content;
    //max-height: $ancho-pagina*0.6143;
    //height: fit-content;
    padding-top: $espacio-677;    
    padding-left: $espacio-267;
    padding-right: $espacio-267;
    //padding-bottom: $espacio-677;  
    padding-bottom: $espacio-677 - $espacio-0249;  
    box-sizing: border-box;
    display: flex;
    align-items: center;
    //margin-bottom: $interlineado-10;
}
.tamanoPensamiento{    
    height: calcular(131.8643);    
    padding: 5.84vw 9.03vw 52.8543vw 3.45vw;//calcular(6.84) ($espacio-267 + $espacio-0658 + calcular(0.78)) (calcular(131.8643) - calcular(87.85) + calcular(6.84)) ($espacio-267 + calcular(0.78));   
    box-sizing: border-box;
}

.tamanioFijo{
    height: $tamano-fijo;
    width: 100%;
    // padding-top: $espacio-09212; 
    padding-top: $espacio-522;   
    padding-left: $espacio-267;
    padding-right: $espacio-267;
  
    // padding-bottom: $espacio-09212;  
    box-sizing: border-box;
    // margin-left: $espacio-0658 - $espacio-267;
    // margin-right: $espacio-0658 - $espacio-267;
}
.tamanoPensamientoPrivado{
    height: calcular(131.8643);    
    padding: calcular(6.84) ($espacio-267 + calcular(0.78)) (calcular(131.8643) - calcular(87.85) + calcular(6.84)) ($espacio-267 + calcular(0.78)+ $espacio-0658);
    //padding-bottom: calcular(9.212);    
    box-sizing: border-box;
}

.tamanoPensamientoTituloResumen{
    // height: calc(87.85 - ( $espacio-0249 + $espacio-516 ) );
    height: calc(#{(calcular(87.85))} - #{($espacio-0249 + $espacio-0516)});
    // width: 100%;
    padding-top: $espacio-09212;    
    padding-left: $espacio-267;
    padding-right: $espacio-267;
  
    padding-bottom: $espacio-09212;  
    box-sizing: border-box;
} 

.divPensamientoFormaAmarilla{
    width: $ancho-pagina - $espacio-0658;       
    height: 100%;    
    padding: 0 0 0 $espacio-0658;
}
.divPensamientoFormaRoja{
    width: $ancho-pagina - $espacio-0658;       
    height: 100%;    
    padding: 0 $espacio-0658 0 0;
}
/*.divPensamientoForma{
    width: $ancho-pagina;       
    height: 100%;    
}*/
.divError{
    height: calcular(41.43)-($espacio-677*2)
}


.centrado{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}