<div
    *ngIf="configuracion"
    [ngClass]="{
        'mensaje-noticia': true,
        'propietario': configuracion.esPropietario
    }"
>
    <div class="hora">
        <p
            [ngClass]="estilosDelTextoServicio.obtenerEstilosTexto({ 
                color: estilosDelTextoServicio.colorDelTexto.TEXTOAZULBASE, 
                estiloTexto: estilosDelTextoServicio.estilosDelTexto.BOLD, 
                enMayusculas: false,
                tamanoConInterlineado: estilosDelTextoServicio.tamanoDeTextoConInterlineado.L1_IGUAL
            })"
        >
        ({{ obtenerDateDeTimeStamp(configuracion.mensaje.fechaCreacion) | date:"HH:mm" }} {{'m3v10texto5'| translate}})
        </p>
    </div>
    <div
        [ngClass]="{
            'capa-seleccionado': true,
            'seleccionado': configuracion.seleccionado
        }"
    >
        <div 
            [ngClass]="{
                'libroPropietario': configuracion.esPropietario

            }"
        >
            <div class="svg-libro-cerrado" *ngIf="configuracion.leido === false"></div>
            <div class="svg-libro-abierto" *ngIf="configuracion.leido === true " ></div>
        </div>
        <div 
            [ngClass]="{
                'caja-proyecto': true
            }"
        >
            <app-item-proyectos-noticias
                *ngIf="confItemProyectosNoticias"
                [configuracion]="confItemProyectosNoticias"
            ></app-item-proyectos-noticias>
        </div>
        <div class="color-seleccionado"></div>
    </div>
</div>
