<div class="cotenedorMetodoPago">
  <div class="title-metodo">
    <p [ngClass]="
               estiloTextoServicio.obtenerEstilosTexto({
                    color: estiloTextoServicio.colorDelTexto.TEXTOAMARILLOBASE,
                    estiloTexto: estiloTextoServicio.estilosDelTexto.BOLD,
                    enMayusculas: false,
                    tamanoConInterlineado:
                      estiloTextoServicio.tamanoDeTextoConInterlineado.L4_IGUAL
                  })
                ">
      {{ item.nombre }}
    </p>
  </div>
</div>
<div class="iconPago">
  <div class="img-tarjetas"
       *ngIf=" item.estado.codigo == codigosEstadoMetodoPago.ACTIVA &&
                    item.codigo == codigosCatalogos.CRIPTOMONEDA"
       (tap)="navegarMetodoPagoCripto(item)"
  >
    <div class="texto-accept-cards"
         *ngIf="item.codigo === codigosCatalogos.CRIPTOMONEDA">
      <p [ngClass]="
              estiloTextoServicio.obtenerEstilosTexto({
              color: estiloTextoServicio.colorDelTexto.TEXTONEGRO,
              estiloTexto: estiloTextoServicio.estilosDelTexto.BOLD,
              enMayusculas: true,
              tamanoConInterlineado:
              estiloTextoServicio.tamanoDeTextoConInterlineado.L1_IGUAL
                        })
                      ">
        {{ "m5v9texto9" | translate }}
      </p>
    </div>
    <img [src]="item.icono" alt="Imagen Método Pago">
  </div>
</div>




