@import "../../../../../../assets/estilos/dimensiones.scss";
@import "../../../../../../assets/estilos/colores.scss";


img {
  width: 100%;
  height: 100%;
}

.cotenedorMetodoPago {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: content-box;
}

.title-metodo {
  text-align: center;
  padding-left: $espacio-0178;
  padding-right: $espacio-0178;
  padding-bottom: $espacio-0316 - $defecto-bottom;
}

.iconPago {
  box-sizing: content-box;
  padding-right: 0 !important;
  padding-left: 0 !important;
  position: relative;

  & .img-tarjetas {
    & .texto-accept-cards {
      width: $ancho-6920;
      position: absolute;
      text-align: center;
      margin-top: $espacio-0316;

      & p {
        padding-left: $espacio-267;
        padding-right: $espacio-267;
      }
    }
  }
}
