// Calibri
@font-face {
    font-family: "Calibri";
    src: url("calibri/bold.woff2") format("woff2");
    src: url("calibri/bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Calibri";
    src: url("calibri/bold-italic.woff2") format("woff2");
    src: url("calibri/bold-italic.woff") format("woff");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Calibri";
    src: url("calibri/italic.woff2") format("woff2");
    src: url("calibri/italic.woff") format("woff");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Calibri";
    src: url("calibri/light.woff2") format("woff2");
    src: url("calibri/light.woff") format("woff");
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: "Calibri";
    src: url("calibri/regular.woff2") format("woff2");
    src: url("calibri/regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

// Patrick Hand
@font-face {
    font-family: 'Patrick Hand';
    font-style: normal;
    font-weight: 400;
    src: url(./patrick-hand/Patrick-Hand.eot);
    src: local('Patrick Hand'), local('PatrickHand-Regular'), url(./patrick-hand/Patrick-Hand.eot?#iefix) format('embedded-opentype'), url(./patrick-hand/Patrick-Hand.ttf) format('truetype'), url(./patrick-hand/Patrick-Hand.svg#PatrickHand) format('svg'), url(./patrick-hand/Patrick-Hand.woff2) format('woff2'), url(./patrick-hand/Patrick-Hand.woff) format('woff');
}