.pagar-cripto {
  background-color: #0c2438;
  height: 100%;
  color: #e6fbf8;
  display: flex;
  flex-direction: column;

  & h2 {
    text-align: center;
  }

  & .qr-coinpaiments {
    display: flex;
    justify-content: center;
    margin-left: 1.2em;
    margin-right: 1.2em;
    align-content: center;

    & img {
      width: 100%;
      height: 100%;
      border-radius: 2.5em;
    }
  }

  & .informacion-pago {
    display: flex;
    flex-direction: column;
    padding-bottom: 1.2em;
    padding-top: 1em;

    & .contador-container {

      text-align: center;

      & .title-informacion {
        padding-top: 10px;
        font-size: 24px;
        font-weight: bold;
      }

      & .contador {
        font-size: 22px;
        color: #f9a825;
        font-weight: bold;
      }
    }


    & .monto-pagar {
      text-align: center;

      & .title-monto {
        font-size: 24px;
        font-weight: bold;
      }

      & .monto {
        font-size: 22px;
        color: #f9a825;
        font-weight: bold;
      }
    }

    & .direccion-pago {
      //background-color: #5e317c;
      text-align: center;


      & .title-direccion {
        font-size: 24px;
        font-weight: bold;
      }

      & .direccion-copiada {
        margin-top: 9px;
        margin-bottom: 5px;
        border: 2px solid #00c853;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #00c853 !important;
        font-size: 14px;
      }

      & .direccion {
        margin-top: 10px;
        border: 2px solid #ccc;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .copiar-direccion-codigo {
          margin-top: 10px;
          margin-bottom: 5px;
          display: flex;
          justify-content: center;
          font-size: 16px;
        }

        .copiar-direccion {
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          margin-bottom: 10px;
          font-size: 16px;

        }

        .direccion-copiada-title {
          display: inline-block;
          font-size: 16px;
          margin-bottom: 10px;
        }
      }

    }
  }

  & .boton-continuar {
    text-align: center;
  }
}


