<app-appbar *ngIf="confAppBar" [configuracion]="confAppBar"></app-appbar>
<div class="cuerpo">
    <div class="padre-item">
        <div class="item item-completo">
            <p
                [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO, 
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                    enMayusculas: true,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_I2
                })"
            >
                {{ 'm6v13texto2' | translate }}
            </p>
            <p
                [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOBOTONHISTORY, 
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                    enMayusculas: true,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_I2
                })"
            >
                {{ 'm6v13texto3' | translate }}
            </p>
            <p
                [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO, 
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                    enMayusculas: true,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_I2
                })"
            >
                {{ 'm6v13texto4' | translate }}
            </p>
        </div>
    </div>
    <app-linea [configuracionLinea]="confLineaCompleta"></app-linea>
    <div class="padre-item">
        <div
            
            (tap)="clickEnMenu(0)"
            [ngClass]="{
                'item': true,
                'item-titulo': true,
                'activo': menuActivo === 0
            }"
        >
            <p
                [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO, 
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLDCONSOMBRA, 
                    enMayusculas: true,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L6_I4
                })"
            >
                {{ 'm6v13texto5' | translate }}
            </p>
            <div
                [ngClass]="{
                    'icono': true,
                    'abierto': menuActivo === 0
                }"
            ></div>
        </div>
    </div>
    <div
        *ngIf="menuActivo === 0"
        class="padre-item"
    >
        <div
            class="item item-completo justificado"
        >
            <p
                [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO, 
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                    enMayusculas: false,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_I2
                })"
            >
                {{ 'm6v14texto6' | translate }}
            </p>
            <div class="separador alto522"></div>
            <p
                [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO, 
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                    enMayusculas: false,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_I2
                })"
            >
                {{ 'm6v14texto7' | translate }}
            </p>
            <div class="separador alto522"></div>
            <p
                [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO, 
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                    enMayusculas: false,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_I2
                })"
            >
                {{ 'm6v14texto8' | translate }}
            </p>
        </div>
    </div>
    <div class="contenedor-linea">
        <div class="color">
            <app-linea [configuracionLinea]="confLineaMitad"></app-linea>
        </div>
    </div>
    <!-- Item dis -->
    <div class="padre-item">
        <div
            
            (tap)="clickEnMenu(1)"
            [ngClass]="{
                'item': true,
                'item-titulo': true,
                'activo': menuActivo === 1
            }"
        >
            <p
                [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO, 
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLDCONSOMBRA, 
                    enMayusculas: true,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L6_I4
                })"
            >
                {{ 'm6v13texto6' | translate }}
            </p>
            <div
                [ngClass]="{
                    'icono': true,
                    'abierto': menuActivo === 1
                }"
            ></div>
        </div>
    </div>
    <div
        *ngIf="menuActivo === 1"
        class="padre-item"
    >
        <div
            class="item item-completo justificado"
        >
            <p
                [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO, 
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                    enMayusculas: false,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_I2
                })"
            >
                {{ 'm6v14texto10' | translate }}
            </p>
            <div class="separador alto522"></div>
            <p
                [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO, 
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                    enMayusculas: false,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_I2
                })"
            >
                {{ 'm6v14texto11' | translate }}
            </p>
            <div class="separador alto522"></div>
            <p
                [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO, 
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                    enMayusculas: false,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_I2
                })"
            >
                {{ 'm6v14texto12' | translate }}
            </p>
            <div class="separador alto522"></div>
            <p
                [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO, 
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                    enMayusculas: false,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_I2
                })"
            >
                {{ 'm6v14texto13' | translate }}
            </p>
            <div class="separador alto522"></div>
            <p
                [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO, 
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                    enMayusculas: false,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_I2
                })"
            >
                {{ 'm6v14texto14' | translate }}
            </p>
            <div class="separador alto522"></div>
            <p
                [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO, 
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                    enMayusculas: false,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_I2
                })"
            >
                {{ 'm6v14texto15' | translate }}
            </p>
        </div>
    </div>
    <div class="contenedor-linea">
        <div class="color">
            <app-linea [configuracionLinea]="confLineaMitad"></app-linea>
        </div>
    </div>
    <!-- Item tres -->
    <div class="padre-item">
        <div
            
            (tap)="clickEnMenu(2)"
            [ngClass]="{
                'item': true,
                'item-titulo': true,
                'activo': menuActivo === 2
            }"
        >
            <p
                [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO, 
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLDCONSOMBRA, 
                    enMayusculas: true,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L6_I4
                })"
            >
                {{ 'm6v13texto7' | translate }}
            </p>
            <div
                [ngClass]="{
                    'icono': true,
                    'abierto': menuActivo === 2
                }"
            ></div>
        </div>
    </div>
    <div
        *ngIf="menuActivo === 2"
        class="padre-item"
    >
        <div
            class="item item-completo justificado"
        >
            <p
                [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO, 
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                    enMayusculas: false,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_I2
                })"
            >
                {{ 'm6v14texto17' | translate }}
            </p>
            <div class="separador alto522"></div>
            <p
                [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO, 
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                    enMayusculas: false,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_I2
                })"
            >
                {{ 'm6v14texto18' | translate }}
            </p>
            <div class="separador alto522"></div>
            <p
                [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO, 
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                    enMayusculas: false,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_I2
                })"
            >
                {{ 'm6v14texto19' | translate }}
            </p>
            <div class="separador alto522"></div>
            <p
                [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO, 
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                    enMayusculas: false,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_I2
                })"
            >
                {{ 'm6v14texto20' | translate }}
            </p>
        </div>
    </div>
    <div class="contenedor-linea">
        <div class="color">
            <app-linea [configuracionLinea]="confLineaMitad"></app-linea>
        </div>
    </div>
    <!-- Item 4 -->
    <div class="padre-item">
        <div
            
            (tap)="clickEnMenu(3)"
            [ngClass]="{
                'item': true,
                'item-titulo': true,
                'activo': menuActivo === 3
            }"
        >
            <p
                [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO, 
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLDCONSOMBRA, 
                    enMayusculas: true,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L6_I4
                })"
            >
                {{ 'm6v13texto8' | translate }}
            </p>
            <div
                [ngClass]="{
                    'icono': true,
                    'abierto': menuActivo === 3
                }"
            ></div>
        </div>
    </div>
    <div
        *ngIf="menuActivo === 3"
        class="padre-item"
    >
        <div
            class="item item-completo justificado"
        >
            <p
                [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO, 
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                    enMayusculas: false,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_I2
                })"
            >
                {{ 'm6v14texto22' | translate }}
            </p>
            <div class="separador alto522"></div>
            <p
                [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO, 
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                    enMayusculas: false,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_I2
                })"
            >
                {{ 'm6v14texto23' | translate }}
            </p>
            <div class="separador alto522"></div>
            <p
                [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO, 
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                    enMayusculas: false,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_I2
                })"
            >
                {{ 'm6v14texto24' | translate }}
            </p>
        </div>
    </div>
    <div class="contenedor-linea">
        <div class="color">
            <app-linea [configuracionLinea]="confLineaMitad"></app-linea>
        </div>
    </div>
    <!-- Item 5 -->
    <div class="padre-item">
        <div
            
            (tap)="clickEnMenu(4)"
            [ngClass]="{
                'item': true,
                'item-titulo': true,
                'activo': menuActivo === 4
            }"
        >
            <p
                [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO, 
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLDCONSOMBRA, 
                    enMayusculas: true,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L6_I4
                })"
            >
                {{ 'm6v13texto9' | translate }}
            </p>
            <div
                [ngClass]="{
                    'icono': true,
                    'abierto': menuActivo === 4
                }"
            ></div>
        </div>
    </div>
    <div
        *ngIf="menuActivo === 4"
        class="padre-item"
    >
        <div
            class="item item-completo justificado"
        >
            <p
                [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO, 
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                    enMayusculas: false,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_I2
                })"
            >
                {{ 'm6v14texto26' | translate }}
            </p>
            <div class="separador alto522"></div>
            <p
                [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO, 
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                    enMayusculas: false,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_I2
                })"
            >
                {{ 'm6v14texto27' | translate }}
            </p>
        </div>
    </div>
    <div class="contenedor-linea">
        <div class="color">
            <app-linea [configuracionLinea]="confLineaMitad"></app-linea>
        </div>
    </div>
</div>
