@import '../../../../assets/estilos/dimensiones.scss';
@import '../../../../assets/estilos/colores.scss';
@import '../../../../assets/estilos/imagenes.scss';
$width-cruz: calcular(3.5);
$height-cruz: calcular(3.5);

.div249{
    width: 100%;
    height: $interlineado-4;
}
.textPensamiento{
    width: 100%;
    padding-top: $espacio-0166 - $defecto-top;
    padding-bottom: $espacio-0316 - $defecto-bottom;
    height: fit-content;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}
.textPensamientoLista{
    width: 100%;
    padding-top: $espacio-0166 - $defecto-top;
    padding-bottom: $espacio-0316 - $defecto-bottom;
    box-sizing: border-box;
}
.divFechaX{
    width: 100%;
    height: fit-content;
    display: flex;
}
.divFecha{
    width: fit-content;
    height: fit-content;
    float: left;
}
.divX{
    background-image: $cruz-negra-borrar;
    width: $width-cruz;
    height: $height-cruz;
    margin-left: $interlineado-10 +$interlineado-10;
    box-sizing: border-box;
}

.copiable{
    user-select: text;
}