<app-appbar *ngIf="configuracionAppBar" #barra [configuracion]="configuracionAppBar"> </app-appbar>
<div class="contenedor-compras">
    <div [ngClass]="{ 'fondo-transparente': true }">
        <div class="item-titulo">
            <p class="titulo-principal" [ngClass]="estiloTituloPrincipal()">
                {{'m6v10texto2' | translate}}
            </p>
            <app-linea class="lineaVerde" [configuracionLinea]="confLinea"></app-linea>
        </div>
        <div class="item">
            <ul class="lista-buscadores">
                <li><a class="link" target="_blank" href="https://duckduckgo.com/">duckduckgo.com</a></li>
                <li><a class="link" target="_blank" href="https://bing.com">bing.com</a> </li>
                <li><a class="link" target="_blank" href="https://google.com">google.com</a> </li>
                <li><a class="link" target="_blank" href="https://ask.com">ask.com</a> </li>
                <li><a class="link" target="_blank" href="https://ecosia.org">ecosia.org</a> </li>
                <li><a class="link" target="_blank" href="https://yandex.com">yandex.com</a> </li>
                <li><a class="link" target="_blank" href="https://privacywall.org">privacywall.org</a> </li>
                <li><a class="link" target="_blank" href="https://yahoo.com">yahoo.com</a> </li>
                <li><a class="link" target="_blank" href="https://askjeeves.net">askjeeves.net</a> </li>
                <li><a class="link" target="_blank" href="https://naver.com">naver.com</a> </li>
                <li><a class="link" target="_blank" href="https://baidu.com">baidu.com</a> </li>
                <li><a class="link" target="_blank" href="https://terra.com">terra.com.br/busca/</a> </li>
            </ul>
        </div>
    </div>
</div>