<div
    class="moneda-picker"
>
    <!-- titulo -->
    <div
        *ngIf="configuracion.selectorTipoMoneda.titulo.mostrar"
        class="titulo"
    >   

        <div class="mitad-der">
            <p
                [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOROJOBASE, 
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                    enMayusculas: true,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L1_IGUAL
                })"
            >
            {{ configuracion.selectorTipoMoneda.titulo.llaveTexto | translate }}
            </p>
        </div>

    </div>
    <!-- preview y selector -->
    <div
        [ngClass]="{
            'caja': true,
            'sinPreview': (configuracion.inputCantidadMoneda.ocultarInput)
        }"
    >
        <div class="input">
            <input 
                *ngIf="!configuracion.inputCantidadMoneda.ocultarInput"
                [ngClass]="obtenerClasesInputCantidadMoneda()"
                [(ngModel)]="configuracion.inputCantidadMoneda.valor.valorNeto"
                [readonly]="configuracion.inputCantidadMoneda.soloLectura"
                placeholder="0,00"
                currencyMask 
                [options]="{ 
                    prefix: '',
                    thousands: '.',
                    decimal: ',',
                    align: 'center', 
                    precision: 2,
                    allowNegative: false
                }"
            />
        </div>

        <!-- Selector -->
        <div
            class="selector"
            [ngClass]="{
                'selector': true,
                'sinPreview': (configuracion.inputCantidadMoneda.ocultarInput),
                'sinEventos': (configuracion.selectorTipoMoneda.soloLectura)
            }"
        >
            <!-- Input preview -->
            <div
                [ngClass]="obtenerClasesInputPreviewSelector()"
                type="text"
                readonly="true"
                (tap)="tapSelector()"
            >
                {{ configuracion.selectorTipoMoneda.inputTipoMoneda.valor.valorFormateado }}
            </div>
        </div>
        <div class="restante-caja">
            

        </div>
    </div>
</div>
