@import '../../../../assets/estilos/dimensiones.scss';
@import '../../../../assets/estilos/colores.scss';

$selector-sombra: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);

.moneda-picker {
    width: 100%;
    height: fit-content;

    & .titulo {
        width: 100%;
        margin-bottom: $espacio-089;
        margin-top: $espacio-0178 - $defecto-bottom;
        box-sizing: border-box;
        height: 13px;
        & .mitad-der{
            width: 40%;
            margin-left: 40%;
            justify-content: center;
            & p{
                text-align: center;
            }
        }

        & p {
            font-weight: normal;
            white-space: unset
        }
    }

    & .caja {
        width: 100%;
        max-width: 100%;
        height: fit-content;

        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: flex-start;
        border-width: 0;
        border-color: $negro;
        box-sizing: border-box;
        &.sinPreview {
            width: fit-content;
            min-width: 5ch;

            & .selector {
                width: 100% !important;
                max-width: 100% !important;
                
                & .input-preview-selector {
                    width: 100% !important;
                    max-width: 100% !important;
                    margin-left: 0 !important;
                }
            }
        }

        & input {
            padding: 0;
            outline: 0;
            height: calcular(7.82);
            text-align: center;

            display: flex;
            align-items: center;
            justify-content: center;

            box-sizing: border-box;

            &:focus {
                outline: 0;
            }
            &:active {
                outline: 0;
            }
            caret-color: $azul-base !important;
            
        }

        & .input{
            width: 50%;
        }


        & .input-cantidad {
            border: 0;
            padding: 0 $espacio-522;
            border-radius: calcular(1.03);
            margin-right: $espacio-522;
            width: calc(13ch + #{ $espacio-522 * 2 });
        }

        & .selector {
            height: 100%;
            width: 20%;
            display: flex;
            align-items: center;
            justify-content: center;
            & .input-preview-selector {
                padding: 0 $espacio-0136;
                border-style: solid;
                display: flex;
                align-items: center;
                justify-content: center;
                box-sizing: border-box;
                height: calcular(7.82);
                width: fit-content;
                max-width: calc(100% - #{ $espacio-522 });
                text-transform: uppercase;
                text-overflow: ellipsis;
                overflow: hidden; 

            }
        }

        & .restante-caja{
            height: 100%;
            width: 30%;
            background-color: darkslategray;
        }
    }
}

p{
    white-space: unset !important
}