<app-appbar [configuracion]="confAppBar"></app-appbar>
<div class="contenido-general">
  <div>
    <h3>Reembolsos</h3>
    <hr />
    <div>
      <table>
        <thead>
          <tr>
            <th *ngFor="let item of headersTable">{{ item }}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th>2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th>3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
