@import "../../../assets/estilos/dimensiones.scss";
@import "../../../assets/estilos/colores.scss";


.contenido-general {
    width: $ancho-pagina;
    height: $cuerpo-general;
    background-color: $azul-appbar;
    display: flex;
    overflow: hidden;
    color: #fff;
}

