<app-appbar [configuracion]="confAppBar"></app-appbar>
<div class="menu-principal">
    <div class="capa">
        <div class="contenido">
            <!-- worlwide projects -->
            <div class="espacio-316">
                <div gestorEventos (tap)="navegarSegunMenu(0)" class="item-menu">
                    <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                        color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO,
                        estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLDCONSOMBRA, 
                        enMayusculas: true,
                        tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L7_I2
                    })">
                        {{ 'm1v14texto4' | translate }} <br /> {{ 'm1v14texto5' | translate }}
                    </p>
                </div>
            </div>
            <div class="linea-verde">
                <app-linea [configuracionLinea]="confLineaVerde"></app-linea>
            </div>
            <!-- country projects -->
            <div class="espacio-316">
                <div gestorEventos (tap)="navegarSegunMenu(1)" class="item-menu">
                    <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                        color: estiloDelTextoServicio.colorDelTexto.TEXTOGRISDEMO,
                        estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLDCONSOMBRA, 
                        enMayusculas: true,
                        tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L7_I2
                    })">
                        {{ 'm1v14texto6' | translate }} <br /> {{ 'm1v14texto7' | translate }}
                    </p>
                </div>
            </div>
            <!-- Linea -->
            <div class="linea-verde">
                <app-linea [configuracionLinea]="confLineaVerde"></app-linea>
            </div>
            <!-- local projects -->
            <div class="espacio-316">
                <div gestorEventos (tap)="navegarSegunMenu(2)" class="item-menu">
                    <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                        color: estiloDelTextoServicio.colorDelTexto.TEXTOGRISDEMO,
                        estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLDCONSOMBRA, 
                        enMayusculas: true,
                        tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L7_I2
                    })">
                        {{ 'm1v14texto8' | translate }} <br /> {{ 'm1v14texto9' | translate }}
                    </p>
                </div>
            </div>

            <!-- Linea -->
            <div class="linea-verde">
                <app-linea [configuracionLinea]="confLineaVerde"></app-linea>
            </div>
            <!-- NETWORK projects -->
            <div class="espacio-316">
                <div gestorEventos (tap)="navegarSegunMenu(3)" class="item-menu">
                    <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                        color: estiloDelTextoServicio.colorDelTexto.TEXTOGRISDEMO,
                        estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLDCONSOMBRA, 
                        enMayusculas: true,
                        tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L7_I2
                    })">
                        {{ 'm1v14texto10' | translate }} <br /> {{ 'm1v14texto11' | translate }} <br /> {{
                        'm1v14texto12' | translate }}
                    </p>
                </div>
            </div>

            <!-- Linea -->
            <div class="linea-verde">
                <app-linea [configuracionLinea]="confLineaVerde"></app-linea>
            </div>
            <div class="espacio-316">
                <div gestorEventos (tap)="navegarSegunMenu(4)" class="item-menu">
                    <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                        color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO,
                        estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLDCONSOMBRA, 
                        enMayusculas: true,
                        tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L5_I4
                    })">
                        <!-- {{ 'USEFUL' | translate }} <br /> {{ 'INFORMATION' |  translate }} <br /> {{ 'FOR PROJECTS' |  translate }} -->
                        {{ 'm1v14texto13' | translate }}
                    </p>
                </div>
            </div>s
            <!-- Linea -->
            <div class="linea-verde">
                <app-linea [configuracionLinea]="confLineaVerdeAll"></app-linea>
            </div>
        </div>
    </div>
</div>
<app-dialogo [configuracion]="configDialogoInicial"></app-dialogo>