@import "../../../assets/estilos/dimensiones.scss";
@import "../../../assets/estilos/imagenes.scss";

.cuerpo {
    display: flex;
    flex-flow: column;
    padding: 0 !important;

    & .contenedor-item {
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: fit-content;

        & .capa-corazon {
            position: absolute;
            z-index: -1;
            width: 100%;
            height: 100%;
            display: none;
            // background-color: green;

            &.mostrar {
                display: flex;
                align-items: flex-start;
                // background-color: red;
            }

            & .corazon {
                width: calc((100% - #{ calcular(69.16) }) / 2);
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                & img {
                    width: calcular(7);
                    height: calcular(7);
                }
            }
        }
    }


}
