<div *ngIf="configuracion" [ngClass]="{
    'contenido': true,
    'mostrar': configuracion.mostrarModal
}">


    <div class="video-container">
        <video #videoElement [width]="WIDTH1" [height]="HEIGHT" autoplay>

        </video>
    </div>
    <div class="botones">
        <div *ngIf="!isVideoRecording && !videoBlobUrl" class="girarCamara" (tap)="cambiarCamara()"></div>
        <div *ngIf="!isVideoRecording && !videoBlobUrl " class="tomarFoto sombraCaja" (tap)="startVideoRecording()"></div>
        <div *ngIf="isVideoRecording && !videoBlobUrl" class="tomarFoto sombraCaja" (tap)="stopVideoRecording()"></div>
        <div class="cerrarCamara" (tap)="cerrarCamara()"></div>
    </div>
    <!-- <div id="my-app">

        <div>
            <div>Video</div>
            <div>
                <button class="start-button" *ngIf="!isVideoRecording && !videoBlobUrl"
                    (click)="startVideoRecording()">Start Video Recording</button>
                <button class="stop-button" *ngIf="isVideoRecording && !videoBlobUrl"
                    (click)="stopVideoRecording()">Stop Video Recording</button>
                <button class="cancel-button" *ngIf="!isVideoRecording && videoBlobUrl"
                    (click)="clearVideoRecordedData()">Clear Video Recording</button>
                <button class="download-button" *ngIf="!isVideoRecording && videoBlobUrl"
                    (click)="downloadVideoRecordedData()">Download Video Recording</button>
                <div id="videoTimer" *ngIf="isVideoRecording && !videoBlobUrl"> {{ videoRecordedTime }} </div>
            </div>
        </div>
        <video #videoElement>
          
        </video>

    </div> -->
</div>