@import "../../../../assets/estilos/dimensiones.scss";
@import "../../../../assets/estilos/colores.scss";
@import "../../../../assets/estilos/imagenes.scss";

.imagen-completa {
	position: fixed;
	width: 100vw;
	height: 100vh;
	z-index: 999;
	top: 0;
	left: 0;
	background: #000;

	display: none;
	align-items: center;
	justify-content: center;

	& .cuerpo {
		position: absolute;
		padding: 0 !important;
		top: 0;
		left: 0;
		box-sizing: border-box;
		overflow: hidden;
		z-index: 2;
		width: 100%;
		height: 100%;
		
	}

	&.mostrar {
		display: flex;
	}

	& .capa {
		position: absolute;
		z-index: 0;
		opacity: 0;

		&.mostrar {
			opacity: 1;
			z-index: 1;
		}

		&.loader {
			width: 100%;
			height: 100%;
			box-sizing: border-box;

			display: flex;
			align-items: center;
			justify-content: center;
		}

		&.imagen {
			width: 100%;
			height: 100%;
			box-sizing: border-box;
			position: relative;
		
			display: flex;
			flex-flow: column;
			// padding-top: calc(100vh - #{$appbar-alto-mini + $espesor-071});
			& .boton-cerrar {
				position: absolute;
				z-index: 1;
				top: $appbar-alto-mini + $espesor-071;
				right: calcular(8.5);

				height: calcular(8);
				width: calcular(8);

				background: #000;
				border-radius: 50%;

				display: flex;
				align-items: center;
				justify-content: flex-end;

				& img {
					width: 100%;
					height: 100%;
				}
			}
			& .boton-descargar {
				position: absolute;
				z-index: 1;
				top: $appbar-alto-mini + $espesor-071;
				right: calcular(24.5);
				height: calcular(8);
				width: calcular(8);

				background: #000;
				border-radius: 50%;

				display: flex;
				align-items: center;
				justify-content: flex-end;

				& img {
					width: 100%;
					height: 100%;
				}
			}

			& .contenedor-imagen {
				top: 0;
				left: 0;
				position: absolute;
				z-index: -1;

				width: 100%;
				height: 100%;

				display: flex;
				align-items: center;
				justify-content: center;

				& img {
					width: auto;
					height: auto;
					object-fit: contain;
					max-width: 100%;
					max-height: 100%;
					// background-size: 100% 100%;
				}
			}
		}
	}
}

// @media (min-width: 1px) and (orientation: portrait) {
// 	.imagen-completa {
// 		& .capa {
// 			&.imagen {
// 				& .boton-cerrar {
// 					top: calcular(3.5);
// 					right: calcular(8.5);
// 					height: calcular(12);
// 					width: calcular(12);
// 				}
// 				& .boton-descargar {
// 					top: calcular(3.5);
// 					right: calcular(29);
// 					height: calcular(12);
// 					width: calcular(12);
// 				}
// 			}
// 		}
// 	}
// }

// @media (min-width: 1px) and (orientation: landscape) {
// 	.imagen-completa {
// 		& .capa {
// 			&.imagen {
// 				& .boton-cerrar {
// 					top: calcular(1.5);
// 					right: calcular(6.5);
// 					height: calcular(4);
// 					width: calcular(4);
// 				}
// 				& .boton-descargar {
// 					top: calcular(1.5);
// 					right: calcular(17);
// 					height: calcular(4);
// 					width: calcular(4);
// 				}
// 			}
// 		}
// 	}
// }
