<!-- 

<div *ngFor="let callId of remoteCalls" [id]="callId" class="remote">


    <div class="items-llamada">
        <div [ngClass]="{'svg-ignorar-llamada': true, 'ocultar': ocultarCancelar}"
            (tap)="cancelarLlamada()"></div>
    </div>
</div> -->
