// @import "../../../../assets/estilos/dimensiones.scss";
// @import "../../../../assets/estilos/colores.scss";
// @import "../../../../assets/estilos/imagenes.scss";

// $width-telefono: calcular(13.1);
// $height-telefono: calcular(13.1);

// .local {
//   position: fixed;
//   right: 1rem;
//   bottom: 1rem;
//   width: 20vw;
//   height: 20vh;
//   border-radius: 5px;
//   overflow: hidden;
//   z-index: 999;
//   & .items-llamada {
//     position: absolute;
//     bottom: 0;
//     margin-bottom: $espacio-1542;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     width: 100%;
//     z-index: 999;
//     & .svg-ignorar-llamada {
//       background-image: $ignorar-llamada;
//       background-repeat: no-repeat;
//       background-position: center;
//       background-size: cover;
//       width: $width-telefono;
//       height: $height-telefono;
//       z-index: 999;
//       &.ocultar{
//         display: none;
//       }
//     }
//   }
// }

// .remote {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100vw;
//   height: 100vh;
//   z-index: 990;
//   & .items-llamada {
//     position: absolute;
//     bottom: 0;
//     margin-bottom: $espacio-1542;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     width: 100%;
//     z-index: 999;
//     & .cronometro{
//       height: 200px;
//       width: 100px;
//       z-index: 999;
//       top: 0;
//       left: 0;
//       position: absolute;
//       &.mostrar{
//         display: none;
//       }
//     }
//     & .svg-ignorar-llamada {
//       background-image: $ignorar-llamada;
//       background-repeat: no-repeat;
//       background-position: center;
//       background-size: cover;
//       width: $width-telefono;
//       height: $height-telefono;
//       z-index: 999;
//       &.ocultar{
//         display: none;
//       }
//     }
//   }
// }
