@import "../../../../assets/estilos/dimensiones.scss";
@import "../../../../assets/estilos/colores.scss";

$contador-ancho: calcular(63.88);
$contador-interior-ancho: calcular(59.34);
$contador-radio-borde: calcular(2.55);
$contador-interno-radio-borde: calcular(1.03);
$contador-interno-item-ancho: calcular(14.83);
$contador-borde: calcular(0.49);

.contador {
    display: none;
    width: $contador-ancho;
    height: fit-content;
    box-sizing: border-box;
    padding: $espacio-0316 $espacio-178;
    border-radius: $contador-radio-borde;
    background-color: #ffffff;
    border: $contador-borde solid #000000;

    &.mostrar {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    & .loader {
        width: 100%;
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    & .interior {
        width: $contador-interior-ancho;
        height: fit-content;
        box-sizing: border-box;
        padding: $espacio-178 $espacio-0139;
        background-color: $input-fondo-registro;
        border-radius: $contador-interno-radio-borde;

        & .titulo {
            width: 100%;
            box-sizing: border-box;
            margin-bottom: $espacio-178;

            & p {
                text-align: center;
            }
        }

        & .contadores {
            width: 100%;
            height: fit-content;
            display: flex;
            flex-flow: row;

            & .parte-contador {
                width: $contador-interno-item-ancho;
                display: flex;
                flex-flow: column;
                align-items: center;
                justify-content: center;

                & p {
                    width: 100%;
                    text-align: center;

                    &:nth-child(1) {
                        margin-bottom: $espacio-178;
                    }
                }
            }
        }
    }
}
