@import "../../../../assets/estilos/dimensiones.scss";
@import "../../../../assets/estilos/colores.scss";

$mitad-item-6920: calc((100% - #{$item-menu-ancho-6920}) / 2);

.contenido {
  height: calc(100vh - #{$appbar-alto-default} - #{$espesor-089}) !important;
  background-color: $tranparencia-base;
  width: $item-menu-ancho-6920;
  margin-left: $mitad-item-6920;
  overflow-y: auto;
  box-sizing: border-box;
  // padding-top: $espacio-0316 - $defecto-top;

  &.conLoader {
    display: flex;
    flex-flow: column;
  }

  &.conError {
    display: flex;
    flex-flow: column;
  }

  &.sinElementos {
    display: flex;
    flex-flow: column;
    text-align: center;
  }

  & .encarga {
    padding: $espacio-522 0;

    & p {
      text-align: center;
    }
  }

  & .loader {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;

  }

  & .error-proyectos {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    flex: 1;

    & p {
      text-align: center;
    }
  }

  & .no-items {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    flex: 1;

    & p {
      text-align: center;
    }
  }


  & .listaMenu {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    box-sizing: border-box;
    padding-top: $espacio-522;

    & .texto-info {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: $espacio-0316 - $defecto-top $espacio-267 $espacio-0249 - $defecto-bottom;

    }

    & .boton-actualizar {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding-bottom: $espacio-0316 - $defecto-bottom;

    }


    & .item-proyecto {
      padding-bottom: $espacio-0316 - $defecto-bottom;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
    }
  }

  & .loader-interno {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
    margin-top: calcular(2);
    margin-bottom: calcular(4);

  }
}

