@import "../../../assets/estilos/dimensiones.scss";
@import "../../../assets/estilos/colores.scss";

$mitad-item-6920: calc((100% - #{$item-menu-ancho-6920}) / 2);

.listaMenu {
    height: calc(100vh - #{$appbar-alto-default} - #{$espesor-089}) !important;
    overflow-y: auto;
    width: 100%;
    box-sizing: border-box;
}

.espacioInput {
    height: $espacio-0316;
}

.botondefecto{
    margin-top: $espacio-0316 - $defecto-top;

}

.letradefecto{
    font-size: calcular(4.8);
    text-align: justify;
    user-select: text !important;
}
.centrar{
    margin-top: $espacio-0316;
}
.separacion-inputs{
    width: 100%;
    height: $espacio-0316;
}
.links {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: $espacio-522 0 calcular(3) 0;
    box-sizing: border-box;
    

    & a {
        width: 100%;
        font-size: calcular(4);
        cursor: pointer;
        text-align: center;

        &:nth-child(1) {
            margin-bottom: calcular(2.49);
        }
        &:nth-child(2) {
            margin-bottom: calcular(2.49);
        }
        &:nth-child(3) {
            margin-bottom: calcular(2.49);
        }
    }
}