<app-appbar [configuracion]="configuracionAppBar"> </app-appbar>

<div class="listaMenu">
    <div class="fondo-transparente"> </div>
    <app-item-menu-perfiles [configuracionItem]="prepareItemInstrucciones()">
    </app-item-menu-perfiles>
    <div *ngFor="let item of listaTipoPerfil">
        <app-item-menu-perfiles [configuracionItem]="prepararItemTipoPerfil(item)"></app-item-menu-perfiles>
    </div>
    <app-item-menu-perfiles *ngIf="itemInformacion" [configuracionItem]="prepareItemInformacion(itemInformacion)">
    </app-item-menu-perfiles>

</div>
<!-- <app-dialogo-contenido id="{{idPerfilIncompatibleDialogo}}" [data]="dataPerfilIncompatibleDialogo">
    <p>-
        {{ 'text27' | translate }}
    </p>
    <div class="espacioInput"> </div>
    <app-button class="centrar" *ngIf="dataBoton" [botonCompartido]="dataBoton"></app-button>
</app-dialogo-contenido> -->

<app-modal-inferior [data]="dataModalTerminosCondiciones">
    <p
        class="letradefecto"
    >
        {{ 'text25' | translate }}

    </p>
    <p
        class="letradefecto"
    >
        {{ 'text26' | translate }}
    </p>

    <div class="centrar">
        <input [(ngModel)]="isChecked" (change)="checkValue($event.target)" type="checkbox" title="checboxPoliticas"/>
        <p class="letradefecto">{{ 'm13v1texto7' | translate}} <span class="docLegal" (tap)="irDocumentosLegales()" ><a  > {{'m13v1texto8' | translate }}</a> </span> </p>
    </div>
    <div [formGroup]="menorEdadForm">
        <!-- <app-input [inputCompartido]='inputNombresResponsable'></app-input>
        <div class="separacion-inputs"> </div>
        <app-input [inputCompartido]='inputCorreoResponsable'></app-input>
        <br> -->

        <div class="centrar">
            <button class="botondefecto"  disabled *ngIf="!isChecked">
                {{ 'm13v1texto11' | translate }}
            </button>
            <button class="botondefecto" (tap)="aceptarTerminosCondicionesMenorEdad()" *ngIf="isChecked">
                {{ 'm13v1texto11' | translate }}
            </button>
        </div>
    </div>

    <!-- <div class="links">
        <a
            class="letradefecto"

            target="_blank"
        >
            {{'m2v11texto25' | translate}}
        </a>
        <a
            class="letradefecto"

            target="_blank"
        >
            {{'m2v11texto26' | translate}}
        </a>
        <a
                class="letradefecto"

                target="_blank"
            >
                {{'m2v11texto26.2' | translate}}
            </a>
        <a
            class="letradefecto"

            target="_blank"
        >
            {{'m2v11texto26.1' | translate}}
        </a>
    </div> -->
</app-modal-inferior>
<app-toast #toast [configuracion]="confToast"></app-toast>
