@import "../../../assets/estilos/dimensiones.scss";
@import "../../../assets/estilos/colores.scss";
@import "../../../assets/estilos/imagenes.scss";

.cuerpo {
    margin-top: $espacio-0249;
    padding-bottom: $espacio-522 + $espacio-0249;
    background-image: #{$fondo-anuncio-arbol};
    background-position: center;
    background-repeat: no-repeat;

    & .linea-verde {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: ($espacio-522 + $espacio-0136) 0 ($espacio-522 + $espacio-0136) 0;
    }
} 
