<app-appbar [configuracion]="confAppBar"></app-appbar>

<div class="cuerpo">
    <div *ngFor="let item of configuracionAnuncioPublicitario;let i = index" class="caja-item">
        <div *ngIf="item.tipo.codigo == codigoCatalogoTipoAnuncio.PUBLICIDAD " class="loader-interno">
            <app-anuncio-publicitario [configuracion]="item"></app-anuncio-publicitario>
        </div>
        <div *ngIf="item.tipo.codigo == codigoCatalogoTipoAnuncio.INFORMACION " class="loader-interno">
            <app-anuncio-informativo [configuracion]="item"></app-anuncio-informativo>
        </div>
        <div *ngIf="item.tipo.codigo == codigoCatalogoTipoAnuncio.REFLEXION " class="loader-interno">
            <app-anuncio-reflexivo [configuracion]="item"></app-anuncio-reflexivo>
        </div>
        <div *ngIf="item.tipo.codigo == codigoCatalogoTipoAnuncio.FINANZAS " class="loader-interno">
            <app-anuncio-finanzas [configuracion]="item"></app-anuncio-finanzas>
        </div>
    </div>
</div>