<div *ngIf="barraInferior" [ngClass]="{
        'barrainferior': true,
        'activa':barraInferior.activarBarra
    }">
    <div class="cajablanca">
        <div *ngIf="!barraInferior.variosIconos; else mostrarIconos" class="cajablanca">
            <div class="icono" *ngIf="mostrarIconoTexto" (tap)="empezarAescribir()">
                <img class="iconotexto" src="https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/botones/forma-icono-editar-texto.svg" alt="">
            </div>
            <form [formGroup]="dataForm">
                <input
                    id="input_barr_mdfd"
                    [ngClass]="{
                        'inputTexto': true,
                        'completo': !mostrarIconoTexto
                    }"
                    (keyup)="contadorPalabras($event)"
                    (keyup.enter)="agregarTexto()"
                    type={{barraInferior.input.tipo.toString()}}
                    attr.maxlength="{{barraInferior.input.maximo}}"
                    placeholder="{{barraInferior.input.placeholder | translate}}"
                    formControlName='texto'
                    (focus)="mostrarIconoTexto = false"
                    (blur)="mostrarIconoTexto = true"
                    autocomplete="off"
                >
            </form>
        </div>
        <ng-template #mostrarIconos>
            <div class="icono">
                <img class="iconotexto" src="https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/botones/forma-icono-editar-texto.svg" alt="">
            </div>
            <div class="icono">
                <img class="iconotexto" src="https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/botones/forma-icono-editar-texto.svg" alt="">
            </div>
            <form [formGroup]="dataForm">
                <input type={{barraInferior.input.tipo.toString()}} attr.maxlength="{{barraInferior.input.maximo}}"
                    placeholder="{{barraInferior.input.placeholder | translate}}" formControlName='texto'>
            </form>
        </ng-template>

        <div class="contador" (tap)="empezarAescribir()">
            <p>
                {{txtContadorPalabras | translate}}
            </p>
        </div>
    </div>
    <div class="boton">
        <app-button [botonCompartido]="botonCompartido"></app-button>
    </div>
</div>

