@import "../../../../../assets/estilos/dimensiones.scss";
@import "../../../../../assets/estilos/colores.scss";

.cuerpo {
    box-sizing: border-box;
    padding: $espacio-0316 $espacio-267 $espacio-522 $espacio-267;
    // background-color: $tranparencia-base;

    overflow-y: auto;
    overflow-x: hidden;

    &.conLoader {
        display: flex;
        flex-flow: column;
    }

    &.conError {
        display: flex;
        flex-flow: column;
    }

    &.sinElementos {
        display: flex;
        flex-flow: column;
    }
    & .texto-elija{
        margin-bottom: $espacio-178 - $defecto-bottom;
    }
    & .caja {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: space-between;
        &.d{
            display: flex;
            align-items: center;
            justify-content: center;
            & .filab {
                width: 100%;
                text-align: center;
                & p{
                    margin-bottom: $espacio-178 - $defecto-bottom;
                    margin-top: $espacio-0249 - $defecto-top;
                }
            }
            & .filac {
                width: 75%;

                & select {
                    border: 0;
                    height: $alto-0782;
                    padding-left: $interlineado-6;
                    padding-right: $espacio-0139;
                    box-sizing: border-box;
                    width: 100%;
                    font-size: $letra-3;
                    background-color: $input-fondo;
                    border-radius: $interlineado-15;
                    text-transform: uppercase;
                    color: $blanco;
                    margin-bottom: $espacio-0316;

                    &::placeholder {
                        /* Chrome, Firefox, Opera, Safari 10.1+ */
                        color: $blanco;
                        opacity: 1; /* Firefox */
                    }

                    &:-ms-input-placeholder {
                        /* Internet Explorer 10-11 */
                        color: $blanco;
                    }

                    &::-ms-input-placeholder {
                        /* Microsoft Edge */
                        color: $blanco;
                    }
                }
            }
        }
    }
    & .inputs-buscador {
        // padding-left: $espacio-267;
        // padding-right: $espacio-267;
        margin-bottom: $espacio-522 - $defecto-top;
        width: 100%;
        & .caja {
            width: 100%;
            height: fit-content;
            display: flex;
            flex-flow: row;
            align-items: center;
            justify-content: space-between;
        }
        & .a {
            & .input-tema {
                border: 0;
                height: $alto-0782;
                padding-left: $interlineado-6;
                padding-right: $espacio-0139;
                box-sizing: border-box;
                width: $ancho-pagina * 0.6386;
                font-size: $letra-3;
                background-color: $input-fondo;
                border-radius: $interlineado-15;
                outline: none;
                color: $blanco;
                width: 100%;
                margin-bottom: $espacio-0316;
                // font-weight: bold;

                &::placeholder {
                    /* Chrome, Firefox, Opera, Safari 10.1+ */
                    color: $blanco;
                    opacity: 1; /* Firefox */
                }

                &:-ms-input-placeholder {
                    /* Internet Explorer 10-11 */
                    color: $blanco;
                }

                &::-ms-input-placeholder {
                    /* Microsoft Edge */
                    color: $blanco;
                }
            }
           
        }
        & .fila {
            width: calc((100% - #{$espacio-0139}) / 2);
            & select {
                border: 0;
                height: $alto-0782;
                padding-left: $interlineado-6;
                padding-right: $espacio-0139;
                box-sizing: border-box;
                width: 100%;
                font-size: $letra-3;
                background-color: $input-fondo;
                border-radius: $interlineado-15;
                text-transform: uppercase;
                color: $blanco;
                margin-bottom: $espacio-0316;
            
                &::placeholder {
                    /* Chrome, Firefox, Opera, Safari 10.1+ */
                    color: $blanco;
                    opacity: 1; /* Firefox */
                }
                
                &:-ms-input-placeholder {
                    /* Internet Explorer 10-11 */
                    color: $blanco;
                }
                
                &::-ms-input-placeholder {
                    /* Microsoft Edge */
                    color: $blanco;
                }
            } 
   
        }

        
        
    
    }

    & .boton-buscar {
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: $espacio-522;
    }
    & .linea-verde {
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    & .encarga {
        padding: $espacio-522 0;

        & p {
            text-align: center;
        }
    }

    & .parametros {
        width: 100%;
        box-sizing: border-box;
        padding-bottom: $espacio-522;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;

        & .separador {
            height: $espacio-522;
            width: 100%;
        }

        & .boton {
            width: 100%;
        }
    }

    & .fechas {
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;
        box-sizing: border-box;
        padding: 0 $espacio-0658;

        & .titulo {
            width: 100%;
            margin-bottom: $espacio-178 - $defecto-bottom;

            & p {
                width: 100%;
                text-align: center;
            }
        }

        & .herramientas {
            width: 100%;
            box-sizing: border-box;
            padding: 0 $espacio-0316;
            margin-bottom: $espacio-522;

            display: flex;
            align-items: center;
            justify-content: space-between;

            & .input {
                width: fit-content;
                position: relative;

                & input {
                    position: absolute;
                    z-index: 1;
                    opacity: 0;
                    width: 100%;
                    height: 100%;

                    &::-webkit-calendar-picker-indicator {
                        position: absolute;
                        top: -150%;
                        left: -150%;
                        width: 300%;
                        height: 300%;
                        cursor: pointer;
                    }
                }

                & .fecha {
                    box-shadow: 0px 0px 0.83vw 0 white inset;
                    opacity: 0.85;
                    width: fit-content;
                    height: fit-content;
                    border-radius: $interlineado-15;
                    padding-top: $interlineado-6 - calcularPaddingAfectadoPorInterlineadoTemp(1.39, true);
                    padding-right: $interlineado-6;
                    padding-bottom: $interlineado-6 - calcularPaddingAfectadoPorInterlineadoTemp(1.39, true);
                    padding-left: $interlineado-6;
                    box-sizing: border-box;
                    background-color: $titulo-fecha;
                    color: $blanco;
                    font-size: $letra-3;
                    line-height: 1;
                    font-weight: bold;
                }
            }

            & .to {
                box-shadow: 0 0 calcular(1.2) 0 white inset;
                opacity: 0.85;
                width: fit-content;
                height: fit-content;
                border-radius: $interlineado-15;
                padding-top: $interlineado-6 - calcularPaddingAfectadoPorInterlineadoTemp(1.39, true);
                padding-right: $interlineado-6;
                padding-bottom: $interlineado-6 - calcularPaddingAfectadoPorInterlineadoTemp(1.39, true);
                padding-left: $interlineado-6;
                box-sizing: border-box;
                background-color: $titulo-fecha;
            }
        }
    }

    & .titulo-lista {
        width: 100%;
        margin: $espacio-0316 0 $espacio-0249 0;
        box-sizing: border-box;
        padding: 0 $espacio-0658;

        & p {
            text-align: center;
        }
    }

    & .loader {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;
    }

    & .error {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;
        flex: 1;

        & p {
            text-align: center;
        }
    }

    & .noitems {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;
        flex: 1;

        & p {
            text-align: center;
        }
    }

    & .contenedor-lista {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: row wrap;

        & .lista-proyectos {
            width: (calcular(43.3) * 2) + $espacio-178;
            height: fit-content;

            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;

            & .caja-item {
                width: fit-content;
                height: fit-content;
                margin-bottom: $espacio-178;

                display: flex;
                flex-flow: row;

                & .separador-vertircal {
                    width: $espacio-178;
                    height: $espacio-178;
                }
            }
        }

        & .loader-interno {
            width: 100%;
            display: flex;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: calcular(2);
            // min-height: calcular(12);
        }
    }
}
