@use "sass:math";
@import "../../../../assets/estilos/dimensiones.scss";
@import "../../../../assets/estilos/imagenes.scss";

$error-ancho: calcular(75);
$error-alto: calcular(30);
$error-borde-radio: calcular(1.56);

@function calcularConAltoTotal($valor) {
    @return math.div($valor * 100vh, 100);
}

.sombraCaja {
    -webkit-box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.2);
    box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.2);
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 900;

    width: 100vw;
    height: 100vh;

    background: rgba(0, 0, 0, 1);

    &.mostrar {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    & .box {
        position: absolute;
        z-index: 0;
        opacity: 0;
        transition: all 0.2s 0.2s ease-in;

        &.mostrar {
            z-index: 1;
            opacity: 1;
            transition: all 0.2s 0.2s ease-out;
        }

        &.caja {
            position: relative;
            width: 100%;
            height: 100%;
        
            display: flex;
            align-items: center;
            justify-content: center;
            flex-flow: column;

            & .botones {
                background: rgba(0,0,0,0.5);
                width: 100%;
                height: calcularConAltoTotal(11);
                box-sizing: border-box;
                padding-top: calcular(1);
            
                display: flex;
                flex-flow: row;
                align-items: center;
                justify-content: center;

                & .girarCamara {
                    width: calcularConAltoTotal(4);
                    height: calcularConAltoTotal(4);
                
                    background-image: $forma-boton-girar-camara-blanco;
                    background-size: 100% 100%;
                }

                & .tomarFoto {
                    // background: #fff;
                    width: calcularConAltoTotal(8);
                    height: calcularConAltoTotal(8);
                    border-radius: 50%;
                    margin: 0 calcularConAltoTotal(4);
                    background-image: $forma-boton-done;
                    background-size: 100% 100%;
                }

                & .cerrarCamara {
                    width: calcularConAltoTotal(4);
                    height: calcularConAltoTotal(4);
                
                    background-image: $forma-boton-cerrar-camara-blanco;
                    background-size: 100% 100%;
                }
            }

            & .contenedor-camara {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex: 1;
            }
        }

        &.loader {
            width: 100%;
            height: 100%;

            display: flex;
            align-items: center;
            justify-content: center;
        }

        &.error {
            background: white;
            border-radius: $error-borde-radio;
            width: $error-ancho;
            height: $error-alto;
            padding: 0 3vw;
            overflow: hidden;
        
            display: flex;
            align-items: center;
            justify-content: center;
        
            -webkit-box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.2);
            box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.2);

            & p {
                text-align: center;
            }
        }
    }
}