<div *ngIf="configuracion" [ngClass]="{
    'contenido': true,
    'mostrar': configuracion.mostrarModal
}">

    <div class="video-container" *ngIf="!error">
        <video [class.show]="!isCaptured" [class.hide]="isCaptured" #videoCap id="videoCap" [width]="WIDTH"
            [height]="HEIGHT" autoplay></video>
        <canvas [class.show]="isCaptured" [class.hide]="!isCaptured" #canvas id="canvas" [width]="HEIGHT"
            [height]="WIDTH"></canvas>
    </div>

    <!-- <div class="video-container" *ngIf="!error">
        <video [class.show]="!isCaptured" [class.hide]="isCaptured" #videoCap1 id="videoCap1" [width]="WIDTH1"
            autoplay></video>
        <canvas [class.show]="isCaptured" [class.hide]="!isCaptured" #canvas1 id="canvas1" [width]="WIDTH1"
            ></canvas>
    </div> -->
 
    <div class="botones">
        <div class="girarCamara" (tap)="cambiarCamara()"></div>
        <div class="tomarFoto sombraCaja" (tap)="capture()"></div>
        <div class="cerrarCamara" (tap)="cerrarCamara()"></div>
    </div>
    <!-- <div class="snap-container">
        <button class="btn btn-primary" *ngIf="!isCaptured" (click)="capture()">Snap Photo</button>
        <button class="btn btn-danger" *ngIf="isCaptured" (click)="removeCurrent()">Take Another</button>

        <div *ngIf="error" class="text-danger mt-4">
            {{ error }}. Please click refresh on stackblitz
            <div class="mt-5">
                <img src="https://trungk18.com/7e0976255739e721501803ee074f1f94/camera.gif" />
            </div>
        </div>
    </div>
    
    <ul class="list-unstyled">
        <li *ngFor="let src of captures; let idx = index" (click)="setPhoto(idx)">
            <img [src]="src" height="50" />
        </li>
    </ul> -->

</div>