<div
    (tap)="eventoModal($event.target)"
    [ngClass]="{
        'selector-moneda': true,
        'mostrar': configuracion.selectorTipoMoneda.mostrarSelector
    }"
>
    <div
        class="capas"
    >
        <!-- Capa Loader -->
        <div
            [ngClass]="{
                'capa': true,
                'loader': true,
                'mostrar': configuracion.selectorTipoMoneda.mostrarLoader
            }"
        >
            <app-cargando></app-cargando>
        </div>
        <!-- Capa elegibles -->
        <div
            [ngClass]="{
                'capa': true,
                'elegibles': true,
                'mostrar': !configuracion.selectorTipoMoneda.mostrarLoader && !configuracion.selectorTipoMoneda.error.mostrar
            }"
        >
            <div class="titulo">
                <p
                    [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                        color: estiloDelTextoServicio.colorDelTexto.TEXTONEGRO, 
                        estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                        enMayusculas: false,
                        tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_I1,
                        paddingIzqDerDelTexto: estiloDelTextoServicio.paddingIzqDerDelTexto.PADDING_0
                    })"
                >
                    {{ configuracion.selectorTipoMoneda.titulo.llaveTexto | translate }}
                </p>
            </div>
            <div class="input-busqueda"  (tap)="buscador()">
                <input 
                    #inputBuscador
                    type="text"
                    [(ngModel)]="buscar"
                >
            </div>
            <div class="lista">
                <div
                    *ngFor="let item of configuracion.selectorTipoMoneda.elegibles"
                    [ngClass]="{
                        'elegible': true,
                        'activo': (configuracion.selectorTipoMoneda.seleccionado.codigo === item.codigo)
                    }"
                    (tap)="tapEnElegible(item)"
                >
                    <p
                        [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                            color: estiloDelTextoServicio.colorDelTexto.TEXTONEGRO, 
                            estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                            enMayusculas: true,
                            tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_I1,
                            paddingIzqDerDelTexto: estiloDelTextoServicio.paddingIzqDerDelTexto.PADDING_0
                        })"
                    >
                        {{ item.nombre }}
                    </p>
                    <p
                        *ngIf="item.auxiliar"
                        [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                            color: estiloDelTextoServicio.colorDelTexto.TEXTONEGRO, 
                            estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                            enMayusculas: true,
                            tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL,
                            paddingIzqDerDelTexto: estiloDelTextoServicio.paddingIzqDerDelTexto.PADDING_0
                        })"
                    >
                        {{ item.auxiliar }}
                    </p>
                </div>
            </div>
        </div>
        <!-- Capa error -->
        <div [ngClass]="{
            'capa': true,
            'error': true,
            'mostrar': configuracion.selectorTipoMoneda.error.mostrar
        }">
            <p
                [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOROJOBASE, 
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                    enMayusculas: false,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_I1
                })"
            >
                {{ configuracion.selectorTipoMoneda.error.llaveTexto | translate }}
            </p>
            <button
                (tap)="tapReintentar()"
                [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTONEGRO, 
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                    enMayusculas: false,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_I1
                })"
            >
                {{ 'Reintentar' | translate }}
            </button>
        </div>
    </div>
</div>