<div
    class="item-buscador"
    (tap)="eventoTap()"
>
    <div class="linea">
        <app-linea [configuracionLinea]="confLinea"></app-linea>
    </div>    
    <div class="interior">
        <div
            class="item"
        >
            <app-item-proyectos-noticias
                [configuracion]="configuracion.configuracionRectangulo"
            ></app-item-proyectos-noticias>
        </div>
        <div
            *ngIf="configuracion.proyecto && !configuracion.noticia"
            class="titulos"
        >
            <p
                [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOCELESTEMAIN,
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                    enMayusculas: true,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_I6
                })"
            > 
                {{ configuracion.proyecto.tituloCorto }}
            </p>
            <div class="item-fecha">
                <app-item-fecha [fecha]="configuracion.proyecto.fechaCreacion" [colorBuscadorProyectos]='true'></app-item-fecha>
            </div>
 
            <p
                [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO,
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                    enMayusculas: true,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L1_I1
                })"
            > 
                {{ configuracion.proyecto.tipo.nombre }}
            </p>
    
        </div>
        <div
            *ngIf="configuracion.noticia && !configuracion.proyecto"
            class="titulos"
        >
        <p
            [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                color: estiloDelTextoServicio.colorDelTexto.TEXTOCELESTEMAIN,
                estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                enMayusculas: true,
                tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_I6
            })"
        > 
            {{ configuracion.noticia.tituloCorto }}
        </p>
        <div class="item-fecha">
            <app-item-fecha [fecha]="configuracion.noticia.fechaCreacion" [colorBuscadorProyectos]='true'></app-item-fecha>
        </div>

        <p
            [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO,
                estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                enMayusculas: true,
                tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L1_I1
            })"
        > 
            {{ configuracion.noticia.direccion?.descripcion }}
        </p>
        </div>
    </div>
</div>
