@import "../../../../assets/estilos/dimensiones.scss";

$toast-altura: calcular(28);
$toast-padding-left-right: calcular(2);

$loader-diametro: calcular(52);
$loader-margin-left: calcular(3);

// Modales
.sombraCaja {
    -webkit-box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12),
        0 11px 15px -7px rgba(0, 0, 0, 0.2);
    box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12),
        0 11px 15px -7px rgba(0, 0, 0, 0.2);
}

.wrapper-toast {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 900;

    width: $ancho-pagina;
    height: $altura-pagina;
    background: transparent;

    background: rgba(0, 0, 0, 0.2);
}

.wrapper-toast-contenido {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 900;
    width: $ancho-pagina;
    height: $altura-pagina;
    background: rgba(0, 0, 0, 0.1);
}

.wrapper-toast.mostrar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper-toast-contenido.mostrar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.toast {
    width: fit-content;
    height: fit-content;

    padding: $toast-padding-left-right;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;

    &.toast-texto {
        border-radius: calcular(4);
        min-height: $toast-altura;
        width: 80%;
        background: #fff;
        -webkit-box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12),
            0 11px 15px -7px rgba(0, 0, 0, 0.2);
        box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12),
            0 11px 15px -7px rgba(0, 0, 0, 0.2);
    }

    & .texto {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 0 $toast-padding-left-right;
        max-height: 100%;
        overflow: hidden;
        box-sizing: border-box;
    }

    & .loader {
        width: $loader-diametro;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        & img {
            height: $loader-diametro;
            width: $loader-diametro;
            border-radius: 50%;
        }
    }
}
