<app-appbar [configuracion]="configuracionAppBar"> </app-appbar>

<div class="contenido">


    <div class="listaMenu">
        <div class="texto-info">
            <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                color: estiloDelTextoServicio.colorDelTexto.TEXTOAMARILLOBASE,
                estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                enMayusculas: true,
                tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_I1
            })">
                {{ 'm5v4texto3' | translate }}
            </p>
        </div>
        
        <div *ngIf="lista.length > 0" [ngClass]="lista[0].clases">
            <app-item-proyectos-noticias [configuracion]="lista[0].configuracion">
            </app-item-proyectos-noticias>
        </div> 
        <div>
            <app-item-proyectos-noticias [configuracion]="configuracionItemProyectoTexto">
            </app-item-proyectos-noticias>
        </div>
        <div *ngIf="lista.length > 0" [ngClass]="lista[1].clases">
            <app-item-proyectos-noticias [configuracion]="lista[1].configuracion">
            </app-item-proyectos-noticias>
        </div>
        <div *ngIf="lista.length > 0" [ngClass]="lista[2].clases">
            <app-item-proyectos-noticias [configuracion]="lista[2].configuracion">
            </app-item-proyectos-noticias>
        </div>
        <div *ngIf="lista.length > 0" [ngClass]="lista[3].clases">
            <app-item-proyectos-noticias [configuracion]="lista[3].configuracion">
            </app-item-proyectos-noticias>
        </div>
        <div *ngIf="lista.length > 0" [ngClass]="lista[4].clases">
            <app-item-proyectos-noticias [configuracion]="lista[4].configuracion">
            </app-item-proyectos-noticias>
        </div>
        <div *ngIf="lista.length > 0" [ngClass]="lista[5].clases">
            <app-item-proyectos-noticias [configuracion]="lista[5].configuracion">
            </app-item-proyectos-noticias>
        </div>
        <div *ngIf="lista.length > 0" [ngClass]="lista[6].clases">
            <app-item-proyectos-noticias [configuracion]="lista[6].configuracion">
            </app-item-proyectos-noticias>
        </div>


        <!-- <div *ngFor="let itemProyecto of lista, let i = index" [ngClass]="itemProyecto.clases">   
            <div *ngIf="i > 0">
                <app-item-proyectos-noticias [configuracion]="itemProyecto.configuracion" >
                </app-item-proyectos-noticias>
            </div>         
           
        </div> -->
    </div>
</div>