@import "../../../../assets/estilos/dimensiones.scss";
@import "../../../../assets/estilos/colores.scss";

$mitad-item-6920: calc((100% - #{$item-menu-ancho-6920}) / 2);

.contenido {
    height: calc(100vh - #{$appbar-alto-default} - #{$espesor-089}) !important;
    background-color: $tranparencia-base;
    width: $item-menu-ancho-6920;
    margin-left: $mitad-item-6920;
    overflow-y: auto;
    box-sizing: border-box;
    // padding-top: $espacio-0316 - $defecto-top;


    & .listaMenu {
        height: 100%;
        width: 100%;
        overflow-y: auto;
        box-sizing: border-box;
        & .texto-info {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: $espacio-0316 - $defecto-top;
            padding-left: $espacio-267;
            padding-right: $espacio-267;
            text-align: center;
            padding-bottom: $espacio-0249 - $defecto-bottom;
        }
        & .item-proyecto {
            padding-bottom: $espacio-178;
            display: flex;
            padding-left: $espacio-267;
            padding-right: $espacio-267;
            box-sizing: border-box;
           
            &.der-267 {
                align-items: flex-end;
                justify-content: flex-end;
            }
            &.izq-658 {
                padding-left: $espacio-0658 ;
            }
            &.der-658 {
                align-items: flex-end;
                justify-content: flex-end;
                padding-right: $espacio-0658;
            }
        }
    }
}
