<div
    *ngIf="configuracion"
    [ngClass]="obtenerClasesAppBar()"
>

    
    <!-- USO_DEMO_APPBAR -->
    <div
        *ngIf="configuracion.usoAppBar === usoAppBar.USO_DEMO_APPBAR"
        class="box"
    >
        <div 
            [ngClass]="obtenerClasesCapaColorFondo(configuracion.demoAppbar.tamanoColorFondo)"
        ></div>
        <div
            class="botonAtrasDemo"
            (tap)="clickBotonAtras()"
        >
            <div class="icono"></div>
        </div>
        <div
            *ngIf="configuracion.demoAppbar.mostrarCasaHome" 
            class="casa-home"
            (tap)="clickBotonCasaHome()" 
        >
            <div class="icono"></div>
        </div>
        <div
            *ngIf="configuracion.demoAppbar?.nombrePerfil.mostrar"
            class="nombrePerfil"
        >
            <p 
                [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOAZULCLARO, 
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                    enMayusculas: true,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L1_IGUAL 
                })"
            >
                {{ textoNombrePerfil }} 
            </p>
        </div>
        <div
            *ngIf="configuracion.demoAppbar?.subtitulo.mostrar"
            class="tituloSecundario"
        >
            <p 
                [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOAZULCLARO, 
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                    enMayusculas: true,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L7_IGUAL 
                })"
            >
                {{ textoSubtitulo | translate}}
            </p>
        </div>
        <div
            *ngIf="confBoton"
            class="botonPrincipal"
            (tap)="clickBotonPrincipal()"
        >
            <app-button [botonCompartido]="confBoton"></app-button>
        </div>
    </div>
    <!--  USO_ELEGIR_PERFIL_PRINCIPAL-->
    <div
        *ngIf="configuracion.usoAppBar === usoAppBar.USO_ELEGIR_PERFIL"
        class="box"
    >
        <div
            [ngClass]="obtenerClasesCapaColorFondo(configuracion.gazeAppBar.tamanoColorFondo)"
        ></div>
        <div
            class="botonAtras"
            (tap)="clickBotonAtras()"
        *ngIf="!configuracion.gazeAppBar.mostrarCasaHome"
        >
            <div class="icono"></div>
        </div>
        

        <div
            *ngIf="configuracion.gazeAppBar?.tituloPrincipal.mostrar"
            class="tituloPrincipalElegPer"
            (tap)="clickTituloPrincipal()"
        >
            <p
                [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO, 
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLDCONSOMBRA, 
                    enMayusculas: true,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L7_IGUAL 
                })"
            >
                {{ textoTituloPrincipal   | translate }}
            </p>
            <div class="linea-blanca">

            </div>
        </div>

        <div  
            *ngIf="configuracion.gazeAppBar?.tituloPrincipal.mostrar"
            class="tituloElegPer"
        >
            <p
                [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.GRIS, 
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULARCONSOMBRA, 
                    enMayusculas: true,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL 
                })"
            >
                {{ textoElegirPerfil   | translate }}
            </p>

        </div>
        <div
            *ngIf="configuracion.gazeAppBar?.subtituloDemo?.mostrar || configuracion.gazeAppBar?.subtituloNormal?.mostrar"
            class="tituloSecundario"
        >
            <p 
                *ngIf="configuracion.gazeAppBar?.subtituloDemo"
                [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOAZULCLARO, 
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                    enMayusculas: true,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L7_IGUAL 
                })"
            >
                {{ textoSubtituloDemo  | translate }}
            </p>
            <p
                *ngIf="configuracion.gazeAppBar?.subtituloNormal"
                [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOAZULCLARO, 
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                    enMayusculas: true,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_IGUAL 
                })"
            >
                {{ textoSubtitulo  | translate}}
            </p>
        </div>
        <div
            *ngIf="configuracion.gazeAppBar.mostrarBotonXRoja" 
            class="botonX"
            (tap)="clickBotonXRoja()"
        >
            <div class="icono"></div>
        </div>
        <!-- <div
        *ngIf="configuracion.gazeAppBar.mostrarCasaHome" 
        class="casa-home"
        (tap)="clickBotonXRoja()"
    >
        <div class="icono"></div>
    </div> -->

 
    </div>
    <!-- USO_SEARCHBAR_APPBAR -->
    <div 
        *ngIf="configuracion.usoAppBar === usoAppBar.USO_SEARCHBAR_APPBAR"
        class="box"
    >
        <div
            [ngClass]="obtenerClasesCapaColorFondo(configuracion.searchBarAppBar.tamanoColorFondo)"
        ></div>
        <div
            *ngIf="configuracion.searchBarAppBar.buscador.mostrar"
        >
            <app-buscador
                #buscador
                [configuracion]="configuracion.searchBarAppBar.buscador.configuracion"
            ></app-buscador> 
        </div>
        <div class="mostrar-original" *ngIf="configuracion.searchBarAppBar.idiomaOriginal?.mostrarOriginal" >
            <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                color: estiloDelTextoServicio.colorDelTexto.TEXTOCELESTEMAIN, 
                estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                enMayusculas: true,
                tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL 
            })" (tap)="mostrarOriginal()">
               {{ configuracion.searchBarAppBar.idiomaOriginal.llaveTexto | translate }}
            </p>
        </div>
        <div
            class="botonAtras"
            (tap)="clickBotonAtras()"
        >
            <div
                *ngIf="configuracion.searchBarAppBar.mostrarDivBack.icono"
                class="icono"
            ></div>
            <p
                *ngIf="configuracion.searchBarAppBar.mostrarDivBack.texto"
                [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOVERDEBASE, 
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLDCONSOMBRA, 
                    enMayusculas: true,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L4_IGUAL 
                })"
            >
                {{ textoBack | translate }}
            </p>
        </div>
        <div
            *ngIf="configuracion.searchBarAppBar?.mostrarTextoHome"
            (tap)="clickHome()"
            class="botonHome"
        >
            <p
                [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOVERDEBASE, 
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLDCONSOMBRA, 
                    enMayusculas: true,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L4_IGUAL 
                })"
            >
                {{ textoHome  | translate}}
            </p>
        </div>
        <div
            *ngIf="configuracion.searchBarAppBar?.nombrePerfil.mostrar"
            class="nombrePerfil"
        >
            <p
                [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOAZULCLARO, 
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                    enMayusculas: true,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L1_IGUAL 
                })"
            >
                {{ textoNombrePerfil }}
            </p>
        </div>
        <div
            *ngIf="configuracion.searchBarAppBar?.subtitulo.mostrar"
            class="tituloSecundario"
        >
            <p
                [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOAZULCLARO, 
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                    enMayusculas: true,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_IGUAL 
                })"
            >
                {{ textoSubtitulo   | translate}}
            </p>
        </div>
        <div
            *ngIf="configuracion.searchBarAppBar?.mostrarBotonXRoja"
            class="botonX"
            (tap)="clickBotonXRoja()"
        >
            <div class="icono"></div>
        </div>
    </div>
    <!-- USO SEARCH APPBAR MINI -->
    <div 
        *ngIf="configuracion.usoAppBar === usoAppBar.USO_SEARCHBAR_APPBAR_MINI"
        class="box"
    >
        <div
            [ngClass]="obtenerClasesCapaColorFondo(configuracion.searchBarAppBar.tamanoColorFondo)"
        ></div>
        <div
            class="botonAtras"
            (tap)="clickBotonAtras()"
        >
            <div
                *ngIf="configuracion.searchBarAppBar.mostrarDivBack.icono"
                class="icono"
            ></div>
            <p
                *ngIf="configuracion.searchBarAppBar.mostrarDivBack.texto"
                [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOVERDEBASE, 
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLDCONSOMBRA, 
                    enMayusculas: true,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L4_IGUAL 
                })"
            >
                {{ textoBack | translate }}
            </p>
        </div>
        <div
            *ngIf="configuracion.searchBarAppBar?.mostrarTextoHome"
            (tap)="clickHome()"
            class="botonHome"
        >
            <p
                [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOVERDEBASE, 
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLDCONSOMBRA, 
                    enMayusculas: true,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L4_IGUAL 
                })"
            >
                {{ textoHome  | translate}}
            </p>
        </div>
        <div
            *ngIf="configuracion.searchBarAppBar?.nombrePerfil.mostrar"
            class="nombrePerfil"
        >
            <p
                [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOAZULCLARO, 
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                    enMayusculas: true,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L1_IGUAL 
                })"
            >
                {{ textoNombrePerfil }}
            </p>
        </div>
        <div
            *ngIf="configuracion.searchBarAppBar?.subtitulo.mostrar"
            class="tituloSecundario"
        >
            <p
                [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOAZULCLARO, 
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                    enMayusculas: true,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_IGUAL 
                })"
            >
                {{ textoSubtitulo   | translate}}
            </p>
        </div>
        <div
            *ngIf="configuracion.searchBarAppBar?.mostrarBotonXRoja"
            class="botonX"
            (tap)="clickBotonXRoja()"
        >
            <div class="icono"></div>
        </div>
    </div>
    <!-- USO_GAZE_BAR -->
    <div
        *ngIf="configuracion.usoAppBar === usoAppBar.USO_GAZE_BAR"
        class="box"
    >
        <div
            [ngClass]="obtenerClasesCapaColorFondo(configuracion.gazeAppBar.tamanoColorFondo)"
        ></div>

        <div
            class="botonAtras"
            (tap)="clickBotonAtras()"
            *ngIf="!configuracion.gazeAppBar.mostrarCasaHome"
        >
            <div class="icono"></div>
        </div>
        
        <div
            class="botonAtrasDemo"
            (tap)="clickBotonAtras()"
            *ngIf="configuracion.gazeAppBar.mostrarCasaHome"
        >
            <div class="icono"></div>
        </div>
        <div
            *ngIf="configuracion.gazeAppBar?.tituloPrincipal.mostrar"
            class="tituloPrincipalElegPer"
            (tap)="clickTituloPrincipal()"
        >
            <p
                [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO, 
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLDCONSOMBRA, 
                    enMayusculas: true,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L7_IGUAL 
                })"
            >
                {{ textoTituloPrincipal   | translate }}
            </p>
            <div class="linea-blanca">

            </div>
        </div>
        <div
            *ngIf="configuracion.gazeAppBar?.subtituloDemo?.mostrar || configuracion.gazeAppBar?.subtituloNormal?.mostrar"
            class="tituloSecundario"
        >
            <p 
                *ngIf="configuracion.gazeAppBar?.subtituloDemo"
                [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOAZULCLARO, 
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                    enMayusculas: true,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L7_IGUAL 
                })"
            >
                {{ textoSubtituloDemo  | translate }}
            </p>
            <p
                *ngIf="configuracion.gazeAppBar?.subtituloNormal"
                [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOAZULCLARO, 
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                    enMayusculas: true,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_IGUAL 
                })"
            >
                {{ textoSubtitulo  | translate}}
            </p>
        </div>
        <div
            *ngIf="configuracion.gazeAppBar.mostrarBotonXRoja" 
            class="botonX"
            (tap)="clickBotonXRoja()"
        >
            <div class="icono"></div>
        </div>
      
        <!-- <div
        *ngIf="configuracion.gazeAppBar.mostrarCasaHome" 
        class="casa-home"
        (tap)="clickBotonXRoja()"
    >
        <div class="icono"></div>
    </div> -->

 
    </div>
    <!-- USO SOLO TITULO -->
    <div
        *ngIf="configuracion.usoAppBar === usoAppBar.SOLO_TITULO"
        class="box"
    >
        <div
            [ngClass]="obtenerClasesCapaColorFondo(configuracion.tituloAppbar.tamanoColorFondo)"
        ></div>
        <div
            *ngIf="configuracion.tituloAppbar.mostrarDivBack"
            class="botonAtras"
            (tap)="clickBotonAtras()"
        >
            <div class="icono"></div>
        </div>
        <div
            class="tituloPrincipalSolo"
        >
            <p
                [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOCELESTE, 
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                    enMayusculas: true,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L5_I2
                })"
            >
                {{ textoTituloPrincipal | translate }}
            </p>
        </div>
        <div
            *ngIf="configuracion.tituloAppbar.mostrarBotonXRoja"
            class="botonX"
            (tap)="clickBotonXRoja()"
        >
            <div class="icono"></div>
        </div>
    </div>
    <!-- USO APPBAR MINI - CONFERENCIA -->
    <div 
        *ngIf="configuracion.usoAppBar === usoAppBar.USO_CONFERENCIA_APPBAR_MINI"
        class="box"
    >
        <div
            [ngClass]="obtenerClasesCapaColorFondo(configuracion.searchBarAppBar.tamanoColorFondo)"
        ></div>
        <div
            class="botonAtras"
            (tap)="clickBotonAtras()"
        >
            <div
                *ngIf="configuracion.searchBarAppBar.mostrarDivBack.icono"
                class="icono"
            ></div>
            <p
                *ngIf="configuracion.searchBarAppBar.mostrarDivBack.texto"
                [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOVERDEBASE, 
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLDCONSOMBRA, 
                    enMayusculas: true,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L4_IGUAL 
                })"
            >
                {{ textoBack | translate }}
            </p>
        </div>
        <div
            *ngIf="configuracion.searchBarAppBar?.mostrarTextoHome"
            (tap)="clickHome()"
            class="botonHome"
        >
            <p
                [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOVERDEBASE, 
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLDCONSOMBRA, 
                    enMayusculas: true,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L4_IGUAL 
                })"
            >
                {{ textoHome  | translate}}
            </p>
        </div>
        <div
            *ngIf="configuracion.searchBarAppBar.nombreContacto"
            class="nombre-contacto"
        >
            <p
                [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOVERDEBASE, 
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                    enMayusculas: true,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L4_IGUAL 
                })"
            >
                {{ configuracion.searchBarAppBar.nombreContacto  | translate}}
            </p>
        </div>
        <div
            *ngIf="configuracion.searchBarAppBar?.nombrePerfil.mostrar"
            class="nombrePerfil"
        >
            <p
                [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOAZULCLARO, 
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                    enMayusculas: true,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L1_IGUAL 
                })"
            >
                {{ textoNombrePerfil }}
            </p>
        </div>
        <div
            *ngIf="configuracion.searchBarAppBar?.subtitulo.mostrar"
            class="tituloSecundario"
        >
            <p
                [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOAZULCLARO, 
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                    enMayusculas: true,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_IGUAL 
                })"
            >
                {{ configuracion.searchBarAppBar.estatusLlamada | translate}}
            </p>
        </div>
        <div
            *ngIf="configuracion.searchBarAppBar?.mostrarBotonXRoja"
            class="botonX"
            (tap)="clickBotonXRoja()"
        >
            <div class="icono"></div>
        </div>
    </div>
</div>
<app-linea
    *ngIf="configuracion?.demoAppbar?.mostrarLineaVerde || configuracion?.searchBarAppBar?.mostrarLineaVerde || configuracion?.tituloAppbar?.mostrarLineaVerde"
    [configuracionLinea]="confLinea"
></app-linea>
<app-dialogo [configuracion]="datosDialogoCerrarSession"></app-dialogo> 
<app-toast #toast *ngIf="confToast" [configuracion]="confToast"></app-toast>