@import "../../../../assets/estilos/dimensiones.scss";
@import "../../../../assets/estilos/colores.scss";
@import "../../../../assets/estilos/imagenes.scss";

// $boton-x-tamano-icono-ancho: calcular(8.44);
$height-casa-home: calcular(15);
$widt-casa-home: calcular(15);
$distancia-flecha-demo: calcular(2.545);

$centrar-elegPerTitu: calcular(7.3);
$centrar-titulo-elegPer: calcular(14);
$espacio-izq: calcular(16.78);
$tamano-maximo: calcular(80.55);

.appbar {
    position: relative;
    z-index: 2;
    width: $appbar-ancho;
    height: $appbar-alto-default;

    &.color-fondo-principal {
        background-color: $azul-appbar;
    }

    &.searchbar-appbar-mini {
        height: $appbar-alto-mini;
    }

    &.searchbar-appbar-mini {
        height: $appbar-alto-mini;
    }

    &.conferencia-appbar-mini {
        height: $appbar-alto-mini;
    }
}

// Uso del appbar - demo-appbar
.demo-appbar {
}

// Uso del appbar - searchbar-appbar
.searchbar-appbar {
}

// Uso del appbar - gaze-appbar
.gaze-appbar {
}

.box {
    position: relative;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}
.mostrar-original{
    width: auto;
    text-align: center;
    margin-bottom: 10.48vw;
    border: solid 0.5px #BBFCEA;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    z-index: 1;
    // padding-left: $espacio-267;
    // padding-right: $espacio-267;
}

// Color de fondo
.colorFondo {
    position: absolute;
    top: 0;
    z-index: 0;
    height: 100%;

    // &.con-color {
    //     background-color: $tranparencia-base;
    // }
}
.tituloPrincipalElegSolo{
    position: absolute;
    // top: $espacio-267;
    // left: $espacio-267;
    padding-bottom: $espacio-522;
    z-index: 1;
}
// tituloPrincipal Validar
.tituloPrincipal {
    position: absolute;
    z-index: 1;
    top: calcular(8.1);
}


.tituloPrincipalElegPer{
    position: absolute;
    // bottom: $centrar-titulo-elegPer;
    top: calcular(4);
    z-index: 1;
    & .linea-blanca{
        height: calcular(0.07);
        width: 100%;
        background-color: white;
        position: absolute;
    }
}


.tituloElegPer{
    position: absolute;
    bottom: $centrar-elegPerTitu;
    left: $espacio-izq;
    z-index: 4;
    max-width: $tamano-maximo;
    overflow: hidden;
    
    & p{
        white-space: nowrap;
    }

}



.tituloPrincipalSolo {
    position: absolute;
    width: $ancho-6920;
    padding-right: $espacio-522;
    padding-left: $espacio-522;
    box-sizing: border-box;
    text-align: center;
}
.botonCasita {
    position: absolute;
    left: $espacio-267;
    // bottom: $espacio-6545;
    z-index: 1;

    height: fit-content;

    display: flex;
    flex-flow: row;
    align-items: flex-end;
    justify-content: flex-start;
}
.botonCasita .iconoCasita {
    width: $boton-back-icono-ancho;
    height: $boton-back-icono-alto;

    margin: 0 $espacio-267 0 $espacio-287;

    // background: $forma-flecha-back;
    background-size: 100% 100%;
}

// Boton atras
.botonAtras {
    position: absolute;
    left: $espacio-267;
    // bottom: $espacio-6545;
    bottom: calcular(7.045);
    z-index: 1;
    height: fit-content;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: flex-start;
}

.botonAtras .icono {
    width: $boton-back-icono-ancho;
    height: $boton-back-icono-alto;
    margin: 0 $espacio-267 0 $espacio-287;
    background: $forma-flecha-back;
    background-size: 100% 100%;
}

.botonAtras p {
    // margin: 0 0 $espacio-05 0;
    margin: 0;
    height: calcular(5.15);
    display: flex;
    align-items: center;
}

// Boton atras
.botonAtrasDemo {
    position: absolute;
    left: $espacio-267;
    // bottom: $espacio-6545;
    bottom: $distancia-flecha-demo;
    z-index: 1;
    height: fit-content;
    display: flex;
    flex-flow: row;
    align-items: flex-end;
    justify-content: flex-start;
}

.botonAtrasDemo .icono {
    width: $boton-back-icono-ancho;
    height: $boton-back-icono-alto;

    margin: 0 $espacio-267 0 $espacio-287;

    background: $forma-flecha-back;
    background-size: 100% 100%;
}
.botonAtrasDemo p {
    // margin: 0 0 $espacio-05 0;
}


// Boton home
.botonHome {
    position: absolute;
    bottom: $espacio-7045;
    height: calcular(5.15);
    // bottom: $espacio-6545;
    right: $espacio-1542 + $espacio-0136;
    z-index: 1;

    & p {
        height: calcular(5.15);
        display: flex;
        align-items: center;
    }
}

// Nombre de perfil
.nombrePerfil {
    position: absolute;
    bottom: $espacio-089;
    left: $espacio-267;
    z-index: 1;
}

// Titulo Secundario
.tituloSecundario {
    position: absolute;
    bottom: $espacio-089 - $defecto-bottom;
    z-index: 1;
}

// Boton x
.botonX {
    height: $boton-x-tamano-alto;
    position: absolute;
    right: $boton-x-padding-der;
    bottom: $boton-x-padding-bot;
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: center;
}

.botonX .icono {
    width: $boton-x-tamano-icono-ancho;
    height: $boton-x-tamano-icono-alto;

    background: $forma-x-roja;
    background-size: 100% 100%;
}

// Boton x
.casa-home {
    height: $boton-x-tamano-alto;
    position: absolute;
    right: $boton-x-padding-der;
    bottom: $boton-x-padding-bot;
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: center;
}

.casa-home .icono {
    width: $widt-casa-home;
    height: $height-casa-home;

    background: $boton-casa;
    background-size: 100% 100%;
}

// Boton principal
.botonPrincipal {
    position: absolute;
    top: $espacio-522;
    z-index: 1;
}

// Para pruebas - churon
.barraBuscar {
    position: absolute;
    top: $espacio-267;
    left: $espacio-267;

    background: $blanco;
    width: $ancho-barra-busqueda;
    height: $alto-barra-busqueda;

    border: $espesor-borde-barra-buscar solid $negro;
    border-radius: $radio-borde-barra-buscar;
    box-sizing: border-box;
}

.nombre-contacto {
    position: absolute;
    width: calc(100% - #{ calcular(20.14) });
    padding-left: calcular(2.67);
    right: calcular(2.67);
    bottom: $espacio-7045;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow-y: hidden;
    overflow-x: scroll;

    & p {
        white-space: nowrap;
        width: 100%;
    }
}
