@import "../../../assets/estilos/dimensiones.scss";
@import "../../../assets/estilos/colores.scss";

.menu-principal {
    position: relative;
    width: $cuerpo-default-ancho;
    height: $cuerpo-default-alto;

    & .capa {
        width: 100%;
        height: 100%;
        overflow-x: visible;
        overflow-y: hidden;

        display: flex;
        align-items: center;
        justify-content: center;

        & .contenido {
            width: $ancho-6916;
            height: 100%;
            background-color: $tranparencia-base;
            overflow-y: auto;
            & .espacio-316 {
                padding-top: $espacio-0316;
                padding-bottom: $espacio-0316;
                & .item-menu {
                    width: 100%;
                    height: $item-menu-alto-3773 - $espacio-0316 * 2;
                    box-sizing: border-box;
                    padding: $espacio-267 $espacio-267;
                    display: flex;
                    flex-flow: column;
                    align-items: center;
                    justify-content: center;

                    & p {
                        text-align: center;
                        width: 100%;
                    }
                }
            }

            & .linea-verde {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}
