@import "../../../../assets/estilos/colores.scss";
@import "../../../../assets/estilos/imagenes.scss";
@import "../../../../assets/estilos/dimensiones.scss";

p {
    text-transform: uppercase;
}

.buttonBase {
    background-size: 100% 100%;
    text-shadow: $sombraTexto;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    width: fit-content;
    height: fit-content;
}
.icono {
    background-image: $forma-flecha-circular-amarilla;
    height: $espacio-1310;
    width: $espacio-1310;
    margin-left: $interlineado-2;
}
.iconoBoton {
    //forma-flecha-circular-amarilla
    background-image: $forma-flecha-circular-amarilla;
    height: $bottom-bar-boton-diametro;
    width: $bottom-bar-boton-diametro;
    background-size: 100% 100%;
}

.icono-boton-azul {
    //forma-flecha-circular-amarilla
    background-image: $forma-flecha-circular-azul;
    height: $bottom-bar-boton-diametro;
    width: $bottom-bar-boton-diametro;
    background-size: 100% 100%;
}

.icono-boton-rojo {
    //forma-flecha-circular-amarilla
    background-image: $forma-flecha-circular-roja;
    height: $bottom-bar-boton-diametro;
    width: $bottom-bar-boton-diametro;
    background-size: 100% 100%;
}

.icono-boton-amarillo {
    background-image: $forma-flecha-circular-amarilla;
    height: $bottom-bar-boton-diametro;
    width: $bottom-bar-boton-diametro;
    background-size: 100% 100%;
}

.letraDescripcion {
    text-align: center;
    color: $azul-base;
    text-transform: uppercase;
}

.contenedorDescripcion {
    padding-top: abs($interlineado-2 - $defecto-top);
    padding-bottom: abs($interlineado-2 - $defecto-bottom);
    padding-left: $interlineado-6;
    padding-right: $interlineado-6;
    background-color: $input-fondo;
    border-radius: $interlineado-15;
    display: flex;
    align-items: center;
    justify-content: center;
    height: $espacio-1232;
    box-sizing: border-box;
    width: $espacio-3418;
    font-size: $letra-3;
}

.botonLargo {
    background-image: $forma-boton-letra-5-51;

    background-size: 100% 100%;
    box-sizing: border-box;
    height: 100%;
}

.botonCorto {
    background-image: $forma-boton-yes-no;
    background-size: 100% 100%;
    box-sizing: border-box;
}

.contenerBotonHorizontal {
    display: flex;
    justify-content: center;
}

.mayus{
    text-transform: uppercase;
}

.boton_1127 {
    height: calcular(11.18) !important;
    & div {
        line-height: 0.8 !important;
        width: 100%;
        height: 100%;

        padding-left: $espacio-0247;
        padding-right: $espacio-0296;
        padding-top: calcular(2.49) - $defecto-top;
        padding-bottom: $espacio-0316 - $defecto-bottom;

        box-sizing: border-box;
    }
}

.boton_0979 {
    height: calcular(9.68) !important;
    & div {
        line-height: 1 !important;
        width: 100%;
        height: 100%;

        padding-left: $espacio-0247;
        padding-right: $espacio-0296;
        padding-top: calcular(1.78) - $defecto-top;
        padding-bottom: $espacio-0249 - $defecto-bottom;

        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.boton_1443 {
    height: calcular(18.49);

    & div {
        line-height: 1 !important;
        width: 100%;
        height: 100%;
        white-space: pre-line;

        padding-left: $espacio-0247;
        padding-right: $espacio-0296;
        padding-top: calcular(1.78) - $defecto-top;
        padding-bottom: $espacio-0249 - $defecto-bottom;

        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center
    }
}

.boton_0952 {
    height: calcular(9.52) !important;
    & div {
        line-height: 1 !important;
        width: 100%;
        height: 100%;

        padding-left: $espacio-0247;
        padding-right: $espacio-0296;
        padding-top: calcular(1.78) - $defecto-top;
        padding-bottom: $espacio-0249 - $defecto-bottom;

        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center
    }
}

.boton_8634 {
    height: calcular(8.634) !important;
    & div {
        line-height: 1 !important;
        width: 100%;
        height: 100%;

        padding-left: $espacio-0247;
        padding-right: $espacio-0296;
        padding-top: calcular(1.78) - $defecto-top;
        padding-bottom: $espacio-0249 - $defecto-bottom;

        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center
    }
}

