@import "../../../../../../assets/estilos/dimensiones.scss";
@import "../../../../../../assets/estilos/colores.scss";

.cotenedorMetodoPago {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: content-box;
}

.title-metodo {
  text-align: center;
  padding-left: $espacio-0178;
  padding-right: $espacio-0178;
  padding-bottom: $espacio-0316 - $defecto-bottom;
}

.iconPago {
  box-sizing: content-box;
  padding-right: 0 !important;
  padding-left: 0 !important;
  position: relative;

  & .img-tarjetas {
    & .texto-accept-cards {
      width: $ancho-6920;
      position: absolute;
      text-align: center;
      margin-top: $espacio-0316;

      & p {
        padding-left: $espacio-267;
        padding-right: $espacio-267;
      }
    }
  }
}

input[type="text"] {
  width: 100%;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  color: $azul-base;
  font-weight: bold;
  outline: none;
  font-size: $letra-2;
  font-family: "Source Sans Pro", sans-serif;

  &:focus {
    outline: none;
  }

  &:active {
    outline: none;
  }
}

.terminos-pago {
  color: white;
  padding: $espacio-0391 - $defecto-top $espacio-267 $espacio-0427 - $defecto-bottom;

  & p {
    text-align: left !important;
    padding-left: $espacio-0249;
  }
}

.modal-monto-paymentez {
  display: none;

  position: fixed;
  z-index: 200;
  width: $ancho-pagina;
  height: $altura-pagina;
  top: 0;
  left: 0;

  &.mostrar {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.bloqueado {
    pointer-events: none !important;
  }

  & .contenido-modal {
    width: calcular(94.66);
    border-radius: calcular(1.567);
    border: calcular(0.65) solid $verde-base;
    background-color: $azul-fuerte;
    box-sizing: border-box;
    min-height: 6vw;

    padding: $espacio-0316 $espacio-0178 $espacio-0316 $espacio-0178;

    & div {
      display: flex;
      align-items: center;
      justify-content: center;

      & p {
        text-align: center;
      }
    }

    & .titulo {
      margin-bottom: $espacio-0178 - $defecto-total;
    }

    & .valor {
      margin-bottom: $espacio-0316 - $defecto-total;
    }

    & .descripcion {
      margin-bottom: $espacio-0316 - $defecto-bottom;
      flex-flow: column;

      & p:nth-child(1) {
        margin-bottom: $espacio-0178 - $defecto-total;
      }
    }

    & .subtitulo {
      margin-bottom: $espacio-522 - $defecto-top;
    }

    & .moneda {
      margin-bottom: $espacio-0316 - $defecto-bottom;

      & input {
        padding: 0;
        outline: 0;
        height: calcular(7.82);
        text-align: center;

        display: flex;
        align-items: center;
        justify-content: center;

        box-sizing: border-box;

        &:focus {
          outline: 0;
        }

        &:active {
          outline: 0;
        }
      }


      & .input-cantidad {
        border: 0;
        padding: 0 $espacio-522;
        border-radius: calcular(1.03);
        margin-right: $espacio-522;
        width: calc(20ch + #{ $espacio-0249 * 2 });
      }
    }

    & .boton {
      display: flex;
      justify-content: center;
    }

    & .mensaje-status {
      width: 100%;
      margin: $espacio-0178 0;
      display: flex;
      align-items: center;
      justify-content: center;

      & p {
        text-align: center;
      }
    }
  }
}


// Modal mensaje paymentez
.modal-mensaje-paymentez {
  display: none;

  position: fixed;
  z-index: 200;
  width: $ancho-pagina;
  height: $altura-pagina;
  top: 0;
  left: 0;

  &.mostrar {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.bloqueado {
    pointer-events: none !important;
  }

  & .contenido-modal {
    width: calcular(94.66);
    border-radius: calcular(1.567);
    border: calcular(0.65) solid $verde-base;
    background-color: $azul-fuerte;
    box-sizing: border-box;
    min-height: 6vw;

    padding: $espacio-0316 $espacio-0178 $espacio-0316 $espacio-0178;

    & div {
      display: flex;
      align-items: center;
      justify-content: center;

      & p {
        text-align: center;
      }
    }

    & .titulo {
      margin-bottom: $espacio-0178 - $defecto-total;
    }

    & .descripcion {
      margin-bottom: $espacio-0316 - $defecto-bottom;
      flex-flow: column;

      & p:nth-child(1) {
        margin-bottom: $espacio-0178 - $defecto-total;
      }
    }


  }
}
