<!-- <div class="llamada">
    <div
        *ngIf="llamada"
        [ngClass]="{
            'bloque': true,
            'inicial': true,
            'mostrar': true
        }"
    >
        <app-appbar [configuracion]="confAppbar"></app-appbar>
        <div class="cuerpo">
            <div class="caja-llamada">
                <div 
                    *ngIf="opciones.mostrarError"
                    class="data-foto error"
                >
                    <p
                        [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({
                            color: estiloDelTextoServicio.colorDelTexto.TEXTOROJOBASE,
                            estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR,
                            enMayusculas: false,
                            tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_I1
                        })"
                    >
                        {{ opciones.mensajeError | translate }}
                    </p>   
                </div>
                <div
                    *ngIf="!opciones.mostrarError"
                    class="data-foto"
                >
                    <div
                        [ngClass]="{
                            'agora': true,
                            'mostrar': (
                                (
                                    params.accion === CodigoCatalogoAccionLlamadaEmun.LLAMAR &&
                                    params.tipo === CodigoCatalogoTipoLlamadaEnum.VIDEO
                                ) ||
                                params.tipo === CodigoCatalogoTipoLlamadaEnum.VIDEO
                            )
                        }"
                    >
                        <div
                            id="agora_local"
                            class="agora_local"   
                        ></div>
                        <div
                            [id]="agoraService.remoteCalls[0]"
                            [ngClass]="{
                                'agora_remoto': true,
                                'mostrar': (
                                    llamada &&
                                    llamada.estatus &&
                                    llamada.estatus === CodigosCatalogoEstatusLLamadaEnum.EN_CURSO
                                )
                            }"
                        ></div>
                    </div>
                    <img
                        src="{{ opciones.urlMedia }}"
                        [ngClass]="{
                            'foto': true,
                            'forzar': (opciones.forzarImagen),
                            'mostrar': ( 
                                opciones.urlMedia.length > 0 && 
                                params.tipo === CodigoCatalogoTipoLlamadaEnum.AUDIO
                            )
                        }"
                    >
                </div>
                <div class="data-opciones">
                    <div
                        (tap)="cambiarEstadoVideoLlamada(!opciones.videoMuteado)"
                        [ngClass]="{
                            'boton': true,
                            'video': true,
                            'activo': (opciones.videoMuteado)
                        }"
                    ></div>

                    <div
                        *ngIf="
                            params.accion === CodigoCatalogoAccionLlamadaEmun.CONTESTAR &&
                            llamada &&
                            llamada.estatus &&
                            llamada.estatus === CodigosCatalogoEstatusLLamadaEnum.LLAMANDO
                        "
                        [ngClass]="{
                            'boton': true,
                            'contestar': true
                        }"
                    >
                        <div
                            (tap)="contestarLlamada()"
                            [ngClass]="{
                                'boton-contestar': true
                            }"
                        ></div>
                    </div>
                    <div
                        *ngIf="
                            (
                                llamada &&
                                llamada.estatus &&
                                (
                                    llamada.estatus === CodigosCatalogoEstatusLLamadaEnum.CONECTANDO ||
                                    llamada.estatus === CodigosCatalogoEstatusLLamadaEnum.LLAMANDO ||
                                    llamada.estatus === CodigosCatalogoEstatusLLamadaEnum.EN_CURSO
                                )
                            )
                        "
                        [ngClass]="{
                            'boton': true,
                            'cortar': true
                        }"
                    >
                        <div
                            (tap)="cortarLlamada()"
                            [ngClass]="{
                                'boton-cortar': true
                            }"
                        ></div>
                    </div>
                    <div
                        (tap)="cambiarEstadoAudioLlamada()"
                        [ngClass]="{
                            'boton': true,
                            'mute': true,
                            'activo': (opciones.llamadaMuteada)
                        }"
                    ></div>
                </div>
            </div>
        </div>
    </div>
</div>

<audio
    id="audio_notificacion"
    class="audio_notificacion"
    preload="auto"
    loop
    autoplay
    muted
>
    <source src="assets/sonidos/llamada.mp3" type="audio/mp3">
</audio> -->