// @import "../../../../assets/estilos/dimensiones.scss";
// @import "../../../../assets/estilos/imagenes.scss";
// @import "../../../../assets/estilos/colores.scss";

// $width-telefono: calcular(13.1);
// $height-telefono: calcular(13.1);

// $alto-data-persona: calcular(16.3);
// $alto-data-opciones: calcular(17.55);

// .audio_notificacion {
//     opacity: 0;
//     width: 0;
//     height: 0;
// }

// .llamada {
//     position: relative;
//     width: $ancho-pagina;
//     height: 100vh;

//     .bloque {
//         position: absolute;
//         z-index: -1;
//         opacity: 0;

//         &.mostrar {
//             z-index: 1;
//             opacity: 1;
//         }

//         &.inicial {

//             & .cuerpo {
//                 padding: 0 !important;
//                 margin: 0 !important;
//                 height: calc(100vh - #{ calcular(16.3) });

//                 & .caja-llamada {
//                     width: 100%;
//                     height: 100%;
//                     overflow: hidden;

//                     & .data-persona {
//                         height: $alto-data-persona;
//                         background-color: $azul-appbar;

//                         display: flex;
//                         white-space: nowrap;

//                         & .capa {
//                             display: inline-flex;
//                             height: 100%;
//                             display: flex;

//                             &.back {
//                                 width: calcular(14.14);
//                                 justify-content: flex-end;
//                                 position: relative;

//                                 & img {
//                                     position: absolute;
//                                     height: calcular(5.15);
//                                     width: calcular(8.8);
//                                     bottom: calcular(7.045);
//                                 }
                                
//                             }

//                             &.nombre {
//                                 position: absolute;
//                                 width: calc(100% - #{ calcular(14.14) });
//                                 left: calcular(14.14);
//                                 background: red;

//                             }

//                             &.info {
//                                 width: calc(100% - #{ calcular(14.14) * 2 });
//                                 flex-flow: column;
//                                 justify-content: flex-end;
//                                 align-items: center;
//                                 box-sizing: border-box;
//                                 padding-bottom: calcular(2);

//                                 & div {
//                                     width: 100%;
//                                     display: none;

//                                     &.mostrar {
//                                         display: flex;
//                                         justify-content: center;
//                                     }

//                                     &.nombre {
//                                         margin-bottom: calcular(3);
//                                     }

//                                     &.estado {
                                        
//                                     }

//                                     &.tiempo {
                                        
//                                     }
//                                 }
//                             }

//                             &.extras {
//                                 background: green;
//                                 width: calcular(14.14);
//                             }
//                         }
//                     }

//                     & .data-foto {
//                         position: relative;
//                         background: rgba(255, 255, 255, 0.5);
//                         height: calc(100vh - #{ $alto-data-persona + $alto-data-opciones });
//                         box-sizing: border-box;
//                         display: flex;
//                         align-items: flex-end;
//                         justify-content: center;

//                         &.error {
//                             background: white;
//                             align-items: center;
//                             padding: 0 calcular(3);

//                             & p {
//                                 text-align: center;
//                             }
//                         }

//                         & .agora {
//                             position: absolute;
//                             width: 100%;
//                             height: 100%;
//                             z-index: 0;
//                             opacity: 0;
//                             background: #000;

//                             &.mostrar {
//                                 z-index: 2;
//                                 opacity: 1;
//                             }
                            
//                             & .agora_local {
//                                 position: absolute;
//                                 top: 0;
//                                 z-index: 0;
//                                 width: 100%;
//                                 height: 50%;
//                             }

//                             & .agora_remoto {
//                                 position: absolute;
//                                 bottom: 0;
//                                 width: 100%;
//                                 height: 50%;
//                                 z-index: 0;
//                                 opacity: 0;

//                                 &.mostrar {
//                                     z-index: 1;
//                                     opacity: 1;
//                                 }
//                             }

//                         }

//                         & .foto {
//                             position: absolute;
//                             width: 100%;
//                             height: 100%;
//                             z-index: 1;
//                             opacity: 0;
//                             object-fit: cover;

//                             &.mostrar {
//                                 opacity: 1;
//                             }

//                             &.forzar {
//                                 opacity: 1 !important;
//                                 z-index: 3 !important;
//                             }
//                         }
//                     }

//                     & .data-opciones {
//                         height: $alto-data-opciones;
//                         display: flex;
//                         align-items: center;
//                         justify-content: space-between;
//                         padding: 0 calcular(6.5);
//                         box-sizing: border-box;

//                         & .boton {
//                             cursor: pointer;

//                             &.video {
//                                 width: calcular(11.1);
//                                 height: calcular(10.1);
//                                 background-image: $video-inactivo;
//                                 background-repeat: no-repeat;
//                                 background-position: center;
//                                 background-size: 100% 100%;

//                                 &.activo {
//                                     background-image: $video-activo;
//                                 }
//                             }

//                             &.mute {
//                                 width: calcular(9.1);
//                                 height: calcular(9.1);
//                                 background-image: $mute-inactivo;
//                                 background-repeat: no-repeat;
//                                 background-position: center;
//                                 background-size: 100% 100%;

//                                 &.activo {
//                                     background-image: $mute-activo;
//                                 }
//                             }

//                             &.contestar {
//                                 height: 100%;
//                                 width: $width-telefono;
//                                 box-sizing: border-box;
//                                 display: flex;
//                                 align-items: center;
//                                 justify-content: center;

//                                 & .boton-contestar {
//                                     border-radius: 50%;
//                                     cursor: pointer;
        
//                                     background-image: $contestar-llamada;
//                                     background-repeat: no-repeat;
//                                     background-position: center;
//                                     background-size: cover;
//                                     width: 100%;
//                                     height: $height-telefono;
//                                 }
//                             }

//                             &.cortar {
//                                 height: 100%;
//                                 width: $width-telefono;
//                                 box-sizing: border-box;
//                                 display: flex;
//                                 align-items: center;
//                                 justify-content: center;

//                                 & .boton-cortar {
//                                     border-radius: 50%;
//                                     cursor: pointer;
        
//                                     background-image: $ignorar-llamada;
//                                     background-repeat: no-repeat;
//                                     background-position: center;
//                                     background-size: cover;
//                                     width: 100%;
//                                     height: $height-telefono;
                                    
//                                 }
//                             }
//                         }


                        
//                     }
//                 }






//                 // & .contenido-resumen-llamada {
//                 //     height: 100%;
//                 //     width: 100%;
//                 //     display: flex;
//                 //     align-items: center;
//                 //     justify-content: center;
//                 //     flex-flow: column;
//                 // }
//                 // & .info-llamando {
//                 //     padding-bottom: $espacio-0816;
//                 // }
//                 // & .info-contacto{
//                 //     padding-top: $espacio-0816;
//                 // }
            
//                 // & .items-llamada {
//                 //     box-sizing: border-box;
//                 //     display: flex;
//                 //     padding-top: $espacio-1542;
//                 //     justify-content: space-between;
                    
//                 //     & .svg-contestar-llamada {
//                 //         background-image: $contestar-llamada;
//                 //         background-repeat: no-repeat;
//                 //         background-position: center;
//                 //         background-size: cover;
//                 //         width: $width-telefono;
//                 //         height: $height-telefono;
//                 //         display: none;
//                 //        &.mostrar{
//                 //            display: flex;
//                 //        }
//                 //     }
//                 //     & .separacion-item-llamada{
//                 //         width: $espacio-1542 + $espacio-1542;
//                 //     }
//                 //     & .svg-ignorar-llamada {
//                 //         background-image: $ignorar-llamada;
//                 //         background-repeat: no-repeat;
//                 //         background-position: center;
//                 //         background-size: cover;
//                 //         width: $width-telefono;
//                 //         height: $height-telefono;
//                 //     }
//                 // }
//             }
//         }
//     }
// }