<div class="container" *ngIf="proyecto">
  <div
    [ngClass]="{
    'container-item-proyectos-start': proyecto.positionStart,
    'container-item-proyectos-end': proyecto.positionEnd,
    'container-item-proyectos-center': proyecto.positionCenter,
    'container-item-proyectos-center-rigth': proyecto.positionCenterRigth
    }"
  >
    <!-- Votos -->
    <div class="proyecto-votos" *ngIf="mostrarVotos">
      <p
        [ngClass]="
                estiloDelTextoServicio.obtenerEstilosTexto({
                  color: estiloDelTextoServicio.colorDelTexto.TEXTOAMARILLOBASE,
                  estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR,
                  enMayusculas: true,
                  tamanoConInterlineado:
                    estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_I1
                })
              "
      >
        {{ 'm5v5texto5' | translate }}
      </p>
      <p
        [ngClass]="
                estiloDelTextoServicio.obtenerEstilosTexto({
                  color: estiloDelTextoServicio.colorDelTexto.TEXTOAMARILLOBASE,
                  estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR,
                  enMayusculas: true,
                  tamanoConInterlineado:
                    estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_I1
                })
              "
      >
        <span *ngIf="proyecto.totalVotos > 0">{{ proyecto.totalVotos }}</span>
        <span *ngIf="!proyecto.totalVotos">0</span>
      </p>
    </div>
    <div
      [ngClass]="{
    'proyecto-start': proyecto.positionStart,
    'proyecto-end': proyecto.positionEnd,
    'proyecto-center': proyecto.positionCenter,
    'proyecto-center-rigth': proyecto.positionCenterRigth
    }"
    >
      <div *ngIf="proyecto" [ngClass]="obtenerClasesParaItemRectangular()">
        <img [ngClass]="{
      capa: true,
      imagenFondo: true,
      mostrar: !proyecto.loader && proyecto.urlMedia.length > 0
    }" [src]="proyecto.urlMedia" (load)="imgenCargada($event)" alt=""/>

        <!-- Esquinas -->
        <section *ngIf="proyecto.tipo != tipoLink">
          <div *ngFor="let item of bordesEsquinas; let i = index" [ngClass]="obtenerClasesBordesEnLasEsquinas(i)"></div>
        </section>

        <div class="contenedor-corazon">
          <div *ngIf="proyecto.mostrarCorazon" class="svgCorazon"></div>
        </div>

        <div [ngClass]="{
    capa: true,
    'capa-fondo-azul': proyecto.capaDemo,
    mostrar: true
  }">

        </div>

        <div *ngIf="proyecto?.noDisponible" [ngClass]="{
    capa: true,
    'capa-fondo-amarillo': proyecto.noDisponible,
    mostrar: true
  }">

        </div>

        <!-- titulo -->
        <div [ngClass]="{
      capa: true,
      'titulos-capa-centrado': !proyecto.fecha.mostrar,
      'titulos-capa-bottom': proyecto.fecha.mostrar,
      'titulos-detalle': proyecto.usoItem === 1 && proyecto.resumen,
      mostrar: true
    }" (tap)="eventoTap(proyecto)">

          <div *ngIf="proyecto?.actualizado" [ngClass]="{
        'content-etiqueta-actualizado': !proyecto.resumen,
        'content-etiqueta-actualizado-lista': proyecto.resumen
      }">
            <div [ngClass]="{
          'etiqueta-actualizado': !proyecto.resumen,
          'etiqueta-actualizado-lista': proyecto.resumen
        }">
              {{ "m3v3texto10" | translate | uppercase }}
            </div>
          </div>

          <div *ngIf="proyecto.titulo.mostrar">
            <app-titulo-rectangulo [configuracion]="proyecto.titulo.configuracion"></app-titulo-rectangulo>
          </div>

          <div *ngIf="proyecto.noDisponible" class="no-disponible">
            <p>{{proyecto.titulo.configuracion.textoBoton1}}</p>
            <p>{{proyecto.titulo.configuracion.textoBoton2}}</p>
            <p>{{proyecto.titulo.configuracion.textoBoton3}}</p>
          </div>
          <!-- fecha -->
          <section class="fecha">
            <app-item-fecha *ngIf="proyecto.fecha.mostrar" [fecha]="proyecto.fecha.configuracion.fecha"
                            [formato]="proyecto.fecha.configuracion.formato"></app-item-fecha>
          </section>
        </div>

        <div class="texto-general">
          <p [ngClass]="
        estiloDelTextoServicio.obtenerEstilosTexto({
          color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO,
          estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR,
          enMayusculas: true,
          tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_I1
        })
      ">
            {{ proyecto.textoGeneral | translate }}
          </p>
        </div>
        <!-- Loader -->
        <div [ngClass]="{
      capa: true,
      loader: true,
      mostrar: proyecto.loader
    }">
          <app-cargando></app-cargando>
        </div>
      </div>
      <div class="numero-proyecto">
        <p
          [ngClass]="
                    estiloDelTextoServicio.obtenerEstilosTexto({
                      color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO,
                      estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD,
                      enMayusculas: true,
                      tamanoConInterlineado:
                        estiloDelTextoServicio.tamanoDeTextoConInterlineado.L4_I1
                    })
                  "
        >
          {{ numeroProyecto  }}
        </p>
      </div>
    </div>
  </div>
</div>
