@import "assets/fuentes/_fuentes.scss";
@import "assets/estilos/colores.scss";
@import "assets/estilos/estiloFuente.scss";
@import "assets/estilos/estiloForma.scss";
@import "assets/estilos/estiloColor.scss";
@import "assets/estilos/imagenes.scss";

body {
    user-select: text;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

::-webkit-scrollbar {
    width: 0;
    display: none !important;
}

:root {
    font-family: "Source Sans Pro", sans-serif;
    user-select: none;
    touch-action: none !important;
}

textarea, select {
    font-family: "Source Sans Pro", sans-serif;
    caret-color: $rojo-base;
}

input {
    font-family: "Source Sans Pro", sans-serif;
    caret-color: $negro;
}

html,
div {
    scroll-behavior: smooth;
    scrollbar-width: none;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}

body {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
    white-space: unset;
}

.docLegal{
    color: $azul-fuerte;
    text-decoration: underline;
}
.docLegalCeleste{
    color: $txt-celeste;
    text-decoration: underline;
}

.hide {
    display: none !important;
}

.cursorBoton {
    cursor: pointer;
}

.sinEventos {
    pointer-events: none !important;
}

.contenedor {
    position: relative;
    width: $ancho;
    height: $altura-pagina;
    min-height: $altura-pagina;

    display: flex;
    align-items: center;
    justify-content: center;

    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#265b88', endColorstr='#051025' ,GradientType=0)";
    background: linear-gradient(180deg, #265b88 -15.67%, #051025 81.54%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#265b88',endColorstr='#051025' , GradientType=0);

    & .gif {
        position: fixed;
        width: 100vw;
        height: 100vh;

        display: flex;
        justify-content: center;

        opacity: 0;
        z-index: -1;

        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#265b88', endColorstr='#051025' ,GradientType=0)";
        background: linear-gradient(180deg, #265b88 -15.67%, #051025 81.54%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#265b88',endColorstr='#051025' , GradientType=0);

        transition: all 0.15s 0.15s;

        &.mostrar {
            opacity: 1;
            z-index: 100;
        }

        & img {
            width: 100%;
            height: 134%;
        }
    }

    & .capa-gif {
        position: fixed;
        width: 100vw;
        height: 100vh;

        display: flex;
        justify-content: center;

        opacity: 0;
        z-index: -1;

        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#265b88', endColorstr='#051025' ,GradientType=0)";
        background: linear-gradient(180deg, #265b88 -15.67%, #051025 81.54%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#265b88',endColorstr='#051025' , GradientType=0);

        transition: all 0.2s 0.2s;

        &.mostrar {
            opacity: 1;
            z-index: 100;
        }

        & .tercio {
            width: $ancho-pagina;
            height: 100%;

            display: flex;
            justify-content: center;

            & .portada-expandible {
                width: 100%;
                height: $portada-gaze-alto-completo;
                padding-top: $appbar-alto-default;
                padding-left: 0;

                & img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}

.mundo {
    position: absolute;
    top: 0;
    z-index: 0;

    width: $ancho-pagina;
    height: $altura-pagina;
    min-width: $ancho-pagina;
    min-height: $altura-pagina;

    & img {
        display: none;    
    }

    &.mostrar {
        & img {
            display: block;
            position: absolute;
            z-index: 0;
            width: $mundo-diametro;
            height: $mundo-diametro;

            right: $mundo-derecha;
            bottom: $mundo-abajo;
        }
    }
}

.canvas {
    position: absolute;
    top: 0;
    z-index: 10;

    width: $ancho-pagina;
    height: $altura-pagina;
    min-width: $ancho-pagina;
    min-height: $altura-pagina;

    overflow: hidden;
}

.cuerpo {
    width: $ancho-pagina;
    height: $cuerpo-default-alto;
    padding: $espacio-0316 $espacio-267 $espacio-522 $espacio-267;
    box-sizing: border-box;


    overflow-y: scroll;
    overflow-x: hidden;
}

//ERRORES
.error {
    padding-left: $espacio-0139;
    @include fuenteConInterlineado($letra-2, $interlineado-1);
}

.fondoTransparente {
    background-color: $tranparencia-base;
    width: $ancho-6920;
    height: $altura-pagina;
    padding-left: $espacio-267;
    padding-right: $espacio-267;
    box-sizing: border-box;
}

.centrar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.centrarText {
    text-align: center;
}

.contenedorTransparencia {
    height: calc(100vh - #{$appbar-alto-default} - #{$espesor-089}) !important;
    overflow-y: auto;
}

.centrarVerticalmente{
    display: flex;
    align-items: center;
}

.botondefecto {
    font-size: $letra-3;
    touch-action: none;
}

.letradefecto {
    font-size: $letra-2;
}

.letraSinDeforme{
    word-break: break-all;
}

.ancho-color-6028 {
    width: $ancho-6028;
}

.ancho-color-6386 {
    width: $ancho-6386;
}

.ancho-color-6920 {
    width: $ancho-6920;
}

.ancho-color-100 {
    width: $ancho-100;
}

.cuadro-error-general {
    width: $ancho-pagina;
    height: $altura-pagina;

    background: rgba(255, 255, 255, 1);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;

    & p {
        text-align: center;
    }

/*     & button {

    } */

}