@import "../../../../assets/estilos/dimensiones.scss";
@import "../../../../assets/estilos/colores.scss";

.item-buscador {
    width: 100%;
    min-height: 4vw;
    box-sizing: border-box;
    padding: 0;

    display: flex;
    align-items: center;
    flex-flow: column;
    align-items: flex-start;

    & .linea {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: $espacio-0249 0;
    }

    & .interior {
        width: 100%;
        min-height: 7vw;
        display: flex;
        flex-flow: row;

        & .item {
            width: fit-content;
            margin-right: $espacio-0316;
        }

        & .titulos {
            flex: 1;
            height: fit-content;
            min-height: calcular(22);
            display: flex;
            align-items: center;
            justify-content: center;
            flex-flow: column;
            & .item-fecha{
                padding-top: $espacio-0249 - $defecto-total;
                padding-bottom: $espacio-0249 - $defecto-total;

            }
            & .primer-item{
                padding-bottom: $espacio-0249 - $defecto-total;
            }
            & p {
                text-align: center;
            }
        }
    }
}
