@import "../../../../assets/estilos/dimensiones.scss";
@import "../../../../assets/estilos/colores.scss";

$boton-yes-ancho: calcular(25.43);
$boton-yes-alto: calcular(27.18);

.votar-entidad {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  justify-content: center;

  & .bloque-titulo {
    box-sizing: border-box;
    padding: $espacio-178 - $defecto-top $espacio-0139 $espacio-178 - $defecto-bottom $espacio-0139;
    margin-top: calcular(9.38);
    margin-right: $espacio-0316;
    border-radius: calcular(1.03);

    & p {
      text-align: center;
    }
  }

  & .boton-yes {
    position: relative;
    width: $boton-yes-ancho;
    height: $boton-yes-ancho;

    & img {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 0;
    }

    & .texto {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;

      & p {
        text-align: center;
      }
    }

    & .visto-contenedor {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;

      .visto {
        position: relative;
        display: inline-block;
        width: calcular(13);
        height: calcular(10);
        margin-left: calcular(3);

        &::before {
          position: absolute;
          left: 0;
          top: 50%;
          height: 49%;
          width: calcular(2);
          background-color: $verde-base;
          content: "";
          transform: translateX(10px) rotate(-45deg);
          transform-origin: left bottom;
          border-top-left-radius: calcular(1);
          border-top-right-radius: calcular(1);
        }

        &::after {
          position: absolute;
          left: 0;
          bottom: 0;
          height: calcular(2);
          width: 100%;
          background-color: $verde-base;
          content: "";
          transform: translateX(10px) rotate(-45deg);
          transform-origin: left bottom;
          border-top-right-radius: calcular(1);
          border-bottom-right-radius: calcular(1);
        }
      }
    }
  }

  & .boton-yes-apoyo {
    position: relative;
    width: $boton-yes-ancho;
    height: $boton-yes-ancho;
    //background-color: #5e317c;
    margin-left: calcular(6);

    & img {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 0;
    }

    & .texto {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;

      & p {
        text-align: center;
      }
    }

    & .visto-contenedor {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;

      .visto {
        position: relative;
        display: inline-block;
        width: calcular(13);
        height: calcular(10);
        margin-left: calcular(3);

        &::before {
          position: absolute;
          left: 0;
          top: 50%;
          height: 49%;
          width: calcular(2);
          background-color: $verde-base;
          content: "";
          transform: translateX(10px) rotate(-45deg);
          transform-origin: left bottom;
          border-top-left-radius: calcular(1);
          border-top-right-radius: calcular(1);
        }

        &::after {
          position: absolute;
          left: 0;
          bottom: 0;
          height: calcular(2);
          width: 100%;
          background-color: $verde-base;
          content: "";
          transform: translateX(10px) rotate(-45deg);
          transform-origin: left bottom;
          border-top-right-radius: calcular(1);
          border-bottom-right-radius: calcular(1);
        }
      }
    }
  }
}
