@import '../../../../assets/estilos/dimensiones.scss';
@import '../../../../assets/estilos/colores.scss';

.divIdiomas{
    box-sizing: border-box;
    height:calcular(6.4);
    width: $ancho-6920;
}
.amarilloIdioma{
    color: $amarillo-claro !important;
}
.divLetrasIdioma{
    float: left;
    width: calcular(11.085);
    height: calcular(6.4);
}
.divLineaIdioma{
    float: left;
    background-color: $blanco;
    height: calcular(6.4);
    width: calcular(0.53),
}
